# Experimento: DIN - Mondial - Foreign Key - GPT 3.5

In [ ]:

from langchain.chat_models import ChatOpenAI
from urllib.parse import quote  

from dotenv import load_dotenv
import time
import os
import sys
import json
load_dotenv()


from din_schema_linking import schema_linking_module
from din_classification import classification_module
from din_generating_sql_by_type import generating_sql_by_type_module
from din_self_correction import self_correction_module

experiment_path = '..\..'
path = os.path.abspath('')
module_path = os.path.join(path, experiment_path)
print(module_path)
if module_path not in sys.path:
    sys.path.append(module_path+"\\functions")


from sqldatabase_langchain_utils import SQLDatabaseLangchainUtils

In [2]:
SCHEMA = 'mondial_gpt'
PREFIX = 'mondial'
FILE_NAME_RESULT = f"results/5_din_queries_chatgpt_{SCHEMA}_fk.json"

In [3]:
def save_queries(queries):
    data = {"queries":queries}
    with open(FILE_NAME_RESULT, "w") as arquivo_json:
        json.dump(data, arquivo_json, indent=4) 
        
def read_queries():
    with open(FILE_NAME_RESULT, encoding='utf-8', errors='ignore') as json_data:
        data = json.load(json_data, strict=False)
    queries = data["queries"]
    return queries

## ConexÃ£o com o banco

In [ ]:
json_file_path = f"{experiment_path}/datasets/{SCHEMA}_db_connection.json"
with open(json_file_path, encoding='utf-8', errors='ignore') as json_data:
    db_connection = json.load(json_data, strict=False)
db_connection

In [5]:
db = SQLDatabaseLangchainUtils(db_connection=db_connection)

exclusao = [
    f"{SCHEMA}_tmdp",
    f"{SCHEMA}_tmdpmap",
    f"{SCHEMA}_tmds",
    f"{SCHEMA}_tmjmap",
    f"{SCHEMA}_tpv",
    f"{SCHEMA}_tmdc",
    f"{SCHEMA}_tmdcmap",
    f"{SCHEMA}_tmdej",
    f"{SCHEMA}_log_action",
    f"{SCHEMA}_log_error",
    f"{SCHEMA}_favorite_item", 
    f"{SCHEMA}_favorite_query",
    f"{SCHEMA}_favorite_tag",
    f"{SCHEMA}_favorite_tag_item",
    f"{SCHEMA}_favorite_visualization",
    f"{SCHEMA}_dashboard",
    f"{SCHEMA}_history",
    "teste_cliente",
    "teste_fornecedor",
    "teste_funcionario"
]

include_tables = [s for s in db.get_table_names() if not s.startswith(PREFIX) and s not in exclusao]
db = SQLDatabaseLangchainUtils(db_connection=db_connection, include_tables=include_tables)
db.get_table_names()

c:\Users\rogerrsn\AppData\Local\Programs\Python\Python310\lib\site-packages\langchain\utilities\sql_database.py:112: SAWarning: Did not recognize type 'GEOCOORD' of column 'coordinates'
  self._metadata.reflect(
c:\Users\rogerrsn\AppData\Local\Programs\Python\Python310\lib\site-packages\langchain\utilities\sql_database.py:112: SAWarning: Did not recognize type 'GEOCOORD' of column 'source'
  self._metadata.reflect(
c:\Users\rogerrsn\AppData\Local\Programs\Python\Python310\lib\site-packages\langchain\utilities\sql_database.py:112: SAWarning: Did not recognize type 'GEOCOORD' of column 'estuary'
  self._metadata.reflect(

['airport',
 'borders',
 'city',
 'citylocalname',
 'cityothername',
 'citypops',
 'continent',
 'country',
 'countrylocalname',
 'countryothername',
 'countrypops',
 'desert',
 'economy',
 'encompasses',
 'ethnicgroup',
 'geo_desert',
 'geo_estuary',
 'geo_island',
 'geo_lake',
 'geo_mountain',
 'geo_river',
 'geo_sea',
 'geo_source',
 'island',
 'islandin',
 'ismember',
 'lake',
 'lakeonisland',
 'language',
 'located',
 'locatedon',
 'mergeswith',
 'mountain',
 'mountainonisland',
 'organization',
 'politics',
 'population',
 'province',
 'provincelocalname',
 'provinceothername',
 'provpops',
 'religion',
 'river',
 'riveronisland',
 'riverthrough',
 'sea']

## DIN - Function

In [6]:
def run_din(question, db, model_name = 'gpt-3.5-turbo-16k', debbug = False, callback=None):
    
    model_kwargs = {'top_p':1.0, 'frequency_penalty':0.0, 'presence_penalty':0.0, 'stop':['Q:']}
    llm = ChatOpenAI(model_name = model_name, temperature=0.0, n=1, max_tokens=600, model_kwargs = model_kwargs)

    model_kwargs['stop'] = ['#', ';','\n\n']
    llm_fix = ChatOpenAI(model_name = model_name, temperature=0.0, n=1, max_tokens=350, model_kwargs = model_kwargs)
    
    schema_links = schema_linking_module(db, llm, question, callback=callback)
   
    classification = classification_module(db, llm, question, schema_links, callback=callback)
    
    SQL = generating_sql_by_type_module(db, llm, question, schema_links, classification, callback=callback)
   
    SQL_FINAL = self_correction_module(db, llm_fix, question, SQL, callback=callback)
    
    if debbug == True:
        print("Schema Links =", schema_links)
        print('Class: ', classification['predicted_class'])
        print('SQL >', SQL)
        print('SQL Final >', SQL_FINAL)
        print()
        print('-------')
    return SQL_FINAL

## Preparando as consultas

In [7]:

json_file_path = f"../../datasets/{PREFIX}/queries_{PREFIX}.json"
with open(json_file_path, encoding='utf-8', errors='ignore') as json_data:
    queries = json.load(json_data, strict=False)
queries = queries['queries']
queries

[{'id': '1',
  'question': 'What is the area of Thailand?',
  'query_string': '',
  'type': 'simple'},
 {'id': '2',
  'question': 'What are the provinces with an area greater than 10000?',
  'query_string': '',
  'type': 'simple'},
 {'id': '3',
  'question': 'What are the languages spoken in Poland?',
  'query_string': '',
  'type': 'medium'},
 {'id': '4',
  'question': 'How deep is Lake Kariba?',
  'query_string': '',
  'type': 'simple'},
 {'id': '5',
  'question': 'What is the total of provinces of Netherlands?',
  'query_string': '',
  'type': 'complex'},
 {'id': '6',
  'question': 'What is the percentage of religious people are hindu in thailand?',
  'query_string': '',
  'type': 'complex'},
 {'id': '7',
  'question': 'List the number of provinces each river flows through.',
  'query_string': '',
  'type': 'medium'},
 {'id': '8',
  'question': 'Find all countries that became independent between 8/1/1910 and 8/1/1950.',
  'query_string': '',
  'type': 'complex'},
 {'id': '9',
  'question': 'What are the cities of Cuba?',
  'query_string': '',
  'type': 'medium'},
 {'id': '10',
  'question': 'What is the capital of Georgia?',
  'query_string': '',
  'type': 'medium'},
 {'id': '11',
  'question': 'How many provinces have areas greater than 1000 in Niger?',
  'query_string': '',
  'type': 'complex'},
 {'id': '12',
  'question': 'Tell me about the country with the area largest.',
  'query_string': '',
  'type': 'medium'},
 {'id': '13',
  'question': 'What is the host province and year of establishment of the organization "International Energy Agency"?',
  'query_string': '',
  'type': 'medium'},
 {'id': '14',
  'question': 'Find the name of all mountains whose elevation is higher than 1000.',
  'query_string': '',
  'type': 'medium'},
 {'id': '15',
  'question': 'Tell me the economy of the Caribbean Sea.',
  'query_string': '',
  'type': 'medium'},
 {'id': '16',
  'question': 'Show the cities with longitude between 0 and 6.',
  'query_string': '',
  'type': 'simple'},
 {'id': '17',
  'question': 'Select cities whose population is greater than 100000, altitude greater than 2500, and the country you belong to has population growth greater than 1.',
  'query_string': '',
  'type': 'complex'},
 {'id': '18',
  'question': 'Show all the different types of government.',
  'query_string': '',
  'type': 'simple'},
 {'id': '19',
  'question': 'List all provinces in Germany',
  'query_string': '',
  'type': 'medium'},
 {'id': '20',
  'question': 'What is the percentage of mulatto ethnicity in Brazil?',
  'query_string': '',
  'type': 'complex'},
 {'id': '21',
  'question': 'How many cities have populations less than 1000?',
  'query_string': '',
  'type': 'simple'},
 {'id': '22',
  'question': 'What is the average elevation of airports in America?',
  'query_string': '',
  'type': 'complex'},
 {'id': '23',
  'question': 'How many countries are adjacent to (or ecompassed by) the Caribbean Sea?',
  'query_string': '',
  'type': 'medium'},
 {'id': '24',
  'question': 'How much area do the countries that are adjacent to (or encompassed by) the Caribbean Sea cover in total?',
  'query_string': '',
  'type': 'complex'},
 {'id': '25',
  'question': 'For all countries, give the sum of the population of all its neighbors',
  'query_string': '',
  'type': 'medium'},
 {'id': '26',
  'question': 'What mountains are on the island of Borneo?',
  'query_string': '',
  'type': 'simple'},
 {'id': '27',
  'question': 'Provide the name and total population of the country with the smallest area.',
  'query_string': '',
  'type': 'simple'},
 {'id': '28',
  'question': 'The codes of all countries for which at least one river that originates in this country has its estuary in a neighboring country.',
  'query_string': '',
  'type': 'complex'},
 {'id': '29',
  'question': 'The codes of all countries where at least one mountain is located in each of their provinces',
  'query_string': '',
  'type': 'complex'},
 {'id': '30',
  'question': 'The code and total border lengths of all countries with at least one border.',
  'query_string': '',
  'type': 'complex'},
 {'id': '31',
  'question': 'The names and codes of all countries in which at least one river originates.',
  'query_string': '',
  'type': 'medium'},
 {'id': '32',
  'question': 'What is the area and country of the Chatanga River?',
  'query_string': '',
  'type': 'simple'},
 {'id': '33',
  'question': 'Show the Airports with elevation more than 3000',
  'query_string': '',
  'type': 'simple'},
 {'id': '34',
  'question': 'What are the religions practiced in Mexico?',
  'query_string': '',
  'type': 'medium'},
 {'id': '35',
  'question': 'Show all rivers that do not flow into the sea.',
  'query_string': '',
  'type': 'medium'},
 {'id': '36',
  'question': 'List African countries by number of neighbors.',
  'query_string': '',
  'type': 'complex'},
 {'id': '37',
  'question': 'What is the average infant mortality rate for each continent?',
  'query_string': '',
  'type': 'simple'},
 {'id': '38',
  'question': 'What is the average mortality rate of the countries in America without considering Brazil?',
  'query_string': '',
  'type': 'complex'},
 {'id': '39',
  'question': 'List seas with area greater than 8000 and depth less than 100.',
  'query_string': '',
  'type': 'simple'},
 {'id': '40',
  'question': 'How many mountains are there in Asia?',
  'query_string': '',
  'type': 'complex'},
 {'id': '41',
  'question': 'How many countries that are close to the Mediterranean Sea?',
  'query_string': '',
  'type': 'complex'},
 {'id': '42',
  'question': 'Show the total for each type of government.',
  'query_string': '',
  'type': 'simple'},
 {'id': '43',
  'question': 'Which province has the largest desert in the world?',
  'query_string': '',
  'type': 'simple'},
 {'id': '44',
  'question': 'What is the largest desert in the world?',
  'query_string': '',
  'type': 'simple'},
 {'id': '45',
  'question': 'List, for all continents, the amount of deserts on each.',
  'query_string': '',
  'type': 'complex'},
 {'id': '46',
  'question': 'What are the neighboring seas of the Banda Sea?',
  'query_string': '',
  'type': 'medium'},
 {'id': '47',
  'question': 'List all the capitals of European countries.',
  'query_string': '',
  'type': 'medium'},
 {'id': '48',
  'question': 'What percentage of people speak French in Andorra?',
  'query_string': '',
  'type': 'complex'},
 {'id': '49',
  'question': 'Which rivers are longer than 1000 kilometers?',
  'query_string': '',
  'type': 'complex'},
 {'id': '50',
  'question': 'Which country had the lowest population growth?',
  'query_string': '',
  'type': 'simple'},
 {'id': '51',
  'question': 'List the name of capital cities for which we do not have data about the city in located',
  'query_string': '',
  'type': 'complex'},
 {'id': '52',
  'question': 'What is the capital of the provice Andalucï¿½a?',
  'query_string': '',
  'type': 'simple'},
 {'id': '53',
  'question': 'What is the abbreviation for the organization whose name is "General Confederation of Trade Unions"?',
  'query_string': '',
  'type': 'simple'},
 {'id': '54',
  'question': 'In which city is the organization with the abbreviation "UPU" ?',
  'query_string': '',
  'type': 'simple'},
 {'id': '55',
  'question': 'List the names of countries which are members of only one organization',
  'query_string': '',
  'type': 'complex'},
 {'id': '56',
  'question': 'List the name of countries which are not a member of NATO.',
  'query_string': '',
  'type': 'complex'},
 {'id': '57',
  'question': 'List the name of countries which are a member of NATO.',
  'query_string': '',
  'type': 'medium'},
 {'id': '58',
  'question': 'List the rivers with length less than 50',
  'query_string': '',
  'type': 'simple'},
 {'id': '59',
  'question': 'What are the area, elevation and type of lakes in country Italy?',
  'query_string': '',
  'type': 'simple'},
 {'id': '60',
  'question': ' List the names of capital cities which are the base for organizations in alphabetical order',
  'query_string': '',
  'type': 'complex'},
 {'id': '61',
  'question': 'List the name of organizations that do not have countries with an area smaller than 4000 and of the member type',
  'query_string': '',
  'type': 'complex'},
 {'id': '62',
  'question': 'List the name of organizations that do not have countries with  an area greater than 10000 and population smaller than 3000 and of the member type',
  'query_string': '',
  'type': 'complex'},
 {'id': '63',
  'question': 'Show the inflation rate of countries that are washed by the Arabian Sea',
  'query_string': '',
  'type': 'complex'},
 {'id': '64',
  'question': 'List all the capitals of the countries that belong to the continent Africa?',
  'query_string': '',
  'type': 'medium'},
 {'id': '65',
  'question': 'Show the inflation rate of the countries bathed by the Arabian Sea and there is no inflation with null value',
  'query_string': '',
  'type': 'complex'},
 {'id': '66',
  'question': 'How many countries are in Africa?',
  'query_string': '',
  'type': 'complex'},
 {'id': '67',
  'question': 'List the name of countries that are not members of NATO and UNESCO',
  'query_string': '',
  'type': 'complex'},
 {'id': '68',
  'question': 'What is the area of the continent Europe?',
  'query_string': '',
  'type': 'simple'},
 {'id': '69',
  'question': 'What is the area of continent America?',
  'query_string': '',
  'type': 'simple'},
 {'id': '70',
  'question': 'What is the area of continent Asia?',
  'query_string': '',
  'type': 'simple'},
 {'id': '71',
  'question': 'What is the area of Africa?',
  'query_string': '',
  'type': 'simple'},
 {'id': '72',
  'question': 'How many countries are in America?',
  'query_string': '',
  'type': 'complex'},
 {'id': '73',
  'question': 'What area is the largest continent?',
  'query_string': '',
  'type': 'medium'},
 {'id': '74',
  'question': 'List the countries that belong to the continent with the largest area',
  'query_string': '',
  'type': 'complex'},
 {'id': '75',
  'question': 'List the countries that belong to the continent with the largest area and whose language is English',
  'query_string': '',
  'type': 'complex'},
 {'id': '76',
  'question': 'List the names of cities, along with the name of their country for cities with a population greater than 5 million.  Display the results in descending order by population.',
  'query_string': '',
  'type': 'medium'},
 {'id': '77',
  'question': 'Show the name of the deserts in the province of Algeria',
  'query_string': '',
  'type': 'simple'},
 {'id': '78',
  'question': 'Show the name and area of the deserts in the province of California',
  'query_string': '',
  'type': 'simple'},
 {'id': '79',
  'question': 'List the country names and percentage of use of language where  French are used as languages.',
  'query_string': '',
  'type': 'simple'},
 {'id': '80',
  'question': 'What are the cities where ï¿½Portugueseï¿½ is spoken?',
  'query_string': '',
  'type': 'medium'},
 {'id': '81',
  'question': 'What is the total area of the provinces in Canada?',
  'query_string': '',
  'type': 'complex'},
 {'id': '82',
  'question': 'What is the length of the Tigres River?',
  'query_string': '',
  'type': 'simple'},
 {'id': '83',
  'question': 'List the Airports with elevation more than 1000',
  'query_string': '',
  'type': 'medium'},
 {'id': '84',
  'question': 'List airports in the United States with an elevation below 200 feet',
  'query_string': '',
  'type': 'complex'},
 {'id': '85',
  'question': 'What are the mountains with altitudes above 8000 meters?',
  'query_string': '',
  'type': 'medium'},
 {'id': '86',
  'question': 'What are the 3 airports with the largest name?',
  'query_string': '',
  'type': 'simple'},
 {'id': '87',
  'question': 'List lakes with an area of less than 5000 square kilometers.',
  'query_string': '',
  'type': 'medium'},
 {'id': '88',
  'question': 'What is the total area of the seas with a depth greater than 1000 meters?',
  'query_string': '',
  'type': 'medium'},
 {'id': '89',
  'question': 'Find the countries whose name starts with the letter "B" and have a population greater than 10 million',
  'query_string': '',
  'type': 'complex'},
 {'id': '90',
  'question': 'List cities with another name in Brazil',
  'query_string': '',
  'type': 'medium'},
 {'id': '91',
  'question': 'List all cities that are at a latitude greater than 45 degrees.',
  'query_string': '',
  'type': 'medium'},
 {'id': '92',
  'question': 'Show the number of cities with another name in countries with an area greater than 30000',
  'query_string': '',
  'type': 'medium'},
 {'id': '93',
  'question': 'Show the deserts with area greater than 10000',
  'query_string': '',
  'type': 'simple'},
 {'id': '94',
  'question': 'List the islands that belong to a lake with an elevation greater than 100',
  'query_string': '',
  'type': 'simple'},
 {'id': '95',
  'question': 'List all mountains located on islands with an area greater than 100,000 square kilometers',
  'query_string': '',
  'type': 'medium'},
 {'id': '96',
  'question': 'List the countries and the sum of their provincial areas.',
  'query_string': '',
  'type': 'simple'},
 {'id': '97',
  'question': 'Show the name of the countries, the average elevation and sum of the population of their cities',
  'query_string': '',
  'type': 'medium'},
 {'id': '98',
  'question': "What was Germany's inflation?",
  'query_string': '',
  'type': 'medium'},
 {'id': '99',
  'question': 'What type of government is Iran?',
  'query_string': '',
  'type': 'medium'},
 {'id': '100',
  'question': "What is the percentage of industries in relation to Japan's economy?",
  'query_string': '',
  'type': 'medium'}]

## Tracking token usage

In [8]:
track_token = [] 
def tracking_token(cb =None, reset = False):
    global track_token
    track_token.append(cb)
    if reset:
        track_token = []

In [9]:

def convert_to_dict_tracking_token():
    token_usage = {}
    for e in track_token:
        for key in e.keys():
            token_usage[key] = {}
            token_usage[key]['total_tokens'] = e[key].total_tokens
            token_usage[key]['total_cost'] = e[key].total_cost
            token_usage[key]['prompt_tokens'] = e[key].prompt_tokens
            token_usage[key]['completion_tokens'] = e[key].completion_tokens 
    return token_usage

## Executando o mÃ©todo

In [ ]:
tracking_token(reset=True)
errors = []
query_index = -1
for instance in queries:
    query_index +=1
    try:
        
        start_time = time.time()
        sql = run_din(instance["question"], db, debbug=True, callback=tracking_token)
        end_time = time.time()
        instance["query_string"] = sql
        instance["token_usage"] = convert_to_dict_tracking_token()
        instance['time'] = end_time - start_time
        print(instance['id'], instance['question'], instance["query_string"], instance['time'])
        save_queries(queries)
    except:
        print("Error")
        errors.append(query_index)
        pass
    finally:
        tracking_token(reset=True)

#### Fixing query

In [ ]:
pos = 40
instance = queries[pos]
q = read_queries()
start_time = time.time()
sql = run_din(instance["question"], db, callback=tracking_token)
end_time = time.time()
instance["query_string"] = sql
instance["token_usage"] = convert_to_dict_tracking_token()
instance['time'] = end_time - start_time
q[pos] = instance
save_queries(q)
print(instance['id'], instance['question'], instance["query_string"], instance['time'])

In [11]:
to_fix = [59,62,72,85,99]
for pos in to_fix:
    instance = queries[pos]
    q = read_queries()
    start_time = time.time()
    sql = run_din(instance["question"], db, callback=tracking_token)
    end_time = time.time()
    instance["query_string"] = sql
    instance["token_usage"] = convert_to_dict_tracking_token()
    instance['time'] = end_time - start_time
    q[pos] = instance
    save_queries(q)
    print(instance['id'], instance['question'], instance["query_string"], instance['time'])

-- Classification --
generations=[[ChatGeneration(text='The SQL query for the question "List the names of capital cities which are the base for organizations in alphabetical order" needs these tables = [city, organization], so we need JOIN.\nPlus, it doesn\'t require nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN), and we need the answer to the questions = [""].\nSo, we need JOIN and don\'t need nested queries, then the SQL query can be classified as "NON-NESTED".\nLabel: "NON-NESTED"', generation_info={'finish_reason': 'stop'}, message=AIMessage(content='The SQL query for the question "List the names of capital cities which are the base for organizations in alphabetical order" needs these tables = [city, organization], so we need JOIN.\nPlus, it doesn\'t require nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN), and we need the answer to the questions = [""].\nSo, we need JOIN and don\'t need nested queries, then the SQL query can be classified as "NON-NESTED".\nLabel: "NON-NESTED"', additional_kwargs={}, example=False))]] llm_output={'token_usage': {'prompt_tokens': 3590, 'completion_tokens': 109, 'total_tokens': 3699}, 'model_name': 'gpt-3.5-turbo-16k'} run=[RunInfo(run_id=UUID('e4376379-5099-4789-9dc1-e6735df6fa5b'))]
NON-NESTED
SELECT T1.name FROM city T1 WHERE T1.name IN (SELECT T2.city FROM organization T2) ORDER BY T1.name ASC
60  List the names of capital cities which are the base for organizations in alphabetical order SELECT T1.name  FROM  city T1  JOIN organization T2 ON T1.name = T2.city  ORDER BY T1.name ASC 17.01118803024292
-- Classification --
generations=[[ChatGeneration(text='The SQL query for the question "Show the inflation rate of countries that are washed by the Arabian Sea" needs these tables = [economy,located,sea], so we need JOIN.\nPlus, it doesn\'t require nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN), and we need the answer to the questions = [""].\nSo, we need JOIN and don\'t need nested queries, then the the SQL query can be classified as "NON-NESTED".\nLabel: "NON-NESTED"', generation_info={'finish_reason': 'stop'}, message=AIMessage(content='The SQL query for the question "Show the inflation rate of countries that are washed by the Arabian Sea" needs these tables = [economy,located,sea], so we need JOIN.\nPlus, it doesn\'t require nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN), and we need the answer to the questions = [""].\nSo, we need JOIN and don\'t need nested queries, then the the SQL query can be classified as "NON-NESTED".\nLabel: "NON-NESTED"', additional_kwargs={}, example=False))]] llm_output={'token_usage': {'prompt_tokens': 3598, 'completion_tokens': 111, 'total_tokens': 3709}, 'model_name': 'gpt-3.5-turbo-16k'} run=[RunInfo(run_id=UUID('28da6437-90f8-41f7-86df-8e9a84545fc6'))]
NON-NESTED
SELECT economy.inflation FROM economy JOIN located ON economy.country = located.country JOIN sea ON located.sea = sea.name WHERE sea.name = 'Arabian Sea'
63 Show the inflation rate of countries that are washed by the Arabian Sea SELECT economy.inflation FROM economy JOIN located ON economy.country = located.country JOIN sea ON located.sea = sea.name WHERE sea.name = 'Arabian Sea' 14.727690696716309
-- Classification --
generations=[[ChatGeneration(text='The SQL query for the question "What area is the largest continent?" needs these tables = [continent], so we don\'t need JOIN.\nPlus, it doesn\'t require nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN), and we need the answer to the questions = [""].\nSo, we don\'t need JOIN and don\'t need nested queries, then the the SQL query can be classified as "EASY".\nLabel: "EASY"', generation_info={'finish_reason': 'stop'}, message=AIMessage(content='The SQL query for the question "What area is the largest continent?" needs these tables = [continent], so we don\'t need JOIN.\nPlus, it doesn\'t require nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN), and we need the answer to the questions = [""].\nSo, we don\'t need JOIN and don\'t need nested queries, then the the SQL query can be classified as "EASY".\nLabel: "EASY"', additional_kwargs={}, example=False))]] llm_output={'token_usage': {'prompt_tokens': 3577, 'completion_tokens': 97, 'total_tokens': 3674}, 'model_name': 'gpt-3.5-turbo-16k'} run=[RunInfo(run_id=UUID('c68b67ab-6251-4a04-aa3b-4ee08d5877c2'))]
EASY
SELECT name FROM continent ORDER BY area DESC FETCH FIRST 1 ROWS ONLY
73 What area is the largest continent? SELECT area FROM continent ORDER BY area DESC FETCH FIRST 1 ROWS ONLY 11.048030376434326
-- Classification --
generations=[[ChatGeneration(text='The SQL query for the question "What are the 3 airports with the largest name?" needs these tables = [airport], so we don\'t need JOIN.\nPlus, it doesn\'t require nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN), and we need the answer to the questions = [""].\nSo, we don\'t need JOIN and don\'t need nested queries, then the the SQL query can be classified as "EASY".\nLabel: "EASY"', generation_info={'finish_reason': 'stop'}, message=AIMessage(content='The SQL query for the question "What are the 3 airports with the largest name?" needs these tables = [airport], so we don\'t need JOIN.\nPlus, it doesn\'t require nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN), and we need the answer to the questions = [""].\nSo, we don\'t need JOIN and don\'t need nested queries, then the the SQL query can be classified as "EASY".\nLabel: "EASY"', additional_kwargs={}, example=False))]] llm_output={'token_usage': {'prompt_tokens': 3583, 'completion_tokens': 101, 'total_tokens': 3684}, 'model_name': 'gpt-3.5-turbo-16k'} run=[RunInfo(run_id=UUID('318db607-6c34-429b-994f-04dfe52669dc'))]
EASY
SELECT * FROM airport ORDER BY length(name) DESC FETCH FIRST 3 ROWS ONLY
86 What are the 3 airports with the largest name? SELECT iatacode, name, country, city, province, island, latitude, longitude, elevation, gmtoffset FROM airport ORDER BY length(name) DESC FETCH FIRST 3 ROWS ONLY 10.7837073802948
-- Classification --
generations=[[ChatGeneration(text='The SQL query for the question "What is the percentage of industries in relation to Japan\'s economy?" needs these tables = [economy,country], so we need JOIN.\nPlus, it doesn\'t require nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN), and we need the answer to the questions = [""].\nSo, we need JOIN and don\'t need nested queries, then the the SQL query can be classified as "NON-NESTED".\nLabel: "NON-NESTED"', generation_info={'finish_reason': 'stop'}, message=AIMessage(content='The SQL query for the question "What is the percentage of industries in relation to Japan\'s economy?" needs these tables = [economy,country], so we need JOIN.\nPlus, it doesn\'t require nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN), and we need the answer to the questions = [""].\nSo, we need JOIN and don\'t need nested queries, then the the SQL query can be classified as "NON-NESTED".\nLabel: "NON-NESTED"', additional_kwargs={}, example=False))]] llm_output={'token_usage': {'prompt_tokens': 3593, 'completion_tokens': 108, 'total_tokens': 3701}, 'model_name': 'gpt-3.5-turbo-16k'} run=[RunInfo(run_id=UUID('e73e6cca-574a-4ed6-a49b-d6dca800d25f'))]
NON-NESTED
SELECT industry FROM economy WHERE country  =  'Japan'
100 What is the percentage of industries in relation to Japan's economy? SELECT industry FROM economy WHERE country = 'Japan' 13.502198457717896

In [ ]:
errors

[]

In [ ]:
queries

[{'id': '1',
  'question': 'What is the area of Thailand?',
  'query_string': "SELECT country.area FROM country WHERE country.name = 'Thailand'",
  'type': 'simple',
  'token_usage': {'schema_linking': {'total_tokens': 5953,
    'total_cost': 0.017937,
    'prompt_tokens': 5875,
    'completion_tokens': 78},
   'classification': {'total_tokens': 3673,
    'total_cost': 0.011116,
    'prompt_tokens': 3576,
    'completion_tokens': 97},
   'sql_generation': {'total_tokens': 1788,
    'total_cost': 0.005377,
    'prompt_tokens': 1775,
    'completion_tokens': 13},
   'self_correction': {'total_tokens': 2195,
    'total_cost': 0.006600999999999999,
    'prompt_tokens': 2179,
    'completion_tokens': 16}}},
 {'id': '2',
  'question': 'What are the provinces with an area greater than 10000?',
  'query_string': 'SELECT province.name FROM province WHERE province.area > 10000',
  'type': 'simple',
  'token_usage': {'schema_linking': {'total_tokens': 5988,
    'total_cost': 0.018071000000000004,
    'prompt_tokens': 5881,
    'completion_tokens': 107},
   'classification': {'total_tokens': 3691,
    'total_cost': 0.011176,
    'prompt_tokens': 3588,
    'completion_tokens': 103},
   'sql_generation': {'total_tokens': 1799,
    'total_cost': 0.005409,
    'prompt_tokens': 1787,
    'completion_tokens': 12},
   'self_correction': {'total_tokens': 2200,
    'total_cost': 0.006615,
    'prompt_tokens': 2185,
    'completion_tokens': 15}}},
 {'id': '3',
  'question': 'What are the languages spoken in Poland?',
  'query_string': "SELECT T1.name  FROM  language T1  JOIN  country T2 ON T1.country = T2.code  WHERE  T2.name = 'Poland'",
  'type': 'medium',
  'token_usage': {'schema_linking': {'total_tokens': 5983,
    'total_cost': 0.018056000000000003,
    'prompt_tokens': 5876,
    'completion_tokens': 107},
   'classification': {'total_tokens': 3687,
    'total_cost': 0.011162,
    'prompt_tokens': 3586,
    'completion_tokens': 101},
   'sql_generation': {'total_tokens': 3118,
    'total_cost': 0.009444,
    'prompt_tokens': 3028,
    'completion_tokens': 90},
   'self_correction': {'total_tokens': 2236,
    'total_cost': 0.006742,
    'prompt_tokens': 2202,
    'completion_tokens': 34}}},
 {'id': '4',
  'question': 'How deep is Lake Kariba?',
  'query_string': "SELECT depth FROM lake WHERE name = 'Lake Kariba'",
  'type': 'simple',
  'token_usage': {'schema_linking': {'total_tokens': 5975,
    'total_cost': 0.018025000000000003,
    'prompt_tokens': 5875,
    'completion_tokens': 100},
   'classification': {'total_tokens': 3628,
    'total_cost': 0.010929000000000001,
    'prompt_tokens': 3583,
    'completion_tokens': 45},
   'sql_generation': {'total_tokens': 1796,
    'total_cost': 0.005402,
    'prompt_tokens': 1782,
    'completion_tokens': 14},
   'self_correction': {'total_tokens': 2195,
    'total_cost': 0.006600000000000001,
    'prompt_tokens': 2180,
    'completion_tokens': 15}}},
 {'id': '5',
  'question': 'What is the total of provinces of Netherlands?',
  'query_string': "SELECT count(*)  FROM province  WHERE country = (SELECT code FROM country WHERE name = 'Netherlands')",
  'type': 'medium',
  'token_usage': {'schema_linking': {'total_tokens': 5988,
    'total_cost': 0.018075,
    'prompt_tokens': 5877,
    'completion_tokens': 111},
   'classification': {'total_tokens': 3692,
    'total_cost': 0.011179,
    'prompt_tokens': 3589,
    'completion_tokens': 103},
   'sql_generation': {'total_tokens': 3125,
    'total_cost': 0.009469,
    'prompt_tokens': 3031,
    'completion_tokens': 94},
   'self_correction': {'total_tokens': 2215,
    'total_cost': 0.006666,
    'prompt_tokens': 2194,
    'completion_tokens': 21}}},
 {'id': '6',
  'question': 'What is the percentage of religious people are hindu in thailand?',
  'query_string': "SELECT percentage FROM religion WHERE name = 'Hindu' AND country = (SELECT code FROM country WHERE name = 'Thailand')",
  'type': 'medium',
  'token_usage': {'schema_linking': {'total_tokens': 6025,
    'total_cost': 0.018217999999999998,
    'prompt_tokens': 5882,
    'completion_tokens': 143},
   'classification': {'total_tokens': 3710,
    'total_cost': 0.011239,
    'prompt_tokens': 3601,
    'completion_tokens': 109},
   'sql_generation': {'total_tokens': 3160,
    'total_cost': 0.009597,
    'prompt_tokens': 3043,
    'completion_tokens': 117},
   'self_correction': {'total_tokens': 2239,
    'total_cost': 0.0067480000000000005,
    'prompt_tokens': 2208,
    'completion_tokens': 31}}},
 {'id': '7',
  'question': 'List the number of provinces each river flows through.',
  'query_string': 'SELECT river.name, COUNT(DISTINCT province.name)  FROM river  JOIN located ON river.name = located.river  JOIN province ON located.province = province.name  GROUP BY river.name',
  'type': 'complex',
  'token_usage': {'schema_linking': {'total_tokens': 6000,
    'total_cost': 0.018122,
    'prompt_tokens': 5878,
    'completion_tokens': 122},
   'classification': {'total_tokens': 3704,
    'total_cost': 0.011218,
    'prompt_tokens': 3598,
    'completion_tokens': 106},
   'sql_generation': {'total_tokens': 3151,
    'total_cost': 0.009564,
    'prompt_tokens': 3040,
    'completion_tokens': 111},
   'self_correction': {'total_tokens': 2243,
    'total_cost': 0.0067670000000000004,
    'prompt_tokens': 2205,
    'completion_tokens': 38}}},
 {'id': '8',
  'question': 'Find all countries that became independent between 8/1/1910 and 8/1/1950.',
  'query_string': "SELECT T1.name  FROM      country T1      JOIN politics T2 ON T1.code = T2.country  WHERE      T2.independence >= '1910-08-01'      AND T2.independence <= '1950-08-01'",
  'type': 'medium',
  'token_usage': {'schema_linking': {'total_tokens': 6062,
    'total_cost': 0.018357000000000002,
    'prompt_tokens': 5891,
    'completion_tokens': 171},
   'classification': {'total_tokens': 3728,
    'total_cost': 0.011300000000000001,
    'prompt_tokens': 3612,
    'completion_tokens': 116},
   'sql_generation': {'total_tokens': 3179,
    'total_cost': 0.009662,
    'prompt_tokens': 3054,
    'completion_tokens': 125},
   'self_correction': {'total_tokens': 2289,
    'total_cost': 0.0069240000000000005,
    'prompt_tokens': 2232,
    'completion_tokens': 57}}},
 {'id': '9',
  'question': 'What are the cities of Cuba?',
  'query_string': "SELECT city.name FROM city WHERE city.country = 'Cuba'",
  'type': 'medium',
  'token_usage': {'schema_linking': {'total_tokens': 5970,
    'total_cost': 0.018005,
    'prompt_tokens': 5875,
    'completion_tokens': 95},
   'classification': {'total_tokens': 3686,
    'total_cost': 0.011159,
    'prompt_tokens': 3585,
    'completion_tokens': 101},
   'sql_generation': {'total_tokens': 3097,
    'total_cost': 0.009361000000000001,
    'prompt_tokens': 3027,
    'completion_tokens': 70},
   'self_correction': {'total_tokens': 2197,
    'total_cost': 0.006607,
    'prompt_tokens': 2181,
    'completion_tokens': 16}}},
 {'id': '10',
  'question': 'What is the capital of Georgia?',
  'query_string': "SELECT country.capital FROM country WHERE country.name = 'Georgia'",
  'type': 'simple',
  'token_usage': {'schema_linking': {'total_tokens': 5959,
    'total_cost': 0.017961,
    'prompt_tokens': 5875,
    'completion_tokens': 84},
   'classification': {'total_tokens': 3676,
    'total_cost': 0.011125,
    'prompt_tokens': 3579,
    'completion_tokens': 97},
   'sql_generation': {'total_tokens': 1790,
    'total_cost': 0.0053820000000000005,
    'prompt_tokens': 1778,
    'completion_tokens': 12},
   'self_correction': {'total_tokens': 2194,
    'total_cost': 0.006598,
    'prompt_tokens': 2178,
    'completion_tokens': 16}}},
 {'id': '11',
  'question': 'How many provinces have areas greater than 1000 in Niger?',
  'query_string': "SELECT COUNT(name)  FROM province  WHERE area > 1000  AND country = 'Niger'",
  'type': 'medium',
  'token_usage': {'schema_linking': {'total_tokens': 6005,
    'total_cost': 0.018139000000000002,
    'prompt_tokens': 5881,
    'completion_tokens': 124},
   'classification': {'total_tokens': 3703,
    'total_cost': 0.011216,
    'prompt_tokens': 3596,
    'completion_tokens': 107},
   'sql_generation': {'total_tokens': 3126,
    'total_cost': 0.009465999999999999,
    'prompt_tokens': 3038,
    'completion_tokens': 88},
   'self_correction': {'total_tokens': 2214,
    'total_cost': 0.0066630000000000005,
    'prompt_tokens': 2193,
    'completion_tokens': 21}}},
 {'id': '12',
  'question': 'Tell me about the country with the area largest.',
  'query_string': 'SELECT country.* FROM country ORDER BY country.area DESC LIMIT 1',
  'type': 'medium',
  'token_usage': {'schema_linking': {'total_tokens': 5961,
    'total_cost': 0.017966,
    'prompt_tokens': 5878,
    'completion_tokens': 83},
   'classification': {'total_tokens': 3677,
    'total_cost': 0.011129,
    'prompt_tokens': 3579,
    'completion_tokens': 98},
   'sql_generation': {'total_tokens': 1795,
    'total_cost': 0.0054020000000000006,
    'prompt_tokens': 1778,
    'completion_tokens': 17},
   'self_correction': {'total_tokens': 2203,
    'total_cost': 0.006625,
    'prompt_tokens': 2187,
    'completion_tokens': 16}}},
 {'id': '13',
  'question': 'What is the host province and year of establishment of the organization "International Energy Agency"?',
  'query_string': "SELECT T2.province, T1.established FROM organization T1 JOIN ismember T3 ON T1.abbreviation = T3.organization JOIN city AS T2 ON T1.city = T2.name AND T1.country = T2.country WHERE T1.name = 'International Energy Agency'",
  'type': 'simple',
  'token_usage': {'schema_linking': {'total_tokens': 6043,
    'total_cost': 0.018286,
    'prompt_tokens': 5886,
    'completion_tokens': 157},
   'classification': {'total_tokens': 3732,
    'total_cost': 0.011311,
    'prompt_tokens': 3617,
    'completion_tokens': 115},
   'sql_generation': {'total_tokens': 3221,
    'total_cost': 0.009825,
    'prompt_tokens': 3059,
    'completion_tokens': 162},
   'self_correction': {'total_tokens': 2315,
    'total_cost': 0.007012000000000001,
    'prompt_tokens': 2248,
    'completion_tokens': 67}}},
 {'id': '14',
  'question': 'Find the name of all mountains whose elevation is higher than 1000.',
  'query_string': 'SELECT name FROM mountain WHERE elevation > 1000',
  'type': 'simple',
  'token_usage': {'schema_linking': {'total_tokens': 6003,
    'total_cost': 0.018129000000000003,
    'prompt_tokens': 5883,
    'completion_tokens': 120},
   'classification': {'total_tokens': 3698,
    'total_cost': 0.011200000000000002,
    'prompt_tokens': 3592,
    'completion_tokens': 106},
   'sql_generation': {'total_tokens': 1803,
    'total_cost': 0.0054210000000000005,
    'prompt_tokens': 1791,
    'completion_tokens': 12},
   'self_correction': {'total_tokens': 2202,
    'total_cost': 0.006621,
    'prompt_tokens': 2187,
    'completion_tokens': 15}}},
 {'id': '15',
  'question': 'Tell me the economy of the Caribbean Sea.',
  'query_string': "SELECT e.* FROM economy e JOIN sea s ON e.country = s.country WHERE s.name = 'Caribbean Sea'",
  'type': 'complex',
  'token_usage': {'schema_linking': {'total_tokens': 5961,
    'total_cost': 0.017967,
    'prompt_tokens': 5877,
    'completion_tokens': 84},
   'classification': {'total_tokens': 3679,
    'total_cost': 0.011137,
    'prompt_tokens': 3579,
    'completion_tokens': 100},
   'sql_generation': {'total_tokens': 1800,
    'total_cost': 0.005422000000000001,
    'prompt_tokens': 1778,
    'completion_tokens': 22},
   'self_correction': {'total_tokens': 2218,
    'total_cost': 0.0066820000000000004,
    'prompt_tokens': 2190,
    'completion_tokens': 28}}},
 {'id': '16',
  'question': 'Shows me cities with longitude between 0 and 6.',
  'query_string': 'SELECT city.name FROM city WHERE city.longitude BETWEEN 0 AND 6',
  'type': 'simple',
  'token_usage': {'schema_linking': {'total_tokens': 5993,
    'total_cost': 0.018092,
    'prompt_tokens': 5880,
    'completion_tokens': 113},
   'classification': {'total_tokens': 3692,
    'total_cost': 0.011178,
    'prompt_tokens': 3590,
    'completion_tokens': 102},
   'sql_generation': {'total_tokens': 1803,
    'total_cost': 0.005423,
    'prompt_tokens': 1789,
    'completion_tokens': 14},
   'self_correction': {'total_tokens': 2203,
    'total_cost': 0.006626,
    'prompt_tokens': 2186,
    'completion_tokens': 17}}},
 {'id': '17',
  'question': 'Select cities whose population is greater than 100000, altitude greater than 2500, and the country you belong to has population growth greater than 1.',
  'query_string': 'SELECT city.name  FROM  city  JOIN  country ON city.country = country.code  WHERE  city.population > 100000  AND  city.elevation > 2500  AND  country.population_growth > 1',
  'type': 'complex',
  'token_usage': {'schema_linking': {'total_tokens': 6091,
    'total_cost': 0.018464,
    'prompt_tokens': 5900,
    'completion_tokens': 191},
   'classification': {'total_tokens': 3751,
    'total_cost': 0.011378000000000001,
    'prompt_tokens': 3626,
    'completion_tokens': 125},
   'sql_generation': {'total_tokens': 3181,
    'total_cost': 0.009656,
    'prompt_tokens': 3068,
    'completion_tokens': 113},
   'self_correction': {'total_tokens': 2273,
    'total_cost': 0.006863,
    'prompt_tokens': 2229,
    'completion_tokens': 44}}},
 {'id': '18',
  'question': 'Show all the different types of government.',
  'query_string': 'SELECT DISTINCT government FROM politics',
  'type': 'simple',
  'token_usage': {'schema_linking': {'total_tokens': 5961,
    'total_cost': 0.017968,
    'prompt_tokens': 5876,
    'completion_tokens': 85},
   'classification': {'total_tokens': 3678,
    'total_cost': 0.011133,
    'prompt_tokens': 3579,
    'completion_tokens': 99},
   'sql_generation': {'total_tokens': 1785,
    'total_cost': 0.0053620000000000004,
    'prompt_tokens': 1778,
    'completion_tokens': 7},
   'self_correction': {'total_tokens': 2181,
    'total_cost': 0.006548999999999999,
    'prompt_tokens': 2175,
    'completion_tokens': 6}}},
 {'id': '19',
  'question': 'List all provinces in Germany',
  'query_string': "SELECT province.name FROM province WHERE province.country = 'Germany'",
  'type': 'medium',
  'token_usage': {'schema_linking': {'total_tokens': 5976,
    'total_cost': 0.018029999999999997,
    'prompt_tokens': 5874,
    'completion_tokens': 102},
   'classification': {'total_tokens': 3682,
    'total_cost': 0.011145000000000002,
    'prompt_tokens': 3583,
    'completion_tokens': 99},
   'sql_generation': {'total_tokens': 3093,
    'total_cost': 0.009347,
    'prompt_tokens': 3025,
    'completion_tokens': 68},
   'self_correction': {'total_tokens': 2194,
    'total_cost': 0.0065969999999999996,
    'prompt_tokens': 2179,
    'completion_tokens': 15}}},
 {'id': '20',
  'question': 'What is the percentage of mulatto ethnicity in Brazil?',
  'query_string': "SELECT percentage FROM ethnicgroup WHERE country = 'BRA' AND name = 'Mulatto'",
  'type': 'medium',
  'token_usage': {'schema_linking': {'total_tokens': 5997,
    'total_cost': 0.018109,
    'prompt_tokens': 5879,
    'completion_tokens': 118},
   'classification': {'total_tokens': 3696,
    'total_cost': 0.011193000000000002,
    'prompt_tokens': 3591,
    'completion_tokens': 105},
   'sql_generation': {'total_tokens': 3121,
    'total_cost': 0.009451,
    'prompt_tokens': 3033,
    'completion_tokens': 88},
   'self_correction': {'total_tokens': 2213,
    'total_cost': 0.006661,
    'prompt_tokens': 2191,
    'completion_tokens': 22}}},
 {'id': '21',
  'question': 'How many cities have populations less than 1000?',
  'query_string': 'SELECT COUNT(*) FROM city WHERE population < 1000',
  'type': 'simple',
  'token_usage': {'schema_linking': {'total_tokens': 5986,
    'total_cost': 0.018065,
    'prompt_tokens': 5879,
    'completion_tokens': 107},
   'classification': {'total_tokens': 3687,
    'total_cost': 0.011162,
    'prompt_tokens': 3586,
    'completion_tokens': 101},
   'sql_generation': {'total_tokens': 1798,
    'total_cost': 0.0054069999999999995,
    'prompt_tokens': 1785,
    'completion_tokens': 13},
   'self_correction': {'total_tokens': 2196,
    'total_cost': 0.006600000000000001,
    'prompt_tokens': 2184,
    'completion_tokens': 12}}},
 {'id': '22',
  'question': 'What is the average elevation of airports in America?',
  'query_string': "SELECT avg(airport.elevation)  FROM airport  JOIN country ON airport.country = country.code  WHERE country.name = 'America'",
  'type': 'complex',
  'token_usage': {'schema_linking': {'total_tokens': 5990,
    'total_cost': 0.018082,
    'prompt_tokens': 5878,
    'completion_tokens': 112},
   'classification': {'total_tokens': 3692,
    'total_cost': 0.01118,
    'prompt_tokens': 3588,
    'completion_tokens': 104},
   'sql_generation': {'total_tokens': 3118,
    'total_cost': 0.009441999999999999,
    'prompt_tokens': 3030,
    'completion_tokens': 88},
   'self_correction': {'total_tokens': 2219,
    'total_cost': 0.006683000000000001,
    'prompt_tokens': 2193,
    'completion_tokens': 26}}},
 {'id': '23',
  'question': 'How many countries are adjacent to (or ecompassed by) the the Caribbean Sea?',
  'query_string': "SELECT count(DISTINCT T1.name)  FROM country T1  JOIN borders T2 ON T1.code = T2.country1  JOIN sea T3 ON T2.country2 = T3.name  WHERE T3.name = 'Caribbean Sea'",
  'type': 'medium',
  'token_usage': {'schema_linking': {'total_tokens': 6044,
    'total_cost': 0.01829,
    'prompt_tokens': 5886,
    'completion_tokens': 158},
   'classification': {'total_tokens': 3716,
    'total_cost': 0.011259,
    'prompt_tokens': 3605,
    'completion_tokens': 111},
   'sql_generation': {'total_tokens': 3183,
    'total_cost': 0.009685,
    'prompt_tokens': 3047,
    'completion_tokens': 136},
   'self_correction': {'total_tokens': 2285,
    'total_cost': 0.006907,
    'prompt_tokens': 2233,
    'completion_tokens': 52}}},
 {'id': '24',
  'question': 'How much area do the countries that are adjacent to (or encompassed by) the Caribbean Sea cover in total?',
  'query_string': "SELECT sum(area)  FROM      country  WHERE      code IN (         SELECT              country          FROM              located          WHERE              sea = 'Caribbean Sea'     )      OR code IN (         SELECT              country          FROM              encompasses          WHERE              continent = 'Caribbean Sea'     )",
  'type': 'complex',
  'token_usage': {'schema_linking': {'total_tokens': 6061,
    'total_cost': 0.018353,
    'prompt_tokens': 5891,
    'completion_tokens': 170},
   'classification': {'total_tokens': 3741,
    'total_cost': 0.011345000000000001,
    'prompt_tokens': 3619,
    'completion_tokens': 122},
   'sql_generation': {'total_tokens': 3203,
    'total_cost': 0.009751,
    'prompt_tokens': 3061,
    'completion_tokens': 142},
   'self_correction': {'total_tokens': 2293,
    'total_cost': 0.00695,
    'prompt_tokens': 2222,
    'completion_tokens': 71}}},
 {'id': '25',
  'question': 'For all countries, give the sum of the population of all its neighbors',
  'query_string': 'SELECT C1.name, SUM(C2.population)  FROM  country C1  JOIN borders B ON C1.code = B.country1 OR C1.code = B.country2  JOIN country C2 ON C2.code = B.country1 OR C2.code = B.country2  GROUP BY C1.name',
  'type': 'complex',
  'token_usage': {'schema_linking': {'total_tokens': 6017,
    'total_cost': 0.018185,
    'prompt_tokens': 5883,
    'completion_tokens': 134},
   'classification': {'total_tokens': 3712,
    'total_cost': 0.011247,
    'prompt_tokens': 3601,
    'completion_tokens': 111},
   'sql_generation': {'total_tokens': 4670,
    'total_cost': 0.014195000000000001,
    'prompt_tokens': 4485,
    'completion_tokens': 185},
   'self_correction': {'total_tokens': 2297,
    'total_cost': 0.006953,
    'prompt_tokens': 2235,
    'completion_tokens': 62}}},
 {'id': '26',
  'question': 'What mountains are on the island of Borneo?',

In [ ]:
sql = run_din("How deep is Lake Kariba?", db, callback=tracking_token)
print(convert_to_dict_tracking_token())

## Testando o DIN para uma consulta  no Mondial com FK

In [ ]:
question = 'What is the area of Thailand?'

### LLM

In [ ]:
model_name = 'gpt-3.5-turbo-16k'
# model_name = 'gpt-4'

model_kwargs = {'top_p':1.0, 'frequency_penalty':0.0, 'presence_penalty':0.0, 'stop':['Q:']}
llm = ChatOpenAI(model_name = model_name, temperature=0.0, n=1, max_tokens=600, model_kwargs = model_kwargs)

model_kwargs['stop'] = ['#', ';','\n\n']
llm_fix = ChatOpenAI(model_name = model_name, temperature=0.0, n=1, max_tokens=350, model_kwargs = model_kwargs)

### Schema Linking

In [ ]:
schema_links = schema_linking_module(db, llm, question)
print("Schema Links =", schema_links)

### Classification

In [ ]:
classification = classification_module(db, llm, question, schema_links)
print(classification)

{'predicted_class': '"EASY"', 'classification_label': 'The SQL query for the question "What is the area of Thailand?" needs the table [mondial_country], so we don\'t need JOIN.\nPlus, it doesn\'t require nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN), and we need the answer to the questions = [""].\nSo, we don\'t need JOIN and don\'t need nested queries, then the SQL query can be classified as "EASY".\nLabel: "EASY"'}

### Generate SQL

In [ ]:
SQL = generating_sql_by_type_module(db, llm, question, schema_links, classification)
print(SQL)

SELECT area FROM mondial_country WHERE name = 'Thailand'
SELECT area FROM mondial_country WHERE name = 'Thailand'

### Self-Correction

In [ ]:
SQL_FINAL = self_correction_module(db, llm, question, SQL)
print(SQL_FINAL)

SELECT area FROM mondial_country WHERE name = 'Thailand'
SELECT area FROM mondial_country WHERE name = 'Thailand'

In [ ]:
# 3,46 - 3,58
# Uma consulta classificada como easy = $0,12

### Testing Self-Correction

In [ ]:
SQL_ERROR = "SELECT area  FROM  mondial_country  WHERE  country = 'Thailand'"
print(SQL_ERROR)
print()
SQL_FINAL = self_correction_module(db, llm, question, SQL_ERROR)
print(SQL_FINAL)

SELECT area  FROM  mondial_country  WHERE  country = 'Thailand'

SELECT area FROM mondial_country WHERE name = 'Thailand'
SELECT area FROM mondial_country WHERE name = 'Thailand'

In [ ]:
question = 'Show me all employees for each client'

### Schema Linking

In [ ]:
schema_links = schema_linking_module(db, llm, question)
print("Schema Links =", schema_links)

Schema Links = [teste_funcionario.*, teste_cliente.*, teste_cliente.idfuncionarioresponsavel=teste_funcionario.idfuncionario]

### Classification

In [ ]:
classification = classification_module(db, llm, question, schema_links)
print(classification)

{'predicted_class': '"NON-NESTED"', 'classification_label': 'The SQL query for the question "Show me all employees for each client" needs these tables = [teste_funcionario, teste_cliente], so we need JOIN.\nPlus, it doesn\'t require nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN), and we need the answer to the questions = [""].\nSo, we need JOIN and don\'t need nested queries, then the the SQL query can be classified as "NON-NESTED".\nLabel: "NON-NESTED"'}
{'predicted_class': '"NON-NESTED"', 'classification_label': 'The SQL query for the question "Show me all employees for each client" needs these tables = [teste_funcionario, teste_cliente], so we need JOIN.\nPlus, it doesn\'t require nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN), and we need the answer to the questions = [""].\nSo, we need JOIN and don\'t need nested queries, then the the SQL query can be classified as "NON-NESTED".\nLabel: "NON-NESTED"'}

### SQL

In [ ]:
SQL = generating_sql_by_type_module(db, llm, question, schema_links, classification)
print(SQL)

NON-NESTED
SELECT T1.*, T2.* FROM teste_funcionario T1 JOIN teste_cliente T2 ON T1.idfuncionario = T2.idfuncionarioresponsavel
SELECT T1.*, T2.* FROM teste_funcionario T1 JOIN teste_cliente T2 ON T1.idfuncionario = T2.idfuncionarioresponsavel

### Self-Correction

In [ ]:
SQL_FINAL = self_correction_module(db, llm, question, SQL)
print(SQL_FINAL)

SELECT T1.nome AS employee_name, T2.nome AS client_name FROM teste_funcionario T1 JOIN teste_cliente T2 ON T1.idfuncionario = T2.idfuncionarioresponsavel
SELECT T1.nome AS employee_name, T2.nome AS client_name FROM teste_funcionario T1 JOIN teste_cliente T2 ON T1.idfuncionario = T2.idfuncionarioresponsavel

In [ ]:
db.db.run(SQL_FINAL)

"[('JoÃ£o Silva', 'Empresa A'), ('JoÃ£o Silva', 'Cliente C'), ('Maria Santos', 'Cliente B')]"