# SQLQueryChain - Passing instances - Mondial - Foreign Key - GPT 3.5

In [ ]:
from langchain.chat_models import ChatOpenAI
from langchain.chains import create_sql_query_chain
from urllib.parse import quote  
from langchain.callbacks import get_openai_callback

from dotenv import load_dotenv
import os
import sys
import json
import time
load_dotenv()

experiment_path = '..\..'
path = os.path.abspath('')
module_path = os.path.join(path, experiment_path)
print(module_path)
if module_path not in sys.path:
    sys.path.append(module_path+"\\functions")


from sqldatabase_langchain_utils import SQLDatabaseLangchainUtils

# Schema

In [3]:
SCHEMA = 'mondial_gpt'
PREFIX = 'mondial'

FILE_NAME_RESULT = f"results/10_sql_queries_chatgpt_{SCHEMA}_fk_instances.json"

In [4]:
def save_queries(queries):
    data = {"queries":queries}
    with open(FILE_NAME_RESULT, "w") as arquivo_json:
        json.dump(data, arquivo_json, indent=4) 

def read_queries():
    with open(FILE_NAME_RESULT, encoding='utf-8', errors='ignore') as json_data:
        data = json.load(json_data, strict=False)
    queries = data["queries"]
    return queries

## Conexão

In [ ]:
json_file_path = f"../../datasets/{SCHEMA}_db_connection.json"
with open(json_file_path, encoding='utf-8', errors='ignore') as json_data:
    db_connection = json.load(json_data, strict=False)

db_connection

### Utilizando o SQLDatabase para pegar todas as informações do database

In [6]:
db = SQLDatabaseLangchainUtils(db_connection=db_connection)

exclusao = [
    f"{SCHEMA}_tmdp",
    f"{SCHEMA}_tmdpmap",
    f"{SCHEMA}_tmds",
    f"{SCHEMA}_tmjmap",
    f"{SCHEMA}_tpv",
    f"{SCHEMA}_tmdc",
    f"{SCHEMA}_tmdcmap",
    f"{SCHEMA}_tmdej",
    f"{SCHEMA}_log_action",
    f"{SCHEMA}_log_error",
    f"{SCHEMA}_favorite_item", 
    f"{SCHEMA}_favorite_query",
    f"{SCHEMA}_favorite_tag",
    f"{SCHEMA}_favorite_tag_item",
    f"{SCHEMA}_favorite_visualization",
    f"{SCHEMA}_dashboard",
    f"{SCHEMA}_history",
    "teste_cliente",
    "teste_fornecedor",
    "teste_funcionario"
]

include_tables = [s for s in db.get_table_names() if not s.startswith(PREFIX) and s not in exclusao]
db = SQLDatabaseLangchainUtils(db_connection=db_connection, include_tables=include_tables, samples=2)
db.get_table_names()

c:\Users\rogerrsn\AppData\Local\Programs\Python\Python310\lib\site-packages\langchain\utilities\sql_database.py:112: SAWarning: Did not recognize type 'GEOCOORD' of column 'coordinates'
  self._metadata.reflect(
c:\Users\rogerrsn\AppData\Local\Programs\Python\Python310\lib\site-packages\langchain\utilities\sql_database.py:112: SAWarning: Did not recognize type 'GEOCOORD' of column 'source'
  self._metadata.reflect(
c:\Users\rogerrsn\AppData\Local\Programs\Python\Python310\lib\site-packages\langchain\utilities\sql_database.py:112: SAWarning: Did not recognize type 'GEOCOORD' of column 'estuary'
  self._metadata.reflect(

['airport',
 'borders',
 'city',
 'citylocalname',
 'cityothername',
 'citypops',
 'continent',
 'country',
 'countrylocalname',
 'countryothername',
 'countrypops',
 'desert',
 'economy',
 'encompasses',
 'ethnicgroup',
 'geo_desert',
 'geo_estuary',
 'geo_island',
 'geo_lake',
 'geo_mountain',
 'geo_river',
 'geo_sea',
 'geo_source',
 'island',
 'islandin',
 'ismember',
 'lake',
 'lakeonisland',
 'language',
 'located',
 'locatedon',
 'mergeswith',
 'mountain',
 'mountainonisland',
 'organization',
 'politics',
 'population',
 'province',
 'provincelocalname',
 'provinceothername',
 'provpops',
 'religion',
 'river',
 'riveronisland',
 'riverthrough',
 'sea']

In [7]:
len(include_tables)

46

In [ ]:
db.get_foreign_keys()

## Criando o prompt

In [9]:
from langchain.prompts.prompt import PromptTemplate

f = open(f"prompts/prompt_template_sql_query_chain.txt", "r")
prompt_template = f.read()
f.close()


PROMPT = PromptTemplate(
    input_variables=["input", "table_info", "top_k"], template=prompt_template
)

print(PROMPT)

input_variables=['input', 'table_info', 'top_k'] output_parser=None partial_variables={} template='You are an Oracle SQL expert. Given an input question, first create a syntactically correct Oracle SQL query to run, then look at the results of the query and return the answer to the input question.\nUnless the user specifies in the question a specific number of examples to obtain, don\'t query for at {top_k} most results or any using the FETCH FIRST n ROWS ONLY clause as per Oracle SQL. You can order the results to return the most informative data in the database.\nNever query for all columns from a table. You must query only the columns that are needed to answer the question.\nPay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.\nPay attention to use TRUNC(SYSDATE) function to get the current date, if the question involves "today". \n\nSome hints:\n- Don\'t use double quotes in column name\n- \nExample:\n`SELECT "column_name" FROM table` should be `SELECT column_name FROM table`\n- Don\'t use LEFT JOIN, only JOIN\n\nUse the following format:\n\nQuestion: Question here\nSQLQuery: SQL Query to run\nSQLResult: Result of the SQLQuery\nAnswer: Final answer here\n\nOnly use the following tables:\n{table_info}\n\nQuestion: {input}' template_format='f-string' validate_template=True

## Criando o Chain para gerar SQL

In [ ]:
query_chain  = create_sql_query_chain(ChatOpenAI(temperature=0, model_name='gpt-3.5-turbo-16k'), db.db, prompt=PROMPT)
query_chain

## Preparando as consultas em linguagem natural para rodar no LLM

In [11]:
json_file_path = f"../../datasets/{PREFIX}/queries_{PREFIX}.json"
with open(json_file_path, encoding='utf-8', errors='ignore') as json_data:
    queries = json.load(json_data, strict=False)
queries = queries['queries']

In [12]:
queries

[{'id': '1',
  'question': 'What is the area of Thailand?',
  'query_string': '',
  'type': 'simple'},
 {'id': '2',
  'question': 'What are the provinces with an area greater than 10000?',
  'query_string': '',
  'type': 'simple'},
 {'id': '3',
  'question': 'What are the languages spoken in Poland?',
  'query_string': '',
  'type': 'medium'},
 {'id': '4',
  'question': 'How deep is Lake Kariba?',
  'query_string': '',
  'type': 'simple'},
 {'id': '5',
  'question': 'What is the total of provinces of Netherlands?',
  'query_string': '',
  'type': 'complex'},
 {'id': '6',
  'question': 'What is the percentage of religious people are hindu in thailand?',
  'query_string': '',
  'type': 'complex'},
 {'id': '7',
  'question': 'List the number of provinces each river flows through.',
  'query_string': '',
  'type': 'medium'},
 {'id': '8',
  'question': 'Find all countries that became independent between 8/1/1910 and 8/1/1950.',
  'query_string': '',
  'type': 'complex'},
 {'id': '9',
  'question': 'What are the cities of Cuba?',
  'query_string': '',
  'type': 'medium'},
 {'id': '10',
  'question': 'What is the capital of Georgia?',
  'query_string': '',
  'type': 'medium'},
 {'id': '11',
  'question': 'How many provinces have areas greater than 1000 in Niger?',
  'query_string': '',
  'type': 'complex'},
 {'id': '12',
  'question': 'Tell me about the country with the area largest.',
  'query_string': '',
  'type': 'medium'},
 {'id': '13',
  'question': 'What is the host province and year of establishment of the organization "International Energy Agency"?',
  'query_string': '',
  'type': 'medium'},
 {'id': '14',
  'question': 'Find the name of all mountains whose elevation is higher than 1000.',
  'query_string': '',
  'type': 'medium'},
 {'id': '15',
  'question': 'Tell me the economy of the Caribbean Sea.',
  'query_string': '',
  'type': 'medium'},
 {'id': '16',
  'question': 'Show the cities with longitude between 0 and 6.',
  'query_string': '',
  'type': 'simple'},
 {'id': '17',
  'question': 'Select cities whose population is greater than 100000, altitude greater than 2500, and the country you belong to has population growth greater than 1.',
  'query_string': '',
  'type': 'complex'},
 {'id': '18',
  'question': 'Show all the different types of government.',
  'query_string': '',
  'type': 'simple'},
 {'id': '19',
  'question': 'List all provinces in Germany',
  'query_string': '',
  'type': 'medium'},
 {'id': '20',
  'question': 'What is the percentage of mulatto ethnicity in Brazil?',
  'query_string': '',
  'type': 'complex'},
 {'id': '21',
  'question': 'How many cities have populations less than 1000?',
  'query_string': '',
  'type': 'simple'},
 {'id': '22',
  'question': 'What is the average elevation of airports in America?',
  'query_string': '',
  'type': 'complex'},
 {'id': '23',
  'question': 'How many countries are adjacent to (or ecompassed by) the Caribbean Sea?',
  'query_string': '',
  'type': 'medium'},
 {'id': '24',
  'question': 'How much area do the countries that are adjacent to (or encompassed by) the Caribbean Sea cover in total?',
  'query_string': '',
  'type': 'complex'},
 {'id': '25',
  'question': 'For all countries, give the sum of the population of all its neighbors',
  'query_string': '',
  'type': 'medium'},
 {'id': '26',
  'question': 'What mountains are on the island of Borneo?',
  'query_string': '',
  'type': 'simple'},
 {'id': '27',
  'question': 'Provide the name and total population of the country with the smallest area.',
  'query_string': '',
  'type': 'simple'},
 {'id': '28',
  'question': 'The codes of all countries for which at least one river that originates in this country has its estuary in a neighboring country.',
  'query_string': '',
  'type': 'complex'},
 {'id': '29',
  'question': 'The codes of all countries where at least one mountain is located in each of their provinces',
  'query_string': '',
  'type': 'complex'},
 {'id': '30',
  'question': 'The code and total border lengths of all countries with at least one border.',
  'query_string': '',
  'type': 'complex'},
 {'id': '31',
  'question': 'The names and codes of all countries in which at least one river originates.',
  'query_string': '',
  'type': 'medium'},
 {'id': '32',
  'question': 'What is the area and country of the Chatanga River?',
  'query_string': '',
  'type': 'simple'},
 {'id': '33',
  'question': 'Show the Airports with elevation more than 3000',
  'query_string': '',
  'type': 'simple'},
 {'id': '34',
  'question': 'What are the religions practiced in Mexico?',
  'query_string': '',
  'type': 'medium'},
 {'id': '35',
  'question': 'Show all rivers that do not flow into the sea.',
  'query_string': '',
  'type': 'medium'},
 {'id': '36',
  'question': 'List African countries by number of neighbors.',
  'query_string': '',
  'type': 'complex'},
 {'id': '37',
  'question': 'What is the average infant mortality rate for each continent?',
  'query_string': '',
  'type': 'simple'},
 {'id': '38',
  'question': 'What is the average mortality rate of the countries in America without considering Brazil?',
  'query_string': '',
  'type': 'complex'},
 {'id': '39',
  'question': 'List seas with area greater than 8000 and depth less than 100.',
  'query_string': '',
  'type': 'simple'},
 {'id': '40',
  'question': 'How many mountains are there in Asia?',
  'query_string': '',
  'type': 'complex'},
 {'id': '41',
  'question': 'How many countries that are close to the Mediterranean Sea?',
  'query_string': '',
  'type': 'complex'},
 {'id': '42',
  'question': 'Show the total for each type of government.',
  'query_string': '',
  'type': 'simple'},
 {'id': '43',
  'question': 'Which province has the largest desert in the world?',
  'query_string': '',
  'type': 'simple'},
 {'id': '44',
  'question': 'What is the largest desert in the world?',
  'query_string': '',
  'type': 'simple'},
 {'id': '45',
  'question': 'List, for all continents, the amount of deserts on each.',
  'query_string': '',
  'type': 'complex'},
 {'id': '46',
  'question': 'What are the neighboring seas of the Banda Sea?',
  'query_string': '',
  'type': 'medium'},
 {'id': '47',
  'question': 'List all the capitals of European countries.',
  'query_string': '',
  'type': 'medium'},
 {'id': '48',
  'question': 'What percentage of people speak French in Andorra?',
  'query_string': '',
  'type': 'complex'},
 {'id': '49',
  'question': 'Which rivers are longer than 1000 kilometers?',
  'query_string': '',
  'type': 'complex'},
 {'id': '50',
  'question': 'Which country had the lowest population growth?',
  'query_string': '',
  'type': 'simple'},
 {'id': '51',
  'question': 'List the name of capital cities for which we do not have data about the city in located',
  'query_string': '',
  'type': 'complex'},
 {'id': '52',
  'question': 'What is the capital of the provice Andalucía?',
  'query_string': '',
  'type': 'simple'},
 {'id': '53',
  'question': 'What is the abbreviation for the organization whose name is "General Confederation of Trade Unions"?',
  'query_string': '',
  'type': 'simple'},
 {'id': '54',
  'question': 'In which city is the organization with the abbreviation "UPU" ?',
  'query_string': '',
  'type': 'simple'},
 {'id': '55',
  'question': 'List the names of countries which are members of only one organization',
  'query_string': '',
  'type': 'complex'},
 {'id': '56',
  'question': 'List the name of countries which are not a member of NATO.',
  'query_string': '',
  'type': 'complex'},
 {'id': '57',
  'question': 'List the name of countries which are a member of NATO.',
  'query_string': '',
  'type': 'medium'},
 {'id': '58',
  'question': 'List the rivers with length less than 50',
  'query_string': '',
  'type': 'simple'},
 {'id': '59',
  'question': 'What are the area, elevation and type of lakes in country Italy?',
  'query_string': '',
  'type': 'simple'},
 {'id': '60',
  'question': ' List the names of capital cities which are the base for organizations in alphabetical order',
  'query_string': '',
  'type': 'complex'},
 {'id': '61',
  'question': 'List the name of organizations that do not have countries with an area smaller than 4000 and of the member type',
  'query_string': '',
  'type': 'complex'},
 {'id': '62',
  'question': 'List the name of organizations that do not have countries with  an area greater than 10000 and population smaller than 3000 and of the member type',
  'query_string': '',
  'type': 'complex'},
 {'id': '63',
  'question': 'Show the inflation rate of countries that are washed by the Arabian Sea',
  'query_string': '',
  'type': 'complex'},
 {'id': '64',
  'question': 'List all the capitals of the countries that belong to the continent Africa?',
  'query_string': '',
  'type': 'medium'},
 {'id': '65',
  'question': 'Show the inflation rate of the countries bathed by the Arabian Sea and there is no inflation with null value',
  'query_string': '',
  'type': 'complex'},
 {'id': '66',
  'question': 'How many countries are in Africa?',
  'query_string': '',
  'type': 'complex'},
 {'id': '67',
  'question': 'List the name of countries that are not members of NATO and UNESCO',
  'query_string': '',
  'type': 'complex'},
 {'id': '68',
  'question': 'What is the area of the continent Europe?',
  'query_string': '',
  'type': 'simple'},
 {'id': '69',
  'question': 'What is the area of continent America?',
  'query_string': '',
  'type': 'simple'},
 {'id': '70',
  'question': 'What is the area of continent Asia?',
  'query_string': '',
  'type': 'simple'},
 {'id': '71',
  'question': 'What is the area of Africa?',
  'query_string': '',
  'type': 'simple'},
 {'id': '72',
  'question': 'How many countries are in America?',
  'query_string': '',
  'type': 'complex'},
 {'id': '73',
  'question': 'What area is the largest continent?',
  'query_string': '',
  'type': 'medium'},
 {'id': '74',
  'question': 'List the countries that belong to the continent with the largest area',
  'query_string': '',
  'type': 'complex'},
 {'id': '75',
  'question': 'List the countries that belong to the continent with the largest area and whose language is English',
  'query_string': '',
  'type': 'complex'},
 {'id': '76',
  'question': 'List the names of cities, along with the name of their country for cities with a population greater than 5 million.  Display the results in descending order by population.',
  'query_string': '',
  'type': 'medium'},
 {'id': '77',
  'question': 'Show the name of the deserts in the province of Algeria',
  'query_string': '',
  'type': 'simple'},
 {'id': '78',
  'question': 'Show the name and area of the deserts in the province of California',
  'query_string': '',
  'type': 'simple'},
 {'id': '79',
  'question': 'List the country names and percentage of use of language where  French are used as languages.',
  'query_string': '',
  'type': 'simple'},
 {'id': '80',
  'question': 'What are the cities where �Portuguese� is spoken?',
  'query_string': '',
  'type': 'medium'},
 {'id': '81',
  'question': 'What is the total area of the provinces in Canada?',
  'query_string': '',
  'type': 'complex'},
 {'id': '82',
  'question': 'What is the length of the Tigres River?',
  'query_string': '',
  'type': 'simple'},
 {'id': '83',
  'question': 'List the Airports with elevation more than 1000',
  'query_string': '',
  'type': 'medium'},
 {'id': '84',
  'question': 'List airports in the United States with an elevation below 200 feet',
  'query_string': '',
  'type': 'complex'},
 {'id': '85',
  'question': 'What are the mountains with altitudes above 8000 meters?',
  'query_string': '',
  'type': 'medium'},
 {'id': '86',
  'question': 'What are the 3 airports with the largest name?',
  'query_string': '',
  'type': 'simple'},
 {'id': '87',
  'question': 'List lakes with an area of less than 5000 square kilometers.',
  'query_string': '',
  'type': 'medium'},
 {'id': '88',
  'question': 'What is the total area of the seas with a depth greater than 1000 meters?',
  'query_string': '',
  'type': 'medium'},
 {'id': '89',
  'question': 'Find the countries whose name starts with the letter "B" and have a population greater than 10 million',
  'query_string': '',
  'type': 'complex'},
 {'id': '90',
  'question': 'List cities with another name in Brazil',
  'query_string': '',
  'type': 'medium'},
 {'id': '91',
  'question': 'List all cities that are at a latitude greater than 45 degrees.',
  'query_string': '',
  'type': 'medium'},
 {'id': '92',
  'question': 'Show the number of cities with another name in countries with an area greater than 30000',
  'query_string': '',
  'type': 'medium'},
 {'id': '93',
  'question': 'Show the deserts with area greater than 10000',
  'query_string': '',
  'type': 'simple'},
 {'id': '94',
  'question': 'List the islands that belong to a lake with an elevation greater than 100',
  'query_string': '',
  'type': 'simple'},
 {'id': '95',
  'question': 'List all mountains located on islands with an area greater than 100,000 square kilometers',
  'query_string': '',
  'type': 'medium'},
 {'id': '96',
  'question': 'List the countries and the sum of their provincial areas.',
  'query_string': '',
  'type': 'simple'},
 {'id': '97',
  'question': 'Show the name of the countries, the average elevation and sum of the population of their cities',
  'query_string': '',
  'type': 'medium'},
 {'id': '98',
  'question': "What was Germany's inflation?",
  'query_string': '',
  'type': 'medium'},
 {'id': '99',
  'question': 'What type of government is Iran?',
  'query_string': '',
  'type': 'medium'},
 {'id': '100',
  'question': "What is the percentage of industries in relation to Japan's economy?",
  'query_string': '',
  'type': 'medium'}]

# Rodando as consultas no LLM para gerar SQL

In [12]:
# A cada X consultas, vai ser gerado um delay de 10s para evitar o bloqueio da API.
number_of_queries_to_delay = 25
count = 0
for instance in queries:
    if count == number_of_queries_to_delay:
        count = 0
        time.sleep(10)
    with get_openai_callback() as cb:
        start_time = time.time()
        sql_query = query_chain.invoke({"question":instance["question"]})
        end_time = time.time()
        instance["query_string"] = sql_query
        instance['total_tokens'] = cb.total_tokens
        instance['prompt_tokens'] = cb.prompt_tokens
        instance['completion_tokens'] = cb.completion_tokens
        instance['total_cost'] = cb.total_cost
        instance['time'] = end_time - start_time
        print(instance['id'], instance['question'], instance["query_string"], instance['time'], instance['total_cost'])
    save_queries(queries)
    count += 1
queries

1 What is the area of Thailand? SELECT area
FROM country
WHERE name = 'Thailand'
2 What are the provinces with an area greater than 10000? SELECT name
FROM province
WHERE area > 10000
3 What are the languages spoken in Poland? SELECT name
FROM language
WHERE country = 'PL'
4 How deep is Lake Kariba? SELECT depth
FROM lake
WHERE name = 'Lake Kariba'
5 What is the total of provinces of Netherlands? SELECT COUNT(*) FROM province WHERE country = 'NL'
6 What is the percentage of religious people are hindu in thailand? SELECT percentage
FROM religion
WHERE country = 'TH' AND name = 'Hindu'
7 List the number of provinces each river flows through. SELECT r.name, COUNT(DISTINCT rt.province) AS num_provinces
FROM river r
JOIN riverthrough rt ON r.name = rt.river
GROUP BY r.name
ORDER BY num_provinces DESC
8 Find all countries that became independent between 8/1/1910 and 8/1/1950. SELECT name
FROM politics
WHERE independence BETWEEN TO_DATE('8/1/1910', 'MM/DD/YYYY') AND TO_DATE('8/1/1950', 'MM/DD/YYYY')
9 What are the cities of Cuba? SELECT name
FROM city
WHERE country = 'CUB'
10 What is the capital of Georgia? SELECT capital
FROM country
WHERE name = 'Georgia'
11 How many provinces have areas greater than 1000 in Niger? SELECT COUNT(*)
FROM province
WHERE country = 'NER' AND area > 1000
12 Tell me about the country with the area largest. SELECT name, area
FROM country
ORDER BY area DESC
FETCH FIRST 1 ROWS ONLY
13 What is the host province and year of establishment of the organization "International Energy Agency"? SELECT province, established
FROM organization
WHERE name = 'International Energy Agency'
14 Find the name of all mountains whose elevation is higher than 1000. SELECT name
FROM mountain
WHERE elevation > 1000
15 Tell me the economy of the Caribbean Sea. SELECT e.gdp, e.agriculture, e.service, e.industry, e.inflation, e.unemployment
FROM economy e
JOIN sea s ON e.country = s.name
WHERE s.name = 'Caribbean Sea'
16 Shows me cities with longitude between 0 and 6. SELECT name, country, province, longitude
FROM city
WHERE longitude BETWEEN 0 AND 6
17 Select cities whose population is greater than 100000, altitude greater than 2500, and the country you belong to has population growth greater than 1. SELECT city.name, city.population, city.elevation, country.population_growth
FROM city
JOIN country ON city.country = country.code
WHERE city.population > 100000 AND city.elevation > 2500 AND country.population_growth > 1
18 Show all the different types of government. SELECT DISTINCT government
FROM politics
19 List all provinces in Germany SELECT name
FROM province
WHERE country = 'DE'
20 What is the percentage of mulatto ethnicity in Brazil? SELECT percentage
FROM ethnicgroup
WHERE country = 'BR' AND name = 'Mulatto'
21 How many cities have populations less than 1000? SELECT COUNT(*) FROM city WHERE population < 1000
22 What is the average elevation of airports in America? SELECT AVG(elevation) FROM airport WHERE country = 'USA'
23 How many countries are adjacent to (or ecompassed by) the the Caribbean Sea? SELECT COUNT(*)
FROM encompasses
WHERE sea1 = 'Caribbean Sea' OR sea2 = 'Caribbean Sea'
24 How much area do the countries that are adjacent to (or encompassed by) the Caribbean Sea cover in total? SELECT SUM(c.area)
FROM country c
JOIN encompasses e ON c.code = e.country
JOIN sea s ON e.continent = s.name
WHERE s.name = 'Caribbean Sea'
25 For all countries, give the sum of the population of all its neighbors SELECT c1.name AS country, SUM(c2.population) AS neighbor_population
FROM country c1
JOIN borders b ON c1.code = b.country1
JOIN country c2 ON b.country2 = c2.code
GROUP BY c1.name
ORDER BY neighbor_population DESC
26 What mountains are on the island of Borneo? SELECT mountain
FROM mountainonisland
WHERE island = 'Borneo'
27 Provide the name and total population of the country with the smallest area. SELECT name, population
FROM country
ORDER BY area ASC
FETCH FIRST 1 ROWS ONLY;
28 The codes of all countries for which at least one river that originates in this country has its estuary in a neighboring country. SELECT DISTINCT c.code
FROM country c
JOIN river r ON c.code = r.country
JOIN geo_estuary ge ON r.name = ge.river
JOIN country nc ON ge.country = nc.code
WHERE nc.code <> c.code
ORDER BY c.code
29 The codes of all countries where at least one mountain is located in each of their provinces SELECT DISTINCT c.code
FROM country c
JOIN province p ON c.code = p.country
JOIN geo_mountain gm ON p.name = gm.province AND c.code = gm.country
GROUP BY c.code
HAVING COUNT(DISTINCT p.name) = (SELECT COUNT(DISTINCT province) FROM geo_mountain)
30 The code and total border lengths of all countries with at least one border. SELECT c.name, SUM(b.length) AS total_border_length
FROM country c
JOIN borders b ON c.code = b.country1
GROUP BY c.name
31 The names and codes of all countries in which at least one river originates. SELECT DISTINCT c.name, c.code
FROM country c
JOIN river r ON c.code = r.country
WHERE r.river IS NOT NULL
32 What is the area and country of the Chatanga River? SELECT area, country
FROM river
WHERE name = 'Chatanga'
33 Shows me Airports with elevation more than 3000 SELECT iatacode, name, elevation
FROM airport
WHERE elevation > 3000
34 What are the religions practiced in Mexico? SELECT name
FROM religion
WHERE country = 'MEX'
35 Show all rivers that do not flow into the sea. SELECT name
FROM river
WHERE sea IS NULL
36 List African countries by number of neighbors. SELECT c.name, COUNT(b.country2) AS num_neighbors
FROM country c
JOIN borders b ON c.code = b.country1
GROUP BY c.name
ORDER BY num_neighbors DESC;
37 What is the average infant mortality rate for each continent? SELECT c.name AS continent, AVG(p.infant_mortality) AS average_infant_mortality
FROM continent c
JOIN country co ON c.name = co.continent
JOIN population p ON co.code = p.country
GROUP BY c.name
38 What is the average mortality rate of the countries in America without considering Brazil? SELECT AVG(infant_mortality)
FROM population
WHERE country IN (
    SELECT code
    FROM country
    WHERE continent = 'America'
    AND code != 'BRA'
)
39 List seas with area greater than 8000 and depth less than 100. SELECT name
FROM sea
WHERE area > 8000 AND depth < 100
40 How many mountains are there in Asia? SELECT COUNT(*) FROM mountain
JOIN mountainonisland ON mountain.name = mountainonisland.mountain
JOIN island ON mountainonisland.island = island.name
JOIN geo_island ON island.name = geo_island.island
JOIN country ON geo_island.country = country.code
JOIN continent ON country.continent = continent.name
WHERE continent.name = 'Asia'
41 What are the countries that are close to the Mediterranean Sea? SELECT c.name
FROM country c
JOIN encompasses e ON c.code = e.country
JOIN sea s ON e.continent = s.name
WHERE s.name = 'Mediterranean Sea'
42 Show the total for each type of government. SELECT government, COUNT(*) AS total
FROM politics
GROUP BY government
43 Which province has the largest desert in the world? SELECT p.name
FROM province p
JOIN geo_desert gd ON p.name = gd.province
JOIN desert d ON gd.desert = d.name
WHERE d.area = (SELECT MAX(area) FROM desert)
44 What is the largest desert in the world? SELECT name, area
FROM desert
ORDER BY area DESC
FETCH FIRST 1 ROWS ONLY
45 List, for all continents, the amount of deserts on each. SELECT c.name AS continent, COUNT(d.name) AS desert_count
FROM continent c
JOIN geo_desert gd ON c.name = gd.country
JOIN desert d ON gd.desert = d.name
GROUP BY c.name
46 What are the neighboring seas of the Banda Sea? SELECT sea2
FROM mergeswith
WHERE sea1 = 'Banda Sea'
47 List all the capitals of European countries. SELECT c.capital
FROM country c
JOIN province p ON c.code = p.country
WHERE p.capital = c.capital
AND c.continent = 'Europe'
48 What percentage of people speak French in Andorra? SELECT percentage
FROM language
WHERE country = 'AND' AND name = 'French'
49 Which rivers are longer than 1000 kilometers? SELECT name
FROM river
WHERE length > 1000
50 Which country had the lowest population growth? SELECT country
FROM population
WHERE population_growth = (SELECT MIN(population_growth) FROM population)

[{'id': '1',
  'question': 'What is the area of Thailand?',
  'query_string': "SELECT area\nFROM country\nWHERE name = 'Thailand'",
  'type': 'simple',
  'total_tokens': 7829,
  'prompt_tokens': 7816,
  'completion_tokens': 13,
  'total_cost': 0.0235},
 {'id': '2',
  'question': 'What are the provinces with an area greater than 10000?',
  'query_string': 'SELECT name\nFROM province\nWHERE area > 10000',
  'type': 'simple',
  'total_tokens': 7834,
  'prompt_tokens': 7822,
  'completion_tokens': 12,
  'total_cost': 0.023514},
 {'id': '3',
  'question': 'What are the languages spoken in Poland?',
  'query_string': "SELECT name\nFROM language\nWHERE country = 'PL'",
  'type': 'medium',
  'total_tokens': 7829,
  'prompt_tokens': 7817,
  'completion_tokens': 12,
  'total_cost': 0.023499},
 {'id': '4',
  'question': 'How deep is Lake Kariba?',
  'query_string': "SELECT depth\nFROM lake\nWHERE name = 'Lake Kariba'",
  'type': 'simple',
  'total_tokens': 7830,
  'prompt_tokens': 7816,
  'completion_tokens': 14,
  'total_cost': 0.023504},
 {'id': '5',
  'question': 'What is the total of provinces of Netherlands?',
  'query_string': "SELECT COUNT(*) FROM province WHERE country = 'NL'",
  'type': 'medium',
  'total_tokens': 7829,
  'prompt_tokens': 7818,
  'completion_tokens': 11,
  'total_cost': 0.023497999999999998},
 {'id': '6',
  'question': 'What is the percentage of religious people are hindu in thailand?',
  'query_string': "SELECT percentage\nFROM religion\nWHERE country = 'TH' AND name = 'Hindu'",
  'type': 'medium',
  'total_tokens': 7843,
  'prompt_tokens': 7823,
  'completion_tokens': 20,
  'total_cost': 0.023549},
 {'id': '7',
  'question': 'List the number of provinces each river flows through.',
  'query_string': 'SELECT r.name, COUNT(DISTINCT rt.province) AS num_provinces\nFROM river r\nJOIN riverthrough rt ON r.name = rt.river\nGROUP BY r.name\nORDER BY num_provinces DESC',
  'type': 'complex',
  'total_tokens': 7863,
  'prompt_tokens': 7819,
  'completion_tokens': 44,
  'total_cost': 0.023632999999999998},
 {'id': '8',
  'question': 'Find all countries that became independent between 8/1/1910 and 8/1/1950.',
  'query_string': "SELECT name\nFROM politics\nWHERE independence BETWEEN TO_DATE('8/1/1910', 'MM/DD/YYYY') AND TO_DATE('8/1/1950', 'MM/DD/YYYY')",
  'type': 'medium',
  'total_tokens': 7872,
  'prompt_tokens': 7832,
  'completion_tokens': 40,
  'total_cost': 0.023656},
 {'id': '9',
  'question': 'What are the cities of Cuba?',
  'query_string': "SELECT name\nFROM city\nWHERE country = 'CUB'",
  'type': 'medium',
  'total_tokens': 7829,
  'prompt_tokens': 7816,
  'completion_tokens': 13,
  'total_cost': 0.0235},
 {'id': '10',
  'question': 'What is the capital of Georgia?',
  'query_string': "SELECT capital \nFROM country \nWHERE name = 'Georgia'",
  'type': 'simple',
  'total_tokens': 7828,
  'prompt_tokens': 7816,
  'completion_tokens': 12,
  'total_cost': 0.023496},
 {'id': '11',
  'question': 'How many provinces have areas greater than 1000 in Niger?',
  'query_string': "SELECT COUNT(*) \nFROM province \nWHERE country = 'NER' AND area > 1000",
  'type': 'medium',
  'total_tokens': 7841,
  'prompt_tokens': 7822,
  'completion_tokens': 19,
  'total_cost': 0.023542},
 {'id': '12',
  'question': 'Tell me about the country with the area largest.',
  'query_string': 'SELECT name, area\nFROM country\nORDER BY area DESC\nFETCH FIRST 1 ROWS ONLY',
  'type': 'medium',
  'total_tokens': 7839,
  'prompt_tokens': 7819,
  'completion_tokens': 20,
  'total_cost': 0.023537},
 {'id': '13',
  'question': 'What is the host province and year of establishment of the organization "International Energy Agency"?',
  'query_string': "SELECT province, established\nFROM organization\nWHERE name = 'International Energy Agency'",
  'type': 'simple',
  'total_tokens': 7843,
  'prompt_tokens': 7827,
  'completion_tokens': 16,
  'total_cost': 0.023545000000000003},
 {'id': '14',
  'question': 'Find the name of all mountains whose elevation is higher than 1000.',
  'query_string': 'SELECT name\nFROM mountain\nWHERE elevation > 1000',
  'type': 'simple',
  'total_tokens': 7836,
  'prompt_tokens': 7824,
  'completion_tokens': 12,
  'total_cost': 0.02352},
 {'id': '15',
  'question': 'Tell me the economy of the Caribbean Sea.',
  'query_string': "SELECT e.gdp, e.agriculture, e.service, e.industry, e.inflation, e.unemployment\nFROM economy e\nJOIN sea s ON e.country = s.name\nWHERE s.name = 'Caribbean Sea'",
  'type': 'complex',
  'total_tokens': 7866,
  'prompt_tokens': 7818,
  'completion_tokens': 48,
  'total_cost': 0.023646},
 {'id': '16',
  'question': 'Shows me cities with longitude between 0 and 6.',
  'query_string': 'SELECT name, country, province, longitude\nFROM city\nWHERE longitude BETWEEN 0 AND 6',
  'type': 'simple',
  'total_tokens': 7841,
  'prompt_tokens': 7821,
  'completion_tokens': 20,
  'total_cost': 0.023543},
 {'id': '17',
  'question': 'Select cities whose population is greater than 100000, altitude greater than 2500, and the country you belong to has population growth greater than 1.',
  'query_string': 'SELECT city.name, city.population, city.elevation, country.population_growth\nFROM city\nJOIN country ON city.country = country.code\nWHERE city.population > 100000 AND city.elevation > 2500 AND country.population_growth > 1',
  'type': 'complex',
  'total_tokens': 7890,
  'prompt_tokens': 7841,
  'completion_tokens': 49,
  'total_cost': 0.023719000000000004},
 {'id': '18',
  'question': 'Show all the different types of government.',
  'query_string': 'SELECT DISTINCT government\nFROM politics',
  'type': 'simple',
  'total_tokens': 7823,
  'prompt_tokens': 7817,
  'completion_tokens': 6,
  'total_cost': 0.023475},
 {'id': '19',
  'question': 'List all provinces in Germany',
  'query_string': "SELECT name\nFROM province\nWHERE country = 'DE'",
  'type': 'medium',
  'total_tokens': 7827,
  'prompt_tokens': 7815,
  'completion_tokens': 12,
  'total_cost': 0.023493},
 {'id': '20',
  'question': 'What is the percentage of mulatto ethnicity in Brazil?',
  'query_string': "SELECT percentage\nFROM ethnicgroup\nWHERE country = 'BR' AND name = 'Mulatto'",
  'type': 'medium',
  'total_tokens': 7840,
  'prompt_tokens': 7820,
  'completion_tokens': 20,
  'total_cost': 0.023540000000000002},
 {'id': '21',
  'question': 'How many cities have populations less than 1000?',
  'query_string': 'SELECT COUNT(*) FROM city WHERE population < 1000',
  'type': 'simple',
  'total_tokens': 7831,
  'prompt_tokens': 7820,
  'completion_tokens': 11,
  'total_cost': 0.023504},
 {'id': '22',
  'question': 'What is the average elevation of airports in America?',
  'query_string': "SELECT AVG(elevation) FROM airport WHERE country = 'USA'",
  'type': 'complex',
  'total_tokens': 7832,
  'prompt_tokens': 7819,
  'completion_tokens': 13,
  'total_cost': 0.023509},
 {'id': '23',
  'question': 'How many countries are adjacent to (or ecompassed by) the the Caribbean Sea?',
  'query_string': "SELECT COUNT(*) \nFROM encompasses \nWHERE sea1 = 'Caribbean Sea' OR sea2 = 'Caribbean Sea'",
  'type': 'medium',
  'total_tokens': 7852,
  'prompt_tokens': 7827,
  'completion_tokens': 25,
  'total_cost': 0.023581},
 {'id': '24',
  'question': 'How much area do the countries that are adjacent to (or encompassed by) the Caribbean Sea cover in total?',
  'query_string': "SELECT SUM(c.area) \nFROM country c \nJOIN encompasses e ON c.code = e.country \nJOIN sea s ON e.continent = s.name \nWHERE s.name = 'Caribbean Sea'",
  'type': 'complex',
  'total_tokens': 7872,
  'prompt_tokens': 7832,
  'completion_tokens': 40,
  'total_cost': 0.023656},
 {'id': '25',
  'question': 'For all countries, give the sum of the population of all its neighbors',
  'query_string': 'SELECT c1.name AS country, SUM(c2.population) AS neighbor_population\nFROM country c1\nJOIN borders b ON c1.code = b.country1\nJOIN country c2 ON b.country2 = c2.code\nGROUP BY c1.name\nORDER BY neighbor_population DESC',
  'type': 'complex',
  'total_tokens': 7881,
  'prompt_tokens': 7824,
  'completion_tokens': 57,
  'total_cost': 0.0237},
 {'id': '26',
  'question': 'What mountains are on the island of Borneo?',
  'query_string': "SELECT mountain \nFROM mountainonisland \nWHERE island = 'Borneo'",
  'type': 'simple',
  'total_tokens': 7836,
  'prompt_tokens': 7820,
  'completion_tokens': 16,
  'total_cost': 0.023524000000000003},
 {'id': '27',
  'question': 'Provide the name and total population of the country with the smallest area.',
  'query_string': 'SELECT name, population\nFROM country\nORDER BY area ASC\nFETCH FIRST 1 ROWS ONLY;',
  'type': 'simple',
  'total_tokens': 7844,
  'prompt_tokens': 7823,
  'completion_tokens': 21,
  'total_cost': 0.023553},
 {'id': '28',
  'question': 'The codes of all countries for which at least one river that originates in this country has its estuary in a neighboring country.',
  'query_string': 'SELECT DISTINCT c.code\nFROM country c\nJOIN river r ON c.code = r.country\nJOIN geo_estuary ge ON r.name = ge.river\nJOIN country nc ON ge.country = nc.code\nWHERE nc.code <> c.code\nORDER BY c.code',
  'type': 'complex',
  'total_tokens': 7887,
  'prompt_tokens': 7834,
  'completion_tokens': 53,
  'total_cost': 0.023714},
 {'id': '29',
  'question': 'The codes of all countries where at least one mountain is located in each of their provinces',
  'query_string': 'SELECT DISTINCT c.code\nFROM country c\nJOIN province p ON c.code = p.country\nJOIN geo_mountain gm ON p.name = gm.province AND c.code = gm.country\nGROUP BY c.code\nHAVING COUNT(DISTINCT p.name) = (SELECT COUNT(DISTINCT province) FROM geo_mountain)',
  'type': 'complex',
  'total_tokens': 7893,
  'prompt_tokens': 7827,
  'completion_tokens': 66,
  'total_cost': 0.023745000000000002},
 {'id': '30',
  'question': 'The code and total border lengths of all countries with at least one border.',
  'query_string': 'SELECT c.name, SUM(b.length) AS total_border_length\nFROM country c\nJOIN borders b ON c.code = b.country1\nGROUP BY c.name',
  'type': 'complex',
  'total_tokens': 7856,
  'prompt_tokens': 7824,
  'completion_tokens': 32,
  'total_cost': 0.0236},
 {'id': '31',
  'question': 'The names and codes of all countries in which at least one river originates.',
  'query_string': 'SELECT DISTINCT c.name, c.code\nFROM country c\nJOIN river r ON c.code = r.country\nWHERE r.river IS NOT NULL',
  'type': 'medium',
  'total_tokens': 7853,
  'prompt_tokens': 7824,
  'completion_tokens': 29,
  'total_cost': 0.023588},
 {'id': '32',
  'question': 'What is the area and country of the Chatanga River?',
  'query_string': "SELECT area, country\nFROM river\nWHERE name = 'Chatanga'",
  'type': 'complex',
  'total_tokens': 7836,
  'prompt_tokens': 7821,
  'completion_tokens': 15,
  'total_cost': 0.023523000000000002},
 {'id': '33',
  'question': 'Shows me Airports with elevation more than 3000',
  'query_string': 'SELECT iatacode, name, elevation \nFROM airport \nWHERE elevation > 3000',
  'type': 'simple',
  'total_tokens': 7839,
  'prompt_tokens': 7821,
  'completion_tokens': 18,
  'total_cost': 0.023535},
 {'id': '34',
  'question': 'What are the religions practiced in Mexico?',
  'query_string': "SELECT name\nFROM religion\nWHERE country = 'MEX'",
  'type': 'medium',
  'total_tokens': 7830,
  'prompt_tokens': 7817,
  'completion_tokens': 13,
  'total_cost': 0.023503},
 {'id': '35',
  'question': 'Show all rivers that do not flow into the sea.',
  'query_string': 'SELECT name\nFROM river\nWHERE sea IS NULL',
  'type': 'simple',
  'total_tokens': 7830,
  'prompt_tokens': 7820,
  'completion_tokens': 10,
  'total_cost': 0.0235},
 {'id': '36',
  'question': 'List African countries by number of neighbors.',
  'query_string': 'SELECT c.name, COUNT(b.country2) AS num_neighbors\nFROM country c\nJOIN borders b ON c.code = b.country1\nGROUP BY c.name\nORDER BY num_neighbors DESC;',
  'type': 'complex',
  'total_tokens': 7856,
  'prompt_tokens': 7817,
  'completion_tokens': 39,
  'total_cost': 0.023607},
 {'id': '37',
  'question': 'What is the average infant mortality rate for each continent?',
  'query_string': 'SELECT c.name AS continent, AVG(p.infant_mortality) AS average_infant_mortality\nFROM continent c\nJOIN country co ON c.name = co.continent\nJOIN population p ON co.code = p.country\nGROUP BY c.name',
  'type': 'complex',
  'total_tokens': 7869,
  'prompt_tokens': 7820,
  'completion_tokens': 49,
  'total_cost': 0.023656000000000003},
 {'id': '38',
  'question': 'What is the average mortality rate of the countries in America without considering Brazil?',
  'query_string': "SELECT AVG(infant_mortality) \nFROM population \nWHERE country IN (\n    SELECT code \n    FROM country \n    WHERE continent = 'America' \n    AND code != 'BRA'\n)",
  'type': 'complex',
  'total_tokens': 7864,
  'prompt_tokens': 7824,
  'completion_tokens': 40,
  'total_cost': 0.023632},
 {'id': '39',
  'question': 'List seas with area greater than 8000 and depth less than 100.',
  'query_string': 'SELECT name\nFROM sea\nWHERE area > 8000 AND depth < 100',
  'type': 'simple',
  'total_tokens': 7842,
  'prompt_tokens': 7825,
  'completion_tokens': 17,
  'total_cost': 0.023542999999999998},
 {'id': '40',
  'question': 'How many mountains are there in Asia?',
  'query_string': "SELECT COUNT(*) FROM mountain\nJOIN mountainonisland ON mountain.name = mountainonisland.mountain\nJOIN island ON mountainonisland.island = island.name\nJOIN geo_island ON island.name = geo_island.island\nJOIN country ON geo_island.country = country.code\nJOIN continent ON country.continent = continent.name\nWHERE continent.name = 'Asia'",
  'type': 'complex',
  'total_tokens': 7891,
  'prompt_tokens': 7817,
  'completion_tokens': 74,
  'total_cost': 0.023747},
 {'id': '41',
  'question': 'What are the countries that are close to the Mediterranean Sea?',
  'query_string': "SELECT c.name\nFROM country c\nJOIN encompasses e ON c.code = e.country\nJOIN sea s ON e.continent = s.name\nWHERE s.name = 'Mediterranean Sea'",
  'type': 'complex',
  'total_tokens': 7861,
  'prompt_tokens': 7821,
  'completion_tokens': 40,
  'total_cost': 0.023623},
 {'id': '42',
  'question': 'Show the total for each type of government.',
  'query_string': 'SELECT government, COUNT(*) AS total\nFROM politics\nGROUP BY government',
  'type': 'medium',
  'total_tokens': 7832,
  'prompt_tokens': 7818,
  'completion_tokens': 14,
  'total_cost': 0.02351},
 {'id': '43',
  'question': 'Which province has the largest desert in the world?',
  'query_string': 'SELECT p.name\nFROM province p\nJOIN geo_desert gd ON p.name = gd.province\nJOIN desert d ON gd.desert = d.name\nWHERE d.area = (SELECT MAX(area) FROM desert)',
  'type': 'medium',
  'total_tokens': 7863,
  'prompt_tokens': 7819,
  'completion_tokens': 44,
  'total_cost': 0.023632999999999998},
 {'id': '44',
  'question': 'What is the largest desert in the world?',
  'query_string': 'SELECT name, area\nFROM desert\nORDER BY area DESC\nFETCH FIRST 1 ROWS ONLY',
  'type': 'simple',
  'total_tokens': 7838,
  'prompt_tokens': 7818,
  'completion_tokens': 20,
  'total_cost': 0.023534},
 {'id': '45',
  'question': 'List, for all continents, the amount of deserts on each.',
  'query_string': 'SELECT c.name AS continent, COUNT(d.name) AS desert_count\nFROM continent c\nJOIN geo_desert gd ON c.name = gd.country\nJOIN desert d ON gd.desert = d.name\nGROUP BY c.name',
  'type': 'complex',
  'total_tokens': 7868,
  'prompt_tokens': 7823,
  'completion_tokens': 45,
  'total_cost': 0.023649},
 {'id': '46',
  'question': 'What are the neighboring seas of the Banda Sea?',
  'query_string': "SELECT sea2\nFROM mergeswith\nWHERE sea1 = 'Banda Sea'",
  'type': 'simple',
  'total_tokens': 7837,
  'prompt_tokens': 7820,
  'completion_tokens': 17,
  'total_cost': 0.023528},
 {'id': '47',
  'question': 'List all the capitals of European countries.',
  'query_string': "SELECT c.capital\nFROM country c\nJOIN province p ON c.code = p.country\nWHERE p.capital = c.capital\nAND c.continent = 'Europe'",
  'type': 'complex',
  'total_tokens': 7853,
  'prompt_tokens': 7817,
  'completion_tokens': 36,
  'total_cost': 0.023594999999999998},
 {'id': '48',
  'question': 'What percentage of people speak French in Andorra?',
  'query_string': "SELECT percentage\nFROM language\nWHERE country = 'AND' AND name = 'French'",
  'type': 'medium',
  'total_tokens': 7837,
  'prompt_tokens': 7819,
  'completion_tokens': 18,
  'total_cost': 0.023528999999999998},
 {'id': '49',
  'question': 'Which rivers are longer than 1000 kilometers?',
  'query_string': 'SELECT name\nFROM river\nWHERE length > 1000',
  'type': 'simple',
  'total_tokens': 7831,
  'prompt_tokens': 7819,
  'completion_tokens': 12,
  'total_cost': 0.023504999999999998},
 {'id': '50',
  'question': 'Which country had the lowest population growth?',
  'query_string': 'SELECT country\nFROM population\nWHERE population_growth = (SELECT MIN(population_growth) FROM population)',
  'type': 'medium',
  'total_tokens': 7837,
  'prompt_tokens': 7817,
  'completion_tokens': 20,
  'total_cost': 0.023531}]

In [13]:
queries=read_queries()
queries

[{'id': '1',
  'question': 'What is the area of Thailand?',
  'query_string': "SELECT area\nFROM country\nWHERE name = 'Thailand'",
  'type': 'simple',
  'total_tokens': 7829,
  'prompt_tokens': 7816,
  'completion_tokens': 13,
  'total_cost': 0.0235},
 {'id': '2',
  'question': 'What are the provinces with an area greater than 10000?',
  'query_string': 'SELECT name\nFROM province\nWHERE area > 10000',
  'type': 'simple',
  'total_tokens': 7834,
  'prompt_tokens': 7822,
  'completion_tokens': 12,
  'total_cost': 0.023514},
 {'id': '3',
  'question': 'What are the languages spoken in Poland?',
  'query_string': "SELECT name\nFROM language\nWHERE country = 'PL'",
  'type': 'medium',
  'total_tokens': 7829,
  'prompt_tokens': 7817,
  'completion_tokens': 12,
  'total_cost': 0.023499},
 {'id': '4',
  'question': 'How deep is Lake Kariba?',
  'query_string': "SELECT depth\nFROM lake\nWHERE name = 'Lake Kariba'",
  'type': 'simple',
  'total_tokens': 7830,
  'prompt_tokens': 7816,
  'completion_tokens': 14,
  'total_cost': 0.023504},
 {'id': '5',
  'question': 'What is the total of provinces of Netherlands?',
  'query_string': "SELECT COUNT(*) FROM province WHERE country = 'NL'",
  'type': 'medium',
  'total_tokens': 7829,
  'prompt_tokens': 7818,
  'completion_tokens': 11,
  'total_cost': 0.023497999999999998},
 {'id': '6',
  'question': 'What is the percentage of religious people are hindu in thailand?',
  'query_string': "SELECT percentage\nFROM religion\nWHERE country = 'TH' AND name = 'Hindu'",
  'type': 'medium',
  'total_tokens': 7843,
  'prompt_tokens': 7823,
  'completion_tokens': 20,
  'total_cost': 0.023549},
 {'id': '7',
  'question': 'List the number of provinces each river flows through.',
  'query_string': 'SELECT r.name, COUNT(DISTINCT rt.province) AS num_provinces\nFROM river r\nJOIN riverthrough rt ON r.name = rt.river\nGROUP BY r.name\nORDER BY num_provinces DESC',
  'type': 'complex',
  'total_tokens': 7863,
  'prompt_tokens': 7819,
  'completion_tokens': 44,
  'total_cost': 0.023632999999999998},
 {'id': '8',
  'question': 'Find all countries that became independent between 8/1/1910 and 8/1/1950.',
  'query_string': "SELECT name\nFROM politics\nWHERE independence BETWEEN TO_DATE('8/1/1910', 'MM/DD/YYYY') AND TO_DATE('8/1/1950', 'MM/DD/YYYY')",
  'type': 'medium',
  'total_tokens': 7872,
  'prompt_tokens': 7832,
  'completion_tokens': 40,
  'total_cost': 0.023656},
 {'id': '9',
  'question': 'What are the cities of Cuba?',
  'query_string': "SELECT name\nFROM city\nWHERE country = 'CUB'",
  'type': 'medium',
  'total_tokens': 7829,
  'prompt_tokens': 7816,
  'completion_tokens': 13,
  'total_cost': 0.0235},
 {'id': '10',
  'question': 'What is the capital of Georgia?',
  'query_string': "SELECT capital \nFROM country \nWHERE name = 'Georgia'",
  'type': 'simple',
  'total_tokens': 7828,
  'prompt_tokens': 7816,
  'completion_tokens': 12,
  'total_cost': 0.023496},
 {'id': '11',
  'question': 'How many provinces have areas greater than 1000 in Niger?',
  'query_string': "SELECT COUNT(*) \nFROM province \nWHERE country = 'NER' AND area > 1000",
  'type': 'medium',
  'total_tokens': 7841,
  'prompt_tokens': 7822,
  'completion_tokens': 19,
  'total_cost': 0.023542},
 {'id': '12',
  'question': 'Tell me about the country with the area largest.',
  'query_string': 'SELECT name, area\nFROM country\nORDER BY area DESC\nFETCH FIRST 1 ROWS ONLY',
  'type': 'medium',
  'total_tokens': 7839,
  'prompt_tokens': 7819,
  'completion_tokens': 20,
  'total_cost': 0.023537},
 {'id': '13',
  'question': 'What is the host province and year of establishment of the organization "International Energy Agency"?',
  'query_string': "SELECT province, established\nFROM organization\nWHERE name = 'International Energy Agency'",
  'type': 'simple',
  'total_tokens': 7843,
  'prompt_tokens': 7827,
  'completion_tokens': 16,
  'total_cost': 0.023545000000000003},
 {'id': '14',
  'question': 'Find the name of all mountains whose elevation is higher than 1000.',
  'query_string': 'SELECT name\nFROM mountain\nWHERE elevation > 1000',
  'type': 'simple',
  'total_tokens': 7836,
  'prompt_tokens': 7824,
  'completion_tokens': 12,
  'total_cost': 0.02352},
 {'id': '15',
  'question': 'Tell me the economy of the Caribbean Sea.',
  'query_string': "SELECT e.gdp, e.agriculture, e.service, e.industry, e.inflation, e.unemployment\nFROM economy e\nJOIN sea s ON e.country = s.name\nWHERE s.name = 'Caribbean Sea'",
  'type': 'complex',
  'total_tokens': 7866,
  'prompt_tokens': 7818,
  'completion_tokens': 48,
  'total_cost': 0.023646},
 {'id': '16',
  'question': 'Shows me cities with longitude between 0 and 6.',
  'query_string': 'SELECT name, country, province, longitude\nFROM city\nWHERE longitude BETWEEN 0 AND 6',
  'type': 'simple',
  'total_tokens': 7841,
  'prompt_tokens': 7821,
  'completion_tokens': 20,
  'total_cost': 0.023543},
 {'id': '17',
  'question': 'Select cities whose population is greater than 100000, altitude greater than 2500, and the country you belong to has population growth greater than 1.',
  'query_string': 'SELECT city.name, city.population, city.elevation, country.population_growth\nFROM city\nJOIN country ON city.country = country.code\nWHERE city.population > 100000 AND city.elevation > 2500 AND country.population_growth > 1',
  'type': 'complex',
  'total_tokens': 7890,
  'prompt_tokens': 7841,
  'completion_tokens': 49,
  'total_cost': 0.023719000000000004},
 {'id': '18',
  'question': 'Show all the different types of government.',
  'query_string': 'SELECT DISTINCT government\nFROM politics',
  'type': 'simple',
  'total_tokens': 7823,
  'prompt_tokens': 7817,
  'completion_tokens': 6,
  'total_cost': 0.023475},
 {'id': '19',
  'question': 'List all provinces in Germany',
  'query_string': "SELECT name\nFROM province\nWHERE country = 'DE'",
  'type': 'medium',
  'total_tokens': 7827,
  'prompt_tokens': 7815,
  'completion_tokens': 12,
  'total_cost': 0.023493},
 {'id': '20',
  'question': 'What is the percentage of mulatto ethnicity in Brazil?',
  'query_string': "SELECT percentage\nFROM ethnicgroup\nWHERE country = 'BR' AND name = 'Mulatto'",
  'type': 'medium',
  'total_tokens': 7840,
  'prompt_tokens': 7820,
  'completion_tokens': 20,
  'total_cost': 0.023540000000000002},
 {'id': '21',
  'question': 'How many cities have populations less than 1000?',
  'query_string': 'SELECT COUNT(*) FROM city WHERE population < 1000',
  'type': 'simple',
  'total_tokens': 7831,
  'prompt_tokens': 7820,
  'completion_tokens': 11,
  'total_cost': 0.023504},
 {'id': '22',
  'question': 'What is the average elevation of airports in America?',
  'query_string': "SELECT AVG(elevation) FROM airport WHERE country = 'USA'",
  'type': 'complex',
  'total_tokens': 7832,
  'prompt_tokens': 7819,
  'completion_tokens': 13,
  'total_cost': 0.023509},
 {'id': '23',
  'question': 'How many countries are adjacent to (or ecompassed by) the the Caribbean Sea?',
  'query_string': "SELECT COUNT(*) \nFROM encompasses \nWHERE sea1 = 'Caribbean Sea' OR sea2 = 'Caribbean Sea'",
  'type': 'medium',
  'total_tokens': 7852,
  'prompt_tokens': 7827,
  'completion_tokens': 25,
  'total_cost': 0.023581},
 {'id': '24',
  'question': 'How much area do the countries that are adjacent to (or encompassed by) the Caribbean Sea cover in total?',
  'query_string': "SELECT SUM(c.area) \nFROM country c \nJOIN encompasses e ON c.code = e.country \nJOIN sea s ON e.continent = s.name \nWHERE s.name = 'Caribbean Sea'",
  'type': 'complex',
  'total_tokens': 7872,
  'prompt_tokens': 7832,
  'completion_tokens': 40,
  'total_cost': 0.023656},
 {'id': '25',
  'question': 'For all countries, give the sum of the population of all its neighbors',
  'query_string': 'SELECT c1.name AS country, SUM(c2.population) AS neighbor_population\nFROM country c1\nJOIN borders b ON c1.code = b.country1\nJOIN country c2 ON b.country2 = c2.code\nGROUP BY c1.name\nORDER BY neighbor_population DESC',
  'type': 'complex',
  'total_tokens': 7881,
  'prompt_tokens': 7824,
  'completion_tokens': 57,
  'total_cost': 0.0237},
 {'id': '26',
  'question': 'What mountains are on the island of Borneo?',
  'query_string': "SELECT mountain \nFROM mountainonisland \nWHERE island = 'Borneo'",
  'type': 'simple',
  'total_tokens': 7836,
  'prompt_tokens': 7820,
  'completion_tokens': 16,
  'total_cost': 0.023524000000000003},
 {'id': '27',
  'question': 'Provide the name and total population of the country with the smallest area.',
  'query_string': 'SELECT name, population\nFROM country\nORDER BY area ASC\nFETCH FIRST 1 ROWS ONLY;',
  'type': 'simple',
  'total_tokens': 7844,
  'prompt_tokens': 7823,
  'completion_tokens': 21,
  'total_cost': 0.023553},
 {'id': '28',
  'question': 'The codes of all countries for which at least one river that originates in this country has its estuary in a neighboring country.',
  'query_string': 'SELECT DISTINCT c.code\nFROM country c\nJOIN river r ON c.code = r.country\nJOIN geo_estuary ge ON r.name = ge.river\nJOIN country nc ON ge.country = nc.code\nWHERE nc.code <> c.code\nORDER BY c.code',
  'type': 'complex',
  'total_tokens': 7887,
  'prompt_tokens': 7834,
  'completion_tokens': 53,
  'total_cost': 0.023714},
 {'id': '29',
  'question': 'The codes of all countries where at least one mountain is located in each of their provinces',
  'query_string': 'SELECT DISTINCT c.code\nFROM country c\nJOIN province p ON c.code = p.country\nJOIN geo_mountain gm ON p.name = gm.province AND c.code = gm.country\nGROUP BY c.code\nHAVING COUNT(DISTINCT p.name) = (SELECT COUNT(DISTINCT province) FROM geo_mountain)',
  'type': 'complex',
  'total_tokens': 7893,
  'prompt_tokens': 7827,
  'completion_tokens': 66,
  'total_cost': 0.023745000000000002},
 {'id': '30',
  'question': 'The code and total border lengths of all countries with at least one border.',
  'query_string': 'SELECT c.name, SUM(b.length) AS total_border_length\nFROM country c\nJOIN borders b ON c.code = b.country1\nGROUP BY c.name',
  'type': 'complex',
  'total_tokens': 7856,
  'prompt_tokens': 7824,
  'completion_tokens': 32,
  'total_cost': 0.0236},
 {'id': '31',
  'question': 'The names and codes of all countries in which at least one river originates.',
  'query_string': 'SELECT DISTINCT c.name, c.code\nFROM country c\nJOIN river r ON c.code = r.country\nWHERE r.river IS NOT NULL',
  'type': 'medium',
  'total_tokens': 7853,
  'prompt_tokens': 7824,
  'completion_tokens': 29,
  'total_cost': 0.023588},
 {'id': '32',
  'question': 'What is the area and country of the Chatanga River?',
  'query_string': "SELECT area, country\nFROM river\nWHERE name = 'Chatanga'",
  'type': 'complex',
  'total_tokens': 7836,
  'prompt_tokens': 7821,
  'completion_tokens': 15,
  'total_cost': 0.023523000000000002},
 {'id': '33',
  'question': 'Shows me Airports with elevation more than 3000',
  'query_string': 'SELECT iatacode, name, elevation \nFROM airport \nWHERE elevation > 3000',
  'type': 'simple',
  'total_tokens': 7839,
  'prompt_tokens': 7821,
  'completion_tokens': 18,
  'total_cost': 0.023535},
 {'id': '34',
  'question': 'What are the religions practiced in Mexico?',
  'query_string': "SELECT name\nFROM religion\nWHERE country = 'MEX'",
  'type': 'medium',
  'total_tokens': 7830,
  'prompt_tokens': 7817,
  'completion_tokens': 13,
  'total_cost': 0.023503},
 {'id': '35',
  'question': 'Show all rivers that do not flow into the sea.',
  'query_string': 'SELECT name\nFROM river\nWHERE sea IS NULL',
  'type': 'simple',
  'total_tokens': 7830,
  'prompt_tokens': 7820,
  'completion_tokens': 10,
  'total_cost': 0.0235},
 {'id': '36',
  'question': 'List African countries by number of neighbors.',
  'query_string': 'SELECT c.name, COUNT(b.country2) AS num_neighbors\nFROM country c\nJOIN borders b ON c.code = b.country1\nGROUP BY c.name\nORDER BY num_neighbors DESC;',
  'type': 'complex',
  'total_tokens': 7856,
  'prompt_tokens': 7817,
  'completion_tokens': 39,
  'total_cost': 0.023607},
 {'id': '37',
  'question': 'What is the average infant mortality rate for each continent?',
  'query_string': 'SELECT c.name AS continent, AVG(p.infant_mortality) AS average_infant_mortality\nFROM continent c\nJOIN country co ON c.name = co.continent\nJOIN population p ON co.code = p.country\nGROUP BY c.name',
  'type': 'complex',
  'total_tokens': 7869,
  'prompt_tokens': 7820,
  'completion_tokens': 49,
  'total_cost': 0.023656000000000003},
 {'id': '38',
  'question': 'What is the average mortality rate of the countries in America without considering Brazil?',
  'query_string': "SELECT AVG(infant_mortality) \nFROM population \nWHERE country IN (\n    SELECT code \n    FROM country \n    WHERE continent = 'America' \n    AND code != 'BRA'\n)",
  'type': 'complex',
  'total_tokens': 7864,
  'prompt_tokens': 7824,
  'completion_tokens': 40,
  'total_cost': 0.023632},
 {'id': '39',
  'question': 'List seas with area greater than 8000 and depth less than 100.',
  'query_string': 'SELECT name\nFROM sea\nWHERE area > 8000 AND depth < 100',
  'type': 'simple',
  'total_tokens': 7842,
  'prompt_tokens': 7825,
  'completion_tokens': 17,
  'total_cost': 0.023542999999999998},
 {'id': '40',
  'question': 'How many mountains are there in Asia?',
  'query_string': "SELECT COUNT(*) FROM mountain\nJOIN mountainonisland ON mountain.name = mountainonisland.mountain\nJOIN island ON mountainonisland.island = island.name\nJOIN geo_island ON island.name = geo_island.island\nJOIN country ON geo_island.country = country.code\nJOIN continent ON country.continent = continent.name\nWHERE continent.name = 'Asia'",
  'type': 'complex',
  'total_tokens': 7891,
  'prompt_tokens': 7817,
  'completion_tokens': 74,
  'total_cost': 0.023747},
 {'id': '41',
  'question': 'What are the countries that are close to the Mediterranean Sea?',
  'query_string': "SELECT c.name\nFROM country c\nJOIN encompasses e ON c.code = e.country\nJOIN sea s ON e.continent = s.name\nWHERE s.name = 'Mediterranean Sea'",
  'type': 'complex',
  'total_tokens': 7861,
  'prompt_tokens': 7821,
  'completion_tokens': 40,
  'total_cost': 0.023623},
 {'id': '42',
  'question': 'Show the total for each type of government.',
  'query_string': 'SELECT government, COUNT(*) AS total\nFROM politics\nGROUP BY government',
  'type': 'medium',
  'total_tokens': 7832,
  'prompt_tokens': 7818,
  'completion_tokens': 14,
  'total_cost': 0.02351},
 {'id': '43',
  'question': 'Which province has the largest desert in the world?',
  'query_string': 'SELECT p.name\nFROM province p\nJOIN geo_desert gd ON p.name = gd.province\nJOIN desert d ON gd.desert = d.name\nWHERE d.area = (SELECT MAX(area) FROM desert)',
  'type': 'medium',
  'total_tokens': 7863,
  'prompt_tokens': 7819,
  'completion_tokens': 44,
  'total_cost': 0.023632999999999998},
 {'id': '44',
  'question': 'What is the largest desert in the world?',
  'query_string': 'SELECT name, area\nFROM desert\nORDER BY area DESC\nFETCH FIRST 1 ROWS ONLY',
  'type': 'simple',
  'total_tokens': 7838,
  'prompt_tokens': 7818,
  'completion_tokens': 20,
  'total_cost': 0.023534},
 {'id': '45',
  'question': 'List, for all continents, the amount of deserts on each.',
  'query_string': 'SELECT c.name AS continent, COUNT(d.name) AS desert_count\nFROM continent c\nJOIN geo_desert gd ON c.name = gd.country\nJOIN desert d ON gd.desert = d.name\nGROUP BY c.name',
  'type': 'complex',
  'total_tokens': 7868,
  'prompt_tokens': 7823,
  'completion_tokens': 45,
  'total_cost': 0.023649},
 {'id': '46',
  'question': 'What are the neighboring seas of the Banda Sea?',
  'query_string': "SELECT sea2\nFROM mergeswith\nWHERE sea1 = 'Banda Sea'",
  'type': 'simple',
  'total_tokens': 7837,
  'prompt_tokens': 7820,
  'completion_tokens': 17,
  'total_cost': 0.023528},
 {'id': '47',
  'question': 'List all the capitals of European countries.',
  'query_string': "SELECT c.capital\nFROM country c\nJOIN province p ON c.code = p.country\nWHERE p.capital = c.capital\nAND c.continent = 'Europe'",
  'type': 'complex',
  'total_tokens': 7853,
  'prompt_tokens': 7817,
  'completion_tokens': 36,
  'total_cost': 0.023594999999999998},
 {'id': '48',
  'question': 'What percentage of people speak French in Andorra?',
  'query_string': "SELECT percentage\nFROM language\nWHERE country = 'AND' AND name = 'French'",
  'type': 'medium',
  'total_tokens': 7837,
  'prompt_tokens': 7819,
  'completion_tokens': 18,
  'total_cost': 0.023528999999999998},
 {'id': '49',
  'question': 'Which rivers are longer than 1000 kilometers?',
  'query_string': 'SELECT name\nFROM river\nWHERE length > 1000',
  'type': 'simple',
  'total_tokens': 7831,
  'prompt_tokens': 7819,
  'completion_tokens': 12,
  'total_cost': 0.023504999999999998},
 {'id': '50',
  'question': 'Which country had the lowest population growth?',
  'query_string': 'SELECT country\nFROM population\nWHERE population_growth = (SELECT MIN(population_growth) FROM population)',
  'type': 'medium',
  'total_tokens': 7837,
  'prompt_tokens': 7817,
  'completion_tokens': 20,
  'total_cost': 0.023531}]

In [11]:
sql_query_chain_prompt = query_chain.middle[0].template.format(table_info=db.get_table_info(), top_k=0, input="{input}")
print(sql_query_chain_prompt)

c:\Users\rogerrsn\AppData\Local\Programs\Python\Python310\lib\site-packages\langchain\utilities\sql_database.py:307: SAWarning: Cannot correctly sort tables; there are unresolvable cycles between tables "lake, river", which is usually caused by mutually dependent foreign key constraints.  Foreign key constraints involving these tables will not be considered; this warning may raise an error in a future release.
  for tbl in self._metadata.sorted_tables

You are an Oracle SQL expert. Given an input question, first create a syntactically correct Oracle SQL query to run, then look at the results of the query and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most 0 results using the FETCH FIRST n ROWS ONLY clause as per Oracle SQL. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use TRUNC(SYSDATE) function to get the current date, if the question involves "today".

Some hints:
- Don't use dounle quotes in column name
Example:
`SELECT "column_name" FROM table` should be `SELECT column_name FROM table`
- Don't use LEFT JOIN, only JOIN

Use the following format:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here

Only use the following tables:

CREATE TABLE airport (
	iatacode VARCHAR(3 CHAR) NOT NULL,
	name VARCHAR(100 CHAR),
	country VARCHAR(4 CHAR),
	city VARCHAR(50 CHAR),
	province VARCHAR(50 CHAR),
	island VARCHAR(50 CHAR),
	latitude NUMBER,
	longitude NUMBER,
	elevation NUMBER,
	gmtoffset NUMBER,
	CONSTRAINT sys_c00163097 PRIMARY KEY (iatacode),
	CONSTRAINT airport_city_province_fk FOREIGN KEY(city, country, province) REFERENCES city (name, country, province),
	CONSTRAINT airport_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT airport_island_fk FOREIGN KEY(island) REFERENCES island (name),
	CONSTRAINT airport_province_country_fk FOREIGN KEY(province, country) REFERENCES province (name, country),
	CONSTRAINT airplat CHECK ((Latitude >= -90) AND (Latitude <= 90)),
	CONSTRAINT airplon CHECK ((Longitude >= -180) AND (Longitude <= 180))
)

/*
2 rows from airport table:
iatacode	name	country	city	province	island	latitude	longitude	elevation	gmtoffset
CNF	Tancredo Neves Intl	BR	Belo Horizonte	Minas Gerais	None	-19.63375	-43.968856	828.0	-3.0
SLZ	Marechal Cunha Machado Intl	BR	São Luís	Maranhão	None	-2.585361	-44.234139	54.0	-3.0
*/


CREATE TABLE borders (
	country1 VARCHAR(4 CHAR) NOT NULL,
	country2 VARCHAR(4 CHAR) NOT NULL,
	length NUMBER,
	CONSTRAINT borderkey PRIMARY KEY (country1, country2),
	CONSTRAINT borders_country1_fk FOREIGN KEY(country1) REFERENCES country (code),
	CONSTRAINT borders_country2_fk FOREIGN KEY(country2) REFERENCES country (code),
	CONSTRAINT sys_c00162792 CHECK (Length > 0)
)

/*
2 rows from borders table:
country1	country2	length
AL	GR	282.0
AL	MK	151.0
*/


CREATE TABLE city (
	name VARCHAR(50 CHAR) NOT NULL,
	country VARCHAR(4 CHAR) NOT NULL,
	province VARCHAR(50 CHAR) NOT NULL,
	population NUMBER,
	latitude NUMBER,
	longitude NUMBER,
	elevation NUMBER,
	CONSTRAINT citykey PRIMARY KEY (name, country, province),
	CONSTRAINT city_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT city_province_country_fk FOREIGN KEY(province, country) REFERENCES province (name, country),
	CONSTRAINT citylat CHECK ((Latitude >= -90) AND (Latitude <= 90)),
	CONSTRAINT citylon CHECK ((Longitude >= -180) AND (Longitude <= 180)),
	CONSTRAINT citypop CHECK (Population >= 0)
)

/*
2 rows from city table:
name	country	province	population	latitude	longitude	elevation
Chimki	R	Moskovskaya	207425.0	55.9	37.45	180.0
Odincovo	R	Moskovskaya	138930.0	55.67	37.27	190.0
*/


CREATE TABLE citylocalname (
	city VARCHAR(50 CHAR) NOT NULL,
	country VARCHAR(4 CHAR) NOT NULL,
	province VARCHAR(50 CHAR) NOT NULL,
	localname VARCHAR(300 CHAR),
	CONSTRAINT citylocalnamekey PRIMARY KEY (country, province, city),
	CONSTRAINT citylocalname_city_province_fk FOREIGN KEY(city, country, province) REFERENCES city (name, country, province),
	CONSTRAINT citylocalname_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT citylocalname_province_country_fk FOREIGN KEY(province, country) REFERENCES province (name, country)
)

/*
2 rows from citylocalname table:
city	country	province	localname
Shantou	CN	Guangdong	¿¿¿
Shenzhen	CN	Guangdong	¿¿¿
*/


CREATE TABLE cityothername (
	city VARCHAR(50 CHAR) NOT NULL,
	country VARCHAR(4 CHAR) NOT NULL,
	province VARCHAR(50 CHAR) NOT NULL,
	othername VARCHAR(50 CHAR) NOT NULL,
	CONSTRAINT cityothernamekey PRIMARY KEY (country, province, city, othername),
	CONSTRAINT cityothername_city_province_fk FOREIGN KEY(city, country, province) REFERENCES city (name, country, province),
	CONSTRAINT cityothername_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT cityothername_province_country_fk FOREIGN KEY(province, country) REFERENCES province (name, country)
)

/*
2 rows from cityothername table:
city	country	province	othername
Bhisho	RSA	Eastern Cape	Bisho
Buffalo City	RSA	Eastern Cape	East London
*/


CREATE TABLE citypops (
	city VARCHAR(50 CHAR) NOT NULL,
	country VARCHAR(4 CHAR) NOT NULL,
	province VARCHAR(50 CHAR) NOT NULL,
	year NUMBER NOT NULL,
	population NUMBER,
	CONSTRAINT citypopkey PRIMARY KEY (country, province, city, year),
	CONSTRAINT citypops_city_province_fk FOREIGN KEY(city, country, province) REFERENCES city (name, country, province),
	CONSTRAINT citypops_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT citypops_province_country_fk FOREIGN KEY(province, country) REFERENCES province (name, country),
	CONSTRAINT citypopspop CHECK (Population >= 0),
	CONSTRAINT citypopsyear CHECK (Year >= 0)
)

/*
2 rows from citypops table:
city	country	province	year	population
Hospitalet de Llobregat	E	Catalunya	1994.0	266242.0
Hospitalet de Llobregat	E	Catalunya	2001.0	239019.0
*/


CREATE TABLE continent (
	name VARCHAR(20 CHAR) NOT NULL,
	area NUMBER(10, 0),
	CONSTRAINT continentkey PRIMARY KEY (name)
)

/*
2 rows from continent table:
name	area
Europe	9938000
Asia	44579000
*/


CREATE TABLE country (
	name VARCHAR(50 CHAR) NOT NULL,
	code VARCHAR(4 CHAR) NOT NULL,
	capital VARCHAR(50 CHAR),
	province VARCHAR(50 CHAR),
	area NUMBER,
	population NUMBER,
	CONSTRAINT countrykey PRIMARY KEY (code),
	CONSTRAINT countryarea CHECK (Area >= 0),
	CONSTRAINT countrypop CHECK (Population >= 0)
)

/*
2 rows from country table:
name	code	capital	province	area	population
Albania	AL	Tirana	Albania	28750.0	2821977.0
Greece	GR	Athina	Attikis	131940.0	10816286.0
*/


CREATE TABLE countrylocalname (
	country VARCHAR(4 CHAR) NOT NULL,
	localname VARCHAR(300 CHAR),
	CONSTRAINT countrylocalnamekey PRIMARY KEY (country),
	CONSTRAINT countrylocalname_country_fk FOREIGN KEY(country) REFERENCES country (code)
)

/*
2 rows from countrylocalname table:
country	localname
GR	¿¿¿¿¿¿¿¿ ¿¿µ¿¿¿at¿a
MK	¿¿¿¿¿¿¿¿¿ ¿¿¿¿¿¿¿¿j¿
*/


CREATE TABLE countryothername (
	country VARCHAR(4 CHAR) NOT NULL,
	othername VARCHAR(50 CHAR) NOT NULL,
	CONSTRAINT countryothernamekey PRIMARY KEY (country, othername),
	CONSTRAINT countryothername_country_fk FOREIGN KEY(country) REFERENCES country (code)
)

/*
2 rows from countryothername table:
country	othername

*/


CREATE TABLE countrypops (
	country VARCHAR(4 CHAR) NOT NULL,
	year NUMBER NOT NULL,
	population NUMBER,
	CONSTRAINT countrypopskey PRIMARY KEY (country, year),
	CONSTRAINT countrypops_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT countrypopspop CHECK (Population >= 0),
	CONSTRAINT countrypopsyear CHECK (Year >= 0)
)

/*
2 rows from countrypops table:
country	year	population
XMAS	2011.0	2072.0
COCO	2005.0	628.0
*/


CREATE TABLE desert (
	name VARCHAR(50 CHAR) NOT NULL,
	area NUMBER,
	CONSTRAINT desertkey PRIMARY KEY (name),
	CONSTRAINT descoord CHECK ((Coordinates.Latitude >= -90) AND
            (Coordinates.Latitude <= 90) AND
            (Coordinates.Longitude > -180) AND
            (Coordinates.Longitude <= 180)),
	CONSTRAINT descoord CHECK ((Coordinates.Latitude >= -90) AND
            (Coordinates.Latitude <= 90) AND
            (Coordinates.Longitude > -180) AND
            (Coordinates.Longitude <= 180))
)

/*
2 rows from desert table:
name	area
Kalahari	1200000.0
Namib	95000.0
*/


CREATE TABLE economy (
	country VARCHAR(4 CHAR) NOT NULL,
	gdp NUMBER,
	agriculture NUMBER,
	service NUMBER,
	industry NUMBER,
	inflation NUMBER,
	unemployment NUMBER,
	CONSTRAINT economykey PRIMARY KEY (country),
	CONSTRAINT economy_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT economygdp CHECK (GDP >= 0)
)

/*
2 rows from economy table:
country	gdp	agriculture	service	industry	inflation	unemployment
AL	12800.0	19.5	68.5	12.0	1.7	16.9
GR	243300.0	3.5	80.5	16.0	-0.8	27.9
*/


CREATE TABLE encompasses (
	country VARCHAR(4 CHAR) NOT NULL,
	continent VARCHAR(20 CHAR) NOT NULL,
	percentage NUMBER,
	CONSTRAINT encompasseskey PRIMARY KEY (country, continent),
	CONSTRAINT encompasses_continent_fk FOREIGN KEY(continent) REFERENCES continent (name),
	CONSTRAINT encompasses_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT sys_c00162796 CHECK ((Percentage > 0) AND (Percentage <= 100))
)

/*
2 rows from encompasses table:
country	continent	percentage
AL	Europe	100.0
GR	Europe	100.0
*/


CREATE TABLE ethnicgroup (
	country VARCHAR(4 CHAR) NOT NULL,
	name VARCHAR(50 CHAR) NOT NULL,
	percentage NUMBER,
	CONSTRAINT ethnickey PRIMARY KEY (name, country),
	CONSTRAINT ethnic_group_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT ethnicpercent CHECK ((Percentage > 0) AND (Percentage <= 100))
)

/*
2 rows from ethnicgroup table:
country	name	percentage
CAM	Kirdi	11.0
CAM	Northwestern Bantu	8.0
*/


CREATE TABLE geo_desert (
	desert VARCHAR(50 CHAR) NOT NULL,
	country VARCHAR(4 CHAR) NOT NULL,
	province VARCHAR(50 CHAR) NOT NULL,
	CONSTRAINT gdesertkey PRIMARY KEY (province, country, desert),
	CONSTRAINT geo_desert_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT geo_desert_desert_fk FOREIGN KEY(desert) REFERENCES desert (name),
	CONSTRAINT geo_desert_province_country_fk FOREIGN KEY(province, country) REFERENCES province (name, country)
)

/*
2 rows from geo_desert table:
desert	country	province
Erg Maqteir	RIM	Adrar
Erg Ouarane	RIM	Adrar
*/


CREATE TABLE geo_estuary (
	river VARCHAR(50 CHAR) NOT NULL,
	country VARCHAR(4 CHAR) NOT NULL,
	province VARCHAR(50 CHAR) NOT NULL,
	CONSTRAINT gestuarykey PRIMARY KEY (province, country, river),
	CONSTRAINT geo_estuary_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT geo_estuary_province_country_fk FOREIGN KEY(province, country) REFERENCES province (name, country),
	CONSTRAINT geo_estuary_river_fk FOREIGN KEY(river) REFERENCES river (name)
)

/*
2 rows from geo_estuary table:
river	country	province
Aare	CH	Aargau
Limmat	CH	Aargau
*/


CREATE TABLE geo_island (
	island VARCHAR(50 CHAR) NOT NULL,
	country VARCHAR(4 CHAR) NOT NULL,
	province VARCHAR(50 CHAR) NOT NULL,
	CONSTRAINT gislandkey PRIMARY KEY (province, country, island),
	CONSTRAINT geo_island_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT geo_island_island_fk FOREIGN KEY(island) REFERENCES island (name),
	CONSTRAINT geo_island_province_country_fk FOREIGN KEY(province, country) REFERENCES province (name, country)
)

/*
2 rows from geo_island table:
island	country	province
Sumatra	RI	Aceh
Honshu	J	Aichi
*/


CREATE TABLE geo_lake (
	lake VARCHAR(50 CHAR) NOT NULL,
	country VARCHAR(4 CHAR) NOT NULL,
	province VARCHAR(50 CHAR) NOT NULL,
	CONSTRAINT glakekey PRIMARY KEY (province, country, lake),
	CONSTRAINT geo_lake_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT geo_lake_lake_fk FOREIGN KEY(lake) REFERENCES lake (name),
	CONSTRAINT geo_lake_province_country_fk FOREIGN KEY(province, country) REFERENCES province (name, country)
)

/*
2 rows from geo_lake table:
lake	country	province
Lake Kossou	CI	Abidjan
Barrage de Mbakaou	CAM	Adamaoua
*/


CREATE TABLE geo_mountain (
	mountain VARCHAR(50 CHAR) NOT NULL,
	country VARCHAR(4 CHAR) NOT NULL,
	province VARCHAR(50 CHAR) NOT NULL,
	CONSTRAINT gmountainkey PRIMARY KEY (province, country, mountain),
	CONSTRAINT geo_mountain_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT geo_mountain_mountain_fk FOREIGN KEY(mountain) REFERENCES mountain (name),
	CONSTRAINT geo_mountain_province_country_fk FOREIGN KEY(province, country) REFERENCES province (name, country)
)

/*
2 rows from geo_mountain table:
mountain	country	province
Corno Grande	I	Abruzzo
Monte Amaro	I	Abruzzo
*/


CREATE TABLE geo_river (
	river VARCHAR(50 CHAR) NOT NULL,
	country VARCHAR(4 CHAR) NOT NULL,
	province VARCHAR(50 CHAR) NOT NULL,
	CONSTRAINT griverkey PRIMARY KEY (province, country, river),
	CONSTRAINT geo_river_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT geo_river_province_country_fk FOREIGN KEY(province, country) REFERENCES province (name, country),
	CONSTRAINT geo_river_river_fk FOREIGN KEY(river) REFERENCES river (name)
)

/*
2 rows from geo_river table:
river	country	province
Aare	CH	Aargau
Limmat	CH	Aargau
*/


CREATE TABLE geo_sea (
	sea VARCHAR(50 CHAR) NOT NULL,
	country VARCHAR(4 CHAR) NOT NULL,
	province VARCHAR(50 CHAR) NOT NULL,
	CONSTRAINT gseakey PRIMARY KEY (province, country, sea),
	CONSTRAINT geo_sea_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT geo_sea_province_country_fk FOREIGN KEY(province, country) REFERENCES province (name, country),
	CONSTRAINT geo_sea_sea_fk FOREIGN KEY(sea) REFERENCES sea (name)
)

/*
2 rows from geo_sea table:
sea	country	province
Atlantic Ocean	CI	Abidjan
Mediterranean Sea	I	Abruzzo
*/


CREATE TABLE geo_source (
	river VARCHAR(50 CHAR) NOT NULL,
	country VARCHAR(4 CHAR) NOT NULL,
	province VARCHAR(50 CHAR) NOT NULL,
	CONSTRAINT gsourcekey PRIMARY KEY (province, country, river),
	CONSTRAINT geo_source_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT geo_source_province_country_fk FOREIGN KEY(province, country) REFERENCES province (name, country),
	CONSTRAINT geo_source_river_fk FOREIGN KEY(river) REFERENCES river (name)
)

/*
2 rows from geo_source table:
river	country	province
Amudarja	AFG	Afghanistan
Helmand	AFG	Afghanistan
*/


CREATE TABLE island (
	name VARCHAR(50 CHAR) NOT NULL,
	islands VARCHAR(50 CHAR),
	area NUMBER,
	elevation NUMBER,
	type VARCHAR(15 CHAR),
	CONSTRAINT islandkey PRIMARY KEY (name),
	CONSTRAINT islandar CHECK (Area >= 0),
	CONSTRAINT islandcoord CHECK ((Coordinates.Latitude >= -90) AND
            (Coordinates.Latitude <= 90) AND
            (Coordinates.Longitude > -180) AND
            (Coordinates.Longitude <= 180)),
	CONSTRAINT islandcoord CHECK ((Coordinates.Latitude >= -90) AND
            (Coordinates.Latitude <= 90) AND
            (Coordinates.Longitude > -180) AND
            (Coordinates.Longitude <= 180))
)

/*
2 rows from island table:
name	islands	area	elevation	type
Lanai	Hawaii Islands	364.0	1026.0	volcanic
Maui	Hawaii Islands	1883.0	3055.0	volcanic
*/


CREATE TABLE islandin (
	island VARCHAR(50 CHAR),
	sea VARCHAR(50 CHAR),
	lake VARCHAR(50 CHAR),
	river VARCHAR(50 CHAR),
	CONSTRAINT islandin_island_fk FOREIGN KEY(island) REFERENCES island (name),
	CONSTRAINT islandin_lake_fk FOREIGN KEY(lake) REFERENCES lake (name),
	CONSTRAINT islandin_river_fk FOREIGN KEY(river) REFERENCES river (name),
	CONSTRAINT islandin_sea_fk FOREIGN KEY(sea) REFERENCES sea (name)
)

/*
2 rows from islandin table:
island	sea	lake	river
Ceram	Banda Sea	None	None
Halmahera	Pacific Ocean	None	None
*/


CREATE TABLE ismember (
	country VARCHAR(4 CHAR) NOT NULL,
	organization VARCHAR(12 CHAR) NOT NULL,
	type VARCHAR(60 CHAR) DEFAULT 'member',
	CONSTRAINT memberkey PRIMARY KEY (country, organization),
	CONSTRAINT ismember_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT ismember_organization_fk FOREIGN KEY(organization) REFERENCES organization (abbreviation)
)

/*
2 rows from ismember table:
country	organization	type
SLB	AOSIS	member
TO	AOSIS	member
*/


CREATE TABLE lake (
	name VARCHAR(50 CHAR) NOT NULL,
	river VARCHAR(50 CHAR),
	area NUMBER,
	elevation NUMBER,
	depth NUMBER,
	height NUMBER,
	type VARCHAR(12 CHAR),
	CONSTRAINT lakekey PRIMARY KEY (name),
	CONSTRAINT lake_river_fk FOREIGN KEY(river) REFERENCES river (name),
	CONSTRAINT damheight CHECK (Height > 0),
	CONSTRAINT lakear CHECK (Area >= 0),
	CONSTRAINT lakecoord CHECK ((Coordinates.Latitude >= -90) AND
            (Coordinates.Latitude <= 90) AND
            (Coordinates.Longitude > -180) AND
            (Coordinates.Longitude <= 180)),
	CONSTRAINT lakecoord CHECK ((Coordinates.Latitude >= -90) AND
            (Coordinates.Latitude <= 90) AND
            (Coordinates.Longitude > -180) AND
            (Coordinates.Longitude <= 180)),
	CONSTRAINT lakedpth CHECK (Depth >= 0)
)

/*
2 rows from lake table:
name	river	area	elevation	depth	height	type
Inarijärvi	Paatsjoki	1040.0	119.0	92.0	None	None
Oulujärvi	Oulujoki	928.0	123.0	35.0	None	None
*/


CREATE TABLE lakeonisland (
	lake VARCHAR(50 CHAR) NOT NULL,
	island VARCHAR(50 CHAR) NOT NULL,
	CONSTRAINT lakeislkey PRIMARY KEY (lake, island),
	CONSTRAINT lakeonisland_island_fk FOREIGN KEY(island) REFERENCES island (name),
	CONSTRAINT lakeonisland_lake_fk FOREIGN KEY(lake) REFERENCES lake (name)
)

/*
2 rows from lakeonisland table:
lake	island
Arresø	Seeland
Danau Kumbang	Sumatra
*/


CREATE TABLE language (
	country VARCHAR(4 CHAR) NOT NULL,
	name VARCHAR(50 CHAR) NOT NULL,
	percentage NUMBER,
	CONSTRAINT languagekey PRIMARY KEY (name, country),
	CONSTRAINT language_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT languagepercent CHECK ((Percentage > 0) AND (Percentage <= 100))
)

/*
2 rows from language table:
country	name	percentage
AL	Albanian	98.8
AL	Greek	0.5
*/


CREATE TABLE located (
	city VARCHAR(50 CHAR),
	province VARCHAR(50 CHAR),
	country VARCHAR(4 CHAR),
	river VARCHAR(50 CHAR),
	lake VARCHAR(50 CHAR),
	sea VARCHAR(50 CHAR),
	CONSTRAINT located_city_province_fk FOREIGN KEY(city, country, province) REFERENCES city (name, country, province),
	CONSTRAINT located_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT located_lake_fk FOREIGN KEY(lake) REFERENCES lake (name),
	CONSTRAINT located_province_country_fk FOREIGN KEY(province, country) REFERENCES province (name, country),
	CONSTRAINT located_river_fk FOREIGN KEY(river) REFERENCES river (name),
	CONSTRAINT located_sea_fk FOREIGN KEY(sea) REFERENCES sea (name)
)

/*
2 rows from located table:
city	province	country	river	lake	sea
Salerno	Campania	I	None	None	Mediterranean Sea
Nápoli	Campania	I	None	None	Mediterranean Sea
*/


CREATE TABLE locatedon (
	city VARCHAR(50 CHAR) NOT NULL,
	province VARCHAR(50 CHAR) NOT NULL,
	country VARCHAR(4 CHAR) NOT NULL,
	island VARCHAR(50 CHAR) NOT NULL,
	CONSTRAINT locatedonkey PRIMARY KEY (city, province, country, island),
	CONSTRAINT locatedon_city_province_fk FOREIGN KEY(city, country, province) REFERENCES city (name, country, province),
	CONSTRAINT locatedon_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT locatedon_island_fk FOREIGN KEY(island) REFERENCES island (name),
	CONSTRAINT locatedon_province_country_fk FOREIGN KEY(province, country) REFERENCES province (name, country)
)

/*
2 rows from locatedon table:
city	province	country	island
Aberdeen	Scotland	GB	Great Britain
Adamstown	Pitcairn	PITC	Pitcairn
*/


CREATE TABLE mergeswith (
	sea1 VARCHAR(50 CHAR) NOT NULL,
	sea2 VARCHAR(50 CHAR) NOT NULL,
	CONSTRAINT mergeswithkey PRIMARY KEY (sea1, sea2),
	CONSTRAINT mergeswith_sea1_fk FOREIGN KEY(sea1) REFERENCES sea (name),
	CONSTRAINT mergeswith_sea2_fk FOREIGN KEY(sea2) REFERENCES sea (name)
)

/*
2 rows from mergeswith table:
sea1	sea2
Andaman Sea	Gulf of Bengal
Andaman Sea	Indian Ocean
*/


CREATE TABLE mountain (
	name VARCHAR(50 CHAR) NOT NULL,
	mountains VARCHAR(50 CHAR),
	elevation NUMBER,
	type VARCHAR(10 CHAR),
	CONSTRAINT mountainkey PRIMARY KEY (name),

#### Fixing queries

In [13]:
to_fix = [40,59,62,72,85,99]
for pos in to_fix:
    instance = queries[pos]
    q = read_queries()
    with get_openai_callback() as cb:
            start_time = time.time()
            sql_query = query_chain.invoke({"question":instance["question"]})
            end_time = time.time()
            instance["query_string"] = sql_query
            instance['total_tokens'] = cb.total_tokens
            instance['prompt_tokens'] = cb.prompt_tokens
            instance['completion_tokens'] = cb.completion_tokens
            instance['total_cost'] = cb.total_cost
            instance['time'] = end_time - start_time
            q[pos] = instance
            print(instance['id'], instance['question'], instance["query_string"], instance['time'], instance['total_cost'])
            save_queries(q)

c:\Users\rogerrsn\AppData\Local\Programs\Python\Python310\lib\site-packages\langchain\utilities\sql_database.py:307: SAWarning: Cannot correctly sort tables; there are unresolvable cycles between tables "lake, river", which is usually caused by mutually dependent foreign key constraints.  Foreign key constraints involving these tables will not be considered; this warning may raise an error in a future release.
  for tbl in self._metadata.sorted_tables

41 How many countries that are close to the Mediterranean Sea? SELECT COUNT(*) FROM encompasses WHERE continent = 'Europe' AND percentage = 100 4.202852249145508 0.023536
60  List the names of capital cities which are the base for organizations in alphabetical order SELECT city.name
FROM city
JOIN organization ON city.name = organization.city
ORDER BY city.name ASC 4.919966220855713 0.023574
63 Show the inflation rate of countries that are washed by the Arabian Sea SELECT c.name, e.inflation
FROM country c
JOIN geo_sea gs ON c.code = gs.country
JOIN sea s ON gs.sea = s.name
JOIN economy e ON c.code = e.country
WHERE s.name = 'Arabian Sea' 4.673165798187256 0.023701000000000003
73 What area is the largest continent? SELECT name, area FROM continent ORDER BY area DESC 3.7189509868621826 0.0235
86 What are the 3 airports with the largest name? SELECT name
FROM airport
ORDER BY LENGTH(name) DESC
FETCH FIRST 3 ROWS ONLY 4.280006647109985 0.023552
100 What is the percentage of industries in relation to Japan's economy? SELECT industry FROM economy WHERE country = 'JPN' 3.4976117610931396 0.023521999999999998