# SQLQueryChain - Mondial - GPT 4

In [ ]:

from langchain.chat_models import ChatOpenAI
from langchain.chains import create_sql_query_chain
from urllib.parse import quote  
from langchain.callbacks import get_openai_callback

from dotenv import load_dotenv
import os
import sys
import json
import time
load_dotenv()

experiment_path = '..\..'
path = os.path.abspath('')
module_path = os.path.join(path, experiment_path)
print(module_path)
if module_path not in sys.path:
    sys.path.append(module_path+"\\functions")


from sqldatabase_langchain_utils import SQLDatabaseLangchainUtils

# Schema

In [12]:
SCHEMA = 'mondial_gpt'
PREFIX = 'mondial'

FILE_NAME_RESULT = f"results/12_sql_queries_chatgpt4_{SCHEMA}_fk.json"

In [13]:
def save_queries(queries):
    data = {"queries":queries}
    with open(FILE_NAME_RESULT, "w") as arquivo_json:
        json.dump(data, arquivo_json, indent=4) 
        
def read_queries():
    with open(FILE_NAME_RESULT, encoding='utf-8', errors='ignore') as json_data:
        data = json.load(json_data, strict=False)
    queries = data["queries"]
    return queries

## Conexão

In [ ]:
json_file_path = f"../../datasets/{SCHEMA}_db_connection.json"
with open(json_file_path, encoding='utf-8', errors='ignore') as json_data:
    db_connection = json.load(json_data, strict=False)

db_connection

### Utilizando o SQLDatabase para pegar todas as informações do database

In [15]:
db = SQLDatabaseLangchainUtils(db_connection=db_connection)

exclusao = [
    f"{SCHEMA}_tmdp",
    f"{SCHEMA}_tmdpmap",
    f"{SCHEMA}_tmds",
    f"{SCHEMA}_tmjmap",
    f"{SCHEMA}_tpv",
    f"{SCHEMA}_tmdc",
    f"{SCHEMA}_tmdcmap",
    f"{SCHEMA}_tmdej",
    f"{SCHEMA}_log_action",
    f"{SCHEMA}_log_error",
    f"{SCHEMA}_favorite_item", 
    f"{SCHEMA}_favorite_query",
    f"{SCHEMA}_favorite_tag",
    f"{SCHEMA}_favorite_tag_item",
    f"{SCHEMA}_favorite_visualization",
    f"{SCHEMA}_dashboard",
    f"{SCHEMA}_history",
    "teste_cliente",
    "teste_fornecedor",
    "teste_funcionario"
]

include_tables = [s for s in db.get_table_names() if not s.startswith(PREFIX) and s not in exclusao]
db = SQLDatabaseLangchainUtils(db_connection=db_connection, include_tables=include_tables)
db.get_table_names()

['airport',
 'borders',
 'city',
 'citylocalname',
 'cityothername',
 'citypops',
 'continent',
 'country',
 'countrylocalname',
 'countryothername',
 'countrypops',
 'desert',
 'economy',
 'encompasses',
 'ethnicgroup',
 'geo_desert',
 'geo_estuary',
 'geo_island',
 'geo_lake',
 'geo_mountain',
 'geo_river',
 'geo_sea',
 'geo_source',
 'island',
 'islandin',
 'ismember',
 'lake',
 'lakeonisland',
 'language',
 'located',
 'locatedon',
 'mergeswith',
 'mountain',
 'mountainonisland',
 'organization',
 'politics',
 'population',
 'province',
 'provincelocalname',
 'provinceothername',
 'provpops',
 'religion',
 'river',
 'riveronisland',
 'riverthrough',
 'sea']

In [16]:
len(db.get_table_names())

46

## Criando o prompt

In [17]:
from langchain.prompts.prompt import PromptTemplate

f = open(f"prompts/prompt_template_sql_query_chain.txt", "r")
prompt_template = f.read()
f.close()


PROMPT = PromptTemplate(
    input_variables=["input", "table_info", "top_k"], template=prompt_template
)

print(PROMPT)

input_variables=['input', 'table_info', 'top_k'] output_parser=None partial_variables={} template='You are an Oracle SQL expert. Given an input question, first create a syntactically correct Oracle SQL query to run, then look at the results of the query and return the answer to the input question.\nUnless the user specifies in the question a specific number of examples to obtain, don\'t query for at {top_k} most results or any using the FETCH FIRST n ROWS ONLY clause as per Oracle SQL. You can order the results to return the most informative data in the database.\nNever query for all columns from a table. You must query only the columns that are needed to answer the question.\nPay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.\nPay attention to use TRUNC(SYSDATE) function to get the current date, if the question involves "today". \n\nSome hints:\n- Don\'t use double quotes in column name\n- \nExample:\n`SELECT "column_name" FROM table` should be `SELECT column_name FROM table`\n- Don\'t use LEFT JOIN, only JOIN\n\nUse the following format:\n\nQuestion: Question here\nSQLQuery: SQL Query to run\nSQLResult: Result of the SQLQuery\nAnswer: Final answer here\n\nOnly use the following tables:\n{table_info}\n\nQuestion: {input}' template_format='f-string' validate_template=True

## Criando o Chain para gerar SQL

In [ ]:
query_chain  = create_sql_query_chain(ChatOpenAI(temperature=0, model_name='gpt-4'), db.db, prompt=PROMPT)
query_chain

## Preparando as consultas em linguagem natural para rodar no LLM

In [19]:

json_file_path = f"../../datasets/{PREFIX}/queries_{PREFIX}.json"
with open(json_file_path, encoding='utf-8', errors='ignore') as json_data:
    queries = json.load(json_data, strict=False)
queries = queries['queries']
queries

[{'id': '1',
  'question': 'What is the area of Thailand?',
  'query_string': '',
  'type': 'simple'},
 {'id': '2',
  'question': 'What are the provinces with an area greater than 10000?',
  'query_string': '',
  'type': 'simple'},
 {'id': '3',
  'question': 'What are the languages spoken in Poland?',
  'query_string': '',
  'type': 'medium'},
 {'id': '4',
  'question': 'How deep is Lake Kariba?',
  'query_string': '',
  'type': 'simple'},
 {'id': '5',
  'question': 'What is the total of provinces of Netherlands?',
  'query_string': '',
  'type': 'complex'},
 {'id': '6',
  'question': 'What is the percentage of religious people are hindu in thailand?',
  'query_string': '',
  'type': 'complex'},
 {'id': '7',
  'question': 'List the number of provinces each river flows through.',
  'query_string': '',
  'type': 'medium'},
 {'id': '8',
  'question': 'Find all countries that became independent between 8/1/1910 and 8/1/1950.',
  'query_string': '',
  'type': 'complex'},
 {'id': '9',
  'question': 'What are the cities of Cuba?',
  'query_string': '',
  'type': 'medium'},
 {'id': '10',
  'question': 'What is the capital of Georgia?',
  'query_string': '',
  'type': 'medium'},
 {'id': '11',
  'question': 'How many provinces have areas greater than 1000 in Niger?',
  'query_string': '',
  'type': 'complex'},
 {'id': '12',
  'question': 'Tell me about the country with the area largest.',
  'query_string': '',
  'type': 'medium'},
 {'id': '13',
  'question': 'What is the host province and year of establishment of the organization "International Energy Agency"?',
  'query_string': '',
  'type': 'medium'},
 {'id': '14',
  'question': 'Find the name of all mountains whose elevation is higher than 1000.',
  'query_string': '',
  'type': 'medium'},
 {'id': '15',
  'question': 'Tell me the economy of the Caribbean Sea.',
  'query_string': '',
  'type': 'medium'},
 {'id': '16',
  'question': 'Show the cities with longitude between 0 and 6.',
  'query_string': '',
  'type': 'simple'},
 {'id': '17',
  'question': 'Select cities whose population is greater than 100000, altitude greater than 2500, and the country you belong to has population growth greater than 1.',
  'query_string': '',
  'type': 'complex'},
 {'id': '18',
  'question': 'Show all the different types of government.',
  'query_string': '',
  'type': 'simple'},
 {'id': '19',
  'question': 'List all provinces in Germany',
  'query_string': '',
  'type': 'medium'},
 {'id': '20',
  'question': 'What is the percentage of mulatto ethnicity in Brazil?',
  'query_string': '',
  'type': 'complex'},
 {'id': '21',
  'question': 'How many cities have populations less than 1000?',
  'query_string': '',
  'type': 'simple'},
 {'id': '22',
  'question': 'What is the average elevation of airports in America?',
  'query_string': '',
  'type': 'complex'},
 {'id': '23',
  'question': 'How many countries are adjacent to (or ecompassed by) the Caribbean Sea?',
  'query_string': '',
  'type': 'medium'},
 {'id': '24',
  'question': 'How much area do the countries that are adjacent to (or encompassed by) the Caribbean Sea cover in total?',
  'query_string': '',
  'type': 'complex'},
 {'id': '25',
  'question': 'For all countries, give the sum of the population of all its neighbors',
  'query_string': '',
  'type': 'medium'},
 {'id': '26',
  'question': 'What mountains are on the island of Borneo?',
  'query_string': '',
  'type': 'simple'},
 {'id': '27',
  'question': 'Provide the name and total population of the country with the smallest area.',
  'query_string': '',
  'type': 'simple'},
 {'id': '28',
  'question': 'The codes of all countries for which at least one river that originates in this country has its estuary in a neighboring country.',
  'query_string': '',
  'type': 'complex'},
 {'id': '29',
  'question': 'The codes of all countries where at least one mountain is located in each of their provinces',
  'query_string': '',
  'type': 'complex'},
 {'id': '30',
  'question': 'The code and total border lengths of all countries with at least one border.',
  'query_string': '',
  'type': 'complex'},
 {'id': '31',
  'question': 'The names and codes of all countries in which at least one river originates.',
  'query_string': '',
  'type': 'medium'},
 {'id': '32',
  'question': 'What is the area and country of the Chatanga River?',
  'query_string': '',
  'type': 'simple'},
 {'id': '33',
  'question': 'Show the Airports with elevation more than 3000',
  'query_string': '',
  'type': 'simple'},
 {'id': '34',
  'question': 'What are the religions practiced in Mexico?',
  'query_string': '',
  'type': 'medium'},
 {'id': '35',
  'question': 'Show all rivers that do not flow into the sea.',
  'query_string': '',
  'type': 'medium'},
 {'id': '36',
  'question': 'List African countries by number of neighbors.',
  'query_string': '',
  'type': 'complex'},
 {'id': '37',
  'question': 'What is the average infant mortality rate for each continent?',
  'query_string': '',
  'type': 'simple'},
 {'id': '38',
  'question': 'What is the average mortality rate of the countries in America without considering Brazil?',
  'query_string': '',
  'type': 'complex'},
 {'id': '39',
  'question': 'List seas with area greater than 8000 and depth less than 100.',
  'query_string': '',
  'type': 'simple'},
 {'id': '40',
  'question': 'How many mountains are there in Asia?',
  'query_string': '',
  'type': 'complex'},
 {'id': '41',
  'question': 'How many countries that are close to the Mediterranean Sea?',
  'query_string': '',
  'type': 'complex'},
 {'id': '42',
  'question': 'Show the total for each type of government.',
  'query_string': '',
  'type': 'simple'},
 {'id': '43',
  'question': 'Which province has the largest desert in the world?',
  'query_string': '',
  'type': 'simple'},
 {'id': '44',
  'question': 'What is the largest desert in the world?',
  'query_string': '',
  'type': 'simple'},
 {'id': '45',
  'question': 'List, for all continents, the amount of deserts on each.',
  'query_string': '',
  'type': 'complex'},
 {'id': '46',
  'question': 'What are the neighboring seas of the Banda Sea?',
  'query_string': '',
  'type': 'medium'},
 {'id': '47',
  'question': 'List all the capitals of European countries.',
  'query_string': '',
  'type': 'medium'},
 {'id': '48',
  'question': 'What percentage of people speak French in Andorra?',
  'query_string': '',
  'type': 'complex'},
 {'id': '49',
  'question': 'Which rivers are longer than 1000 kilometers?',
  'query_string': '',
  'type': 'complex'},
 {'id': '50',
  'question': 'Which country had the lowest population growth?',
  'query_string': '',
  'type': 'simple'},
 {'id': '51',
  'question': 'List the name of capital cities for which we do not have data about the city in located',
  'query_string': '',
  'type': 'complex'},
 {'id': '52',
  'question': 'What is the capital of the provice Andalucía?',
  'query_string': '',
  'type': 'simple'},
 {'id': '53',
  'question': 'What is the abbreviation for the organization whose name is "General Confederation of Trade Unions"?',
  'query_string': '',
  'type': 'simple'},
 {'id': '54',
  'question': 'In which city is the organization with the abbreviation "UPU" ?',
  'query_string': '',
  'type': 'simple'},
 {'id': '55',
  'question': 'List the names of countries which are members of only one organization',
  'query_string': '',
  'type': 'complex'},
 {'id': '56',
  'question': 'List the name of countries which are not a member of NATO.',
  'query_string': '',
  'type': 'complex'},
 {'id': '57',
  'question': 'List the name of countries which are a member of NATO.',
  'query_string': '',
  'type': 'medium'},
 {'id': '58',
  'question': 'List the rivers with length less than 50',
  'query_string': '',
  'type': 'simple'},
 {'id': '59',
  'question': 'What are the area, elevation and type of lakes in country Italy?',
  'query_string': '',
  'type': 'simple'},
 {'id': '60',
  'question': ' List the names of capital cities which are the base for organizations in alphabetical order',
  'query_string': '',
  'type': 'complex'},
 {'id': '61',
  'question': 'List the name of organizations that do not have countries with an area smaller than 4000 and of the member type',
  'query_string': '',
  'type': 'complex'},
 {'id': '62',
  'question': 'List the name of organizations that do not have countries with  an area greater than 10000 and population smaller than 3000 and of the member type',
  'query_string': '',
  'type': 'complex'},
 {'id': '63',
  'question': 'Show the inflation rate of countries that are washed by the Arabian Sea',
  'query_string': '',
  'type': 'complex'},
 {'id': '64',
  'question': 'List all the capitals of the countries that belong to the continent Africa?',
  'query_string': '',
  'type': 'medium'},
 {'id': '65',
  'question': 'Show the inflation rate of the countries bathed by the Arabian Sea and there is no inflation with null value',
  'query_string': '',
  'type': 'complex'},
 {'id': '66',
  'question': 'How many countries are in Africa?',
  'query_string': '',
  'type': 'complex'},
 {'id': '67',
  'question': 'List the name of countries that are not members of NATO and UNESCO',
  'query_string': '',
  'type': 'complex'},
 {'id': '68',
  'question': 'What is the area of the continent Europe?',
  'query_string': '',
  'type': 'simple'},
 {'id': '69',
  'question': 'What is the area of continent America?',
  'query_string': '',
  'type': 'simple'},
 {'id': '70',
  'question': 'What is the area of continent Asia?',
  'query_string': '',
  'type': 'simple'},
 {'id': '71',
  'question': 'What is the area of Africa?',
  'query_string': '',
  'type': 'simple'},
 {'id': '72',
  'question': 'How many countries are in America?',
  'query_string': '',
  'type': 'complex'},
 {'id': '73',
  'question': 'What area is the largest continent?',
  'query_string': '',
  'type': 'medium'},
 {'id': '74',
  'question': 'List the countries that belong to the continent with the largest area',
  'query_string': '',
  'type': 'complex'},
 {'id': '75',
  'question': 'List the countries that belong to the continent with the largest area and whose language is English',
  'query_string': '',
  'type': 'complex'},
 {'id': '76',
  'question': 'List the names of cities, along with the name of their country for cities with a population greater than 5 million.  Display the results in descending order by population.',
  'query_string': '',
  'type': 'medium'},
 {'id': '77',
  'question': 'Show the name of the deserts in the province of Algeria',
  'query_string': '',
  'type': 'simple'},
 {'id': '78',
  'question': 'Show the name and area of the deserts in the province of California',
  'query_string': '',
  'type': 'simple'},
 {'id': '79',
  'question': 'List the country names and percentage of use of language where  French are used as languages.',
  'query_string': '',
  'type': 'simple'},
 {'id': '80',
  'question': 'What are the cities where �Portuguese� is spoken?',
  'query_string': '',
  'type': 'medium'},
 {'id': '81',
  'question': 'What is the total area of the provinces in Canada?',
  'query_string': '',
  'type': 'complex'},
 {'id': '82',
  'question': 'What is the length of the Tigres River?',
  'query_string': '',
  'type': 'simple'},
 {'id': '83',
  'question': 'List the Airports with elevation more than 1000',
  'query_string': '',
  'type': 'medium'},
 {'id': '84',
  'question': 'List airports in the United States with an elevation below 200 feet',
  'query_string': '',
  'type': 'complex'},
 {'id': '85',
  'question': 'What are the mountains with altitudes above 8000 meters?',
  'query_string': '',
  'type': 'medium'},
 {'id': '86',
  'question': 'What are the 3 airports with the largest name?',
  'query_string': '',
  'type': 'simple'},
 {'id': '87',
  'question': 'List lakes with an area of less than 5000 square kilometers.',
  'query_string': '',
  'type': 'medium'},
 {'id': '88',
  'question': 'What is the total area of the seas with a depth greater than 1000 meters?',
  'query_string': '',
  'type': 'medium'},
 {'id': '89',
  'question': 'Find the countries whose name starts with the letter "B" and have a population greater than 10 million',
  'query_string': '',
  'type': 'complex'},
 {'id': '90',
  'question': 'List cities with another name in Brazil',
  'query_string': '',
  'type': 'medium'},
 {'id': '91',
  'question': 'List all cities that are at a latitude greater than 45 degrees.',
  'query_string': '',
  'type': 'medium'},
 {'id': '92',
  'question': 'Show the number of cities with another name in countries with an area greater than 30000',
  'query_string': '',
  'type': 'medium'},
 {'id': '93',
  'question': 'Show the deserts with area greater than 10000',
  'query_string': '',
  'type': 'simple'},
 {'id': '94',
  'question': 'List the islands that belong to a lake with an elevation greater than 100',
  'query_string': '',
  'type': 'simple'},
 {'id': '95',
  'question': 'List all mountains located on islands with an area greater than 100,000 square kilometers',
  'query_string': '',
  'type': 'medium'},
 {'id': '96',
  'question': 'List the countries and the sum of their provincial areas.',
  'query_string': '',
  'type': 'simple'},
 {'id': '97',
  'question': 'Show the name of the countries, the average elevation and sum of the population of their cities',
  'query_string': '',
  'type': 'medium'},
 {'id': '98',
  'question': "What was Germany's inflation?",
  'query_string': '',
  'type': 'medium'},
 {'id': '99',
  'question': 'What type of government is Iran?',
  'query_string': '',
  'type': 'medium'},
 {'id': '100',
  'question': "What is the percentage of industries in relation to Japan's economy?",
  'query_string': '',
  'type': 'medium'}]

# Rodando as consultas no LLM para gerar SQL

In [11]:


# A cada X consultas, vai ser gerado um delay de 10s para evitar o bloqueio da API.

count = 0

for instance in queries:
    with get_openai_callback() as cb:
        start_time = time.time()
        sql_query = query_chain.invoke({"question":instance["question"]})
        end_time = time.time()
        instance["query_string"] = sql_query
        instance['total_tokens'] = cb.total_tokens
        instance['prompt_tokens'] = cb.prompt_tokens
        instance['completion_tokens'] = cb.completion_tokens
        instance['total_cost'] = cb.total_cost
        instance['time'] = end_time - start_time
        print(instance['id'], instance['question'], sql_query, instance['time'], instance['total_cost'])
    save_queries(queries)
    time.sleep(2)
queries

c:\Users\rogerrsn\AppData\Local\Programs\Python\Python310\lib\site-packages\langchain\utilities\sql_database.py:307: SAWarning: Cannot correctly sort tables; there are unresolvable cycles between tables "lake, river", which is usually caused by mutually dependent foreign key constraints.  Foreign key constraints involving these tables will not be considered; this warning may raise an error in a future release.
  for tbl in self._metadata.sorted_tables

1 What is the area of Thailand? SELECT area FROM country WHERE name = 'Thailand' 3.32186222076416 0.17139
2 What are the provinces with an area greater than 10000? SELECT name, area FROM province WHERE area > 10000 FETCH FIRST 5 ROWS ONLY 3.8562686443328857 0.17205
3 What are the languages spoken in Poland? SELECT name FROM language WHERE country = (SELECT code FROM country WHERE name = 'Poland') 3.2713685035705566 0.1719
4 How deep is Lake Kariba? SELECT depth FROM lake WHERE name = 'Lake Kariba'; 2.834017038345337 0.17145
5 What is the total of provinces of Netherlands? SELECT COUNT(name) FROM province WHERE country = (SELECT code FROM country WHERE name = 'Netherlands') 2.600212574005127 0.17204999999999998
6 What is the percentage of religious people are hindu in thailand? SELECT percentage FROM religion WHERE country = 'THA' AND name = 'Hindu' 2.238055467605591 0.17208
7 List the number of provinces each river flows through. SELECT river, COUNT(province) AS num_provinces
FROM geo_river
GROUP BY river
FETCH FIRST 5 ROWS ONLY 5.102644205093384 0.1725
8 Find all countries that became independent between 8/1/1910 and 8/1/1950. SELECT name FROM country WHERE independence BETWEEN TO_DATE('1910-08-01', 'YYYY-MM-DD') AND TO_DATE('1950-08-01', 'YYYY-MM-DD') 4.952934980392456 0.17349
9 What are the cities of Cuba? SELECT name FROM city WHERE country = 'CUB' 1.47353196144104 0.17139
10 What is the capital of Georgia? SELECT capital FROM country WHERE name = 'Georgia' 2.070272922515869 0.17132999999999998
11 How many provinces have areas greater than 1000 in Niger? SELECT COUNT(*) FROM province WHERE country = 'NER' AND area > 1000 2.290177822113037 0.17193
12 Tell me about the country with the area largest. SELECT name, area FROM country ORDER BY area DESC FETCH FIRST 1 ROWS ONLY 2.6938326358795166 0.17184
13 What is the host province and year of establishment of the organization "International Energy Agency"? SELECT province, established
FROM organization
WHERE name = 'International Energy Agency' 2.433852434158325 0.17201999999999998
14 Find the name of all mountains whose elevation is higher than 1000. SELECT name FROM mountain WHERE elevation > 1000 3.188678741455078 0.17156999999999997
15 Tell me the economy of the Caribbean Sea. SELECT e.gdp, e.agriculture, e.service, e.industry, e.inflation, e.unemployment
FROM economy e
JOIN country c ON e.country = c.code
JOIN geo_sea gs ON c.code = gs.country
WHERE gs.sea = 'Caribbean Sea'; 5.845061779022217 0.17444999999999997
16 Show the cities with longitude between 0 and 6. SELECT name FROM city WHERE longitude BETWEEN 0 AND 6 FETCH FIRST 5 ROWS ONLY; 3.383429527282715 0.17207999999999998
17 Select cities whose population is greater than 100000, altitude greater than 2500, and the country you belong to has population growth greater than 1. SELECT city.name, city.population, city.elevation, country.name, population.population_growth
FROM city
JOIN country ON city.country = country.code
JOIN population ON country.code = population.country
WHERE city.population > 100000 AND city.elevation > 2500 AND population.population_growth > 1
FETCH FIRST 5 ROWS ONLY; 6.226008653640747 0.17568
18 Show all the different types of government. SELECT DISTINCT government FROM politics 1.6744356155395508 0.17106
19 List all provinces in Germany SELECT name FROM province WHERE country = 'DEU' 1.6181640625 0.17136
20 What is the percentage of mulatto ethnicity in Brazil? SELECT percentage FROM ethnicgroup WHERE country = 'BR' AND name = 'Mulatto'; 2.0419604778289795 0.17193
21 How many cities have populations less than 1000? SELECT COUNT(*) FROM city WHERE population < 1000 2.330535411834717 0.17151
22 What is the average elevation of airports in America? SELECT AVG(elevation) FROM airport WHERE country = 'USA' 1.305774211883545 0.1716
23 How many countries are adjacent to (or ecompassed by) the Caribbean Sea? SELECT COUNT(DISTINCT country) FROM geo_sea WHERE sea = 'Caribbean Sea' 3.3444151878356934 0.17217
24 How much area do the countries that are adjacent to (or encompassed by) the Caribbean Sea cover in total? SELECT SUM(country.area) AS total_area
FROM country
JOIN geo_sea ON country.code = geo_sea.country
WHERE geo_sea.sea = 'Caribbean Sea' 4.338015079498291 0.17343
25 For all countries, give the sum of the population of all its neighbors SELECT b.country1, SUM(c.population) as total_population
FROM borders b
JOIN country c ON b.country2 = c.code
GROUP BY b.country1 2.571706533432007 0.17295
26 What mountains are on the island of Borneo? SELECT mountain FROM geo_mountain WHERE island = 'Borneo'; 2.222891330718994 0.17169
27 Provide the name and total population of the country with the smallest area. SELECT name, population FROM country ORDER BY area ASC FETCH FIRST 1 ROWS ONLY 3.114992380142212 0.17196
28 The codes of all countries for which at least one river that originates in this country has its estuary in a neighboring country. SELECT DISTINCT r.country
FROM river r
JOIN borders b ON r.country = b.country1
WHERE r.sea IN (SELECT sea FROM geo_sea WHERE country = b.country2)
FETCH FIRST 5 ROWS ONLY; 4.536136627197266 0.17408999999999997
29 The codes of all countries where at least one mountain is located in each of their provinces SELECT DISTINCT country
FROM geo_mountain
GROUP BY country
HAVING COUNT(DISTINCT province) = (SELECT COUNT(*) FROM province WHERE country = geo_mountain.country) 4.527061700820923 0.17321999999999999
30 The code and total border lengths of all countries with at least one border. SELECT country1 AS country_code, SUM(length) AS total_border_length
FROM borders
GROUP BY country1
HAVING COUNT(country2) >= 1
FETCH FIRST 5 ROWS ONLY 5.732334852218628 0.17337
31 The names and codes of all countries in which at least one river originates. SELECT DISTINCT country.name, country.code
FROM country
JOIN geo_source ON country.code = geo_source.country
ORDER BY country.name
FETCH FIRST 5 ROWS ONLY; 4.565550327301025 0.17306999999999997
32 What is the area and country of the Chatanga River? SELECT r.area, g.country
FROM river r
JOIN geo_river g ON r.name = g.river
WHERE r.name = 'Chatanga River' 3.8868138790130615 0.17285999999999999
33 Show the Airports with elevation more than 3000 SELECT iatacode, name, elevation FROM airport WHERE elevation > 3000 FETCH FIRST 5 ROWS ONLY 3.059882164001465 0.17225999999999997
34 What are the religions practiced in Mexico? SELECT name, percentage FROM religion WHERE country = (SELECT code FROM country WHERE name = 'Mexico') 3.182417869567871 0.17196
35 Show all rivers that do not flow into the sea. SELECT name FROM river WHERE sea IS NULL FETCH FIRST 5 ROWS ONLY 3.0322265625 0.17175
36 List African countries by number of neighbors. SELECT country1 AS country, COUNT(country2) AS number_of_neighbors
FROM borders
WHERE country1 IN (SELECT country FROM encompasses WHERE continent = 'Africa')
GROUP BY country1
ORDER BY number_of_neighbors DESC
FETCH FIRST 5 ROWS ONLY; 4.849982261657715 0.17393999999999998
37 What is the average infant mortality rate for each continent? SELECT E.continent, AVG(P.infant_mortality) as avg_infant_mortality
FROM encompasses E
JOIN country C ON E.country = C.code
JOIN population P ON C.code = P.country
GROUP BY E.continent 5.666620254516602 0.17373
38 What is the average mortality rate of the countries in America without considering Brazil? SELECT AVG(infant_mortality)
FROM population
WHERE country IN (
    SELECT country
    FROM encompasses
    WHERE continent = 'America'
    AND country != 'BR'
) 4.952755451202393 0.17331
39 List seas with area greater than 8000 and depth less than 100. SELECT name, area, depth FROM sea WHERE area > 8000 AND depth < 100 FETCH FIRST 5 ROWS ONLY; 4.184410572052002 0.17262
40 How many mountains are there in Asia? SELECT COUNT(*) AS mountain_count
FROM mountain
JOIN geo_mountain ON mountain.name = geo_mountain.mountain
JOIN province ON geo_mountain.province = province.name AND geo_mountain.country = province.country
JOIN encompasses ON province.country = encompasses.country
WHERE encompasses.continent = 'Asia' 4.080047130584717 0.17442
41 What are the countries that are close to the Mediterranean Sea? SELECT country FROM geo_sea WHERE sea = 'Mediterranean Sea' 2.3543293476104736 0.17183999999999996
42 Show the total for each type of government. SELECT government, COUNT(*) as total FROM politics GROUP BY government 2.7091774940490723 0.17150999999999997
43 Which province has the largest desert in the world? SELECT geo_desert.province
FROM geo_desert
JOIN desert ON geo_desert.desert = desert.name
ORDER BY desert.area DESC
FETCH FIRST 1 ROWS ONLY 2.835728645324707 0.17304
44 What is the largest desert in the world? SELECT name, MAX(area) FROM desert 1.0284912586212158 0.17126999999999998
45 List, for all continents, the amount of deserts on each. SELECT continent.name AS continent, COUNT(desert.name) AS desert_count
FROM continent
JOIN geo_desert ON continent.name = geo_desert.continent
JOIN desert ON geo_desert.desert = desert.name
GROUP BY continent.name 2.9520468711853027 0.17382
46 What are the neighboring seas of the Banda Sea? SELECT sea2 as neighboring_sea FROM mergeswith WHERE sea1 = 'Banda Sea' 2.0654866695404053 0.17199
47 List all the capitals of European countries. SELECT country.name, country.capital
FROM country
JOIN encompasses ON country.code = encompasses.country
WHERE encompasses.continent = 'Europe' 3.0081658363342285 0.17243999999999998
48 What percentage of people speak French in Andorra? SELECT percentage FROM language WHERE country = (SELECT code FROM country WHERE name = 'Andorra') AND name = 'French' 3.0583648681640625 0.17232
49 Which rivers are longer than 1000 kilometers? SELECT name FROM river WHERE length > 1000 2.2026150226593018 0.17142
50 Which country had the lowest population growth? SELECT country, MIN(population_growth) as min_growth FROM population 2.9359850883483887 0.17154
51 List the name of capital cities for which we do not have data about the city in located SELECT capital FROM country WHERE capital NOT IN (SELECT city FROM located) 2.117737054824829 0.17193
52 What is the capital of the provice Andaluc�a? SELECT capital FROM province WHERE name = 'Andalucía' 1.5499217510223389 0.17172
53 What is the abbreviation for the organization whose name is "General Confederation of Trade Unions"? SELECT abbreviation FROM organization WHERE name = 'General Confederation of Trade Unions' 1.2654757499694824 0.17207999999999998
54 In which city is the organization with the abbreviation "UPU" ? SELECT city FROM organization WHERE abbreviation = 'UPU' 1.6698720455169678 0.1716
55 List the names of countries which are members of only one organization SELECT country, COUNT(organization) as num_organizations
FROM ismember
GROUP BY country
HAVING COUNT(organization) = 1 3.9294779300689697 0.17265
56 List the name of countries which are not a member of NATO. SELECT name FROM country WHERE code NOT IN (SELECT country FROM ismember WHERE organization = 'NATO') 1.611492395401001 0.17217000000000002
57 List the name of countries which are a member of NATO. SELECT country.name
FROM country
JOIN ismember ON country.code = ismember.country
WHERE ismember.organization = 'NATO'
FETCH FIRST 5 ROWS ONLY; 6.150166034698486 0.17297999999999997
58 List the rivers with length less than 50 SELECT name, length FROM river WHERE length < 50 1.0564906597137451 0.17148
59 What are the area, elevation and type of lakes in country Italy? SELECT lake.name, lake.area, lake.elevation, lake.type
FROM lake
JOIN geo_lake ON lake.name = geo_lake.lake
WHERE geo_lake.country = 'IT'
FETCH FIRST 5 ROWS ONLY; 6.293089151382446 0.17382
60 List the names of capital cities which are the base for organizations SELECT DISTINCT city.name
FROM city
JOIN organization
ON city.name = organization.city
ORDER BY city.name
FETCH FIRST 5 ROWS ONLY; 3.496790885925293 0.17277
61 List the name of organizations that do not have countries with an area smaller than 4000 and of the member type SELECT DISTINCT o.name
FROM organization o
JOIN ismember im ON o.abbreviation = im.organization
JOIN country c ON im.country = c.code
WHERE im.type = 'member'
AND c.area >= 4000 4.953622341156006 0.17400000000000002
62 List the name of organizations that do not have countries with  an area greater than 10000 and population smaller than 3000 and of the member type SELECT DISTINCT o.name
FROM organization o
JOIN ismember im ON o.abbreviation = im.organization
JOIN country c ON im.country = c.code
WHERE c.area <= 10000 AND c.population >= 3000 AND im.type = 'member' 7.416136026382446 0.1746
63 Show the inflation rate of countries that are washed by the Arabian Sea SELECT e.country, e.inflation
FROM economy e
JOIN geo_sea gs ON e.country = gs.country
WHERE gs.sea = 'Arabian Sea'
ORDER BY e.inflation DESC
FETCH FIRST 5 ROWS ONLY 5.05752968788147 0.17388
64 List all the capitals of the countries that belong to the continent Africa? SELECT country.name, country.capital
FROM country
JOIN encompasses ON country.code = encompasses.country
WHERE encompasses.continent = 'Africa' 2.6907553672790527 0.17262
65 Show the inflation rate of the countries bathed by the Arabian Sea and there is no inflation with null value SELECT c.name, e.inflation
FROM country c
JOIN economy e ON c.code = e.country
JOIN geo_sea gs ON c.code = gs.country
WHERE gs.sea = 'Arabian Sea' AND e.inflation IS NOT NULL
FETCH FIRST 5 ROWS ONLY; 6.625215768814087 0.17484
66 How many countries are in Africa? SELECT COUNT(country) FROM encompasses WHERE continent = 'Africa' 2.6763904094696045 0.17145
67 List the name of countries that are not members of NATO and UNESCO SELECT name FROM country
WHERE code NOT IN (SELECT country FROM ismember WHERE organization = 'NATO')
AND code NOT IN (SELECT country FROM ismember WHERE organization = 'UNESCO') 2.433765411376953 0.17334000000000002
68 What is the area of the continent Europe? SELECT area FROM continent WHERE name = 'Europe' 2.274569034576416 0.17138999999999996
69 What is the area of continent America? SELECT area FROM continent WHERE name = 'America' 1.1543397903442383 0.17135999999999998
70 What is the area of continent Asia? SELECT area FROM continent WHERE name = 'Asia' 1.091012954711914 0.17135999999999998
71 What is the area of Africa? SELECT area FROM continent WHERE name = 'Africa' 1.2994887828826904 0.17132999999999998
72 How many countries are in America? SELECT COUNT(country) FROM encompasses WHERE continent = 'America' 1.8922042846679688 0.17145
73 Which continent has the largest area? SELECT name, MAX(area) FROM continent 1.2704637050628662 0.17121
74 List the countries that belong to the continent with the largest area SELECT country.name
FROM country
JOIN encompasses ON country.code = encompasses.country
WHERE encompasses.continent = (
    SELECT name
    FROM continent
    ORDER BY area DESC
    FETCH FIRST 1 ROWS ONLY
) 3.2966887950897217 0.17367000000000002
75 List the countries that belong to the continent with the largest area and whose language is English SELECT c.name
FROM country c
JOIN encompasses e ON c.code = e.country
JOIN language l ON c.code = l.country
WHERE e.continent = (SELECT name FROM continent ORDER BY area DESC FETCH FIRST 1 ROWS ONLY)
AND l.name = 'English' 3.817495346069336 0.17454
76 List the names of cities, along with the name of their country for cities with a population greater than 5 million.  Display the results in descending order by population. SELECT city.name AS city_name, country.name AS country_name
FROM city
JOIN country ON city.country = country.code
WHERE city.population > 5000000
ORDER BY city.population DESC
FETCH FIRST 5 ROWS ONLY; 5.577639579772949 0.17442
77 Show the name of the deserts in the province of Algeria SELECT desert.name
FROM desert
JOIN geo_desert ON desert.name = geo_desert.desert
WHERE geo_desert.province = 'Algeria' 3.383148431777954 0.17289000000000002
78 Show the name and area of the deserts in the province of California SELECT d.name, d.area
FROM desert d
JOIN geo_desert gd ON d.name = gd.desert
JOIN province p ON gd.province = p.name
WHERE p.name = 'California'
FETCH FIRST 5 ROWS ONLY; 4.961479187011719 0.17396999999999999
79 List the country names and percentage of use of language where  French are used as languages. SELECT country.name, language.percentage
FROM language
JOIN country ON language.country = country.code
WHERE language.name = 'French'
FETCH FIRST 5 ROWS ONLY; 4.4556169509887695 0.17315999999999998
80 What are the cities where �Portuguese� is spoken? SELECT city.name
FROM city
JOIN language ON city.country = language.country
WHERE language.name = 'Portuguese'
FETCH FIRST 5 ROWS ONLY; 4.020839691162109 0.17289000000000002
81 What is the total area of the provinces in Canada? SELECT SUM(area) AS total_area FROM province WHERE country = 'CA' 3.3162901401519775 0.17175
82 What is the length of the Tigres River? SELECT length FROM river WHERE name = 'Tigres River'; 1.9021389484405518 0.1716
83 List the Airports with elevation more than 1000 SELECT iatacode, name, elevation FROM airport WHERE elevation > 1000 1.3465855121612549 0.17183999999999996
84 List airports in the United States with an elevation below 200 feet SELECT iatacode, name, elevation FROM airport WHERE country = 'US' AND elevation < 200 ORDER BY elevation ASC FETCH FIRST 5 ROWS ONLY 3.8229587078094482 0.17286
85 What are the mountains with altitudes above 8000 meters? SELECT name, elevation FROM mountain WHERE elevation > 8000 1.6829032897949219 0.17163
86 What are the 3 airports with the shortest name? SELECT iatacode, name FROM airport ORDER BY LENGTH(name) ASC FETCH FIRST 3 ROWS ONLY 4.7376391887664795 0.17211
87 List lakes with an area of less than 5000 square kilometers. SELECT name, area FROM lake WHERE area < 5000 FETCH FIRST 5 ROWS ONLY 3.8470444679260254 0.17208
88 What is the total area of the seas with a depth greater than 1000 meters? SELECT SUM(area) AS total_area FROM sea WHERE depth > 1000 2.2440621852874756 0.17196
89 Find the countries whose name starts with the letter "B" and have a population greater than 10 million SELECT name, population FROM country WHERE name LIKE 'B%' AND population > 10000000 1.8959128856658936 0.17232
90 List cities with another name in Brazil SELECT city, othername
FROM cityothername
WHERE country = 'BR'
FETCH FIRST 5 ROWS ONLY 2.814127206802368 0.1722
91 List all cities that are at a latitude greater than 45 degrees. SELECT name FROM city WHERE latitude > 45 FETCH FIRST 5 ROWS ONLY 2.7874443531036377 0.1719
92 Show the number of cities with another name in countries with an area greater than 30000 SELECT COUNT(DISTINCT cityothername.city)
FROM cityothername
JOIN city ON cityothername.city = city.name
JOIN country ON city.country = country.code
WHERE country.area > 30000 6.416588306427002 0.17367
93 Show the deserts with area greater than 10000 SELECT name, area FROM desert WHERE area > 10000 2.1805315017700195 0.17159999999999997
94 List the islands that belong to a lake with an elevation greater than 100 SELECT island.name
FROM island
JOIN lakeonisland ON island.name = lakeonisland.island
JOIN lake ON lakeonisland.lake = lake.name
WHERE lake.elevation > 100
FETCH FIRST 5 ROWS ONLY; 5.022227764129639 0.17393999999999998
95 List all mountains located on islands with an area greater than 100,000 square kilometers SELECT m.name AS mountain_name, i.name AS island_name, i.area AS island_area
FROM mountain m
JOIN geo_mountain gm ON m.name = gm.mountain
JOIN island i ON gm.island = i.name
WHERE i.area > 100000
FETCH FIRST 5 ROWS ONLY 6.9644458293914795 0.17478
96 List the countries and the sum of their provincial areas. SELECT country.name, SUM(province.area) AS total_area
FROM country
JOIN province ON country.code = province.country
GROUP BY country.name 2.6374850273132324 0.17259

[{'id': '1',
  'question': 'What is the area of Thailand?',
  'query_string': "SELECT area FROM country WHERE name = 'Thailand'",
  'type': 'simple',
  'total_tokens': 5702,
  'prompt_tokens': 5691,
  'completion_tokens': 11,
  'total_cost': 0.17139,
  'time': 3.32186222076416},
 {'id': '2',
  'question': 'What are the provinces with an area greater than 10000?',
  'query_string': 'SELECT name, area FROM province WHERE area > 10000 FETCH FIRST 5 ROWS ONLY',
  'type': 'simple',
  'total_tokens': 5716,
  'prompt_tokens': 5697,
  'completion_tokens': 19,
  'total_cost': 0.17205,
  'time': 3.8562686443328857},
 {'id': '3',
  'question': 'What are the languages spoken in Poland?',
  'query_string': "SELECT name FROM language WHERE country = (SELECT code FROM country WHERE name = 'Poland')",
  'type': 'medium',
  'total_tokens': 5711,
  'prompt_tokens': 5692,
  'completion_tokens': 19,
  'total_cost': 0.1719,
  'time': 3.2713685035705566},
 {'id': '4',
  'question': 'How deep is Lake Kariba?',
  'query_string': "SELECT depth FROM lake WHERE name = 'Lake Kariba';",
  'type': 'simple',
  'total_tokens': 5703,
  'prompt_tokens': 5691,
  'completion_tokens': 12,
  'total_cost': 0.17145,
  'time': 2.834017038345337},
 {'id': '5',
  'question': 'What is the total of provinces of Netherlands?',
  'query_string': "SELECT COUNT(name) FROM province WHERE country = (SELECT code FROM country WHERE name = 'Netherlands')",
  'type': 'complex',
  'total_tokens': 5714,
  'prompt_tokens': 5693,
  'completion_tokens': 21,
  'total_cost': 0.17204999999999998,
  'time': 2.600212574005127},
 {'id': '6',
  'question': 'What is the percentage of religious people are hindu in thailand?',
  'query_string': "SELECT percentage FROM religion WHERE country = 'THA' AND name = 'Hindu'",
  'type': 'complex',
  'total_tokens': 5717,
  'prompt_tokens': 5698,
  'completion_tokens': 19,
  'total_cost': 0.17208,
  'time': 2.238055467605591},
 {'id': '7',
  'question': 'List the number of provinces each river flows through.',
  'query_string': 'SELECT river, COUNT(province) AS num_provinces\nFROM geo_river\nGROUP BY river\nFETCH FIRST 5 ROWS ONLY',
  'type': 'medium',
  'total_tokens': 5722,
  'prompt_tokens': 5694,
  'completion_tokens': 28,
  'total_cost': 0.1725,
  'time': 5.102644205093384},
 {'id': '8',
  'question': 'Find all countries that became independent between 8/1/1910 and 8/1/1950.',
  'query_string': "SELECT name FROM country WHERE independence BETWEEN TO_DATE('1910-08-01', 'YYYY-MM-DD') AND TO_DATE('1950-08-01', 'YYYY-MM-DD')",
  'type': 'complex',
  'total_tokens': 5745,
  'prompt_tokens': 5707,
  'completion_tokens': 38,
  'total_cost': 0.17349,
  'time': 4.952934980392456},
 {'id': '9',
  'question': 'What are the cities of Cuba?',
  'query_string': "SELECT name FROM city WHERE country = 'CUB'",
  'type': 'medium',
  'total_tokens': 5702,
  'prompt_tokens': 5691,
  'completion_tokens': 11,
  'total_cost': 0.17139,
  'time': 1.47353196144104},
 {'id': '10',
  'question': 'What is the capital of Georgia?',
  'query_string': "SELECT capital FROM country WHERE name = 'Georgia'",
  'type': 'medium',
  'total_tokens': 5701,
  'prompt_tokens': 5691,
  'completion_tokens': 10,
  'total_cost': 0.17132999999999998,
  'time': 2.070272922515869},
 {'id': '11',
  'question': 'How many provinces have areas greater than 1000 in Niger?',
  'query_string': "SELECT COUNT(*) FROM province WHERE country = 'NER' AND area > 1000",
  'type': 'complex',
  'total_tokens': 5714,
  'prompt_tokens': 5697,
  'completion_tokens': 17,
  'total_cost': 0.17193,
  'time': 2.290177822113037},
 {'id': '12',
  'question': 'Tell me about the country with the area largest.',
  'query_string': 'SELECT name, area FROM country ORDER BY area DESC FETCH FIRST 1 ROWS ONLY',
  'type': 'medium',
  'total_tokens': 5711,
  'prompt_tokens': 5694,
  'completion_tokens': 17,
  'total_cost': 0.17184,
  'time': 2.6938326358795166},
 {'id': '13',
  'question': 'What is the host province and year of establishment of the organization "International Energy Agency"?',
  'query_string': "SELECT province, established \nFROM organization \nWHERE name = 'International Energy Agency'",
  'type': 'medium',
  'total_tokens': 5718,
  'prompt_tokens': 5702,
  'completion_tokens': 16,
  'total_cost': 0.17201999999999998,
  'time': 2.433852434158325},
 {'id': '14',
  'question': 'Find the name of all mountains whose elevation is higher than 1000.',
  'query_string': 'SELECT name FROM mountain WHERE elevation > 1000',
  'type': 'medium',
  'total_tokens': 5709,
  'prompt_tokens': 5699,
  'completion_tokens': 10,
  'total_cost': 0.17156999999999997,
  'time': 3.188678741455078},
 {'id': '15',
  'question': 'Tell me the economy of the Caribbean Sea.',
  'query_string': "SELECT e.gdp, e.agriculture, e.service, e.industry, e.inflation, e.unemployment \nFROM economy e \nJOIN country c ON e.country = c.code \nJOIN geo_sea gs ON c.code = gs.country \nWHERE gs.sea = 'Caribbean Sea';",
  'type': 'medium',
  'total_tokens': 5754,
  'prompt_tokens': 5693,
  'completion_tokens': 61,
  'total_cost': 0.17444999999999997,
  'time': 5.845061779022217},
 {'id': '16',
  'question': 'Show the cities with longitude between 0 and 6.',
  'query_string': 'SELECT name FROM city WHERE longitude BETWEEN 0 AND 6 FETCH FIRST 5 ROWS ONLY;',
  'type': 'simple',
  'total_tokens': 5716,
  'prompt_tokens': 5696,
  'completion_tokens': 20,
  'total_cost': 0.17207999999999998,
  'time': 3.383429527282715},
 {'id': '17',
  'question': 'Select cities whose population is greater than 100000, altitude greater than 2500, and the country you belong to has population growth greater than 1.',
  'query_string': 'SELECT city.name, city.population, city.elevation, country.name, population.population_growth\nFROM city \nJOIN country ON city.country = country.code\nJOIN population ON country.code = population.country\nWHERE city.population > 100000 AND city.elevation > 2500 AND population.population_growth > 1\nFETCH FIRST 5 ROWS ONLY;',
  'type': 'complex',
  'total_tokens': 5786,
  'prompt_tokens': 5716,
  'completion_tokens': 70,
  'total_cost': 0.17568,
  'time': 6.226008653640747},
 {'id': '18',
  'question': 'Show all the different types of government.',
  'query_string': 'SELECT DISTINCT government FROM politics',
  'type': 'simple',
  'total_tokens': 5697,
  'prompt_tokens': 5692,
  'completion_tokens': 5,
  'total_cost': 0.17106,
  'time': 1.6744356155395508},
 {'id': '19',
  'question': 'List all provinces in Germany',
  'query_string': "SELECT name FROM province WHERE country = 'DEU'",
  'type': 'medium',
  'total_tokens': 5701,
  'prompt_tokens': 5690,
  'completion_tokens': 11,
  'total_cost': 0.17136,
  'time': 1.6181640625},
 {'id': '20',
  'question': 'What is the percentage of mulatto ethnicity in Brazil?',
  'query_string': "SELECT percentage FROM ethnicgroup WHERE country = 'BR' AND name = 'Mulatto';",
  'type': 'complex',
  'total_tokens': 5713,
  'prompt_tokens': 5695,
  'completion_tokens': 18,
  'total_cost': 0.17193,
  'time': 2.0419604778289795},
 {'id': '21',
  'question': 'How many cities have populations less than 1000?',
  'query_string': 'SELECT COUNT(*) FROM city WHERE population < 1000',
  'type': 'simple',
  'total_tokens': 5706,
  'prompt_tokens': 5695,
  'completion_tokens': 11,
  'total_cost': 0.17151,
  'time': 2.330535411834717},
 {'id': '22',
  'question': 'What is the average elevation of airports in America?',
  'query_string': "SELECT AVG(elevation) FROM airport WHERE country = 'USA'",
  'type': 'complex',
  'total_tokens': 5707,
  'prompt_tokens': 5694,
  'completion_tokens': 13,
  'total_cost': 0.1716,
  'time': 1.305774211883545},
 {'id': '23',
  'question': 'How many countries are adjacent to (or ecompassed by) the Caribbean Sea?',
  'query_string': "SELECT COUNT(DISTINCT country) FROM geo_sea WHERE sea = 'Caribbean Sea'",
  'type': 'medium',
  'total_tokens': 5720,
  'prompt_tokens': 5701,
  'completion_tokens': 19,
  'total_cost': 0.17217,
  'time': 3.3444151878356934},
 {'id': '24',
  'question': 'How much area do the countries that are adjacent to (or encompassed by) the Caribbean Sea cover in total?',
  'query_string': "SELECT SUM(country.area) AS total_area\nFROM country\nJOIN geo_sea ON country.code = geo_sea.country\nWHERE geo_sea.sea = 'Caribbean Sea'",
  'type': 'complex',
  'total_tokens': 5744,
  'prompt_tokens': 5707,
  'completion_tokens': 37,
  'total_cost': 0.17343,
  'time': 4.338015079498291},
 {'id': '25',
  'question': 'For all countries, give the sum of the population of all its neighbors',
  'query_string': 'SELECT b.country1, SUM(c.population) as total_population\nFROM borders b\nJOIN country c ON b.country2 = c.code\nGROUP BY b.country1',
  'type': 'medium',
  'total_tokens': 5732,
  'prompt_tokens': 5699,
  'completion_tokens': 33,
  'total_cost': 0.17295,
  'time': 2.571706533432007},
 {'id': '26',
  'question': 'What mountains are on the island of Borneo?',
  'query_string': "SELECT mountain FROM geo_mountain WHERE island = 'Borneo';",
  'type': 'simple',
  'total_tokens': 5709,
  'prompt_tokens': 5695,
  'completion_tokens': 14,
  'total_cost': 0.17169,
  'time': 2.222891330718994},
 {'id': '27',
  'question': 'Provide the name and total population of the country with the smallest area.',
  'query_string': 'SELECT name, population FROM country ORDER BY area ASC FETCH FIRST 1 ROWS ONLY',
  'type': 'simple',
  'total_tokens': 5715,
  'prompt_tokens': 5698,
  'completion_tokens': 17,
  'total_cost': 0.17196,
  'time': 3.114992380142212},
 {'id': '28',
  'question': 'The codes of all countries for which at least one river that originates in this country has its estuary in a neighboring country.',
  'query_string': 'SELECT DISTINCT r.country \nFROM river r \nJOIN borders b ON r.country = b.country1 \nWHERE r.sea IN (SELECT sea FROM geo_sea WHERE country = b.country2)\nFETCH FIRST 5 ROWS ONLY;',
  'type': 'complex',
  'total_tokens': 5756,
  'prompt_tokens': 5709,
  'completion_tokens': 47,
  'total_cost': 0.17408999999999997,
  'time': 4.536136627197266},
 {'id': '29',
  'question': 'The codes of all countries where at least one mountain is located in each of their provinces',
  'query_string': 'SELECT DISTINCT country \nFROM geo_mountain \nGROUP BY country \nHAVING COUNT(DISTINCT province) = (SELECT COUNT(*) FROM province WHERE country = geo_mountain.country)',
  'type': 'complex',
  'total_tokens': 5738,
  'prompt_tokens': 5702,
  'completion_tokens': 36,
  'total_cost': 0.17321999999999999,
  'time': 4.527061700820923},
 {'id': '30',
  'question': 'The code and total border lengths of all countries with at least one border.',
  'query_string': 'SELECT country1 AS country_code, SUM(length) AS total_border_length\nFROM borders\nGROUP BY country1\nHAVING COUNT(country2) >= 1\nFETCH FIRST 5 ROWS ONLY',
  'type': 'complex',
  'total_tokens': 5739,
  'prompt_tokens': 5699,
  'completion_tokens': 40,
  'total_cost': 0.17337,
  'time': 5.732334852218628},
 {'id': '31',
  'question': 'The names and codes of all countries in which at least one river originates.',
  'query_string': 'SELECT DISTINCT country.name, country.code\nFROM country\nJOIN geo_source ON country.code = geo_source.country\nORDER BY country.name\nFETCH FIRST 5 ROWS ONLY;',
  'type': 'medium',
  'total_tokens': 5734,
  'prompt_tokens': 5699,
  'completion_tokens': 35,
  'total_cost': 0.17306999999999997,
  'time': 4.565550327301025},
 {'id': '32',
  'question': 'What is the area and country of the Chatanga River?',
  'query_string': "SELECT r.area, g.country \nFROM river r \nJOIN geo_river g ON r.name = g.river \nWHERE r.name = 'Chatanga River'",
  'type': 'simple',
  'total_tokens': 5729,
  'prompt_tokens': 5696,
  'completion_tokens': 33,
  'total_cost': 0.17285999999999999,
  'time': 3.8868138790130615},
 {'id': '33',
  'question': 'Show the Airports with elevation more than 3000',
  'query_string': 'SELECT iatacode, name, elevation FROM airport WHERE elevation > 3000 FETCH FIRST 5 ROWS ONLY',
  'type': 'simple',
  'total_tokens': 5719,
  'prompt_tokens': 5696,
  'completion_tokens': 23,
  'total_cost': 0.17225999999999997,
  'time': 3.059882164001465},
 {'id': '34',
  'question': 'What are the religions practiced in Mexico?',
  'query_string': "SELECT name, percentage FROM religion WHERE country = (SELECT code FROM country WHERE name = 'Mexico')",
  'type': 'medium',
  'total_tokens': 5712,
  'prompt_tokens': 5692,
  'completion_tokens': 20,
  'total_cost': 0.17196,
  'time': 3.182417869567871},
 {'id': '35',
  'question': 'Show all rivers that do not flow into the sea.',
  'query_string': 'SELECT name FROM river WHERE sea IS NULL FETCH FIRST 5 ROWS ONLY',
  'type': 'medium',
  'total_tokens': 5710,
  'prompt_tokens': 5695,
  'completion_tokens': 15,
  'total_cost': 0.17175,
  'time': 3.0322265625},
 {'id': '36',
  'question': 'List African countries by number of neighbors.',
  'query_string': "SELECT country1 AS country, COUNT(country2) AS number_of_neighbors\nFROM borders\nWHERE country1 IN (SELECT country FROM encompasses WHERE continent = 'Africa')\nGROUP BY country1\nORDER BY number_of_neighbors DESC\nFETCH FIRST 5 ROWS ONLY;",
  'type': 'complex',
  'total_tokens': 5745,
  'prompt_tokens': 5692,
  'completion_tokens': 53,
  'total_cost': 0.17393999999999998,
  'time': 4.849982261657715},
 {'id': '37',
  'question': 'What is the average infant mortality rate for each continent?',
  'query_string': 'SELECT E.continent, AVG(P.infant_mortality) as avg_infant_mortality\nFROM encompasses E\nJOIN country C ON E.country = C.code\nJOIN population P ON C.code = P.country\nGROUP BY E.continent',
  'type': 'simple',
  'total_tokens': 5743,
  'prompt_tokens': 5695,
  'completion_tokens': 48,
  'total_cost': 0.17373,
  'time': 5.666620254516602},
 {'id': '38',
  'question': 'What is the average mortality rate of the countries in America without considering Brazil?',
  'query_string': "SELECT AVG(infant_mortality) \nFROM population \nWHERE country IN (\n    SELECT country \n    FROM encompasses \n    WHERE continent = 'America' \n    AND country != 'BR'\n)",
  'type': 'complex',
  'total_tokens': 5738,
  'prompt_tokens': 5699,
  'completion_tokens': 39,
  'total_cost': 0.17331,
  'time': 4.952755451202393},
 {'id': '39',
  'question': 'List seas with area greater than 8000 and depth less than 100.',
  'query_string': 'SELECT name, area, depth FROM sea WHERE area > 8000 AND depth < 100 FETCH FIRST 5 ROWS ONLY;',
  'type': 'simple',
  'total_tokens': 5727,
  'prompt_tokens': 5700,
  'completion_tokens': 27,
  'total_cost': 0.17262,
  'time': 4.184410572052002},
 {'id': '40',
  'question': 'How many mountains are there in Asia?',
  'query_string': "SELECT COUNT(*) AS mountain_count\nFROM mountain\nJOIN geo_mountain ON mountain.name = geo_mountain.mountain\nJOIN province ON geo_mountain.province = province.name AND geo_mountain.country = province.country\nJOIN encompasses ON province.country = encompasses.country\nWHERE encompasses.continent = 'Asia'",
  'type': 'complex',
  'total_tokens': 5753,
  'prompt_tokens': 5692,
  'completion_tokens': 61,
  'total_cost': 0.17442,
  'time': 4.080047130584717},
 {'id': '41',
  'question': 'What are the countries that are close to the Mediterranean Sea?',
  'query_string': "SELECT country FROM geo_sea WHERE sea = 'Mediterranean Sea'",
  'type': 'complex',
  'total_tokens': 5712,
  'prompt_tokens': 5696,
  'completion_tokens': 16,
  'total_cost': 0.17183999999999996,
  'time': 2.3543293476104736},
 {'id': '42',
  'question': 'Show the total for each type of government.',
  'query_string': 'SELECT government, COUNT(*) as total FROM politics GROUP BY government',
  'type': 'simple',
  'total_tokens': 5705,
  'prompt_tokens': 5693,
  'completion_tokens': 12,
  'total_cost': 0.17150999999999997,
  'time': 2.7091774940490723},
 {'id': '43',
  'question': 'Which province has the largest desert in the world?',
  'query_string': 'SELECT geo_desert.province\nFROM geo_desert\nJOIN desert ON geo_desert.desert = desert.name\nORDER BY desert.area DESC\nFETCH FIRST 1 ROWS ONLY',
  'type': 'simple',
  'total_tokens': 5731,
  'prompt_tokens': 5694,
  'completion_tokens': 37,
  'total_cost': 0.17304,
  'time': 2.835728645324707},
 {'id': '44',
  'question': 'What is the largest desert in the world?',
  'query_string': 'SELECT name, MAX(area) FROM desert',
  'type': 'simple',
  'total_tokens': 5701,
  'prompt_tokens': 5693,
  'completion_tokens': 8,
  'total_cost': 0.17126999999999998,
  'time': 1.0284912586212158},
 {'id': '45',
  'question': 'List, for all continents, the amount of deserts on each.',
  'query_string': 'SELECT continent.name AS continent, COUNT(desert.name) AS desert_count\nFROM continent\nJOIN geo_desert ON continent.name = geo_desert.continent\nJOIN desert ON geo_desert.desert = desert.name\nGROUP BY continent.name',
  'type': 'complex',
  'total_tokens': 5746,
  'prompt_tokens': 5698,
  'completion_tokens': 48,
  'total_cost': 0.17382,
  'time': 2.9520468711853027},
 {'id': '46',
  'question': 'What are the neighboring seas of the Banda Sea?',
  'query_string': "SELECT sea2 as neighboring_sea FROM mergeswith WHERE sea1 = 'Banda Sea'",
  'type': 'medium',
  'total_tokens': 5714,
  'prompt_tokens': 5695,
  'completion_tokens': 19,
  'total_cost': 0.17199,
  'time': 2.0654866695404053},
 {'id': '47',
  'question': 'List all the capitals of European countries.',
  'query_string': "SELECT country.name, country.capital \nFROM country \nJOIN encompasses ON country.code = encompasses.country \nWHERE encompasses.continent = 'Europe'",
  'type': 'medium',
  'total_tokens': 5720,
  'prompt_tokens': 5692,
  'completion_tokens': 28,
  'total_cost': 0.17243999999999998,
  'time': 3.0081658363342285},
 {'id': '48',
  'question': 'What percentage of people speak French in Andorra?',
  'query_string': "SELECT percentage FROM language WHERE country = (SELECT code FROM country WHERE name = 'Andorra') AND name = 'French'",
  'type': 'complex',
  'total_tokens': 5719,
  'prompt_tokens': 5694,
  'completion_tokens': 25,
  'total_cost': 0.17232,
  'time': 3.0583648681640625},
 {'id': '49',
  'question': 'Which rivers are longer than 1000 kilometers?',
  'query_string': 'SELECT name FROM river WHERE length > 1000',
  'type': 'complex',
  'total_tokens': 5704,
  'prompt_tokens': 5694,
  'completion_tokens': 10,
  'total_cost': 0.17142,
  'time': 2.2026150226593018},
 {'id': '50',
  'question': 'Which country had the lowest population growth?',
  'query_string': 'SELECT country, MIN(population_growth) as min_growth FROM population',
  'type': 'simple',
  'total_tokens': 5705,
  'prompt_tokens': 5692,
  'completion_tokens': 13,
  'total_cost': 0.17154,
  'time': 2.9359850883483887},
 {'id': '51',
  'question': 'List the name of capital cities for which we do not have data about the city in located',
  'query_string': 'SELECT capital FROM country WHERE capital NOT IN (SELECT city FROM located)',
  'type': 'complex',
  'total_tokens': 5717,
  'prompt_tokens': 5703,
  'completion_tokens': 14,
  'total_cost': 0.17193,
  'time': 2.117737054824829},
 {'id': '52',
  'question': 'What is the capital of the provice Andaluc�a?',
  'query_string': "SELECT capital FROM province WHERE name = 'Andalucía'",
  'type': 'simple',
  'total_tokens': 5711,
  'prompt_tokens': 5698,
  'completion_tokens': 13,
  'total_cost': 0.17172,
  'time': 1.5499217510223389},
 {'id': '53',
  'question': 'What is the abbreviation for the organization whose name is "General Confederation of Trade Unions"?',
  'query_string': "SELECT abbreviation FROM organization WHERE name = 'General Confederation of Trade Unions'",
  'type': 'simple',
  'total_tokens': 5720,
  'prompt_tokens': 5704,
  'completion_tokens': 16,
  'total_cost': 0.17207999999999998,
  'time': 1.2654757499694824},
 {'id': '54',
  'question': 'In which city is the organization with the abbreviation "UPU" ?',
  'query_string': "SELECT city FROM organization WHERE abbreviation = 'UPU'",

## Prompt Gerado pelo Langchain

In [12]:
sql_query_chain_prompt = query_chain.middle[0].template.format(table_info=db.get_table_info(), top_k=0, input="{input}")
print(sql_query_chain_prompt)

You are an Oracle SQL expert. Given an input question, first create a syntactically correct Oracle SQL query to run, then look at the results of the query and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, don't query for at 0 most results or any using the FETCH FIRST n ROWS ONLY clause as per Oracle SQL. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use TRUNC(SYSDATE) function to get the current date, if the question involves "today".

Some hints:
- Don't use dounle quotes in column name
-
Example:
`SELECT "column_name" FROM table` should be `SELECT column_name FROM table`
- Don't use LEFT JOIN, only JOIN

Use the following format:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here

Only use the following tables:

CREATE TABLE airport (
	iatacode VARCHAR(3 CHAR) NOT NULL,
	name VARCHAR(100 CHAR),
	country VARCHAR(4 CHAR),
	city VARCHAR(50 CHAR),
	province VARCHAR(50 CHAR),
	island VARCHAR(50 CHAR),
	latitude NUMBER,
	longitude NUMBER,
	elevation NUMBER,
	gmtoffset NUMBER,
	CONSTRAINT sys_c00163097 PRIMARY KEY (iatacode),
	CONSTRAINT airport_city_province_fk FOREIGN KEY(city, country, province) REFERENCES city (name, country, province),
	CONSTRAINT airport_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT airport_island_fk FOREIGN KEY(island) REFERENCES island (name),
	CONSTRAINT airport_province_country_fk FOREIGN KEY(province, country) REFERENCES province (name, country),
	CONSTRAINT airplat CHECK ((Latitude >= -90) AND (Latitude <= 90)),
	CONSTRAINT airplon CHECK ((Longitude >= -180) AND (Longitude <= 180))
)


CREATE TABLE borders (
	country1 VARCHAR(4 CHAR) NOT NULL,
	country2 VARCHAR(4 CHAR) NOT NULL,
	length NUMBER,
	CONSTRAINT borderkey PRIMARY KEY (country1, country2),
	CONSTRAINT borders_country1_fk FOREIGN KEY(country1) REFERENCES country (code),
	CONSTRAINT borders_country2_fk FOREIGN KEY(country2) REFERENCES country (code),
	CONSTRAINT sys_c00162792 CHECK (Length > 0)
)


CREATE TABLE city (
	name VARCHAR(50 CHAR) NOT NULL,
	country VARCHAR(4 CHAR) NOT NULL,
	province VARCHAR(50 CHAR) NOT NULL,
	population NUMBER,
	latitude NUMBER,
	longitude NUMBER,
	elevation NUMBER,
	CONSTRAINT citykey PRIMARY KEY (name, country, province),
	CONSTRAINT city_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT city_province_country_fk FOREIGN KEY(province, country) REFERENCES province (name, country),
	CONSTRAINT citylat CHECK ((Latitude >= -90) AND (Latitude <= 90)),
	CONSTRAINT citylon CHECK ((Longitude >= -180) AND (Longitude <= 180)),
	CONSTRAINT citypop CHECK (Population >= 0)
)


CREATE TABLE citylocalname (
	city VARCHAR(50 CHAR) NOT NULL,
	country VARCHAR(4 CHAR) NOT NULL,
	province VARCHAR(50 CHAR) NOT NULL,
	localname VARCHAR(300 CHAR),
	CONSTRAINT citylocalnamekey PRIMARY KEY (country, province, city),
	CONSTRAINT citylocalname_city_province_fk FOREIGN KEY(city, country, province) REFERENCES city (name, country, province),
	CONSTRAINT citylocalname_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT citylocalname_province_country_fk FOREIGN KEY(province, country) REFERENCES province (name, country)
)


CREATE TABLE cityothername (
	city VARCHAR(50 CHAR) NOT NULL,
	country VARCHAR(4 CHAR) NOT NULL,
	province VARCHAR(50 CHAR) NOT NULL,
	othername VARCHAR(50 CHAR) NOT NULL,
	CONSTRAINT cityothernamekey PRIMARY KEY (country, province, city, othername),
	CONSTRAINT cityothername_city_province_fk FOREIGN KEY(city, country, province) REFERENCES city (name, country, province),
	CONSTRAINT cityothername_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT cityothername_province_country_fk FOREIGN KEY(province, country) REFERENCES province (name, country)
)


CREATE TABLE citypops (
	city VARCHAR(50 CHAR) NOT NULL,
	country VARCHAR(4 CHAR) NOT NULL,
	province VARCHAR(50 CHAR) NOT NULL,
	year NUMBER NOT NULL,
	population NUMBER,
	CONSTRAINT citypopkey PRIMARY KEY (country, province, city, year),
	CONSTRAINT citypops_city_province_fk FOREIGN KEY(city, country, province) REFERENCES city (name, country, province),
	CONSTRAINT citypops_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT citypops_province_country_fk FOREIGN KEY(province, country) REFERENCES province (name, country),
	CONSTRAINT citypopspop CHECK (Population >= 0),
	CONSTRAINT citypopsyear CHECK (Year >= 0)
)


CREATE TABLE continent (
	name VARCHAR(20 CHAR) NOT NULL,
	area NUMBER(10, 0),
	CONSTRAINT continentkey PRIMARY KEY (name)
)


CREATE TABLE country (
	name VARCHAR(50 CHAR) NOT NULL,
	code VARCHAR(4 CHAR) NOT NULL,
	capital VARCHAR(50 CHAR),
	province VARCHAR(50 CHAR),
	area NUMBER,
	population NUMBER,
	CONSTRAINT countrykey PRIMARY KEY (code),
	CONSTRAINT countryarea CHECK (Area >= 0),
	CONSTRAINT countrypop CHECK (Population >= 0)
)


CREATE TABLE countrylocalname (
	country VARCHAR(4 CHAR) NOT NULL,
	localname VARCHAR(300 CHAR),
	CONSTRAINT countrylocalnamekey PRIMARY KEY (country),
	CONSTRAINT countrylocalname_country_fk FOREIGN KEY(country) REFERENCES country (code)
)


CREATE TABLE countryothername (
	country VARCHAR(4 CHAR) NOT NULL,
	othername VARCHAR(50 CHAR) NOT NULL,
	CONSTRAINT countryothernamekey PRIMARY KEY (country, othername),
	CONSTRAINT countryothername_country_fk FOREIGN KEY(country) REFERENCES country (code)
)


CREATE TABLE countrypops (
	country VARCHAR(4 CHAR) NOT NULL,
	year NUMBER NOT NULL,
	population NUMBER,
	CONSTRAINT countrypopskey PRIMARY KEY (country, year),
	CONSTRAINT countrypops_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT countrypopspop CHECK (Population >= 0),
	CONSTRAINT countrypopsyear CHECK (Year >= 0)
)


CREATE TABLE desert (
	name VARCHAR(50 CHAR) NOT NULL,
	area NUMBER,
	CONSTRAINT desertkey PRIMARY KEY (name),
	CONSTRAINT descoord CHECK ((Coordinates.Latitude >= -90) AND
            (Coordinates.Latitude <= 90) AND
            (Coordinates.Longitude > -180) AND
            (Coordinates.Longitude <= 180)),
	CONSTRAINT descoord CHECK ((Coordinates.Latitude >= -90) AND
            (Coordinates.Latitude <= 90) AND
            (Coordinates.Longitude > -180) AND
            (Coordinates.Longitude <= 180))
)


CREATE TABLE economy (
	country VARCHAR(4 CHAR) NOT NULL,
	gdp NUMBER,
	agriculture NUMBER,
	service NUMBER,
	industry NUMBER,
	inflation NUMBER,
	unemployment NUMBER,
	CONSTRAINT economykey PRIMARY KEY (country),
	CONSTRAINT economy_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT economygdp CHECK (GDP >= 0)
)


CREATE TABLE encompasses (
	country VARCHAR(4 CHAR) NOT NULL,
	continent VARCHAR(20 CHAR) NOT NULL,
	percentage NUMBER,
	CONSTRAINT encompasseskey PRIMARY KEY (country, continent),
	CONSTRAINT encompasses_continent_fk FOREIGN KEY(continent) REFERENCES continent (name),
	CONSTRAINT encompasses_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT sys_c00162796 CHECK ((Percentage > 0) AND (Percentage <= 100))
)


CREATE TABLE ethnicgroup (
	country VARCHAR(4 CHAR) NOT NULL,
	name VARCHAR(50 CHAR) NOT NULL,
	percentage NUMBER,
	CONSTRAINT ethnickey PRIMARY KEY (name, country),
	CONSTRAINT ethnic_group_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT ethnicpercent CHECK ((Percentage > 0) AND (Percentage <= 100))
)


CREATE TABLE geo_desert (
	desert VARCHAR(50 CHAR) NOT NULL,
	country VARCHAR(4 CHAR) NOT NULL,
	province VARCHAR(50 CHAR) NOT NULL,
	CONSTRAINT gdesertkey PRIMARY KEY (province, country, desert),
	CONSTRAINT geo_desert_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT geo_desert_desert_fk FOREIGN KEY(desert) REFERENCES desert (name),
	CONSTRAINT geo_desert_province_country_fk FOREIGN KEY(province, country) REFERENCES province (name, country)
)


CREATE TABLE geo_estuary (
	river VARCHAR(50 CHAR) NOT NULL,
	country VARCHAR(4 CHAR) NOT NULL,
	province VARCHAR(50 CHAR) NOT NULL,
	CONSTRAINT gestuarykey PRIMARY KEY (province, country, river),
	CONSTRAINT geo_estuary_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT geo_estuary_province_country_fk FOREIGN KEY(province, country) REFERENCES province (name, country),
	CONSTRAINT geo_estuary_river_fk FOREIGN KEY(river) REFERENCES river (name)
)


CREATE TABLE geo_island (
	island VARCHAR(50 CHAR) NOT NULL,
	country VARCHAR(4 CHAR) NOT NULL,
	province VARCHAR(50 CHAR) NOT NULL,
	CONSTRAINT gislandkey PRIMARY KEY (province, country, island),
	CONSTRAINT geo_island_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT geo_island_island_fk FOREIGN KEY(island) REFERENCES island (name),
	CONSTRAINT geo_island_province_country_fk FOREIGN KEY(province, country) REFERENCES province (name, country)
)


CREATE TABLE geo_lake (
	lake VARCHAR(50 CHAR) NOT NULL,
	country VARCHAR(4 CHAR) NOT NULL,
	province VARCHAR(50 CHAR) NOT NULL,
	CONSTRAINT glakekey PRIMARY KEY (province, country, lake),
	CONSTRAINT geo_lake_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT geo_lake_lake_fk FOREIGN KEY(lake) REFERENCES lake (name),
	CONSTRAINT geo_lake_province_country_fk FOREIGN KEY(province, country) REFERENCES province (name, country)
)


CREATE TABLE geo_mountain (
	mountain VARCHAR(50 CHAR) NOT NULL,
	country VARCHAR(4 CHAR) NOT NULL,
	province VARCHAR(50 CHAR) NOT NULL,
	CONSTRAINT gmountainkey PRIMARY KEY (province, country, mountain),
	CONSTRAINT geo_mountain_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT geo_mountain_mountain_fk FOREIGN KEY(mountain) REFERENCES mountain (name),
	CONSTRAINT geo_mountain_province_country_fk FOREIGN KEY(province, country) REFERENCES province (name, country)
)


CREATE TABLE geo_river (
	river VARCHAR(50 CHAR) NOT NULL,
	country VARCHAR(4 CHAR) NOT NULL,
	province VARCHAR(50 CHAR) NOT NULL,
	CONSTRAINT griverkey PRIMARY KEY (province, country, river),
	CONSTRAINT geo_river_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT geo_river_province_country_fk FOREIGN KEY(province, country) REFERENCES province (name, country),
	CONSTRAINT geo_river_river_fk FOREIGN KEY(river) REFERENCES river (name)
)


CREATE TABLE geo_sea (
	sea VARCHAR(50 CHAR) NOT NULL,
	country VARCHAR(4 CHAR) NOT NULL,
	province VARCHAR(50 CHAR) NOT NULL,
	CONSTRAINT gseakey PRIMARY KEY (province, country, sea),
	CONSTRAINT geo_sea_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT geo_sea_province_country_fk FOREIGN KEY(province, country) REFERENCES province (name, country),
	CONSTRAINT geo_sea_sea_fk FOREIGN KEY(sea) REFERENCES sea (name)
)


CREATE TABLE geo_source (
	river VARCHAR(50 CHAR) NOT NULL,
	country VARCHAR(4 CHAR) NOT NULL,
	province VARCHAR(50 CHAR) NOT NULL,
	CONSTRAINT gsourcekey PRIMARY KEY (province, country, river),
	CONSTRAINT geo_source_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT geo_source_province_country_fk FOREIGN KEY(province, country) REFERENCES province (name, country),
	CONSTRAINT geo_source_river_fk FOREIGN KEY(river) REFERENCES river (name)
)


CREATE TABLE island (
	name VARCHAR(50 CHAR) NOT NULL,
	islands VARCHAR(50 CHAR),
	area NUMBER,
	elevation NUMBER,
	type VARCHAR(15 CHAR),
	CONSTRAINT islandkey PRIMARY KEY (name),
	CONSTRAINT islandar CHECK (Area >= 0),
	CONSTRAINT islandcoord CHECK ((Coordinates.Latitude >= -90) AND
            (Coordinates.Latitude <= 90) AND
            (Coordinates.Longitude > -180) AND
            (Coordinates.Longitude <= 180)),
	CONSTRAINT islandcoord CHECK ((Coordinates.Latitude >= -90) AND
            (Coordinates.Latitude <= 90) AND
            (Coordinates.Longitude > -180) AND
            (Coordinates.Longitude <= 180))
)


CREATE TABLE islandin (
	island VARCHAR(50 CHAR),
	sea VARCHAR(50 CHAR),
	lake VARCHAR(50 CHAR),
	river VARCHAR(50 CHAR),
	CONSTRAINT islandin_island_fk FOREIGN KEY(island) REFERENCES island (name),
	CONSTRAINT islandin_lake_fk FOREIGN KEY(lake) REFERENCES lake (name),
	CONSTRAINT islandin_river_fk FOREIGN KEY(river) REFERENCES river (name),
	CONSTRAINT islandin_sea_fk FOREIGN KEY(sea) REFERENCES sea (name)
)


CREATE TABLE ismember (
	country VARCHAR(4 CHAR) NOT NULL,
	organization VARCHAR(12 CHAR) NOT NULL,
	type VARCHAR(60 CHAR) DEFAULT 'member',
	CONSTRAINT memberkey PRIMARY KEY (country, organization),
	CONSTRAINT ismember_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT ismember_organization_fk FOREIGN KEY(organization) REFERENCES organization (abbreviation)
)


CREATE TABLE lake (
	name VARCHAR(50 CHAR) NOT NULL,
	river VARCHAR(50 CHAR),
	area NUMBER,
	elevation NUMBER,
	depth NUMBER,
	height NUMBER,
	type VARCHAR(12 CHAR),
	CONSTRAINT lakekey PRIMARY KEY (name),
	CONSTRAINT lake_river_fk FOREIGN KEY(river) REFERENCES river (name),
	CONSTRAINT damheight CHECK (Height > 0),
	CONSTRAINT lakear CHECK (Area >= 0),
	CONSTRAINT lakecoord CHECK ((Coordinates.Latitude >= -90) AND
            (Coordinates.Latitude <= 90) AND
            (Coordinates.Longitude > -180) AND
            (Coordinates.Longitude <= 180)),
	CONSTRAINT lakecoord CHECK ((Coordinates.Latitude >= -90) AND
            (Coordinates.Latitude <= 90) AND
            (Coordinates.Longitude > -180) AND
            (Coordinates.Longitude <= 180)),
	CONSTRAINT lakedpth CHECK (Depth >= 0)
)


CREATE TABLE lakeonisland (
	lake VARCHAR(50 CHAR) NOT NULL,
	island VARCHAR(50 CHAR) NOT NULL,
	CONSTRAINT lakeislkey PRIMARY KEY (lake, island),
	CONSTRAINT lakeonisland_island_fk FOREIGN KEY(island) REFERENCES island (name),
	CONSTRAINT lakeonisland_lake_fk FOREIGN KEY(lake) REFERENCES lake (name)
)


CREATE TABLE language (
	country VARCHAR(4 CHAR) NOT NULL,
	name VARCHAR(50 CHAR) NOT NULL,
	percentage NUMBER,
	CONSTRAINT languagekey PRIMARY KEY (name, country),
	CONSTRAINT language_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT languagepercent CHECK ((Percentage > 0) AND (Percentage <= 100))
)


CREATE TABLE located (
	city VARCHAR(50 CHAR),
	province VARCHAR(50 CHAR),
	country VARCHAR(4 CHAR),
	river VARCHAR(50 CHAR),
	lake VARCHAR(50 CHAR),
	sea VARCHAR(50 CHAR),
	CONSTRAINT located_city_province_fk FOREIGN KEY(city, country, province) REFERENCES city (name, country, province),
	CONSTRAINT located_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT located_lake_fk FOREIGN KEY(lake) REFERENCES lake (name),
	CONSTRAINT located_province_country_fk FOREIGN KEY(province, country) REFERENCES province (name, country),
	CONSTRAINT located_river_fk FOREIGN KEY(river) REFERENCES river (name),
	CONSTRAINT located_sea_fk FOREIGN KEY(sea) REFERENCES sea (name)
)


CREATE TABLE locatedon (
	city VARCHAR(50 CHAR) NOT NULL,
	province VARCHAR(50 CHAR) NOT NULL,
	country VARCHAR(4 CHAR) NOT NULL,
	island VARCHAR(50 CHAR) NOT NULL,
	CONSTRAINT locatedonkey PRIMARY KEY (city, province, country, island),
	CONSTRAINT locatedon_city_province_fk FOREIGN KEY(city, country, province) REFERENCES city (name, country, province),
	CONSTRAINT locatedon_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT locatedon_island_fk FOREIGN KEY(island) REFERENCES island (name),
	CONSTRAINT locatedon_province_country_fk FOREIGN KEY(province, country) REFERENCES province (name, country)
)


CREATE TABLE mergeswith (
	sea1 VARCHAR(50 CHAR) NOT NULL,
	sea2 VARCHAR(50 CHAR) NOT NULL,
	CONSTRAINT mergeswithkey PRIMARY KEY (sea1, sea2),
	CONSTRAINT mergeswith_sea1_fk FOREIGN KEY(sea1) REFERENCES sea (name),
	CONSTRAINT mergeswith_sea2_fk FOREIGN KEY(sea2) REFERENCES sea (name)
)


CREATE TABLE mountain (
	name VARCHAR(50 CHAR) NOT NULL,
	mountains VARCHAR(50 CHAR),
	elevation NUMBER,
	type VARCHAR(10 CHAR),
	CONSTRAINT mountainkey PRIMARY KEY (name),
	CONSTRAINT mountaincoord CHECK ((Coordinates.Latitude >= -90) AND
            (Coordinates.Latitude <= 90) AND
            (Coordinates.Longitude > -180) AND
            (Coordinates.Longitude <= 180)),
	CONSTRAINT mountaincoord CHECK ((Coordinates.Latitude >= -90) AND
            (Coordinates.Latitude <= 90) AND
            (Coordinates.Longitude > -180) AND
            (Coordinates.Longitude <= 180))
)


CREATE TABLE mountainonisland (
	mountain VARCHAR(50 CHAR) NOT NULL,
	island VARCHAR(50 CHAR) NOT NULL,
	CONSTRAINT mountainislkey PRIMARY KEY (mountain, island),
	CONSTRAINT mountainonisland_island_fk FOREIGN KEY(island) REFERENCES island (name),
	CONSTRAINT mountainonisland_mountain_fk FOREIGN KEY(mountain) REFERENCES mountain (name)
)


CREATE TABLE organization (
	abbreviation VARCHAR(12 CHAR) NOT NULL,
	name VARCHAR(100 CHAR) NOT NULL,
	city VARCHAR(50 CHAR),
	country VARCHAR(4 CHAR),
	province VARCHAR(50 CHAR),
	established DATE,
	CONSTRAINT orgkey PRIMARY KEY (abbreviation),
	CONSTRAINT organization_city_province_fk FOREIGN KEY(city, country, province) REFERENCES city (name, country, province),
	CONSTRAINT organization_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT organization_province_country_fk FOREIGN KEY(province, country) REFERENCES province (name, country)
)


CREATE TABLE politics (
	country VARCHAR(4 CHAR) NOT NULL,
	independence DATE,
	wasdependent VARCHAR(50 CHAR),
	dependent VARCHAR(4 CHAR),
	government VARCHAR(120 CHAR),
	CONSTRAINT politicskey PRIMARY KEY (country),
	CONSTRAINT politics_country_fk FOREIGN KEY(country) REFERENCES country (code)
)


CREATE TABLE population (
	country VARCHAR(4 CHAR) NOT NULL,
	population_growth NUMBER,
	infant_mortality NUMBER,
	CONSTRAINT popkey PRIMARY KEY (country),
	CONSTRAINT population_country_fk FOREIGN KEY(country) REFERENCES country (code)
)


CREATE TABLE province (
	name VARCHAR(50 CHAR) NOT NULL,
	country VARCHAR(4 CHAR) NOT NULL,
	population NUMBER,
	area NUMBER,
	capital VARCHAR(50 CHAR),
	capprov VARCHAR(50 CHAR),
	CONSTRAINT prkey PRIMARY KEY (name, country),
	CONSTRAINT province_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT prar CHECK (Area >= 0),
	CONSTRAINT prpop CHECK (Population >= 0)
)


CREATE TABLE provincelocalname (
	province VARCHAR(50 CHAR) NOT NULL,
	country VARCHAR(4 CHAR) NOT NULL,
	localname VARCHAR(300 CHAR),
	CONSTRAINT provlocalnamekey PRIMARY KEY (country, province),
	CONSTRAINT provincelocalname_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT provincelocalname_province_country_fk FOREIGN KEY(province, country) REFERENCES province (name, country)
)


CREATE TABLE provinceothername (
	province VARCHAR(50 CHAR) NOT NULL,
	country VARCHAR(4 CHAR) NOT NULL,
	othername VARCHAR(50 CHAR) NOT NULL,
	CONSTRAINT provothernamekey PRIMARY KEY (country, province, othername),
	CONSTRAINT provinceothername_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT provinceothername_province_country_fk FOREIGN KEY(province, country) REFERENCES province (name, country)
)


CREATE TABLE provpops (
	province VARCHAR(50 CHAR) NOT NULL,
	country VARCHAR(4 CHAR) NOT NULL,
	year NUMBER NOT NULL,
	population NUMBER,
	CONSTRAINT provpopkey PRIMARY KEY (country, province, year),
	CONSTRAINT provpops_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT provpops_province_country_fk FOREIGN KEY(province, country) REFERENCES province (name, country),
	CONSTRAINT provpopspop CHECK (Population >= 0),
	CONSTRAINT provpopsyear CHECK (Year >= 0)
)


CREATE TABLE religion (
	country VARCHAR(4 CHAR) NOT NULL,
	name VARCHAR(50 CHAR) NOT NULL,
	percentage NUMBER,
	CONSTRAINT religionkey PRIMARY KEY (name, country),
	CONSTRAINT religion_country_fk FOREIGN KEY(country) REFERENCES country (code),

#### Fixing queries

In [20]:
to_fix = [40,59,62,72,85,99]
for pos in to_fix:
    instance = queries[pos]
    q = read_queries()
    with get_openai_callback() as cb:
            start_time = time.time()
            sql_query = query_chain.invoke({"question":instance["question"]})
            end_time = time.time()
            instance["query_string"] = sql_query
            instance['total_tokens'] = cb.total_tokens
            instance['prompt_tokens'] = cb.prompt_tokens
            instance['completion_tokens'] = cb.completion_tokens
            instance['total_cost'] = cb.total_cost
            instance['time'] = end_time - start_time
            q[pos] = instance
            print(instance['id'], instance['question'], instance["query_string"], instance['time'], instance['total_cost'])
            save_queries(q)

41 How many countries that are close to the Mediterranean Sea? SELECT COUNT(DISTINCT country) FROM geo_sea WHERE sea = 'Mediterranean Sea' 1.341437578201294 0.17204999999999998
60  List the names of capital cities which are the base for organizations in alphabetical order SELECT DISTINCT city.name
FROM city
JOIN organization
ON city.name = organization.city
ORDER BY city.name ASC 3.0097904205322266 0.17234999999999998
63 Show the inflation rate of countries that are washed by the Arabian Sea SELECT c.name, e.inflation
FROM country c
JOIN economy e ON c.code = e.country
JOIN geo_sea gs ON c.code = gs.country
WHERE gs.sea = 'Arabian Sea' 3.581909418106079 0.17357999999999998
73 What area is the largest continent? SELECT name, MAX(area) as max_area FROM continent 2.2166857719421387 0.17132999999999998
86 What are the 3 airports with the largest name? SELECT name FROM airport ORDER BY LENGTH(name) DESC FETCH FIRST 3 ROWS ONLY 2.4312219619750977 0.17180999999999996
100 What is the percentage of industries in relation to Japan's economy? SELECT industry FROM economy WHERE country = (SELECT code FROM country WHERE name = 'Japan') 2.279900550842285 0.17193