In [ ]:

from dotenv import load_dotenv
import os
import sys
import json
import pandas as pd
import time
import datetime
load_dotenv()

path = os.path.abspath('')
module_path = os.path.join(path,'..\..')
print(module_path)
if module_path not in sys.path:
    sys.path.append(module_path+"\\functions")


from dataset_utils import DatasetEvaluator

In [2]:
DEFAULT_PATH = "results/"
EXPERIMENT_RESULT_PATH = f"{DEFAULT_PATH}sql_query_chain_result_files.txt"
EXPERIMENT = "SQLQueryChain"
TARGET_PATH = f"evaluator_results/{EXPERIMENT}_results.csv"
TARGET_PATH_FK = f"evaluator_results/{EXPERIMENT}_foreign_key_results.csv"

Funções úteis

In [3]:
def save_queries(queries, FILE_NAME_PATH):
    data = {"queries":queries}
    with open(FILE_NAME_PATH, "w") as arquivo_json:
        json.dump(data, arquivo_json, indent=4) 

def read_queries(FILE_NAME_PATH):
    with open(FILE_NAME_PATH, encoding="utf-8", errors="ignore") as json_data:
        data = json.load(json_data, strict=False)
    queries = data["queries"]
    return queries

def read_files():
    with open(EXPERIMENT_RESULT_PATH, "r") as f:
        files = f.readlines()
    files = [f"{DEFAULT_PATH}{x.strip()}" for x in files]
    return files

def get_schema(FILE_NAME_PATH):
    if "mondial_gpt" in FILE_NAME_PATH:
        return "mondial_gpt"
    elif "mondial" in FILE_NAME_PATH:
        return "mondial"

    return ""

def get_count_query_type(queries):
    count_types = {}
    for item in queries:
        type = item["type"]
        if type in count_types:
            count_types[type] += 1
        else:
            count_types[type] = 1
    count_types['total'] = len(queries)
    return count_types

def get_dataset_evaluator(FILE_NAME_PATH):
    SCHEMA = get_schema(FILE_NAME_PATH)  
    PREFIX = SCHEMA  
    if SCHEMA == "mondial_gpt":
        PREFIX = "mondial"
    print(PREFIX)
    print(SCHEMA)
    dataset_eval = DatasetEvaluator(dataset_file_path=f"../../datasets/{PREFIX}/{PREFIX}_dataset.json",
                                dataset_tables_path=f"../../datasets/{PREFIX}/result_tables/",
                                db_connection_file=f"../../datasets/{SCHEMA}_db_connection.json",
                                dataset_name=SCHEMA)
    return dataset_eval

def get_files_in_folder():
    files = []
    for r, d, f in os.walk(DEFAULT_PATH):
        for file in f:
            if '.json' in file and 'erro' not in file:
                files.append(os.path.join(r, file))
    return sorted(files)

def evaluate_query(queries, dataset_eval, FILE_NAME_PATH):
    result = {'simple': 0, 'medium': 0, 'complex': 0, 'total': 0}

    for q in queries:
        evaluate_result = False
        q['similarity'] = 0
        try:
            if q["query_string"].strip() != "":
                evaluate_result, similarity, column_matching_index = dataset_eval.evaluate_dataset_query(q["query_string"], q["id"], query_type="sql")
                q['column_matching_index'] = column_matching_index
                q['similarity']=similarity
            
        except Exception as e:
            print(str(e))
            
        q['result'] = evaluate_result
        
        if evaluate_result==True:
            result['total'] += 1
            result[q["type"]] += 1
        
    save_queries(queries, FILE_NAME_PATH)   
    return result

def get_file_name(FILE_NAME_PATH):
    parts = FILE_NAME_PATH.split("/")
    last_element = parts[-1]
    file_name = last_element.replace(".json", "")
    return file_name

def get_experiment_name(filename):
    schema = get_schema(filename).upper()
    experiment_name = f"{EXPERIMENT} - {schema}"
    if "chatgpt4" in filename:
        experiment_name += " - GPT-4"
    elif "chatgpt_" in filename:
        experiment_name += " - GPT-3.5"
    elif "llama" in filename:
        experiment_name += " - LLAMA"
    
    if "rag" in filename:
        experiment_name += " - RAG"
        
    if "turbo" in filename:
        experiment_name += " - Turbo"
                        
    if "instances" in filename:
        experiment_name += " - Passing database instances"
        
    if "_fk" in filename:
        experiment_name += " - FK"
        
    return experiment_name


def compute_cost(filename):
    queries = read_queries(filename)
    total_costs = 0
    total_tokens = 0
    input_tokens = 0
    output_tokens = 0
    for q in queries:
        total_tokens += q.get('total_tokens', 0)
        total_costs += q.get('total_cost', 0)
        input_tokens += q.get('prompt_tokens', 0)
        output_tokens += q.get('completion_tokens', 0)

    print(total_tokens)
    print(round(total_costs, 2))
    print(input_tokens, output_tokens)
    return total_tokens, round(total_costs, 2), input_tokens, output_tokens

def compute_time(filename):
    queries = read_queries(filename)
    total_time = 0
    for q in queries:
        total_time += q.get('time', 0)
    print(total_time)
    return str(datetime.timedelta(seconds=round(total_time)))

In [4]:
def run(result_files = [], result_final = [], compute_costs = True):
    
    if result_files == [] :
        result_files = get_files_in_folder()
    else:
        result_files = sorted(result_files)
        
    
    for file in result_files:
        queries = read_queries(file)
        dataset_eval = get_dataset_evaluator(file)
        count_query_type = get_count_query_type(queries)
        result = evaluate_query(queries, dataset_eval, file)
        
        overall_by_type = {}
        for item in result:
            overall_by_type[f"overall_{item}"] = round(result[item] / count_query_type[item], 4)
        
        result['experiment'] = get_file_name(file)
        result = {**result, **overall_by_type}
        result['total_tokens'], result['total_cost'], result['average_tokens_by_query'] = 0, 0, 0
        if compute_costs:
            result['total_tokens'], result['total_cost'], result['input_tokens'], result['output_tokens'] = compute_cost(file)

        result['total_time'] = compute_time(file)
        
        result_final.append(result)
        time.sleep(5)
    return result_final

## Validação com o mondial - Foreign Keys

In [9]:
results_fk = run([ 'results/9_sql_queries_chatgpt_mondial_gpt_fk.json',
 'results/10_sql_queries_chatgpt_mondial_gpt_fk_instances.json',
 'results/11_sql_queries_chatgpt4_mondial_gpt_fk_instances.json',
 'results/12_sql_queries_chatgpt4_mondial_gpt_fk.json'], [])

mondial
mondial_gpt
SELECT max(area) FROM mondial_country where name  = 'Thailand'
SELECT area FROM country WHERE name = 'Thailand'
True cols: Index(['MAX(AREA)'], dtype='object')
Adj. True cols: Index(['MAX(AREA)'], dtype='object')
Predicted cols: Index(['AREA'], dtype='object')
Adj. Predicted cols: Index(['AREA'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT name FROM mondial_province where area > 10000
SELECT name
FROM province
WHERE area > 10000
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index(['NAME'], dtype='object')
Predicted cols: Index(['NAME'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT mondial_language.name FROM mondial_language INNER JOIN mondial_country ON mondial_language.country = mondial_country.code WHERE mondial_country.name = 'Poland'
SELECT name
FROM language
WHERE country = 'PL'
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index(['NAME'], dtype='object')
Predicted cols: Index(['NAME'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT depth FROM mondial_lake where name LIKE '%Lake Kariba%'
SELECT depth FROM lake WHERE name = 'Lake Kariba'
True cols: Index(['DEPTH'], dtype='object')
Adj. True cols: Index(['DEPTH'], dtype='object')
Predicted cols: Index(['DEPTH'], dtype='object')
Adj. Predicted cols: Index(['DEPTH'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT count(*) FROM mondial_province p INNER JOIN mondial_country c ON p.country = c.code WHERE c.name = 'Netherlands'
SELECT COUNT(*) FROM province WHERE country = 'NL'
True cols: Index(['COUNT(*)'], dtype='object')
Adj. True cols: Index(['COUNT(*)'], dtype='object')
Predicted cols: Index(['COUNT(*)'], dtype='object')
Adj. Predicted cols: Index(['COUNT(*)'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT r.percentage FROM mondial_religion r INNER JOIN mondial_country c ON r.country = c.code WHERE c.name = 'Thailand' AND r.name LIKE '%Hindu%'
SELECT percentage
FROM religion
WHERE country = 'TH' AND name = 'Hindu'
True cols: Index(['PERCENTAGE'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['PERCENTAGE'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT river.name, COUNT(DISTINCT geo_river.province) FROM river JOIN geo_river ON river.name = geo_river.river GROUP BY river.name
SELECT r.name, COUNT(DISTINCT rt.province) AS num_provinces
FROM river r
JOIN riverthrough rt ON r.name = rt.river
GROUP BY r.name
Error: Execution failed on sql 'SELECT r.name, COUNT(DISTINCT rt.province) AS num_provinces
FROM river r
JOIN riverthrough rt ON r.name = rt.river
GROUP BY r.name': ORA-00904: "RT"."PROVINCE": invalid identifier
SELECT c.name FROM mondial_country c
INNER JOIN mondial_politics p ON c.code = p.country
WHERE independence > DATE '1910-08-01' AND independence < DATE '1950-08-01'
SELECT name
FROM politics
WHERE independence BETWEEN TO_DATE('8/1/1910', 'MM/DD/YYYY') AND TO_DATE('8/1/1950', 'MM/DD/YYYY')
Error: Execution failed on sql 'SELECT name
FROM politics
WHERE independence BETWEEN TO_DATE('8/1/1910', 'MM/DD/YYYY') AND TO_DATE('8/1/1950', 'MM/DD/YYYY')': ORA-00904: "NAME": invalid identifier
SELECT * FROM mondial_city ci INNER JOIN mondial_country c on ci.country = c.code where c.name = 'Cuba'
SELECT name
FROM city
WHERE country = 'CUB'
True cols: Index(['NAME', 'COUNTRY', 'PROVINCE', 'POPULATION', 'LATITUDE', 'LONGITUDE',
       'ELEVATION', 'META_REPCOL', 'NAME', 'CODE', 'CAPITAL', 'PROVINCE',
       'AREA', 'POPULATION', 'META_REPCOL'],
      dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['NAME'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT capital FROM mondial_country WHERE name = 'Georgia'
SELECT capital FROM country WHERE name = 'Georgia'
True cols: Index(['CAPITAL'], dtype='object')
Adj. True cols: Index(['CAPITAL'], dtype='object')
Predicted cols: Index(['CAPITAL'], dtype='object')
Adj. Predicted cols: Index(['CAPITAL'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT count(p.name) FROM mondial_province p INNER JOIN mondial_country c on p.country = c.code where c.name = 'Niger' AND p.area > 1000
SELECT COUNT(*) FROM province WHERE country = 'NER' AND area > 1000
True cols: Index(['COUNT(P.NAME)'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['COUNT(*)'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT name FROM mondial_country GROUP BY name ORDER BY max(area) DESC FETCH FIRST 1 ROWS ONLY;
SELECT name, area
FROM country
ORDER BY area DESC
FETCH FIRST 1 ROWS ONLY
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index(['NAME'], dtype='object')
Predicted cols: Index(['NAME', 'AREA'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT o.province, o.established  FROM mondial_organization o WHERE o.name LIKE '%International Energy Agency%'
SELECT province, established
FROM organization
WHERE name = 'International Energy Agency'
True cols: Index(['PROVINCE', 'ESTABLISHED'], dtype='object')
Adj. True cols: Index(['PROVINCE', 'ESTABLISHED'], dtype='object')
Predicted cols: Index(['PROVINCE', 'ESTABLISHED'], dtype='object')
Adj. Predicted cols: Index(['PROVINCE', 'ESTABLISHED'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT name FROM mondial_mountain WHERE elevation > 1000.0
SELECT name
FROM mountain
WHERE elevation > 1000
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index(['NAME'], dtype='object')
Predicted cols: Index(['NAME'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT DISTINCT e.* FROM mondial_economy e
INNER JOIN mondial_country c ON e.country = c.code
INNER JOIN mondial_geo_sea gs ON gs.country = c.code
INNER JOIN mondial_sea s ON s.name = gs.sea
WHERE s.name LIKE '%Caribbean Sea%'
SELECT e.gdp, e.agriculture, e.service, e.industry, e.inflation, e.unemployment
FROM economy e
JOIN sea s ON e.country = s.name
WHERE s.name = 'Caribbean Sea'
True cols: Index(['COUNTRY', 'GDP', 'AGRICULTURE', 'SERVICE', 'INDUSTRY', 'INFLATION',
       'UNEMPLOYMENT', 'META_REPCOL'],
      dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['GDP', 'AGRICULTURE', 'SERVICE', 'INDUSTRY', 'INFLATION',
       'UNEMPLOYMENT'],
      dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT name FROM mondial_city WHERE longitude BETWEEN 0 AND 6
SELECT name, longitude
FROM city
WHERE longitude BETWEEN 0 AND 6
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index(['NAME'], dtype='object')
Predicted cols: Index(['NAME', 'LONGITUDE'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT ci.name FROM mondial_city ci
INNER JOIN mondial_country c ON c.code = ci.country
INNER JOIN mondial_population p ON p.country = c.code
WHERE ci.population > 100000 AND ci.elevation > 2500 AND
p.population_growth > 1
SELECT city.name, city.population, city.elevation, country.population_growth
FROM city
JOIN country ON city.country = country.code
WHERE city.population > 100000
AND city.elevation > 2500
AND country.population_growth > 1
Error: Execution failed on sql 'SELECT city.name, city.population, city.elevation, country.population_growth
FROM city
JOIN country ON city.country = country.code
WHERE city.population > 100000
AND city.elevation > 2500
AND country.population_growth > 1': ORA-00904: "COUNTRY"."POPULATION_GROWTH": invalid identifier
SELECT DISTINCT government FROM mondial_politics
SELECT DISTINCT government FROM politics
True cols: Index(['GOVERNMENT'], dtype='object')
Adj. True cols: Index(['GOVERNMENT'], dtype='object')
Predicted cols: Index(['GOVERNMENT'], dtype='object')
Adj. Predicted cols: Index(['GOVERNMENT'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT p.name FROM mondial_province p INNER JOIN mondial_country c ON p.country = c.code  WHERE c.name = 'Germany'
SELECT name
FROM province
WHERE country = 'DE'
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['NAME'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT eg.percentage FROM mondial_ethnicgroup eg INNER JOIN mondial_country c ON c.code = eg.country WHERE c.name = 'Brazil' AND eg.name LIKE '%Mulatto%'
SELECT percentage
FROM ethnicgroup
WHERE country = 'BR' AND name = 'Mulatto'
True cols: Index(['PERCENTAGE'], dtype='object')
Adj. True cols: Index(['PERCENTAGE'], dtype='object')
Predicted cols: Index(['PERCENTAGE'], dtype='object')
Adj. Predicted cols: Index(['PERCENTAGE'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT count(*) FROM mondial_city WHERE population < 1000
SELECT COUNT(*) FROM city WHERE population < 1000
True cols: Index(['COUNT(*)'], dtype='object')
Adj. True cols: Index(['COUNT(*)'], dtype='object')
Predicted cols: Index(['COUNT(*)'], dtype='object')
Adj. Predicted cols: Index(['COUNT(*)'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT avg(a.elevation) FROM mondial_airport a
INNER JOIN mondial_country c ON c.code = a.country
INNER JOIN mondial_encompasses e ON e.country = c.code
INNER JOIN mondial_continent co ON co.name = e.continent
WHERE co.name = 'America'
SELECT AVG(elevation) FROM airport WHERE country = 'USA'
True cols: Index(['AVG(A.ELEVATION)'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['AVG(ELEVATION)'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT COUNT(DISTINCT ec.country) AS number_of_countries
FROM mondial_geo_sea gs
JOIN mondial_encompasses ec ON gs.country = ec.country
WHERE gs.sea = 'Caribbean Sea';
SELECT COUNT(*)
FROM encompasses
WHERE sea1 = 'Caribbean Sea' OR sea2 = 'Caribbean Sea'
Error: Execution failed on sql 'SELECT COUNT(*)
FROM encompasses
WHERE sea1 = 'Caribbean Sea' OR sea2 = 'Caribbean Sea'': ORA-00904: "SEA2": invalid identifier
SELECT SUM(DISTINCT c.area) AS total_area
FROM mondial_Country c
JOIN mondial_encompasses e ON c.code = e.country
JOIN mondial_geo_sea gs ON e.country = gs.country
WHERE gs.sea = 'Caribbean Sea';
SELECT SUM(c.area)
FROM country c
JOIN encompasses e ON c.code = e.country
JOIN sea s ON e.continent = s.name
WHERE s.name = 'Caribbean Sea'
True cols: Index(['TOTAL_AREA'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['SUM(C.AREA)'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT c.name AS country_name, SUM(c1.population) AS total_neighbor_population
FROM mondial_Country c
JOIN mondial_Borders b ON c.code = b.country1
JOIN mondial_Country c1 ON b.country2 = c1.code
GROUP BY c.name;
SELECT c1.name AS country, SUM(c2.population) AS neighbor_population
FROM country c1
JOIN borders b ON c1.code = b.country1
JOIN country c2 ON b.country2 = c2.code
GROUP BY c1.name
ORDER BY c1.name ASC
True cols: Index(['COUNTRY_NAME', 'TOTAL_NEIGHBOR_POPULATION'], dtype='object')
Adj. True cols: Index(['COUNTRY_NAME', 'TOTAL_NEIGHBOR_POPULATION'], dtype='object')
Predicted cols: Index(['COUNTRY', 'NEIGHBOR_POPULATION'], dtype='object')
Adj. Predicted cols: Index(['COUNTRY', 'NEIGHBOR_POPULATION'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT mountain FROM mondial_mountainonisland WHERE island LIKE '%Borneo%'
SELECT mountain
FROM mountainonisland
WHERE island = 'Borneo'
True cols: Index(['MOUNTAIN'], dtype='object')
Adj. True cols: Index(['MOUNTAIN'], dtype='object')
Predicted cols: Index(['MOUNTAIN'], dtype='object')
Adj. Predicted cols: Index(['MOUNTAIN'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT name, population FROM mondial_country ORDER BY area ASC FETCH FIRST 1 ROWS ONLY;
SELECT name, population
FROM country
WHERE area = (SELECT MIN(area) FROM country)
True cols: Index(['NAME', 'POPULATION'], dtype='object')
Adj. True cols: Index(['NAME', 'POPULATION'], dtype='object')
Predicted cols: Index(['NAME', 'POPULATION'], dtype='object')
Adj. Predicted cols: Index(['NAME', 'POPULATION'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT DISTINCT s.country
FROM mondial_geo_estuary e, mondial_borders b, mondial_geo_source s
WHERE ((e.country = b.country1 AND s.country = b.country2)
OR (e.country = b.country2 AND s.country = b.country1))
AND e.river = s.river;
SELECT DISTINCT c.code
FROM country c
JOIN river r ON c.code = r.country
JOIN geo_estuary ge ON r.name = ge.river
JOIN country nc ON ge.country = nc.code
WHERE c.code <> nc.code
ORDER BY c.code
Error: Execution failed on sql 'SELECT DISTINCT c.code
FROM country c
JOIN river r ON c.code = r.country
JOIN geo_estuary ge ON r.name = ge.river
JOIN country nc ON ge.country = nc.code
WHERE c.code <> nc.code
ORDER BY c.code': ORA-00904: "R"."COUNTRY": invalid identifier
SELECT code FROM mondial_country
WHERE code NOT IN (
SELECT p.country FROM (
SELECT name, country
FROM mondial_province
WHERE (name, country) NOT IN (SELECT province, country FROM mondial_geo_mountain)) p);
SELECT DISTINCT c.code
FROM country c
JOIN province p ON c.code = p.country
JOIN geo_mountain gm ON p.name = gm.province AND c.code = gm.country
GROUP BY c.code
HAVING COUNT(DISTINCT p.name) = (SELECT COUNT(DISTINCT province) FROM geo_mountain)
True cols: Index(['CODE'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['CODE'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT b.country1, sum(b.length)
FROM (SELECT country1, length FROM mondial_borders
UNION ALL
SELECT country2, length FROM mondial_borders
) b
GROUP BY b.country1;
SELECT c.name, SUM(b.length) AS total_border_length
FROM country c
JOIN borders b ON c.code = b.country1
GROUP BY c.name
True cols: Index(['COUNTRY1', 'SUM(B.LENGTH)'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['NAME', 'TOTAL_BORDER_LENGTH'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT DISTINCT c.name, c.code
FROM mondial_country c, mondial_geo_source g
WHERE c.code = g.country;
SELECT c.name, c.code
FROM country c
JOIN river r ON c.code = r.country
WHERE r.river IS NOT NULL
GROUP BY c.name, c.code
ORDER BY c.name ASC
Error: Execution failed on sql 'SELECT c.name, c.code
FROM country c
JOIN river r ON c.code = r.country
WHERE r.river IS NOT NULL
GROUP BY c.name, c.code
ORDER BY c.name ASC': ORA-00904: "R"."COUNTRY": invalid identifier
SELECT c.name, r.area FROM mondial_geo_river gr
INNER JOIN mondial_country c ON c.code = gr.country
INNER JOIN mondial_river r ON r.name = gr.river
WHERE r.name = 'Chatanga'
SELECT area, country
FROM river
WHERE name = 'Chatanga'
Error: Execution failed on sql 'SELECT area, country
FROM river
WHERE name = 'Chatanga'': ORA-00904: "COUNTRY": invalid identifier
SELECT name FROM mondial_airport WHERE elevation > 3000.0
SELECT name, elevation
FROM airport
WHERE elevation > 3000
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index(['NAME'], dtype='object')
Predicted cols: Index(['NAME', 'ELEVATION'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT r.name FROM mondial_religion r INNER JOIN mondial_country c ON c.code = r.country WHERE c.name = 'Mexico'
SELECT name
FROM religion
WHERE country = 'MEX'
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index(['NAME'], dtype='object')
Predicted cols: Index(['NAME'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT name FROM mondial_River WHERE sea IS NULL;
SELECT name
FROM river
WHERE sea IS NULL
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index(['NAME'], dtype='object')
Predicted cols: Index(['NAME'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT c.name, COUNT(b.country2) AS num_neighbors FROM mondial_country c INNER JOIN mondial_borders b ON c.code = b.country1
INNER JOIN mondial_encompasses e ON c.code = e.country
INNER JOIN mondial_continent co ON e.continent = co.name
WHERE co.name = 'Africa' GROUP BY c.name ORDER BY num_neighbors DESC;
SELECT c.name, COUNT(b.country2) AS num_neighbors
FROM country c
JOIN borders b ON c.code = b.country1
GROUP BY c.name
ORDER BY num_neighbors DESC;
True cols: Index(['NAME', 'NUM_NEIGHBORS'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['NAME', 'NUM_NEIGHBORS'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT c.name AS continent, AVG(p.infant_mortality) AS avg_infant_mortality
FROM mondial_continent c
JOIN mondial_encompasses e ON c.name = e.continent
JOIN mondial_population p ON e.country = p.country
GROUP BY c.name;
SELECT c.name, AVG(p.infant_mortality) AS average_infant_mortality
FROM continent c
JOIN country co ON c.name = co.continent
JOIN population p ON co.code = p.country
GROUP BY c.name
Error: Execution failed on sql 'SELECT c.name, AVG(p.infant_mortality) AS average_infant_mortality
FROM continent c
JOIN country co ON c.name = co.continent
JOIN population p ON co.code = p.country
GROUP BY c.name': ORA-00904: "CO"."CONTINENT": invalid identifier
SELECT AVG(p.infant_mortality) AS avg_infant_mortality
FROM mondial_Country c
JOIN mondial_Population p ON c.code = p.country
JOIN mondial_encompasses e ON c.code = e.country
JOIN mondial_Continent ct ON e.continent = ct.name
WHERE ct.name = 'America' AND c.name != 'Brazil';
SELECT AVG(infant_mortality)
FROM population
WHERE country IN (
    SELECT code
    FROM country
    WHERE continent = 'America'
    AND code != 'BRA'
)
Error: Execution failed on sql 'SELECT AVG(infant_mortality)
FROM population
WHERE country IN (
    SELECT code
    FROM country
    WHERE continent = 'America'
    AND code != 'BRA'
)': ORA-00904: "CONTINENT": invalid identifier
SELECT name FROM mondial_sea WHERE area > 8000 AND depth < 100
SELECT name
FROM sea
WHERE area > 8000 AND depth < 100
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index(['NAME'], dtype='object')
Predicted cols: Index(['NAME'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT count(DISTINCT m.name) FROM mondial_mountain m
INNER JOIN mondial_geo_mountain gm ON m.name = gm.mountain
INNER JOIN mondial_country c ON c.code = gm.country
INNER JOIN mondial_encompasses e ON e.country = c.code
INNER JOIN mondial_continent co ON co.name = e.continent
WHERE co.name = 'Asia'
SELECT COUNT(*) FROM mountain
JOIN mountainonisland ON mountain.name = mountainonisland.mountain
JOIN island ON mountainonisland.island = island.name
JOIN geo_island ON island.name = geo_island.island
JOIN country ON geo_island.country = country.code
JOIN continent ON country.continent = continent.name
WHERE continent.name = 'Asia'
Error: Execution failed on sql 'SELECT COUNT(*) FROM mountain
JOIN mountainonisland ON mountain.name = mountainonisland.mountain
JOIN island ON mountainonisland.island = island.name
JOIN geo_island ON island.name = geo_island.island
JOIN country ON geo_island.country = country.code
JOIN continent ON country.continent = continent.name

In [10]:
df = pd.DataFrame(results_fk, columns=['experiment', 'simple', 'medium', 'complex', 'total', 'overall_simple', 'overall_medium', 'overall_complex', 'overall_total','input_tokens', 'output_tokens', 'total_tokens','total_cost', 'total_time'])
df['experiment'] = df['experiment'].apply(get_experiment_name)
df = df.sort_values(by='overall_total', ascending=False)
df

,experiment,simple,medium,complex,total,overall_simple,overall_medium,overall_complex,overall_total,input_tokens,output_tokens,total_tokens,total_cost,total_time
1,SQLQueryChain - MONDIAL_GPT - GPT-4 - Passing ...,27,28,15,70,0.8182,0.8485,0.4412,0.70,782624,2527,785151,23.63,0:09:20
2,SQLQueryChain - MONDIAL_GPT - GPT-4 - FK,27,26,16,69,0.8182,0.7879,0.4706,0.69,569713,2643,572356,17.25,0:05:28
0,SQLQueryChain - MONDIAL_GPT - GPT-3.5 - Passin...,25,22,13,60,0.7576,0.6667,0.3824,0.60,782813,2501,785314,2.36,0:06:47
3,SQLQueryChain - MONDIAL_GPT - GPT-3.5 - FK,25,19,11,55,0.7576,0.5758,0.3235,0.55,569713,2563,572276,1.72,0:02:15

In [11]:
df.to_csv(TARGET_PATH_FK)

## Validação com o mondial - Foreign Keys + RAG

In [5]:
results_fk = run(['results/13_sql_queries_rag_chatgpt_mondial_gpt.json',
                  'results/14_sql_queries_rag_chatgpt4_mondial_gpt.json'], [])

mondial
mondial_gpt
SELECT max(area) FROM mondial_country where name  = 'Thailand'
SELECT area FROM mondial_country WHERE name = 'Thailand'
True cols: Index(['MAX(AREA)'], dtype='object')
Adj. True cols: Index(['MAX(AREA)'], dtype='object')
Predicted cols: Index(['AREA'], dtype='object')
Adj. Predicted cols: Index(['AREA'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT name FROM mondial_province where area > 10000
SELECT name
FROM mondial_province
WHERE area > 10000;
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index(['NAME'], dtype='object')
Predicted cols: Index(['NAME'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT mondial_language.name FROM mondial_language INNER JOIN mondial_country ON mondial_language.country = mondial_country.code WHERE mondial_country.name = 'Poland'
SELECT l.name
FROM mondial_language l
INNER JOIN mondial_country c ON l.country = c.code
WHERE c.name = 'Poland'
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index(['NAME'], dtype='object')
Predicted cols: Index(['NAME'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT depth FROM mondial_lake where name LIKE '%Lake Kariba%'
SELECT depth
FROM mondial_lake
WHERE name = 'Kariba'
True cols: Index(['DEPTH'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['DEPTH'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT count(*) FROM mondial_province p INNER JOIN mondial_country c ON p.country = c.code WHERE c.name = 'Netherlands'
SELECT COUNT(*)
FROM mondial_province
WHERE country = 'NLD'
True cols: Index(['COUNT(*)'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['COUNT(*)'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT r.percentage FROM mondial_religion r INNER JOIN mondial_country c ON r.country = c.code WHERE c.name = 'Thailand' AND r.name LIKE '%Hindu%'
SELECT r.percentage
FROM mondial_religion r
INNER JOIN mondial_country c
ON r.country = c.code
WHERE r.name = 'Hindu' AND c.name = 'Thailand'
True cols: Index(['PERCENTAGE'], dtype='object')
Adj. True cols: Index(['PERCENTAGE'], dtype='object')
Predicted cols: Index(['PERCENTAGE'], dtype='object')
Adj. Predicted cols: Index(['PERCENTAGE'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT river.name, COUNT(DISTINCT geo_river.province) FROM river JOIN geo_river ON river.name = geo_river.river GROUP BY river.name
SELECT r.name, COUNT(DISTINCT p.name) AS num_provinces
FROM mondial_river r
JOIN mondial_riverthrough rt ON r.name = rt.river
JOIN mondial_province p ON rt.province = p.name
GROUP BY r.name;
Error: Execution failed on sql 'SELECT r.name, COUNT(DISTINCT p.name) AS num_provinces
FROM mondial_river r
JOIN mondial_riverthrough rt ON r.name = rt.river
JOIN mondial_province p ON rt.province = p.name
GROUP BY r.name': ORA-00904: "RT"."PROVINCE": invalid identifier
SELECT c.name FROM mondial_country c
INNER JOIN mondial_politics p ON c.code = p.country
WHERE independence > DATE '1910-08-01' AND independence < DATE '1950-08-01'
SELECT name
FROM mondial_politics
WHERE independence BETWEEN TO_DATE('8/1/1910', 'MM/DD/YYYY') AND TO_DATE('8/1/1950', 'MM/DD/YYYY');
Error: Execution failed on sql 'SELECT name
FROM mondial_politics
WHERE independence BETWEEN TO_DATE('8/1/1910', 'MM/DD/YYYY') AND TO_DATE('8/1/1950', 'MM/DD/YYYY')': ORA-00904: "NAME": invalid identifier
SELECT * FROM mondial_city ci INNER JOIN mondial_country c on ci.country = c.code where c.name = 'Cuba'
SELECT name
FROM mondial_city
WHERE country = 'CUB'
True cols: Index(['NAME', 'COUNTRY', 'PROVINCE', 'POPULATION', 'LATITUDE', 'LONGITUDE',
       'ELEVATION', 'META_REPCOL', 'NAME', 'CODE', 'CAPITAL', 'PROVINCE',
       'AREA', 'POPULATION', 'META_REPCOL'],
      dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['NAME'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT capital FROM mondial_country WHERE name = 'Georgia'
SELECT capital FROM mondial_country WHERE name = 'Georgia'
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT count(p.name) FROM mondial_province p INNER JOIN mondial_country c on p.country = c.code where c.name = 'Niger' AND p.area > 1000
SELECT COUNT(*)
FROM mondial_province
WHERE country = 'NER' AND area > 1000;
True cols: Index(['COUNT(P.NAME)'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['COUNT(*)'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT name FROM mondial_country GROUP BY name ORDER BY max(area) DESC FETCH FIRST 1 ROWS ONLY;
SELECT name, capital, population, gdp, agriculture, service, industry, inflation, unemployment
FROM mondial_country
WHERE area = (
    SELECT MAX(area)
    FROM mondial_country
)
Error: Execution failed on sql 'SELECT name, capital, population, gdp, agriculture, service, industry, inflation, unemployment
FROM mondial_country
WHERE area = (
    SELECT MAX(area)
    FROM mondial_country
)': ORA-00904: "UNEMPLOYMENT": invalid identifier
SELECT o.province, o.established  FROM mondial_organization o WHERE o.name LIKE '%International Energy Agency%'
SELECT o.province, o.established
FROM mondial_organization o
WHERE o.name = 'International Energy Agency'
True cols: Index(['PROVINCE', 'ESTABLISHED'], dtype='object')
Adj. True cols: Index(['PROVINCE', 'ESTABLISHED'], dtype='object')
Predicted cols: Index(['PROVINCE', 'ESTABLISHED'], dtype='object')
Adj. Predicted cols: Index(['PROVINCE', 'ESTABLISHED'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT name FROM mondial_mountain WHERE elevation > 1000.0
SELECT name
FROM mondial_mountain
WHERE elevation > 1000;
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index(['NAME'], dtype='object')
Predicted cols: Index(['NAME'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT DISTINCT e.* FROM mondial_economy e
INNER JOIN mondial_country c ON e.country = c.code
INNER JOIN mondial_geo_sea gs ON gs.country = c.code
INNER JOIN mondial_sea s ON s.name = gs.sea
WHERE s.name LIKE '%Caribbean Sea%'
SELECT e.*
FROM mondial_economy e
INNER JOIN mondial_country c
ON c.code = e.country
INNER JOIN mondial_geo_sea gs
ON gs.country = c.code
INNER JOIN mondial_sea s
ON s.name = gs.sea
WHERE s.name = 'Caribbean Sea'
True cols: Index(['COUNTRY', 'GDP', 'AGRICULTURE', 'SERVICE', 'INDUSTRY', 'INFLATION',
       'UNEMPLOYMENT', 'META_REPCOL'],
      dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['COUNTRY', 'GDP', 'AGRICULTURE', 'SERVICE', 'INDUSTRY', 'INFLATION',
       'UNEMPLOYMENT', 'META_REPCOL'],
      dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT name FROM mondial_city WHERE longitude BETWEEN 0 AND 6
SELECT name
FROM mondial_city
WHERE longitude BETWEEN 0 AND 6;
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index(['NAME'], dtype='object')
Predicted cols: Index(['NAME'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT ci.name FROM mondial_city ci
INNER JOIN mondial_country c ON c.code = ci.country
INNER JOIN mondial_population p ON p.country = c.code
WHERE ci.population > 100000 AND ci.elevation > 2500 AND
p.population_growth > 1
SELECT c.name AS cityname, c.population, c.elevation, co.population_growth
FROM mondial_city c
JOIN mondial_country co ON c.country = co.code
WHERE c.population > 100000 AND c.elevation > 2500 AND co.population_growth > 1;
Error: Execution failed on sql 'SELECT c.name AS cityname, c.population, c.elevation, co.population_growth
FROM mondial_city c
JOIN mondial_country co ON c.country = co.code
WHERE c.population > 100000 AND c.elevation > 2500 AND co.population_growth > 1': ORA-00904: "CO"."POPULATION_GROWTH": invalid identifier
SELECT DISTINCT government FROM mondial_politics
SELECT DISTINCT government FROM mondial_politics
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT p.name FROM mondial_province p INNER JOIN mondial_country c ON p.country = c.code  WHERE c.name = 'Germany'
SELECT name FROM mondial_province WHERE country = 'DEU'
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['NAME'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT eg.percentage FROM mondial_ethnicgroup eg INNER JOIN mondial_country c ON c.code = eg.country WHERE c.name = 'Brazil' AND eg.name LIKE '%Mulatto%'
SELECT e.percentage
FROM mondial_ethnicgroup e
INNER JOIN mondial_country c
ON e.country = c.code
WHERE e.name = 'Mulatto' AND c.name = 'Brazil'
True cols: Index(['PERCENTAGE'], dtype='object')
Adj. True cols: Index(['PERCENTAGE'], dtype='object')
Predicted cols: Index(['PERCENTAGE'], dtype='object')
Adj. Predicted cols: Index(['PERCENTAGE'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT count(*) FROM mondial_city WHERE population < 1000
SELECT COUNT(*)
FROM mondial_city
WHERE population < 1000
True cols: Index(['COUNT(*)'], dtype='object')
Adj. True cols: Index(['COUNT(*)'], dtype='object')
Predicted cols: Index(['COUNT(*)'], dtype='object')
Adj. Predicted cols: Index(['COUNT(*)'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT avg(a.elevation) FROM mondial_airport a
INNER JOIN mondial_country c ON c.code = a.country
INNER JOIN mondial_encompasses e ON e.country = c.code
INNER JOIN mondial_continent co ON co.name = e.continent
WHERE co.name = 'America'
SELECT AVG(elevation)
FROM mondial_airport a
INNER JOIN mondial_country c
ON c.code = a.country
WHERE c.name = 'America';
True cols: Index(['AVG(A.ELEVATION)'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['AVG(ELEVATION)'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT COUNT(DISTINCT ec.country) AS number_of_countries
FROM mondial_geo_sea gs
JOIN mondial_encompasses ec ON gs.country = ec.country
WHERE gs.sea = 'Caribbean Sea';
SELECT COUNT(DISTINCT c.code)
FROM mondial_country c
JOIN mondial_geo_sea gs ON c.code = gs.country
JOIN mondial_sea s ON gs.sea = s.name
WHERE s.name = 'Caribbean Sea'
True cols: Index(['NUMBER_OF_COUNTRIES'], dtype='object')
Adj. True cols: Index(['NUMBER_OF_COUNTRIES'], dtype='object')
Predicted cols: Index(['COUNT(DISTINCTC.CODE)'], dtype='object')
Adj. Predicted cols: Index(['COUNT(DISTINCTC.CODE)'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT SUM(DISTINCT c.area) AS total_area
FROM mondial_Country c
JOIN mondial_encompasses e ON c.code = e.country
JOIN mondial_geo_sea gs ON e.country = gs.country
WHERE gs.sea = 'Caribbean Sea';
SELECT SUM(c.area)
FROM mondial_country c
INNER JOIN mondial_geo_sea gs ON gs.country = c.code
INNER JOIN mondial_sea s ON gs.sea = s.name
WHERE s.name = 'Caribbean Sea'
True cols: Index(['TOTAL_AREA'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['SUM(C.AREA)'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT c.name AS country_name, SUM(c1.population) AS total_neighbor_population
FROM mondial_Country c
JOIN mondial_Borders b ON c.code = b.country1
JOIN mondial_Country c1 ON b.country2 = c1.code
GROUP BY c.name;
SELECT c.name AS country, SUM(cp.population) AS total_neighbor_population
FROM mondial_country c
INNER JOIN mondial_borders b ON c.code = b.country1
INNER JOIN mondial_countrypops cp ON b.country2 = cp.country
GROUP BY c.name;
True cols: Index(['COUNTRY_NAME', 'TOTAL_NEIGHBOR_POPULATION'], dtype='object')
Adj. True cols: Index(['COUNTRY_NAME'], dtype='object')
Predicted cols: Index(['COUNTRY', 'TOTAL_NEIGHBOR_POPULATION'], dtype='object')
Adj. Predicted cols: Index(['COUNTRY'], dtype='object')
False: no match found
SELECT mountain FROM mondial_mountainonisland WHERE island LIKE '%Borneo%'
SELECT mm.name
FROM mondial_mountainonisland mmoi
JOIN mondial_mountain mm ON mmoi.mountain = mm.name
JOIN mondial_island mi ON mmoi.island = mi.name
WHERE mi.name = 'Borneo'
True cols: Index(['MOUNTAIN'], dtype='object')
Adj. True cols: Index(['MOUNTAIN'], dtype='object')
Predicted cols: Index(['NAME'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT name, population FROM mondial_country ORDER BY area ASC FETCH FIRST 1 ROWS ONLY;
SELECT name, population
FROM mondial_country
WHERE area = (SELECT MIN(area) FROM mondial_country)
True cols: Index(['NAME', 'POPULATION'], dtype='object')
Adj. True cols: Index(['NAME', 'POPULATION'], dtype='object')
Predicted cols: Index(['NAME', 'POPULATION'], dtype='object')
Adj. Predicted cols: Index(['NAME', 'POPULATION'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT DISTINCT s.country
FROM mondial_geo_estuary e, mondial_borders b, mondial_geo_source s
WHERE ((e.country = b.country1 AND s.country = b.country2)
OR (e.country = b.country2 AND s.country = b.country1))
AND e.river = s.river;
SELECT DISTINCT c.code
FROM mondial_country c
JOIN mondial_river r ON c.code = r.country
JOIN mondial_geo_river gr ON r.name = gr.river
JOIN mondial_country c1 ON gr.country = c1.code
WHERE c1.code <> c.code;
Error: Execution failed on sql 'SELECT DISTINCT c.code
FROM mondial_country c
JOIN mondial_river r ON c.code = r.country
JOIN mondial_geo_river gr ON r.name = gr.river
JOIN mondial_country c1 ON gr.country = c1.code
WHERE c1.code <> c.code': ORA-00904: "R"."COUNTRY": invalid identifier
SELECT code FROM mondial_country
WHERE code NOT IN (
SELECT p.country FROM (
SELECT name, country
FROM mondial_province
WHERE (name, country) NOT IN (SELECT province, country FROM mondial_geo_mountain)) p);
SELECT DISTINCT c.code
FROM mondial_country c
INNER JOIN mondial_province p
ON c.code = p.country
INNER JOIN mondial_mountainonisland moi
ON p.name = moi.island
GROUP BY c.code
HAVING COUNT(DISTINCT p.name) = (SELECT COUNT(DISTINCT province) FROM mondial_province WHERE country = c.code)
Error: Execution failed on sql 'SELECT DISTINCT c.code
FROM mondial_country c
INNER JOIN mondial_province p
ON c.code = p.country
INNER JOIN mondial_mountainonisland moi
ON p.name = moi.island
GROUP BY c.code
HAVING COUNT(DISTINCT p.name) = (SELECT COUNT(DISTINCT province) FROM mondial_province WHERE country = c.code)': ORA-01427: single-row subquery returns more than one row
SELECT b.country1, sum(b.length)
FROM (SELECT country1, length FROM mondial_borders
UNION ALL
SELECT country2, length FROM mondial_borders
) b
GROUP BY b.country1;
SELECT c.code AS country_code, SUM(b.length) AS total_border_length
FROM mondial_country c
JOIN mondial_borders b ON c.code = b.country1
GROUP BY c.code;
True cols: Index(['COUNTRY1', 'SUM(B.LENGTH)'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['COUNTRY_CODE', 'TOTAL_BORDER_LENGTH'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT DISTINCT c.name, c.code
FROM mondial_country c, mondial_geo_source g
WHERE c.code = g.country;
SELECT DISTINCT c.name, c.code
FROM mondial_country c
JOIN mondial_river r ON r.country = c.code
WHERE r.river IS NOT NULL
Error: Execution failed on sql 'SELECT DISTINCT c.name, c.code
FROM mondial_country c
JOIN mondial_river r ON r.country = c.code
WHERE r.river IS NOT NULL': ORA-00904: "R"."COUNTRY": invalid identifier
SELECT c.name, r.area FROM mondial_geo_river gr
INNER JOIN mondial_country c ON c.code = gr.country
INNER JOIN mondial_river r ON r.name = gr.river
WHERE r.name = 'Chatanga'
SELECT r.area, r.country
FROM mondial_river r
WHERE r.name = 'Chatanga River'
Error: Execution failed on sql 'SELECT r.area, r.country
FROM mondial_river r
WHERE r.name = 'Chatanga River'': ORA-00904: "R"."COUNTRY": invalid identifier
SELECT name FROM mondial_airport WHERE elevation > 3000.0
SELECT name
FROM mondial_airport
WHERE elevation > 3000.0
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index(['NAME'], dtype='object')
Predicted cols: Index(['NAME'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT r.name FROM mondial_religion r INNER JOIN mondial_country c ON c.code = r.country WHERE c.name = 'Mexico'
SELECT r.name FROM mondial_religion r
INNER JOIN mondial_country c ON r.country = c.code
WHERE c.name = 'Mexico'
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index(['NAME'], dtype='object')
Predicted cols: Index(['NAME'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT name FROM mondial_River WHERE sea IS NULL;
SELECT name
FROM mondial_river
WHERE name NOT IN (SELECT river FROM mondial_geo_sea)
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['NAME'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT c.name, COUNT(b.country2) AS num_neighbors FROM mondial_country c INNER JOIN mondial_borders b ON c.code = b.country1
INNER JOIN mondial_encompasses e ON c.code = e.country
INNER JOIN mondial_continent co ON e.continent = co.name
WHERE co.name = 'Africa' GROUP BY c.name ORDER BY num_neighbors DESC;
SELECT c.name AS country_name, COUNT(b.country2) AS number_of_neighbors
FROM mondial_country c
JOIN mondial_borders b ON c.code = b.country1
JOIN mondial_encompasses e ON c.code = e.country
JOIN mondial_continent co ON e.continent = co.name
WHERE co.name = 'Africa'
GROUP BY c.name
ORDER BY number_of_neighbors DESC
True cols: Index(['NAME', 'NUM_NEIGHBORS'], dtype='object')
Adj. True cols: Index(['NAME', 'NUM_NEIGHBORS'], dtype='object')
Predicted cols: Index(['COUNTRY_NAME', 'NUMBER_OF_NEIGHBORS'], dtype='object')
Adj. Predicted cols: Index(['COUNTRY_NAME', 'NUMBER_OF_NEIGHBORS'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT c.name AS continent, AVG(p.infant_mortality) AS avg_infant_mortality
FROM mondial_continent c
JOIN mondial_encompasses e ON c.name = e.continent
JOIN mondial_population p ON e.country = p.country
GROUP BY c.name;
SELECT co.name, AVG(p.infant_mortality)
FROM mondial_continent co
JOIN mondial_country c ON co.name = c.province
JOIN mondial_population p ON c.code = p.country
GROUP BY co.name
True cols: Index(['CONTINENT', 'AVG_INFANT_MORTALITY'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['NAME', 'AVG(P.INFANT_MORTALITY)'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT AVG(p.infant_mortality) AS avg_infant_mortality
FROM mondial_Country c
JOIN mondial_Population p ON c.code = p.country
JOIN mondial_encompasses e ON c.code = e.country
JOIN mondial_Continent ct ON e.continent = ct.name
WHERE ct.name = 'America' AND c.name != 'Brazil';
SELECT AVG(p.infant_mortality)
FROM mondial_population p
JOIN mondial_country c ON p.country = c.code
JOIN mondial_encompasses e ON c.code = e.country
JOIN mondial_continent co ON e.continent = co.name
WHERE co.name = 'America' AND c.name != 'Brazil'
True cols: Index(['AVG_INFANT_MORTALITY'], dtype='object')
Adj. True cols: Index(['AVG_INFANT_MORTALITY'], dtype='object')
Predicted cols: Index(['AVG(P.INFANT_MORTALITY)'], dtype='object')
Adj. Predicted cols: Index(['AVG(P.INFANT_MORTALITY)'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)

In [6]:
df_rag = pd.DataFrame(results_fk, columns=['experiment', 'simple', 'medium', 'complex', 'total', 'overall_simple', 'overall_medium', 'overall_complex', 'overall_total','input_tokens', 'output_tokens', 'total_tokens','total_cost', 'total_time'])
df_rag['experiment'] = df_rag['experiment'].apply(get_experiment_name)
df_rag = df_rag.sort_values(by='overall_total', ascending=False)
df_rag

,experiment,simple,medium,complex,total,overall_simple,overall_medium,overall_complex,overall_total,input_tokens,output_tokens,total_tokens,total_cost,total_time
1,SQLQueryChain - MONDIAL_GPT - GPT-4 - RAG,28,27,25,80,0.8485,0.8182,0.7353,0.80,243519,3943,247462,0.00,0:05:38
0,SQLQueryChain - MONDIAL_GPT - GPT-3.5 - RAG,25,20,17,62,0.7576,0.6061,0.5000,0.62,243508,3338,246846,0.37,0:02:19