# Experimento: DIN/C3 - Mondial - Foreign Key - GPT 3.5

In [ ]:

from langchain.chat_models import ChatOpenAI
from urllib.parse import quote  

from dotenv import load_dotenv
import time
import os
import sys
import json
load_dotenv()



path = os.path.abspath('')
experiment_path = '..\..'
module_path = os.path.join(path, experiment_path)
print(module_path)
if module_path not in sys.path:
    sys.path.append(module_path+"\\functions")


from sqldatabase_langchain_utils import SQLDatabaseLangchainUtils

In [2]:
module_path = os.path.join(path, "..\\DIN")
if module_path not in sys.path:
    sys.path.append(module_path)
    
from din_classification import classification_module
from din_self_correction import self_correction_module

In [3]:
from schema_linking_din_c3 import schema_linking_din_c3
from sql_generation_with_hints_din_c3 import generating_sql_with_hints

In [4]:
SCHEMA = 'mondial_gpt'
PREFIX = 'mondial'
FILE_NAME_RESULT = f"results/5_combining_din_c3_queries_chatgpt_{SCHEMA}_fk.json"

In [5]:
def save_queries(queries):
    data = {"queries":queries}
    with open(FILE_NAME_RESULT, "w") as arquivo_json:
        json.dump(data, arquivo_json, indent=4) 
        
def read_queries():
    with open(FILE_NAME_RESULT, encoding='utf-8', errors='ignore') as json_data:
        data = json.load(json_data, strict=False)
    queries = data["queries"]
    return queries

## Conexão com o banco

In [ ]:
json_file_path = f"{experiment_path}/datasets/{SCHEMA}_db_connection.json"
with open(json_file_path, encoding='utf-8', errors='ignore') as json_data:
    db_connection = json.load(json_data, strict=False)
db_connection

In [7]:
db = SQLDatabaseLangchainUtils(db_connection=db_connection)

exclusao = [
    f"{SCHEMA}_tmdp",
    f"{SCHEMA}_tmdpmap",
    f"{SCHEMA}_tmds",
    f"{SCHEMA}_tmjmap",
    f"{SCHEMA}_tpv",
    f"{SCHEMA}_tmdc",
    f"{SCHEMA}_tmdcmap",
    f"{SCHEMA}_tmdej",
    f"{SCHEMA}_log_action",
    f"{SCHEMA}_log_error",
    f"{SCHEMA}_favorite_item", 
    f"{SCHEMA}_favorite_query",
    f"{SCHEMA}_favorite_tag",
    f"{SCHEMA}_favorite_tag_item",
    f"{SCHEMA}_favorite_visualization",
    f"{SCHEMA}_dashboard",
    f"{SCHEMA}_history",
    "teste_cliente",
    "teste_fornecedor",
    "teste_funcionario"
]

include_tables = [s for s in db.get_table_names() if not s.startswith(PREFIX) and s not in exclusao]
db = SQLDatabaseLangchainUtils(db_connection=db_connection, include_tables=include_tables)
db.get_table_names()

c:\Users\rogerrsn\AppData\Local\Programs\Python\Python310\lib\site-packages\langchain\utilities\sql_database.py:112: SAWarning: Did not recognize type 'GEOCOORD' of column 'coordinates'
  self._metadata.reflect(
c:\Users\rogerrsn\AppData\Local\Programs\Python\Python310\lib\site-packages\langchain\utilities\sql_database.py:112: SAWarning: Did not recognize type 'GEOCOORD' of column 'source'
  self._metadata.reflect(
c:\Users\rogerrsn\AppData\Local\Programs\Python\Python310\lib\site-packages\langchain\utilities\sql_database.py:112: SAWarning: Did not recognize type 'GEOCOORD' of column 'estuary'
  self._metadata.reflect(

['airport',
 'borders',
 'city',
 'citylocalname',
 'cityothername',
 'citypops',
 'continent',
 'country',
 'countrylocalname',
 'countryothername',
 'countrypops',
 'desert',
 'economy',
 'encompasses',
 'ethnicgroup',
 'geo_desert',
 'geo_estuary',
 'geo_island',
 'geo_lake',
 'geo_mountain',
 'geo_river',
 'geo_sea',
 'geo_source',
 'island',
 'islandin',
 'ismember',
 'lake',
 'lakeonisland',
 'language',
 'located',
 'locatedon',
 'mergeswith',
 'mountain',
 'mountainonisland',
 'organization',
 'politics',
 'population',
 'province',
 'provincelocalname',
 'provinceothername',
 'provpops',
 'religion',
 'river',
 'riveronisland',
 'riverthrough',
 'sea']

## Preparando as consultas

In [8]:

json_file_path = f"../../datasets/{PREFIX}/queries_{PREFIX}.json"
with open(json_file_path, encoding='utf-8', errors='ignore') as json_data:
    queries = json.load(json_data, strict=False)
queries = queries['queries']
queries

[{'id': '1',
  'question': 'What is the area of Thailand?',
  'query_string': '',
  'type': 'simple'},
 {'id': '2',
  'question': 'What are the provinces with an area greater than 10000?',
  'query_string': '',
  'type': 'simple'},
 {'id': '3',
  'question': 'What are the languages spoken in Poland?',
  'query_string': '',
  'type': 'medium'},
 {'id': '4',
  'question': 'How deep is Lake Kariba?',
  'query_string': '',
  'type': 'simple'},
 {'id': '5',
  'question': 'What is the total of provinces of Netherlands?',
  'query_string': '',
  'type': 'complex'},
 {'id': '6',
  'question': 'What is the percentage of religious people are hindu in thailand?',
  'query_string': '',
  'type': 'complex'},
 {'id': '7',
  'question': 'List the number of provinces each river flows through.',
  'query_string': '',
  'type': 'medium'},
 {'id': '8',
  'question': 'Find all countries that became independent between 8/1/1910 and 8/1/1950.',
  'query_string': '',
  'type': 'complex'},
 {'id': '9',
  'question': 'What are the cities of Cuba?',
  'query_string': '',
  'type': 'medium'},
 {'id': '10',
  'question': 'What is the capital of Georgia?',
  'query_string': '',
  'type': 'medium'},
 {'id': '11',
  'question': 'How many provinces have areas greater than 1000 in Niger?',
  'query_string': '',
  'type': 'complex'},
 {'id': '12',
  'question': 'Tell me about the country with the area largest.',
  'query_string': '',
  'type': 'medium'},
 {'id': '13',
  'question': 'What is the host province and year of establishment of the organization "International Energy Agency"?',
  'query_string': '',
  'type': 'medium'},
 {'id': '14',
  'question': 'Find the name of all mountains whose elevation is higher than 1000.',
  'query_string': '',
  'type': 'medium'},
 {'id': '15',
  'question': 'Tell me the economy of the Caribbean Sea.',
  'query_string': '',
  'type': 'medium'},
 {'id': '16',
  'question': 'Show the cities with longitude between 0 and 6.',
  'query_string': '',
  'type': 'simple'},
 {'id': '17',
  'question': 'Select cities whose population is greater than 100000, altitude greater than 2500, and the country you belong to has population growth greater than 1.',
  'query_string': '',
  'type': 'complex'},
 {'id': '18',
  'question': 'Show all the different types of government.',
  'query_string': '',
  'type': 'simple'},
 {'id': '19',
  'question': 'List all provinces in Germany',
  'query_string': '',
  'type': 'medium'},
 {'id': '20',
  'question': 'What is the percentage of mulatto ethnicity in Brazil?',
  'query_string': '',
  'type': 'complex'},
 {'id': '21',
  'question': 'How many cities have populations less than 1000?',
  'query_string': '',
  'type': 'simple'},
 {'id': '22',
  'question': 'What is the average elevation of airports in America?',
  'query_string': '',
  'type': 'complex'},
 {'id': '23',
  'question': 'How many countries are adjacent to (or ecompassed by) the Caribbean Sea?',
  'query_string': '',
  'type': 'medium'},
 {'id': '24',
  'question': 'How much area do the countries that are adjacent to (or encompassed by) the Caribbean Sea cover in total?',
  'query_string': '',
  'type': 'complex'},
 {'id': '25',
  'question': 'For all countries, give the sum of the population of all its neighbors',
  'query_string': '',
  'type': 'medium'},
 {'id': '26',
  'question': 'What mountains are on the island of Borneo?',
  'query_string': '',
  'type': 'simple'},
 {'id': '27',
  'question': 'Provide the name and total population of the country with the smallest area.',
  'query_string': '',
  'type': 'simple'},
 {'id': '28',
  'question': 'The codes of all countries for which at least one river that originates in this country has its estuary in a neighboring country.',
  'query_string': '',
  'type': 'complex'},
 {'id': '29',
  'question': 'The codes of all countries where at least one mountain is located in each of their provinces',
  'query_string': '',
  'type': 'complex'},
 {'id': '30',
  'question': 'The code and total border lengths of all countries with at least one border.',
  'query_string': '',
  'type': 'complex'},
 {'id': '31',
  'question': 'The names and codes of all countries in which at least one river originates.',
  'query_string': '',
  'type': 'medium'},
 {'id': '32',
  'question': 'What is the area and country of the Chatanga River?',
  'query_string': '',
  'type': 'simple'},
 {'id': '33',
  'question': 'Show the Airports with elevation more than 3000',
  'query_string': '',
  'type': 'simple'},
 {'id': '34',
  'question': 'What are the religions practiced in Mexico?',
  'query_string': '',
  'type': 'medium'},
 {'id': '35',
  'question': 'Show all rivers that do not flow into the sea.',
  'query_string': '',
  'type': 'medium'},
 {'id': '36',
  'question': 'List African countries by number of neighbors.',
  'query_string': '',
  'type': 'complex'},
 {'id': '37',
  'question': 'What is the average infant mortality rate for each continent?',
  'query_string': '',
  'type': 'simple'},
 {'id': '38',
  'question': 'What is the average mortality rate of the countries in America without considering Brazil?',
  'query_string': '',
  'type': 'complex'},
 {'id': '39',
  'question': 'List seas with area greater than 8000 and depth less than 100.',
  'query_string': '',
  'type': 'simple'},
 {'id': '40',
  'question': 'How many mountains are there in Asia?',
  'query_string': '',
  'type': 'complex'},
 {'id': '41',
  'question': 'How many countries that are close to the Mediterranean Sea?',
  'query_string': '',
  'type': 'complex'},
 {'id': '42',
  'question': 'Show the total for each type of government.',
  'query_string': '',
  'type': 'simple'},
 {'id': '43',
  'question': 'Which province has the largest desert in the world?',
  'query_string': '',
  'type': 'simple'},
 {'id': '44',
  'question': 'What is the largest desert in the world?',
  'query_string': '',
  'type': 'simple'},
 {'id': '45',
  'question': 'List, for all continents, the amount of deserts on each.',
  'query_string': '',
  'type': 'complex'},
 {'id': '46',
  'question': 'What are the neighboring seas of the Banda Sea?',
  'query_string': '',
  'type': 'medium'},
 {'id': '47',
  'question': 'List all the capitals of European countries.',
  'query_string': '',
  'type': 'medium'},
 {'id': '48',
  'question': 'What percentage of people speak French in Andorra?',
  'query_string': '',
  'type': 'complex'},
 {'id': '49',
  'question': 'Which rivers are longer than 1000 kilometers?',
  'query_string': '',
  'type': 'complex'},
 {'id': '50',
  'question': 'Which country had the lowest population growth?',
  'query_string': '',
  'type': 'simple'},
 {'id': '51',
  'question': 'List the name of capital cities for which we do not have data about the city in located',
  'query_string': '',
  'type': 'complex'},
 {'id': '52',
  'question': 'What is the capital of the provice Andaluc�a?',
  'query_string': '',
  'type': 'simple'},
 {'id': '53',
  'question': 'What is the abbreviation for the organization whose name is "General Confederation of Trade Unions"?',
  'query_string': '',
  'type': 'simple'},
 {'id': '54',
  'question': 'In which city is the organization with the abbreviation "UPU" ?',
  'query_string': '',
  'type': 'simple'},
 {'id': '55',
  'question': 'List the names of countries which are members of only one organization',
  'query_string': '',
  'type': 'complex'},
 {'id': '56',
  'question': 'List the name of countries which are not a member of NATO.',
  'query_string': '',
  'type': 'complex'},
 {'id': '57',
  'question': 'List the name of countries which are a member of NATO.',
  'query_string': '',
  'type': 'medium'},
 {'id': '58',
  'question': 'List the rivers with length less than 50',
  'query_string': '',
  'type': 'simple'},
 {'id': '59',
  'question': 'What are the area, elevation and type of lakes in country Italy?',
  'query_string': '',
  'type': 'simple'},
 {'id': '60',
  'question': ' List the names of capital cities which are the base for organizations in alphabetical order',
  'query_string': '',
  'type': 'complex'},
 {'id': '61',
  'question': 'List the name of organizations that do not have countries with an area smaller than 4000 and of the member type',
  'query_string': '',
  'type': 'complex'},
 {'id': '62',
  'question': 'List the name of organizations that do not have countries with  an area greater than 10000 and population smaller than 3000 and of the member type',
  'query_string': '',
  'type': 'complex'},
 {'id': '63',
  'question': 'Show the inflation rate of countries that are washed by the Arabian Sea',
  'query_string': '',
  'type': 'complex'},
 {'id': '64',
  'question': 'List all the capitals of the countries that belong to the continent Africa?',
  'query_string': '',
  'type': 'medium'},
 {'id': '65',
  'question': 'Show the inflation rate of the countries bathed by the Arabian Sea and there is no inflation with null value',
  'query_string': '',
  'type': 'complex'},
 {'id': '66',
  'question': 'How many countries are in Africa?',
  'query_string': '',
  'type': 'complex'},
 {'id': '67',
  'question': 'List the name of countries that are not members of NATO and UNESCO',
  'query_string': '',
  'type': 'complex'},
 {'id': '68',
  'question': 'What is the area of the continent Europe?',
  'query_string': '',
  'type': 'simple'},
 {'id': '69',
  'question': 'What is the area of continent America?',
  'query_string': '',
  'type': 'simple'},
 {'id': '70',
  'question': 'What is the area of continent Asia?',
  'query_string': '',
  'type': 'simple'},
 {'id': '71',
  'question': 'What is the area of Africa?',
  'query_string': '',
  'type': 'simple'},
 {'id': '72',
  'question': 'How many countries are in America?',
  'query_string': '',
  'type': 'complex'},
 {'id': '73',
  'question': 'What area is the largest continent?',
  'query_string': '',
  'type': 'medium'},
 {'id': '74',
  'question': 'List the countries that belong to the continent with the largest area',
  'query_string': '',
  'type': 'complex'},
 {'id': '75',
  'question': 'List the countries that belong to the continent with the largest area and whose language is English',
  'query_string': '',
  'type': 'complex'},
 {'id': '76',
  'question': 'List the names of cities, along with the name of their country for cities with a population greater than 5 million.  Display the results in descending order by population.',
  'query_string': '',
  'type': 'medium'},
 {'id': '77',
  'question': 'Show the name of the deserts in the province of Algeria',
  'query_string': '',
  'type': 'simple'},
 {'id': '78',
  'question': 'Show the name and area of the deserts in the province of California',
  'query_string': '',
  'type': 'simple'},
 {'id': '79',
  'question': 'List the country names and percentage of use of language where  French are used as languages.',
  'query_string': '',
  'type': 'simple'},
 {'id': '80',
  'question': 'What are the cities where �Portuguese� is spoken?',
  'query_string': '',
  'type': 'medium'},
 {'id': '81',
  'question': 'What is the total area of the provinces in Canada?',
  'query_string': '',
  'type': 'complex'},
 {'id': '82',
  'question': 'What is the length of the Tigres River?',
  'query_string': '',
  'type': 'simple'},
 {'id': '83',
  'question': 'List the Airports with elevation more than 1000',
  'query_string': '',
  'type': 'medium'},
 {'id': '84',
  'question': 'List airports in the United States with an elevation below 200 feet',
  'query_string': '',
  'type': 'complex'},
 {'id': '85',
  'question': 'What are the mountains with altitudes above 8000 meters?',
  'query_string': '',
  'type': 'medium'},
 {'id': '86',
  'question': 'What are the 3 airports with the largest name?',
  'query_string': '',
  'type': 'simple'},
 {'id': '87',
  'question': 'List lakes with an area of less than 5000 square kilometers.',
  'query_string': '',
  'type': 'medium'},
 {'id': '88',
  'question': 'What is the total area of the seas with a depth greater than 1000 meters?',
  'query_string': '',
  'type': 'medium'},
 {'id': '89',
  'question': 'Find the countries whose name starts with the letter "B" and have a population greater than 10 million',
  'query_string': '',
  'type': 'complex'},
 {'id': '90',
  'question': 'List cities with another name in Brazil',
  'query_string': '',
  'type': 'medium'},
 {'id': '91',
  'question': 'List all cities that are at a latitude greater than 45 degrees.',
  'query_string': '',
  'type': 'medium'},
 {'id': '92',
  'question': 'Show the number of cities with another name in countries with an area greater than 30000',
  'query_string': '',
  'type': 'medium'},
 {'id': '93',
  'question': 'Show the deserts with area greater than 10000',
  'query_string': '',
  'type': 'simple'},
 {'id': '94',
  'question': 'List the islands that belong to a lake with an elevation greater than 100',
  'query_string': '',
  'type': 'simple'},
 {'id': '95',
  'question': 'List all mountains located on islands with an area greater than 100,000 square kilometers',
  'query_string': '',
  'type': 'medium'},
 {'id': '96',
  'question': 'List the countries and the sum of their provincial areas.',
  'query_string': '',
  'type': 'simple'},
 {'id': '97',
  'question': 'Show the name of the countries, the average elevation and sum of the population of their cities',
  'query_string': '',
  'type': 'medium'},
 {'id': '98',
  'question': "What was Germany's inflation?",
  'query_string': '',
  'type': 'medium'},
 {'id': '99',
  'question': 'What type of government is Iran?',
  'query_string': '',
  'type': 'medium'},
 {'id': '100',
  'question': "What is the percentage of industries in relation to Japan's economy?",
  'query_string': '',
  'type': 'medium'}]

## Tracking token usage

In [9]:
track_token = [] 
def tracking_token(cb =None, reset = False):
    global track_token
    track_token.append(cb)
    if reset:
        track_token = []

In [10]:

def convert_to_dict_tracking_token():
    token_usage = {}
    for e in track_token:
        for key in e.keys():
            token_usage[key] = {}
            token_usage[key]['total_tokens'] = e[key].total_tokens
            token_usage[key]['total_cost'] = e[key].total_cost
            token_usage[key]['prompt_tokens'] = e[key].prompt_tokens
            token_usage[key]['completion_tokens'] = e[key].completion_tokens 
    return token_usage

## DIN-C3 Function

In [11]:

def run_din_c3(question, db, model_name = 'gpt-3.5-turbo-16k', add_fk = True, callback= None):

    llm_c3 = ChatOpenAI(model_name = model_name, temperature=0.7, n=10)

    model_kwargs = {'top_p':1.0, 'frequency_penalty':0.0, 'presence_penalty':0.0}
    llm_din = ChatOpenAI(model_name = model_name, temperature=0.0, n=1, max_tokens=600, model_kwargs = model_kwargs)

    model_kwargs['stop'] = ['#', ';','\n\n']
    llm_din_fix = ChatOpenAI(model_name = model_name, temperature=0.0, n=1, max_tokens=350, model_kwargs = model_kwargs)

    #Clear prompting
    schema_links, tables = schema_linking_din_c3(question, db, llm_c3, llm_din, add_fk = add_fk, callback= callback)
    print(schema_links)    
    #Classification
    classification = classification_module(db, llm_din, question, schema_links, tables=tables, callback= callback)
    print(classification)
    #Calibration with hints and sql generation by type
    SQL = generating_sql_with_hints(db, llm_din, question, schema_links, classification, tables=tables, callback= callback)

    #Self correction
    SQL_FINAL = self_correction_module(db, llm_din_fix, question, SQL, callback= callback)
    
    return SQL_FINAL

## Executando o método

In [ ]:
tracking_token(reset=True)
errors = []
query_index = -1
queries_to_delay = 4
count = 0
for instance in queries:
    query_index +=1
    try:
        start_time = time.time()
        sql = run_din_c3(instance["question"], db, add_fk=False, callback=tracking_token)
        end_time = time.time()
        instance["query_string"] = sql
        instance["token_usage"] = convert_to_dict_tracking_token()
        instance['time'] = end_time - start_time
        save_queries(queries)
        print(instance["id"], instance["question"], sql)
    except Exception as e:
        print(str(e))
        errors.append(query_index)
        pass
    finally:
        count+=1
        if queries_to_delay==count:
            time.sleep(30)
            count = 0
        tracking_token(reset=True)

#### Fixing query

In [ ]:

pos = 40
instance = queries[pos]
q = read_queries()
start_time = time.time()
sql = run_din_c3(instance["question"], db, callback=tracking_token)
end_time = time.time()
instance["query_string"] = sql
instance["token_usage"] = convert_to_dict_tracking_token()
instance['time'] = end_time - start_time
q[pos] = instance
save_queries(q)
print(instance['id'], instance['question'], instance["query_string"], instance['time'])

In [ ]:
errors = [59,62,72,85,99]
for pos in errors:
    instance = queries[pos]
    q = read_queries()
    start_time = time.time()
    sql = run_din_c3(instance["question"], db, callback=tracking_token)
    end_time = time.time()
    instance["query_string"] = sql
    instance["token_usage"] = convert_to_dict_tracking_token()
    instance['time'] = end_time - start_time
    q[pos] = instance
    save_queries(q)
    print(instance['id'], instance['question'], instance["query_string"], instance['time'])

In [ ]:
errors

[]

### Executar caso exista erros

In [ ]:
if len(errors)>0:
    tracking_token(reset=True)
    queries_to_delay = 4
    count = 0
    fixed = []
    for query_index in errors:
        instance = queries[query_index]
        query_index +=1
        try:
            start_time = time.time()
            sql = run_din_c3(instance["question"], db, add_fk=False, callback=tracking_token)
            end_time = time.time()
            instance["query_string"] = sql
            instance["token_usage"] = convert_to_dict_tracking_token()
            instance['time'] = end_time - start_time
            save_queries(queries)
            print(instance["id"], instance["question"], sql)
            fixed.append(query_index)
        except Exception as e:
            print(str(e))
            pass
        finally:
            count+=1
            if queries_to_delay==count:
                time.sleep(30)
                count = 0
            tracking_token(reset=True)
            
    aux = [x for x in errors if x not in fixed]
    errors = aux

In [16]:
queries

[{'id': '1',
  'question': 'What is the area of Thailand?',
  'query_string': "SELECT country.area FROM country WHERE country.name = 'Thailand'",
  'type': 'simple',
  'token_usage': {'table_recall': {'total_tokens': 5648,
    'total_cost': 0.021871,
    'prompt_tokens': 721,
    'completion_tokens': 4927},
   'column_recall': {'total_tokens': 6724,
    'total_cost': 0.026648,
    'prompt_tokens': 248,
    'completion_tokens': 6476},
   'schema_linking': {'total_tokens': 4221,
    'total_cost': 0.012746,
    'prompt_tokens': 4138,
    'completion_tokens': 83},
   'classification': {'total_tokens': 2287,
    'total_cost': 0.006958000000000001,
    'prompt_tokens': 2190,
    'completion_tokens': 97},
   'sql_generation_din_c3': {'total_tokens': 1525,
    'total_cost': 0.004588,
    'prompt_tokens': 1512,
    'completion_tokens': 13},
   'self_correction': {'total_tokens': 2193,
    'total_cost': 0.006595,
    'prompt_tokens': 2177,
    'completion_tokens': 16}}},
 {'id': '2',
  'question': 'What are the provinces with an area greater than 10000?',
  'query_string': 'SELECT province.name FROM province WHERE province.area > 10000',
  'type': 'simple',
  'token_usage': {'table_recall': {'total_tokens': 2982,
    'total_cost': 0.011201,
    'prompt_tokens': 727,
    'completion_tokens': 2255},
   'column_recall': {'total_tokens': 2662,
    'total_cost': 0.010438000000000001,
    'prompt_tokens': 210,
    'completion_tokens': 2452},
   'schema_linking': {'total_tokens': 4212,
    'total_cost': 0.012744,
    'prompt_tokens': 4104,
    'completion_tokens': 108},
   'classification': {'total_tokens': 2224,
    'total_cost': 0.006775,
    'prompt_tokens': 2121,
    'completion_tokens': 103},
   'sql_generation_din_c3': {'total_tokens': 1474,
    'total_cost': 0.0044340000000000004,
    'prompt_tokens': 1462,
    'completion_tokens': 12},
   'self_correction': {'total_tokens': 2198,
    'total_cost': 0.006608999999999999,
    'prompt_tokens': 2183,
    'completion_tokens': 15}}},
 {'id': '3',
  'question': 'What are the languages spoken in Poland?',
  'query_string': "SELECT language.name FROM language JOIN country ON language.country = country.code WHERE country.name = 'Poland'",
  'type': 'medium',
  'token_usage': {'table_recall': {'total_tokens': 1948,
    'total_cost': 0.00707,
    'prompt_tokens': 722,
    'completion_tokens': 1226},
   'column_recall': {'total_tokens': 3635,
    'total_cost': 0.014328,
    'prompt_tokens': 212,
    'completion_tokens': 3423},
   'schema_linking': {'total_tokens': 4215,
    'total_cost': 0.012752,
    'prompt_tokens': 4108,
    'completion_tokens': 107},
   'classification': {'total_tokens': 2230,
    'total_cost': 0.006791,
    'prompt_tokens': 2129,
    'completion_tokens': 101},
   'sql_generation_din_c3': {'total_tokens': 2075,
    'total_cost': 0.006308,
    'prompt_tokens': 1992,
    'completion_tokens': 83},
   'self_correction': {'total_tokens': 2213,
    'total_cost': 0.006665,
    'prompt_tokens': 2187,
    'completion_tokens': 26}}},
 {'id': '4',
  'question': 'How deep is Lake Kariba?',
  'query_string': "SELECT lake.depth FROM lake WHERE lake.name = 'Lake Kariba'",
  'type': 'simple',
  'token_usage': {'table_recall': {'total_tokens': 4309,
    'total_cost': 0.016515000000000002,
    'prompt_tokens': 721,
    'completion_tokens': 3588},
   'column_recall': {'total_tokens': 3222,
    'total_cost': 0.012673,
    'prompt_tokens': 215,
    'completion_tokens': 3007},
   'schema_linking': {'total_tokens': 4209,
    'total_cost': 0.012726999999999999,
    'prompt_tokens': 4109,
    'completion_tokens': 100},
   'classification': {'total_tokens': 2241,
    'total_cost': 0.006818,
    'prompt_tokens': 2146,
    'completion_tokens': 95},
   'sql_generation_din_c3': {'total_tokens': 1482,
    'total_cost': 0.0044599999999999996,
    'prompt_tokens': 1468,
    'completion_tokens': 14},
   'self_correction': {'total_tokens': 2195,
    'total_cost': 0.006602,
    'prompt_tokens': 2178,
    'completion_tokens': 17}}},
 {'id': '5',
  'question': 'What is the total of provinces of Netherlands?',
  'query_string': "SELECT COUNT(province.name)  FROM province  JOIN country ON province.country = country.code  WHERE country.name = 'Netherlands'",
  'type': 'medium',
  'token_usage': {'table_recall': {'total_tokens': 1853,
    'total_cost': 0.006689,
    'prompt_tokens': 723,
    'completion_tokens': 1130},
   'column_recall': {'total_tokens': 4058,
    'total_cost': 0.016011,
    'prompt_tokens': 221,
    'completion_tokens': 3837},
   'schema_linking': {'total_tokens': 4227,
    'total_cost': 0.012797000000000001,
    'prompt_tokens': 4111,
    'completion_tokens': 116},
   'classification': {'total_tokens': 2248,
    'total_cost': 0.006847000000000001,
    'prompt_tokens': 2145,
    'completion_tokens': 103},
   'sql_generation_din_c3': {'total_tokens': 2098,
    'total_cost': 0.006384,
    'prompt_tokens': 2008,
    'completion_tokens': 90},
   'self_correction': {'total_tokens': 2218,
    'total_cost': 0.00668,
    'prompt_tokens': 2192,
    'completion_tokens': 26}}},
 {'id': '6',
  'question': 'What is the percentage of religious people are hindu in thailand?',
  'query_string': "SELECT religion.percentage  FROM  religion  JOIN  country  ON religion.country = country.code  WHERE  religion.name = 'Hindu'  AND country.name = 'Thailand'",
  'type': 'medium',
  'token_usage': {'table_recall': {'total_tokens': 3971,
    'total_cost': 0.015156,
    'prompt_tokens': 728,
    'completion_tokens': 3243},
   'column_recall': {'total_tokens': 3528,
    'total_cost': 0.013884,
    'prompt_tokens': 228,
    'completion_tokens': 3300},
   'schema_linking': {'total_tokens': 4261,
    'total_cost': 0.01292,
    'prompt_tokens': 4124,
    'completion_tokens': 137},
   'classification': {'total_tokens': 2271,
    'total_cost': 0.006920000000000001,
    'prompt_tokens': 2164,
    'completion_tokens': 107},
   'sql_generation_din_c3': {'total_tokens': 2130,
    'total_cost': 0.0064930000000000005,
    'prompt_tokens': 2027,
    'completion_tokens': 103},
   'self_correction': {'total_tokens': 2243,
    'total_cost': 0.00677,
    'prompt_tokens': 2202,
    'completion_tokens': 41}}},
 {'id': '7',
  'question': 'List the number of provinces each river flows through.',
  'query_string': 'SELECT river.name, COUNT(DISTINCT province.name)  FROM river  JOIN riverthrough ON river.name = riverthrough.river  JOIN province ON riverthrough.lake = province.name  GROUP BY river.name',
  'type': 'complex',
  'token_usage': {'table_recall': {'total_tokens': 1998,
    'total_cost': 0.007268,
    'prompt_tokens': 724,
    'completion_tokens': 1274},
   'column_recall': {'total_tokens': 4604,
    'total_cost': 0.01817,
    'prompt_tokens': 246,
    'completion_tokens': 4358},
   'schema_linking': {'total_tokens': 4224,
    'total_cost': 0.012771999999999999,
    'prompt_tokens': 4124,
    'completion_tokens': 100},
   'classification': {'total_tokens': 2299,
    'total_cost': 0.007004,
    'prompt_tokens': 2192,
    'completion_tokens': 107},
   'sql_generation_din_c3': {'total_tokens': 2183,
    'total_cost': 0.006677000000000001,
    'prompt_tokens': 2055,
    'completion_tokens': 128},
   'self_correction': {'total_tokens': 2251,
    'total_cost': 0.006794,
    'prompt_tokens': 2210,
    'completion_tokens': 41}}},
 {'id': '8',
  'question': 'Find all countries that became independent between 8/1/1910 and 8/1/1950.',
  'query_string': "SELECT T1.name  FROM      country T1      JOIN politics T2 ON T1.code = T2.country  WHERE      T2.independence >= '1910-08-01'      AND T2.independence <= '1950-08-01'",
  'type': 'medium',
  'token_usage': {'table_recall': {'total_tokens': 2760,
    'total_cost': 0.010303,
    'prompt_tokens': 737,
    'completion_tokens': 2023},
   'column_recall': {'total_tokens': 3448,
    'total_cost': 0.013560000000000001,
    'prompt_tokens': 232,
    'completion_tokens': 3216},
   'schema_linking': {'total_tokens': 4270,
    'total_cost': 0.012954000000000002,
    'prompt_tokens': 4126,
    'completion_tokens': 144},
   'classification': {'total_tokens': 2278,
    'total_cost': 0.00695,
    'prompt_tokens': 2162,
    'completion_tokens': 116},
   'sql_generation_din_c3': {'total_tokens': 2147,
    'total_cost': 0.006562999999999999,
    'prompt_tokens': 2025,
    'completion_tokens': 122},
   'self_correction': {'total_tokens': 2287,
    'total_cost': 0.006918,
    'prompt_tokens': 2230,
    'completion_tokens': 57}}},
 {'id': '9',
  'question': 'What are the cities of Cuba?',
  'query_string': "SELECT city.name FROM city JOIN country ON city.country = country.code WHERE country.name = 'Cuba'",
  'type': 'medium',
  'token_usage': {'table_recall': {'total_tokens': 2530,
    'total_cost': 0.009399000000000001,
    'prompt_tokens': 721,
    'completion_tokens': 1809},
   'column_recall': {'total_tokens': 4637,
    'total_cost': 0.018329,
    'prompt_tokens': 219,
    'completion_tokens': 4418},
   'schema_linking': {'total_tokens': 4215,
    'total_cost': 0.012751,
    'prompt_tokens': 4109,
    'completion_tokens': 106},
   'classification': {'total_tokens': 2246,
    'total_cost': 0.0068390000000000005,
    'prompt_tokens': 2145,
    'completion_tokens': 101},
   'sql_generation_din_c3': {'total_tokens': 2091,
    'total_cost': 0.006356,
    'prompt_tokens': 2008,
    'completion_tokens': 83},
   'self_correction': {'total_tokens': 2212,
    'total_cost': 0.0066619999999999995,
    'prompt_tokens': 2186,
    'completion_tokens': 26}}},
 {'id': '10',
  'question': 'What is the capital of Georgia?',
  'query_string': "SELECT country.capital FROM country WHERE country.name = 'Georgia'",
  'type': 'simple',
  'token_usage': {'table_recall': {'total_tokens': 1890,
    'total_cost': 0.0068390000000000005,
    'prompt_tokens': 721,
    'completion_tokens': 1169},
   'column_recall': {'total_tokens': 4616,
    'total_cost': 0.018228,
    'prompt_tokens': 236,
    'completion_tokens': 4380},
   'schema_linking': {'total_tokens': 4204,
    'total_cost': 0.012696,
    'prompt_tokens': 4120,
    'completion_tokens': 84},
   'classification': {'total_tokens': 2264,
    'total_cost': 0.006889,
    'prompt_tokens': 2167,
    'completion_tokens': 97},
   'sql_generation_din_c3': {'total_tokens': 1507,
    'total_cost': 0.004533000000000001,
    'prompt_tokens': 1495,
    'completion_tokens': 12},
   'self_correction': {'total_tokens': 2192,
    'total_cost': 0.006592000000000001,
    'prompt_tokens': 2176,
    'completion_tokens': 16}}},
 {'id': '11',
  'question': 'How many provinces have areas greater than 1000 in Niger?',
  'query_string': "SELECT COUNT(*)  FROM province  JOIN country ON province.country = country.code  WHERE country.name = 'Niger' AND province.area > 1000",
  'type': 'medium',
  'token_usage': {'table_recall': {'total_tokens': 3665,
    'total_cost': 0.013933000000000001,
    'prompt_tokens': 727,
    'completion_tokens': 2938},
   'column_recall': {'total_tokens': 3628,
    'total_cost': 0.014287000000000001,
    'prompt_tokens': 225,
    'completion_tokens': 3403},
   'schema_linking': {'total_tokens': 4252,
    'total_cost': 0.012891000000000001,
    'prompt_tokens': 4117,
    'completion_tokens': 135},
   'classification': {'total_tokens': 2255,
    'total_cost': 0.006872000000000001,
    'prompt_tokens': 2148,
    'completion_tokens': 107},
   'sql_generation_din_c3': {'total_tokens': 2116,
    'total_cost': 0.006453,
    'prompt_tokens': 2011,
    'completion_tokens': 105},
   'self_correction': {'total_tokens': 2233,
    'total_cost': 0.006729,
    'prompt_tokens': 2203,
    'completion_tokens': 30}}},
 {'id': '12',
  'question': 'Tell me about the country with the area largest.',
  'query_string': 'SELECT country.* FROM country ORDER BY country.area DESC LIMIT 1',
  'type': 'medium',
  'token_usage': {'table_recall': {'total_tokens': 9916,
    'total_cost': 0.03894,
    'prompt_tokens': 724,
    'completion_tokens': 9192},
   'column_recall': {'total_tokens': 4566,
    'total_cost': 0.018018,
    'prompt_tokens': 246,
    'completion_tokens': 4320},
   'schema_linking': {'total_tokens': 4219,
    'total_cost': 0.012740000000000001,
    'prompt_tokens': 4136,
    'completion_tokens': 83},
   'classification': {'total_tokens': 2278,
    'total_cost': 0.006934,
    'prompt_tokens': 2178,
    'completion_tokens': 100},
   'sql_generation_din_c3': {'total_tokens': 1523,
    'total_cost': 0.004586000000000001,
    'prompt_tokens': 1506,
    'completion_tokens': 17},
   'self_correction': {'total_tokens': 2201,
    'total_cost': 0.006619,
    'prompt_tokens': 2185,
    'completion_tokens': 16}}},
 {'id': '13',
  'question': 'What is the host province and year of establishment of the organization "International Energy Agency"?',
  'query_string': "SELECT T1.name AS host_province, T3.established AS year_of_establishment FROM province T1 JOIN organization T3 ON T1.name = T3.province WHERE T3.name = 'International Energy Agency'",
  'type': 'simple',
  'token_usage': {'table_recall': {'total_tokens': 2913,
    'total_cost': 0.010920000000000001,
    'prompt_tokens': 732,
    'completion_tokens': 2181},
   'column_recall': {'total_tokens': 5254,
    'total_cost': 0.020773,
    'prompt_tokens': 243,
    'completion_tokens': 5011},
   'schema_linking': {'total_tokens': 4263,
    'total_cost': 0.012914999999999998,
    'prompt_tokens': 4137,
    'completion_tokens': 126},
   'classification': {'total_tokens': 2320,
    'total_cost': 0.0070750000000000006,
    'prompt_tokens': 2205,
    'completion_tokens': 115},
   'sql_generation_din_c3': {'total_tokens': 2215,
    'total_cost': 0.006792,
    'prompt_tokens': 2068,
    'completion_tokens': 147},
   'self_correction': {'total_tokens': 2279,
    'total_cost': 0.0068850000000000005,
    'prompt_tokens': 2231,
    'completion_tokens': 48}}},
 {'id': '14',
  'question': 'Find the name of all mountains whose elevation is higher than 1000.',
  'query_string': 'SELECT name FROM mountain WHERE elevation > 1000',
  'type': 'simple',
  'token_usage': {'table_recall': {'total_tokens': 5714,
    'total_cost': 0.022127000000000004,
    'prompt_tokens': 729,
    'completion_tokens': 4985},
   'column_recall': {'total_tokens': 3709,
    'total_cost': 0.014597000000000002,
    'prompt_tokens': 239,
    'completion_tokens': 3470},
   'schema_linking': {'total_tokens': 4258,
    'total_cost': 0.012894999999999998,
    'prompt_tokens': 4137,
    'completion_tokens': 121},
   'classification': {'total_tokens': 2263,
    'total_cost': 0.006894,
    'prompt_tokens': 2158,
    'completion_tokens': 105},
   'sql_generation_din_c3': {'total_tokens': 1517,
    'total_cost': 0.004563,
    'prompt_tokens': 1505,
    'completion_tokens': 12},
   'self_correction': {'total_tokens': 2200,
    'total_cost': 0.006615,
    'prompt_tokens': 2185,
    'completion_tokens': 15}}},
 {'id': '15',
  'question': 'Tell me the economy of the Caribbean Sea.',
  'query_string': "SELECT economy.* FROM economy JOIN geo_sea ON economy.country = geo_sea.country JOIN sea ON geo_sea.sea = sea.name WHERE sea.name = 'Caribbean Sea'",
  'type': 'complex',
  'token_usage': {'table_recall': {'total_tokens': 3447,
    'total_cost': 0.013065,
    'prompt_tokens': 723,
    'completion_tokens': 2724},
   'column_recall': {'total_tokens': 5247,
    'total_cost': 0.020746,
    'prompt_tokens': 242,
    'completion_tokens': 5005},
   'schema_linking': {'total_tokens': 4240,
    'total_cost': 0.012827999999999999,
    'prompt_tokens': 4132,
    'completion_tokens': 108},
   'classification': {'total_tokens': 2309,
    'total_cost': 0.0070350000000000005,
    'prompt_tokens': 2201,
    'completion_tokens': 108},
   'sql_generation_din_c3': {'total_tokens': 2185,
    'total_cost': 0.0066760000000000005,
    'prompt_tokens': 2064,
    'completion_tokens': 121},
   'self_correction': {'total_tokens': 2250,
    'total_cost': 0.006795,
    'prompt_tokens': 2205,
    'completion_tokens': 45}}},
 {'id': '16',
  'question': 'Shows me cities with longitude between 0 and 6.',
  'query_string': 'SELECT city.name FROM city WHERE city.longitude BETWEEN 0 AND 6',
  'type': 'simple',
  'token_usage': {'table_recall': {'total_tokens': 3591,
    'total_cost': 0.013638,
    'prompt_tokens': 726,
    'completion_tokens': 2865},
   'column_recall': {'total_tokens': 4944,
    'total_cost': 0.019525,
    'prompt_tokens': 251,
    'completion_tokens': 4693},
   'schema_linking': {'total_tokens': 4242,
    'total_cost': 0.012838999999999998,
    'prompt_tokens': 4129,
    'completion_tokens': 113},
   'classification': {'total_tokens': 2346,
    'total_cost': 0.007140000000000001,
    'prompt_tokens': 2244,
    'completion_tokens': 102},
   'sql_generation_din_c3': {'total_tokens': 1526,
    'total_cost': 0.004592,
    'prompt_tokens': 1512,
    'completion_tokens': 14},
   'self_correction': {'total_tokens': 2201,
    'total_cost': 0.006620000000000001,
    'prompt_tokens': 2184,
    'completion_tokens': 17}}},
 {'id': '17',
  'question': 'Select cities whose population is greater than 100000, altitude greater than 2500, and the country you belong to has population growth greater than 1.',
  'query_string': "SELECT city.* FROM city JOIN country ON city.country = country.code WHERE city.population > 100000 AND city.elevation > 2500 AND country.code = 'your_country_code' AND country.population_growth > 1",
  'type': 'complex',
  'token_usage': {'table_recall': {'total_tokens': 2857,
    'total_cost': 0.010682000000000002,
    'prompt_tokens': 746,
    'completion_tokens': 2111},
   'column_recall': {'total_tokens': 5615,
    'total_cost': 0.022187,
    'prompt_tokens': 273,
    'completion_tokens': 5342},
   'schema_linking': {'total_tokens': 4341,
    'total_cost': 0.013201000000000001,
    'prompt_tokens': 4163,
    'completion_tokens': 178},
   'classification': {'total_tokens': 2356,
    'total_cost': 0.007193,
    'prompt_tokens': 2231,
    'completion_tokens': 125},
   'sql_generation_din_c3': {'total_tokens': 2219,
    'total_cost': 0.006782,
    'prompt_tokens': 2094,
    'completion_tokens': 125},
   'self_correction': {'total_tokens': 2279,
    'total_cost': 0.006884,
    'prompt_tokens': 2232,
    'completion_tokens': 47}}},
 {'id': '18',
  'question': 'Show all the different types of government.',
  'query_string': 'SELECT DISTINCT government FROM politics',
  'type': 'simple',
  'token_usage': {'table_recall': {'total_tokens': 2983,
    'total_cost': 0.01121,
    'prompt_tokens': 722,
    'completion_tokens': 2261},
   'column_recall': {'total_tokens': 4246,
    'total_cost': 0.016751000000000002,
    'prompt_tokens': 233,
    'completion_tokens': 4013},
   'schema_linking': {'total_tokens': 4214,
    'total_cost': 0.012726999999999999,
    'prompt_tokens': 4129,
    'completion_tokens': 85},
   'classification': {'total_tokens': 2252,
    'total_cost': 0.006855,
    'prompt_tokens': 2153,
    'completion_tokens': 99},
   'sql_generation_din_c3': {'total_tokens': 1500,
    'total_cost': 0.004507000000000001,
    'prompt_tokens': 1493,
    'completion_tokens': 7},
   'self_correction': {'total_tokens': 2179,
    'total_cost': 0.006543,
    'prompt_tokens': 2173,
    'completion_tokens': 6}}},
 {'id': '19',
  'question': 'List all provinces in Germany',
  'query_string': "SELECT province.name FROM province JOIN country ON province.country = country.code WHERE country.name = 'Germany'",
  'type': 'medium',
  'token_usage': {'table_recall': {'total_tokens': 2023,
    'total_cost': 0.007372,
    'prompt_tokens': 720,
    'completion_tokens': 1303},
   'column_recall': {'total_tokens': 4306,
    'total_cost': 0.017006,
    'prompt_tokens': 218,
    'completion_tokens': 4088},
   'schema_linking': {'total_tokens': 4210,
    'total_cost': 0.012732,
    'prompt_tokens': 4108,
    'completion_tokens': 102},
   'classification': {'total_tokens': 2235,
    'total_cost': 0.006804,
    'prompt_tokens': 2136,
    'completion_tokens': 99},

## Testes com cada módulo

In [12]:
question = 'What are the provinces with an area greater than 10000?'

model_name = 'gpt-3.5-turbo-16k'
llm_c3 = ChatOpenAI(model_name = 'gpt-3.5-turbo', temperature=0.7, n=10)
model_kwargs = {'top_p':1.0, 'frequency_penalty':0.0, 'presence_penalty':0.0}
llm_din = ChatOpenAI(model_name = model_name, temperature=0.0, n=1, max_tokens=600, model_kwargs = model_kwargs)

model_kwargs['stop'] = ['#', ';','\n\n']
llm_din_fix = ChatOpenAI(model_name = model_name, temperature=0.0, n=1, max_tokens=350, model_kwargs = model_kwargs)

In [13]:

schema_links, tables = schema_linking_din_c3(question, db, llm_c3, llm_din, add_fk = True)

# mondial_city (name, country, province, population, latitude, longitude, elevation, meta_repcol)
# mondial_citypops (city, country, province, year, population, meta_repcol)
# mondial_country (name, code, capital, province, area, population, meta_repcol)
# mondial_province (name, country, population, area, capital, capprov, meta_repcol)

In [14]:
print(schema_links)
print(tables)

[mondial_province.name,mondial_province.area,10000]
['mondial_province', 'mondial_country', 'mondial_city', 'mondial_citypops']

In [15]:
classification = classification_module(db, llm_din, question, schema_links, tables=tables)
classification

{'predicted_class': '"EASY"',
 'classification_label': 'The SQL query for the question "What are the provinces with an area greater than 10000?" needs these tables = [mondial_province], so we don\'t need JOIN.\nPlus, it doesn\'t require nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN), and we need the answer to the questions = [""].\nSo, we don\'t need JOIN and don\'t need nested queries, then the the SQL query can be classified as "EASY".\nLabel: "EASY"'}

In [16]:
SQL = generating_sql_with_hints(db, llm_din, question, schema_links, classification, tables=tables)
print(SQL)

EASY
SQL Parcial:  SELECT name FROM mondial_province WHERE area > 10000
SELECT name FROM mondial_province WHERE area > 10000

In [17]:
db.run(SQL)

'[(\'Oberösterreich\',), (\'Tirol\',), (\'Steiermark\',), (\'Niederösterreich\',), (\'Jihoceský\',), (\'Stredoceský\',), (\'Baden-Württemberg\',), (\'Bayern\',), (\'Brandenburg\',), (\'Hessen\',), (\'Mecklenburg-Vorpommern\',), (\'Niedersachsen\',), (\'Nordrhein-Westfalen\',), (\'Rheinland-Pfalz\',), (\'Sachsen\',), (\'Sachsen-Anhalt\',), (\'Schleswig-Holstein\',), (\'Thüringen\',), (\'Piemonte\',), (\'Lombardia\',), (\'Trentino-Alto Adige\',), (\'Veneto\',), (\'Emilia-Romagna\',), (\'Toscana\',), (\'Lazio\',), (\'Abruzzo\',), (\'Campania\',), (\'Puglia\',), (\'Calabria\',), (\'Sicilia\',), (\'Sardegna\',), (\'Slovenia\',), (\'Brest\',), (\'Vitebsk\',), (\'Gomel\',), (\'Grodno\',), (\'Mogilev\',), (\'Minsk\',), (\'Latvia\',), (\'Lithuania\',), (\'Dolnoslaskie\',), (\'Kujawsko-Pomorskie\',), (\'Lubelskie\',), (\'Lubuskie\',), (\'Lódzkie\',), (\'Malopolskie\',), (\'Mazowieckie\',), (\'Podkarpackie\',), (\'Podlaskie\',), (\'Pomorskie\',), (\'Slaskie\',), (\'Swietokrzyskie\',), (\'Warminsko-Mazurskie\',), (\'Wielkopolskie\',), (\'Zachodniopomorskie\',), (\'Cherkas´ka\',), (\'Chernihivs´ka\',), (\'Dnipropetrovs´ka\',), (\'Donets´ka\',), (\'Ivano-Frankivs´ka\',), (\'Kharkivs´ka\',), (\'Khersons´ka\',), (\'Khmel´nyts´ka\',), (\'Kyïvs´ka\',), (\'Kirovohrads´ka\',), (\'Luhans´ka\',), (\'L´vivs´ka\',), (\'Mykolaïvs´ka\',), (\'Odes´ka\',), (\'Poltavs´ka\',), (\'Rivnens´ka\',), (\'Sums´ka\',), (\'Ternopil´s´ka\',), (\'Vinnyts´ka\',), (\'Volyns´ka\',), (\'Zakarpats´ka\',), (\'Zaporiz´ka\',), (\'Zhytomyrs´ka\',), (\'Krym\',), (\'Karelia\',), (\'Komi\',), (\'Arkhangel´skaya\',), (\'Vologodskaya\',), (\'Murmanskaya\',), (\'Kaliningradskaya\',), (\'Leningradskaya\',), (\'Novgorodskaya\',), (\'Pskovskaya\',), (\'Bryanskaya\',), (\'Vladimirskaya\',), (\'Ivanovskaya\',), (\'Kaluzhskaya\',), (\'Kostromskaya\',), (\'Moskovskaya\',), (\'Orlovskaya\',), (\'Ryazanskaya\',), (\'Smolenskaya\',), (\'Tverskaya\',), (\'Tul´skaya\',), (\'Yaroslavskaya\',), (\'Mariy-El\',), (\'Mordoviya\',), (\'Chuvashia\',), (\'Kirovskaya\',), (\'Nizhnii Novgorodskaya\',), (\'Belgorodskaya\',), (\'Voronezhskaya\',), (\'Kurskaya\',), (\'Lipetskaya\',), (\'Tambovskaya\',), (\'Kalmykiya\',), (\'Tatarstan\',), (\'Astrakhanskaya\',), (\'Volgogradskaya\',), (\'Penzenskaya\',), (\'Samarskaya\',), (\'Saratovskaya\',), (\'Ul´yanovskaya\',), (\'Rostovskaya\',), (\'Bashkortostan\',), (\'Udmurtskaya\',), (\'Orenburgskaya\',), (\'Permskij\',), (\'Dagestan\',), (\'Kabardino-Balkarskaya\',), (\'Karachayevo-Cherkesskaya\',), (\'Chechenskaya\',), (\'Krasnodarskiy\',), (\'Stavropol´skiy\',), (\'Kurganskaya\',), (\'Sverdlovskaya\',), (\'Chelyabinskaya\',), (\'Altay\',), (\'Altayskiy\',), (\'Kemerovskaya\',), (\'Novosibirskaya\',), (\'Omskaya\',), (\'Tomskaya\',), (\'Tyumenskaya\',), (\'Buryatiya\',), (\'Tyva\',), (\'Khakasiya\',), (\'Krasnoyarsk\',), (\'Irkutskaya\',), (\'Zabaykalskiy\',), (\'Sakha\',), (\'Jewish Autonomous Oblast\',), (\'Syddanmark\',), (\'Estonia\',), (\'Pirkanmaa\',), (\'Pohjois-Savo\',), (\'Lappia\',), (\'Etelä-Savo\',), (\'Keski-Suomi\',), (\'Pohjols-Karjala\',), (\'Pohjois-Pohjanmaa\',), (\'Kainuu\',), (\'Varsinais-Suomi\',), (\'Etelä-Pohjanmaa\',), (\'Hedmark\',), (\'Oppland\',), (\'Buskerud\',), (\'Telemark\',), (\'Hordaland\',), (\'Sogn og Fjordane\',), (\'Møre og Romsdal\',), (\'Sør-Trøndelag\',), (\'Nord-Trøndelag\',), (\'Nordland\',), (\'Troms\',), (\'Finnmark\',), (\'Västra Götaland\',), (\'Gävleborg\',), (\'Jämtland\',), (\'Jönköping\',), (\'Kalmar\',), (\'Dalarna\',), (\'Skåne\',), (\'Norrbotten\',), (\'Östergötland\',), (\'Värmland\',), (\'Västerbotten\',), (\'Västernorrland\',), (\'Iceland\',), (\'Ireland\',), (\'Moldova\',), (\'Beja\',), (\'Svalbard\',), (\'North West\',), (\'Yorkshire and the Humber\',), (\'East Midlands\',), (\'West Midlands\',), (\'East of England\',), (\'South East\',), (\'South West\',), (\'Scotland\',), (\'Wales\',), (\'Northern Ireland\',), (\'Afghanistan\',), (\'Anhui\',), (\'Fujian\',), (\'Gansu\',), (\'Guangdong\',), (\'Guizhou\',), (\'Hainan\',), (\'Hebei\',), (\'Heilongjiang\',), (\'Henan\',), (\'Hubei\',), (\'Hunan\',), (\'Jiangsu\',), (\'Jiangxi\',), (\'Jilin\',), (\'Liaoning\',), (\'Qinghai\',), (\'Shaanxi\',), (\'Shandong\',), (\'Shanxi\',), (\'Sichuan\',), (\'Yunnan\',), (\'Zhejiang\',), (\'Guangxi\',), (\'Nei Mongol\',), (\'Ningxia\',), (\'Xinjiang\',), (\'Xizang\',), (\'Beijing\',), (\'Tianjin\',), (\'Chongqing\',), (\'West Azarbayejan\',), (\'East Azarbayejan\',), (\'Kermanshah\',), (\'Kohgiluyeh and Boyer-Ahmad\',), (\'Bushehr\',), (\'Chaharmahal and Bakhtiyari\',), (\'Esfahan\',), (\'Fars\',), (\'Gilan\',), (\'Hamedan\',), (\'Hormozgan\',), (\'Ilam\',), (\'Kerman\',), (\'Khorasan-e-Razavi\',), (\'Khuzestan\',), (\'Kurdestan\',), (\'Lorestan\',), (\'Markazi\',), (\'Mazandaran\',), (\'Semnan\',), (\'Sistan and Baluchestan\',), (\'Tehran\',), (\'Yazd\',), (\'Zanjan\',), (\'Ardebil\',), (\'Golestan\',), (\'Qom\',), (\'Qazvin\',), (\'North Khorasan\',), (\'South Khorasan\',), (\'Azad Jammu and Kashmir\',), (\'Balochistan\',), (\'FATA\',), (\'Gilgit-Baltistan\',), (\'Khyber Pakhtunkhwa\',), (\'Punjab\',), (\'Sindh\',), (\'Regions of Republican Subordination\',), (\'Sughd\',), (\'Khatlon\',), (\'Gorno-Badakhshan\',), (\'Akhal\',), (\'Balkan\',), (\'Dashhowuz\',), (\'Lebap\',), (\'Mary\',), (\'Buxoro\',), (\'Jizzax\',), (\'Navoiy\',), (\'Qasqadaryo\',), (\'Samarqand\',), (\'Surkhandarya\',), (\'Toshkent\',), (\'Qoraqalpog¿iston\',), (\'Armenia\',), (\'Georgia\',), (\'Azerbaijan\',), (\'Barisal\',), (\'Chittagong\',), (\'Dhaka\',), (\'Khulna\',), (\'Rajshahi\',), (\'Rangpur\',), (\'Sylhet\',), (\'Mymensingh\',), (\'Ayeyarwady\',), (\'Magwe\',), (\'Mandalay\',), (\'Bago\',), (\'Yangon\',), (\'Sagaing\',), (\'Tanintharyi\',), (\'Chin\',), (\'Kachin\',), (\'Kayin\',), (\'Kayah\',), (\'Mon\',), (\'Rakhine\',), (\'Shan\',), (\'Andhra Pradesh\',), (\'Arunachal Pradesh\',), (\'Assam\',), (\'Bihar\',), (\'Gujarat\',), (\'Haryana\',), (\'Himachal Pradesh\',), (\'Jammu and Kashmir\',), (\'Karnataka\',), (\'Kerala\',), (\'Madhya Pradesh\',), (\'Maharashtra\',), (\'Manipur\',), (\'Meghalaya\',), (\'Mizoram\',), (\'Nagaland\',), (\'Odisha\',), (\'Punjab\',), (\'Rajasthan\',), (\'Tamil Nadu\',), (\'Tripura\',), (\'Uttar Pradesh\',), (\'West Bengal\',), (\'Chhattisgarh\',), (\'Jharkhand\',), (\'Telangana\',), (\'Uttarakhand\',), (\'Bhutan\',), (\'Johor\',), (\'Kelantan\',), (\'Pahang\',), (\'Perak\',), (\'Sabah\',), (\'Sarawak\',), (\'Terengganu\',), (\'Laos\',), (\'Thailand\',), (\'Cambodia\',), (\'Northern Midlands and Mountains\',), (\'Red River Delta\',), (\'North and South Central Coast\',), (\'Central Highlands\',), (\'Southeast\',), (\'Mekong River Delta\',), (\'Almaty\',), (\'Akmola\',), (\'Aktobe\',), (\'Atyrau\',), (\'West Kazakhstan\',), (\'Mangistau\',), (\'South-Kazakhstan\',), (\'Pavlodar\',), (\'Karaganda\',), (\'Kostanai\',), (\'Kyzylorda\',), (\'East-Kazakhstan\',), (\'North-Kazakhstan\',), (\'Zhambyl\',), (\'Albania\',), (\'Anatolikis Makedonias kai Thrakis\',), (\'Dytikis Elladas\',), (\'Kentrikis Makedonias\',), (\'Peloponnisos\',), (\'Stereas Elladas\',), (\'Thessalias\',), (\'Macedonia\',), (\'Serbia\',), (\'Montenegro\',), (\'Kosovo\',), (\'Aquitaine\',), (\'Auvergne\',), (\'Basse Normandie\',), (\'Bretagne\',), (\'Bourgogne\',), (\'Centre\',), (\'Champagne-Ardenne\',), (\'Franche-Comté\',), (\'Haute-Normandie\',), (\'Île-de-France\',), (\'Languedoc-Roussillon\',), (\'Limousin\',), (\'Lorraine\',), (\'Midi-Pyrénées\',), (\'Nord-Pas-de-Calais\',), (\'Pays de la Loire\',), (\'Picardie\',), (\'Poitou Charentes\',), ("Provence-Alpes-Côte d\'Azur",), (\'Rhône-Alpes\',), (\'Andalucía\',), (\'Aragón\',), (\'Asturias\',), (\'Castilla y León\',), (\'Castilla-La Mancha\',), (\'Catalunya\',), (\'Extremadura\',), (\'Galicia\',), (\'Murcia\',), (\'Navarra\',), (\'Valenciana\',), (\'North West\',), (\'Western Cape\',), (\'Zimbabwe\',), (\'Bas-Sassandra\',), (\'Denguélé\',), (\'Gôh-Djiboua\',), (\'Sassandra-Marahoué\',), (\'Lacs\',), (\'Lagunes\',), (\'Montagnes\',), (\'Comoé\',), (\'Savanes\',), (\'Vallée du Bandama\',), (\'Woroba\',), (\'Zanzan\',), (\'Ashanti\',), (\'Brong Ahafo\',), (\'Eastern\',), (\'Northern\',), (\'Upper West\',), (\'Volta\',), (\'Western\',), (\'Burundi\',), (\'Rwanda\',), (\'Dodoma\',), (\'Arusha\',), (\'Kilimanjaro\',), (\'Tanga\',), (\'Morogoro\',), (\'Pwani\',), (\'Lindi\',), (\'Mtwara\',), (\'Ruvuma\',), (\'Iringa\',), (\'Mbeya\',), (\'Singida\',), (\'Tabora\',), (\'Rukwa\',), (\'Kigoma\',), (\'Shinyanga\',), (\'Kagera\',), (\'Mara\',), (\'Manyara\',), (\'Njombe\',), (\'Katavi\',), (\'Simiyu\',), (\'Geita\',), (\'Adamaoua\',), (\'Centre\',), (\'Est\',), (\'Extrême-Nord\',), (\'Littoral\',), (\'Nord\',), (\'Nord-Ouest\',), (\'Ouest\',), (\'Sud\',), (\'Sud-Ouest\',), (\'Central African Republic\',), (\'Chad\',), (\'Continental\',), (\'Gabon\',), (\'Sudan\',), (\'South Sudan\',), (\'Guinea\',), (\'Liberia\',), (\'Djibouti\',), (\'Eritrea\',), (\'Afar\',), (\'Amhara\',), (\'Benishangul-Gumuz\',), (\'Gambella\',), (\'Oromia\',), (\'Somali\',), (\'Tigray\',), (\'YeDebub Biheroch Bihereseboch na Hizboch\',), (\'Somalia\',), (\'Kenya\',), (\'Gambia\',), (\'Kolda\',), (\'Louga\',), (\'Saint-Louis\',), (\'Tambacounda\',), (\'Matam\',), (\'Kédougou\',), (\'Kaffrine\',), (\'Guinea-Bissau\',), (\'Sierra Leone\',), (\'Central\',), (\'Eastern\',), (\'Northern\',), (\'Western\',), (\'Lesotho\',), (\'Madagascar\',), (\'Malawi\',), (\'Cabo Delgado\',), (\'Gaza\',), (\'Inhambane\',), (\'Manica\',), (\'Maputo\',), (\'Nampula\',), (\'Niassa\',), (\'Sofala\',), (\'Tete\',), (\'Zambézia\',), (\'Swaziland\',), (\'North Korea\',), (\'Kyrgyzstan\',), (\'Mongolia\',), (\'Nepal\',), (\'HaDarom\',), (\'Egypt\',), (\'Aceh\',), (\'Sumatera Utara\',), (\'Sumatera Barat\',), (\'Riau\',), (\'Jambi\',), (\'Sumatera Selatan\',), (\'Bengkulu\',), (\'Lampung\',), (\'Kepulauan Bangka Belitung\',), (\'Jawa Barat\',), (\'Jawa Tengah\',), (\'Jawa Timur\',), (\'Nusa Tenggara Barat\',), (\'Nusa Tenggara Timur\',), (\'Kalimantan Barat\',), (\'Kalimantan Tengah\',), (\'Kalimantan Selatan\',), (\'Kalimantan Timur\',), (\'Sulawesi Utara\',), (\'Sulawesi Tengah\',), (\'Sulawesi Selatan\',), (\'Sulawesi Tenggara\',), (\'Gorontalo\',), (\'Sulawesi Barat\',), (\'Maluku\',), (\'Maluku Utara\',), (\'Papua Barat\',), (\'Papua\',), (\'Timor-Leste\',), (\'Papua New Guinea\',), (\'al-Anbar\',), (\'Basrah\',), (\'Thi Qar\',), (\'Diala\',), (\'Maysan\',), (\'al-Muthanna\',), (\'al-Najaf\',), (\'Nineveh\',), (\'Salah al-Deen\',), (\'Wasit\',), (\'Erbil\',), (\'As Sulaymaniyah\',), (\'Jordan\',), (\'Kuwait\',), (\'Al-Hudud ash Shamaliyah\',), (\'Al-Jouf\',), (\'Al-Madinah Al-Monawarah\',), (\'Al-Qaseem\',), (\'Al-Riyadh\',), (\'Aseer\',), (\'Ash Sharqiyah\',), ("Ha\'il",), (\'Jazan\',), (\'Makkah Al-Mokarramah\',), (\'Najran\',), (\'Tabouk\',), (\'Al Hasakah\',), (\'Ar Raqqah\',), (\'Dayr az Zawr\',), (\'Halab\',), (\'Hims\',), (\'Rif Dimashq\',), (\'Lebanon\',), (\'Hokkaido\',), (\'Iwate\',), (\'Akita\',), (\'Fukushima\',), (\'Niigata\',), (\'Tocantins\',), (\'Tarapacá\',), (\'Antofagasta\',), (\'Atacama\',), (\'Coquimbo\',), (\'Valparaíso\',), ("Libertador General Bernardo O\'Higgins",), (\'Maule\',), (\'Bío-Bío\',), (\'Araucanía\',), (\'Lagos\',), (\'Aysén\',), (\'Magallanes\',), (\'Santiago\',), (\'Ríos\',), (\'Arica y Parinacota\',), (\'Paraguay\',), (\'Uruguay\',), (\'Amazonas\',), (\'Ancash\',), (\'Apurímac\',), (\'Arequipa\',), (\'Ayacucho\',), (\'Cajamarca\',), (\'Cusco\',), (\'Huancavelica\',), (\'Huánuco\',), (\'Ica\',), (\'Junín\',), (\'La Libertad\',), (\'Lambayeque\',), (\'Lima\',), (\'Loreto\',), (\'Madre de Dios\',), (\'Moquegua\',), (\'Pasco\',), (\'Piura\',), (\'Puno\',), (\'San Martín\',), (\'Tacna\',), (\'Ucayali\',), (\'French Guiana\',), (\'Guyana\',), (\'Suriname\',), (\'Amazonas\',), (\'Anzoátegui\',), (\'Apure\',), (\'Barinas\',), (\'Bolívar\',), (\'Cojedes\',), (\'Delta Amacuro\',), (\'Falcón\',), (\'Guárico\',), (\'Lara\',), (\'Mérida\',), (\'Monagas\',), (\'Portuguesa\',), (\'Sucre\',), (\'Táchira\',), (\'Zulia\',), (\'Ecuador\',), (\'Falkland Islands\',), (\'Algeria\',), (\'Libya\',), (\'Gao\',), (\'Kayes\',), (\'Kidal\',), (\'Koulikoro\',), (\'Mopti\',), (\'Ségou\',), (\'Sikasso\',), (\'Tombouctou\',), (\'Adrar\',), (\'Assaba\',), (\'Brakna\',), (\'Dakhlet Nouadhibou\',), (\'Gorgol\',), (\'Guidimagha\',), (\'Hodh Chargui\',), (\'Hodh El Gharbi\',), (\'Inchiri\',), (\'Tagant\',), (\'Tiris Zemmour\',), (\'Trarza\',), (\'Guelmim Es Semara\',), (\'Souss Massa Daraa\',), (\'Marrakech Tensift Al Haouz\',), (\'Oriental\',), (\'Doukala Abda\',), (\'Tadla Azilal\',), (\'Meknes Tafilalet\',), (\'Fes Boulemane\',), (\'Taza Al Hoceima Taounate\',), (\'Tanger Tetouan\',), (\'Agadez\',), (\'Diffa\',), (\'Dosso\',), (\'Maradi\',), (\'Tahoua\',), (\'Tillabéri\',), (\'Nagano\',), (\'Gifu\',), (\'South Korea\',), (\'Oman\',), (\'United Arab Emirates\',), (\'Yemen\',), (\'Ilocos\',), (\'Cagayan Valley\',), (\'Central Luzon\',), (\'Calabarzon\',), (\'Bicol\',), (\'Western Visayas\',), (\'Central Visayas\',), (\'Eastern Visayas\',), (\'Zamboanga Peninsula\',), (\'Northern Mindanao\',), (\'Davao\',), (\'Soccsksargen\',), (\'Cordillera\',), (\'Muslim Mindanao\',), (\'Caraga\',), (\'Mimaropa\',), (\'Qatar\',), (\'Sri Lanka\',), (\'Taiwan\',), (\'Bahamas\',), (\'Belize\',), (\'Guatemala\',), (\'Baja California\',), (\'Baja California Sur\',), (\'Campeche\',), (\'Chiapas\',), (\'Chihuahua\',), (\'Coahuila\',), (\'Durango\',), (\'Guanajuato\',), (\'Guerrero\',), (\'Hidalgo\',), (\'Jalisco\',), (\'México, Estado de\',), (\'Michoacán\',), (\'Nayarit\',), (\'Nuevo Léon\',), (\'Oaxaca\',), (\'Puebla\',), (\'Querétaro\',), (\'Quintana Roo\',), (\'San Luis Potosí\',), (\'Sinaloa\',), (\'Sonora\',), (\'Tabasco\',), (\'Tamaulipas\',), (\'Veracruz\',), (\'Yucatán\',), (\'Zacatecas\',), (\'Alberta\',), (\'British Columbia\',), (\'Manitoba\',), (\'New Brunswick\',), (\'Newfoundland and Labrador\',), (\'Northwest Territories\',), (\'Nova Scotia\',), (\'Ontario\',), (\'Quebec\',), (\'Saskatchewan\',), (\'Yukon\',), (\'Nunavut\',), (\'Alabama\',), (\'Alaska\',), (\'Arizona\',), (\'Arkansas\',), (\'California\',), (\'Colorado\',), (\'Connecticut\',), (\'Florida\',), (\'Georgia\',), (\'Hawaii\',), (\'Idaho\',), (\'Illinois\',), (\'Indiana\',), (\'Iowa\',), (\'Kansas\',), (\'Kentucky\',), (\'Louisiana\',), (\'Maine\',), (\'Maryland\',), (\'Massachusetts\',), (\'Michigan\',), (\'Minnesota\',), (\'Mississippi\',), (\'Missouri\',), (\'Montana\',), (\'Nebraska\',), (\'Nevada\',), (\'New Hampshire\',), (\'New Jersey\',), (\'New Mexico\',), (\'New York\',), (\'North Carolina\',), (\'North Dakota\',), (\'Ohio\',), (\'Oklahoma\',), (\'Oregon\',), (\'Pennsylvania\',), (\'South Carolina\',), (\'South Dakota\',), (\'Tennessee\',), (\'Texas\',), (\'Utah\',), (\'Vermont\',), (\'Virginia\',), (\'Washington\',), (\'West Virginia\',), (\'Wisconsin\',), (\'Wyoming\',), (\'Guanacaste\',), (\'Puntarenas\',), (\'Nicaragua\',), (\'Darién\',), (\'Panamá\',), (\'Veraguas\',), (\'Camagüey\',), (\'Matanzas\',), (\'Dominican Republic\',), (\'Haiti\',), (\'El Salvador\',), (\'Gracias a Dios\',), (\'Olancho\',), (\'Greenland\',), (\'Jamaica\',), (\'Amazonas\',), (\'Antioquia\',), (\'Arauca\',), (\'Bolívar\',), (\'Boyacá\',), (\'Caquetá\',), (\'Casanare\',), (\'Cauca\',), (\'Cesar\',), (\'Chocó\',), (\'Córdoba\',), (\'Cundinamarca\',), (\'Guainía\',), (\'La Guajira\',), (\'Guaviare\',), (\'Huila\',), (\'Magdalena\',), (\'Meta\',), (\'Nariño\',), (\'Norte de Santander\',), (\'Putumayo\',), (\'Santander\',), (\'Sucre\',), (\'Tolima\',), (\'Valle de Cauca\',), (\'Vaupés\',), (\'Vichada\',), (\'New South Wales\',), (\'Northern Territory\',), (\'Queensland\',), (\'South Australia\',), (\'Tasmania\',), (\'Victoria\',), (\'Western Australia\',), (\'Fiji\',), (\'New Caledonia\',), (\'New Zealand\',), (\'Solomon Islands\',), (\'Vanuatu\',), (\'Buenos Aires\',), (\'Catamarca\',), (\'Chaco\',), (\'Chubut\',), (\'Córdoba\',), (\'Corrientes\',), (\'Entre Ríos\',), (\'Formosa\',), (\'Jujuy\',), (\'La Pampa\',), (\'La Rioja\',), (\'Mendoza\',), (\'Misiones\',), (\'Neuquén\',), (\'Río Negro\',), (\'Salta\',), (\'San Juan\',), (\'San Luis\',), (\'Santa Cruz\',), (\'Santa Fe\',), (\'Santiago de Estero\',), (\'Tierra del Fuego\',), (\'Tucumán\',), (\'La Paz\',), (\'Oruro\',), (\'Potosí\',), (\'Santa Cruz\',), (\'Beni\',), (\'Pando\',), (\'Chuquisaca\',), (\'Cochabamba\',), (\'Tarija\',), (\'Acre\',), (\'Alagoas\',), (\'Amapá\',), (\'Amazonas\',), (\'Bahia\',), (\'Ceará\',), (\'Espírito Santo\',), (\'Goiás\',), (\'Maranhão\',), (\'Mato Grosso\',), (\'Mato Grosso do Sul\',), (\'Minas Gerais\',), (\'Pará\',), (\'Paraíba\',), (\'Paraná\',), (\'Pernambuco\',), (\'Piauí\',), (\'Rio de Janeiro\',), (\'Rio Grande do Norte\',), (\'Rio Grande do Sul\',), (\'Rondônia\',), (\'Roraima\',), (\'Santa Catarina\',), (\'São Paulo\',), (\'Sergipe\',), (\'Chukotka\',), (\'Primorskiy\',), (\'Khabarovskiy\',), (\'Amurskaya\',), (\'Kamchatka\',), (\'Magadanskaya\',), (\'Sakhalin\',), (\'Khanty Mansi ao\',), (\'Yamalo Nenets ao\',), (\'Federacija Bosne i Hercegovine\',), (\'Republika Srpska\',), (\'Croatia\',), (\'Bulgaria\',), (\'Adana\',), (\'Afyonkarahisar\',), (\'Agri\',), (\'Ankara\',), (\'Antalya\',), (\'Balikesir\',), (\'Bursa\',), (\'Çorum\',), (\'Denizli\',), (\'Diyarbakir\',), (\'Erzincan\',), (\'Erzurum\',), (\'Eskisehir\',), (\'Mersin\',), (\'Izmir\',), (\'Kahramanmaras\',), (\'Kars\',), (\'Kastamonu\',), (\'Kayseri\',), (\'Konya\',), (\'Kütahya\',), (\'Malatya\',), (\'Manisa\',), (\'Mugla\',), (\'Sanliurfa\',), (\'Sivas\',), (\'Tokat\',), (\'Van\',), (\'Yozgat\',), (\'Midtjylland\',), (\'Zinder\',), (\'Tunisia\',), (\'Western Sahara\',), (\'Zaire\',), (\'Uíge\',), (\'Cuanza Norte\',), (\'Cuanza Sul\',), (\'Malanje\',), (\'Lunda-Norte\',), (\'Lunda-Sul\',), (\'Benguela\',), (\'Huambo\',), (\'Bié\',), (\'Moxico\',), (\'Cuando Cubango\',), (\'Namibe\',), (\'Huíla\',), (\'Bengo\',), (\'Cunene\',), (\'Kouilou\',), (\'Niari\',), (\'Lékoumou\',), (\'Bouenza\',), (\'Pool\',), (\'Plateaux\',), (\'Cuvette\',), (\'Cuvette-Ouest\',), (\'Sangha\',), (\'Likouala\',), (\'Namibia\',), (\'Kongo Central\',), (\'Kwango\',), (\'Kwilu\',), (\'Mai-Ndombe\',), (\'Kasai\',), (\'Kasai-Central\',), (\'Lomami\',), (\'Sankuru\',), (\'Maniema\',), (\'Sud-Kivu\',), (\'Nord-Kivu\',), (\'Ituri\',), (\'Haut-Uele\',), (\'Tshopo\',), (\'Bas-Uele\',), (\'Nord-Ubangi\',), (\'Mongala\',), (\'Sud-Ubangi\',), (\'Équateur\',), (\'Tshuapa\',), (\'Tanganyika\',), (\'Haut-Lomami\',), (\'Lualaba\',), (\'Haut-Katanga\',), (\'Central\',), (\'Copperbelt\',), (\'Eastern\',), (\'Luapula\',), (\'Lusaka\',), (\'Northern\',), (\'North-Western\',), (\'Southern\',), (\'Western\',), (\'Benin\',), (\'Burkina Faso\',), (\'Adamawa\',), (\'Bauchi\',), (\'Benue\',), (\'Borno\',), (\'Cross River\',), (\'Delta\',), (\'Edo\',), (\'Gombe\',), (\'Jigawa\',), (\'Kaduna\',), (\'Kano\',), (\'Katsina\',), (\'Kebbi\',), (\'Kogi\',), (\'Kwara\',), (\'Nasarawa\',), (\'Niger\',), (\'Ogun\',), (\'Ondo\',), (\'Oyo\',), (\'Plateau\',), (\'Rivers\',), (\'Sokoto\',), (\'Taraba\',), (\'Yobe\',), (\'Zamfara\',), (\'Togo\',), (\'Botswana\',), (\'Eastern Cape\',), (\'Free State\',), (\'Gauteng\',), (\'KwaZulu-Natal\',), (\'Mpumalanga\',), (\'Northern Cape\',), (\'Limpopo\',)]'