# Validacao dos Resultados - DIN+C3 - Mondial

In [ ]:

from dotenv import load_dotenv
import os
import sys
import json
import pandas as pd
import time
import datetime
load_dotenv()

experiment_path = '..\..'

path = os.path.abspath('')
module_path = os.path.join(path, experiment_path)
print(module_path)
if module_path not in sys.path:
    sys.path.append(module_path+"\\functions")


from dataset_utils import DatasetEvaluator

In [8]:
DEFAULT_PATH = "results/"
EXPERIMENT = "Combining DIN+C3 - Mondial"
TARGET_PATH = f"evaluator_results/{EXPERIMENT}_results.csv"
TARGET_PATH_FK = f"evaluator_results/{EXPERIMENT}_foreign_key_results.csv"

Funções úteis

In [9]:
def save_queries(queries, FILE_NAME_PATH):
    data = {"queries":queries}
    with open(FILE_NAME_PATH, "w") as arquivo_json:
        json.dump(data, arquivo_json, indent=4) 

def read_queries(FILE_NAME_PATH):
    with open(FILE_NAME_PATH, encoding="utf-8", errors="ignore") as json_data:
        data = json.load(json_data, strict=False)
    queries = data["queries"]
    return queries

def get_schema(FILE_NAME_PATH):
    if "mondial_gpt" in FILE_NAME_PATH:
        return "mondial_gpt"
    elif "mondial" in FILE_NAME_PATH:
        return "mondial"
    return ""

def get_count_query_type(queries):
    count_types = {}
    for item in queries:
        type = item["type"]
        if type in count_types:
            count_types[type] += 1
        else:
            count_types[type] = 1
    count_types['total'] = len(queries)
    return count_types

def get_dataset_evaluator(FILE_NAME_PATH):
    SCHEMA = get_schema(FILE_NAME_PATH)  
    PREFIX = SCHEMA  
    if SCHEMA == "mondial_gpt":
        PREFIX = "mondial"
    print(PREFIX)
    print(SCHEMA)
    dataset_eval = DatasetEvaluator(dataset_file_path=f"../../datasets/{PREFIX}/{PREFIX}_dataset.json",
                                dataset_tables_path=f"../../datasets/{PREFIX}/result_tables/",
                                db_connection_file=f"../../datasets/{SCHEMA}_db_connection.json",
                                dataset_name=SCHEMA)
    return dataset_eval

def get_files_in_folder():
    files = []
    for r, d, f in os.walk(DEFAULT_PATH):
        for file in f:
            if '.json' in file and 'erro' not in file:
                files.append(os.path.join(r, file))
    return sorted(files)

def evaluate_query(queries, dataset_eval, FILE_NAME_PATH):
    result = {'simple': 0, 'medium': 0, 'complex': 0, 'total': 0}

    for q in queries:
        evaluate_result = False
        q['similarity'] = 0
        try:
            if q["query_string"].strip() != "":
                evaluate_result, similarity, column_matching_index = dataset_eval.evaluate_dataset_query(q["query_string"], q["id"], query_type="sql")
                q['column_matching_index'] = column_matching_index
                q['similarity']=similarity
            
        except Exception as e:
            print(str(e))
            
        q['result'] = evaluate_result
        
        if evaluate_result==True:
            result['total'] += 1
            result[q["type"]] += 1
        
    save_queries(queries, FILE_NAME_PATH)   
    return result

def get_file_name(FILE_NAME_PATH):
    parts = FILE_NAME_PATH.split("/")
    last_element = parts[-1]
    file_name = last_element.replace(".json", "")
    return file_name

def get_experiment_name(filename):
    schema = get_schema(filename).upper()
    experiment_name = f"{EXPERIMENT} - {schema}"
    if "chatgpt4" in filename:
        experiment_name += " - GPT-4"
    elif "chatgpt_" in filename:
        experiment_name += " - GPT-3.5"
    elif "llama" in filename:
        experiment_name += " - LLAMA"
        
    if "instances" in filename:
        experiment_name += " - Passing Database Rows"
    elif "code_representation" in filename:
        experiment_name += " - Code Representation"
    elif "no_self_correction" in  filename:
        experiment_name += " - No Self Correction Mechanism"
    elif "copy" in filename:
        experiment_name += " - Old"
        
    if "_fk" in filename:
        experiment_name += " - FK"
    return experiment_name

def compute_cost(filename):
    queries = read_queries(filename)
    total_costs = 0
    total_tokens = 0
    input_tokens = 0
    output_tokens = 0

    for q in queries:
        data = q.get('token_usage', None)
        if data is not None:
            for key, track_token in data.items():
                total_tokens += track_token.get('total_tokens', 0)
                total_costs += track_token.get('total_cost', 0)
                input_tokens += track_token.get('prompt_tokens', 0)
                output_tokens += track_token.get('completion_tokens', 0)
    print(total_tokens)
    print(round(total_costs, 2))

    return total_tokens, round(total_costs, 2), input_tokens, output_tokens

def compute_time(filename):
    queries = read_queries(filename)
    total_time = 0
    for q in queries:
        total_time += q.get('time', 0)
    print(total_time)
    return str(datetime.timedelta(seconds=round(total_time)))

In [10]:
def run(result_files = [], results = [], compute_costs = True):
    
    if result_files == [] :
        result_files = get_files_in_folder()
    else:
        result_files = sorted(result_files)
        
    
    for file in result_files:
        queries = read_queries(file)
        dataset_eval = get_dataset_evaluator(file)
        count_query_type = get_count_query_type(queries)
        result = evaluate_query(queries, dataset_eval, file)
        
        overall_by_type = {}
        for item in result:
            overall_by_type[f"overall_{item}"] = round(result[item] / count_query_type[item], 4)
        
        result['experiment'] = get_file_name(file)
        result = {**result, **overall_by_type}
        
        result['total_tokens'], result['total_cost'], result['average_tokens_by_query'] = 0, 0, 0
        if compute_costs:
            result['total_tokens'], result['total_cost'], result['input_tokens'], result['output_tokens'] = compute_cost(file)
        result['total_time'] = compute_time(file)
        results.append(result)
        time.sleep(5)
    return results

## Validando os resultados

# Validação com os Esquemas com Foreign Keys

In [18]:
results_fk = run([
 'results/5_combining_din_c3_queries_chatgpt_mondial_gpt_fk.json', 
 'results/6_combining_din_c3_queries_chatgpt4_mondial_gpt_fk.json'], [])

mondial
mondial_gpt
SELECT max(area) FROM mondial_country where name  = 'Thailand'
SELECT country.area FROM country WHERE country.name = 'Thailand'
True cols: Index(['MAX(AREA)'], dtype='object')
Adj. True cols: Index(['MAX(AREA)'], dtype='object')
Predicted cols: Index(['AREA'], dtype='object')
Adj. Predicted cols: Index(['AREA'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT name FROM mondial_province where area > 10000
SELECT province.name FROM province WHERE province.area > 10000
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index(['NAME'], dtype='object')
Predicted cols: Index(['NAME'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT mondial_language.name FROM mondial_language INNER JOIN mondial_country ON mondial_language.country = mondial_country.code WHERE mondial_country.name = 'Poland'
SELECT language.name FROM language WHERE language.country = 'Poland'
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['NAME'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT depth FROM mondial_lake where name LIKE '%Lake Kariba%'
SELECT depth FROM lake WHERE name = 'Lake Kariba'
True cols: Index(['DEPTH'], dtype='object')
Adj. True cols: Index(['DEPTH'], dtype='object')
Predicted cols: Index(['DEPTH'], dtype='object')
Adj. Predicted cols: Index(['DEPTH'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT count(*) FROM mondial_province p INNER JOIN mondial_country c ON p.country = c.code WHERE c.name = 'Netherlands'
SELECT COUNT(province.name)  FROM province  JOIN country ON province.country = country.code  WHERE country.name = 'Netherlands'
True cols: Index(['COUNT(*)'], dtype='object')
Adj. True cols: Index(['COUNT(*)'], dtype='object')
Predicted cols: Index(['COUNT(PROVINCE.NAME)'], dtype='object')
Adj. Predicted cols: Index(['COUNT(PROVINCE.NAME)'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT r.percentage FROM mondial_religion r INNER JOIN mondial_country c ON r.country = c.code WHERE c.name = 'Thailand' AND r.name LIKE '%Hindu%'
SELECT religion.percentage  FROM  religion  JOIN  country  ON religion.country = country.code  WHERE  religion.name = 'Hindu'  AND country.name = 'Thailand'
True cols: Index(['PERCENTAGE'], dtype='object')
Adj. True cols: Index(['PERCENTAGE'], dtype='object')
Predicted cols: Index(['PERCENTAGE'], dtype='object')
Adj. Predicted cols: Index(['PERCENTAGE'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT river.name, COUNT(DISTINCT geo_river.province) FROM river JOIN geo_river ON river.name = geo_river.river GROUP BY river.name
SELECT river.name, COUNT(DISTINCT riverthrough.province) AS num_provinces FROM river JOIN riverthrough ON river.name = riverthrough.river GROUP BY river.name
Error: Execution failed on sql 'SELECT river.name, COUNT(DISTINCT riverthrough.province) AS num_provinces FROM river JOIN riverthrough ON river.name = riverthrough.river GROUP BY river.name': ORA-00904: "RIVERTHROUGH"."PROVINCE": invalid identifier
SELECT c.name FROM mondial_country c
INNER JOIN mondial_politics p ON c.code = p.country
WHERE independence > DATE '1910-08-01' AND independence < DATE '1950-08-01'
SELECT T1.name  FROM      country T1      JOIN politics T2 ON T1.code = T2.country  WHERE      T2.independence >= TO_DATE('8/1/1910', 'MM/DD/YYYY')      AND T2.independence <= TO_DATE('8/1/1950', 'MM/DD/YYYY')
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index(['NAME'], dtype='object')
Predicted cols: Index(['NAME'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT * FROM mondial_city ci INNER JOIN mondial_country c on ci.country = c.code where c.name = 'Cuba'
SELECT city.name FROM city JOIN country ON city.country = country.code WHERE country.name = 'Cuba'
True cols: Index(['NAME', 'COUNTRY', 'PROVINCE', 'POPULATION', 'LATITUDE', 'LONGITUDE',
       'ELEVATION', 'META_REPCOL', 'NAME', 'CODE', 'CAPITAL', 'PROVINCE',
       'AREA', 'POPULATION', 'META_REPCOL'],
      dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['NAME'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT capital FROM mondial_country WHERE name = 'Georgia'
SELECT capital FROM country WHERE name = 'Georgia'
True cols: Index(['CAPITAL'], dtype='object')
Adj. True cols: Index(['CAPITAL'], dtype='object')
Predicted cols: Index(['CAPITAL'], dtype='object')
Adj. Predicted cols: Index(['CAPITAL'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT count(p.name) FROM mondial_province p INNER JOIN mondial_country c on p.country = c.code where c.name = 'Niger' AND p.area > 1000
SELECT COUNT(province.name)  FROM province  JOIN country ON province.country = country.code  WHERE country.name = 'Niger' AND province.area > 1000
True cols: Index(['COUNT(P.NAME)'], dtype='object')
Adj. True cols: Index(['COUNT(P.NAME)'], dtype='object')
Predicted cols: Index(['COUNT(PROVINCE.NAME)'], dtype='object')
Adj. Predicted cols: Index(['COUNT(PROVINCE.NAME)'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT name FROM mondial_country GROUP BY name ORDER BY max(area) DESC FETCH FIRST 1 ROWS ONLY;
SELECT country.* FROM country ORDER BY country.area DESC FETCH FIRST 1 ROWS ONLY
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index(['NAME'], dtype='object')
Predicted cols: Index(['NAME', 'CODE', 'CAPITAL', 'PROVINCE', 'AREA', 'POPULATION'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT o.province, o.established  FROM mondial_organization o WHERE o.name LIKE '%International Energy Agency%'
SELECT province.name, organization.established FROM organization JOIN province ON organization.province = province.name WHERE organization.name = 'International Energy Agency'
True cols: Index(['PROVINCE', 'ESTABLISHED'], dtype='object')
Adj. True cols: Index(['PROVINCE', 'ESTABLISHED'], dtype='object')
Predicted cols: Index(['NAME', 'ESTABLISHED'], dtype='object')
Adj. Predicted cols: Index(['NAME', 'ESTABLISHED'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT name FROM mondial_mountain WHERE elevation > 1000.0
SELECT name FROM mountain WHERE elevation > 1000
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index(['NAME'], dtype='object')
Predicted cols: Index(['NAME'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT DISTINCT e.* FROM mondial_economy e
INNER JOIN mondial_country c ON e.country = c.code
INNER JOIN mondial_geo_sea gs ON gs.country = c.code
INNER JOIN mondial_sea s ON s.name = gs.sea
WHERE s.name LIKE '%Caribbean Sea%'
SELECT economy.* FROM economy JOIN geo_sea ON economy.country = geo_sea.country JOIN sea ON geo_sea.sea = sea.name WHERE sea.name = 'Caribbean Sea'
True cols: Index(['COUNTRY', 'GDP', 'AGRICULTURE', 'SERVICE', 'INDUSTRY', 'INFLATION',
       'UNEMPLOYMENT', 'META_REPCOL'],
      dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['COUNTRY', 'GDP', 'AGRICULTURE', 'SERVICE', 'INDUSTRY', 'INFLATION',
       'UNEMPLOYMENT'],
      dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT name FROM mondial_city WHERE longitude BETWEEN 0 AND 6
SELECT city.name FROM city WHERE city.longitude BETWEEN 0 AND 6
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index(['NAME'], dtype='object')
Predicted cols: Index(['NAME'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT ci.name FROM mondial_city ci
INNER JOIN mondial_country c ON c.code = ci.country
INNER JOIN mondial_population p ON p.country = c.code
WHERE ci.population > 100000 AND ci.elevation > 2500 AND
p.population_growth > 1
SELECT city.name  FROM city  JOIN country ON city.country = country.code  WHERE city.population > 100000  AND city.elevation > 2500  AND country.code = 'YOUR_COUNTRY_CODE'  AND country.population_growth > 1
Error: Execution failed on sql 'SELECT city.name  FROM city  JOIN country ON city.country = country.code  WHERE city.population > 100000  AND city.elevation > 2500  AND country.code = 'YOUR_COUNTRY_CODE'  AND country.population_growth > 1': ORA-00904: "COUNTRY"."POPULATION_GROWTH": invalid identifier
SELECT DISTINCT government FROM mondial_politics
SELECT DISTINCT government FROM politics
True cols: Index(['GOVERNMENT'], dtype='object')
Adj. True cols: Index(['GOVERNMENT'], dtype='object')
Predicted cols: Index(['GOVERNMENT'], dtype='object')
Adj. Predicted cols: Index(['GOVERNMENT'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT p.name FROM mondial_province p INNER JOIN mondial_country c ON p.country = c.code  WHERE c.name = 'Germany'
SELECT province.name FROM province JOIN country ON province.country = country.code WHERE country.name = 'Germany'
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index(['NAME'], dtype='object')
Predicted cols: Index(['NAME'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT eg.percentage FROM mondial_ethnicgroup eg INNER JOIN mondial_country c ON c.code = eg.country WHERE c.name = 'Brazil' AND eg.name LIKE '%Mulatto%'
SELECT ethnicgroup.percentage  FROM  ethnicgroup  JOIN  country ON ethnicgroup.country = country.code  WHERE  country.name = 'Brazil'  AND  ethnicgroup.name = 'mulatto'
True cols: Index(['PERCENTAGE'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['PERCENTAGE'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT count(*) FROM mondial_city WHERE population < 1000
SELECT COUNT(*) FROM citypops WHERE population < 1000
True cols: Index(['COUNT(*)'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['COUNT(*)'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT avg(a.elevation) FROM mondial_airport a
INNER JOIN mondial_country c ON c.code = a.country
INNER JOIN mondial_encompasses e ON e.country = c.code
INNER JOIN mondial_continent co ON co.name = e.continent
WHERE co.name = 'America'
SELECT AVG(elevation)  FROM airport  WHERE country = 'America'
True cols: Index(['AVG(A.ELEVATION)'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['AVG(ELEVATION)'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT COUNT(DISTINCT ec.country) AS number_of_countries
FROM mondial_geo_sea gs
JOIN mondial_encompasses ec ON gs.country = ec.country
WHERE gs.sea = 'Caribbean Sea';
SELECT COUNT(DISTINCT T1.country1)  FROM borders T1  JOIN sea T2 ON T1.country2 = T2.name  WHERE T2.name = 'Caribbean Sea'  UNION  SELECT COUNT(DISTINCT T1.country)  FROM encompasses T1  JOIN sea T2 ON T1.continent = T2.name  WHERE T2.name = 'Caribbean Sea'
True cols: Index(['NUMBER_OF_COUNTRIES'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['COUNT(DISTINCTT1.COUNTRY1)'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT SUM(DISTINCT c.area) AS total_area
FROM mondial_Country c
JOIN mondial_encompasses e ON c.code = e.country
JOIN mondial_geo_sea gs ON e.country = gs.country
WHERE gs.sea = 'Caribbean Sea';
SELECT SUM(country.area)  FROM country  JOIN borders ON country.code = borders.country1 OR country.code = borders.country2  JOIN encompasses ON country.code = encompasses.country  JOIN sea ON sea.name = 'Caribbean Sea'
True cols: Index(['TOTAL_AREA'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['SUM(COUNTRY.AREA)'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT c.name AS country_name, SUM(c1.population) AS total_neighbor_population
FROM mondial_Country c
JOIN mondial_Borders b ON c.code = b.country1
JOIN mondial_Country c1 ON b.country2 = c1.code
GROUP BY c.name;
SELECT T1.country, SUM(T2.population)  FROM country T1  JOIN borders T2 ON T1.code = T2.country1 OR T1.code = T2.country2  GROUP BY T1.country
Error: Execution failed on sql 'SELECT T1.country, SUM(T2.population)  FROM country T1  JOIN borders T2 ON T1.code = T2.country1 OR T1.code = T2.country2  GROUP BY T1.country': ORA-00904: "T1"."COUNTRY": invalid identifier
SELECT mountain FROM mondial_mountainonisland WHERE island LIKE '%Borneo%'
SELECT mountain.name FROM mountain JOIN mountainonisland ON mountain.name = mountainonisland.mountain JOIN island ON mountainonisland.island = island.name WHERE island.name = 'Borneo'
True cols: Index(['MOUNTAIN'], dtype='object')
Adj. True cols: Index(['MOUNTAIN'], dtype='object')
Predicted cols: Index(['NAME'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT name, population FROM mondial_country ORDER BY area ASC FETCH FIRST 1 ROWS ONLY;
SELECT name, SUM(population) AS total_population FROM country GROUP BY name ORDER BY area ASC FETCH FIRST 1 ROWS ONLY
Error: Execution failed on sql 'SELECT name, SUM(population) AS total_population FROM country GROUP BY name ORDER BY area ASC FETCH FIRST 1 ROWS ONLY': ORA-00979: not a GROUP BY expression
SELECT DISTINCT s.country
FROM mondial_geo_estuary e, mondial_borders b, mondial_geo_source s
WHERE ((e.country = b.country1 AND s.country = b.country2)
OR (e.country = b.country2 AND s.country = b.country1))
AND e.river = s.river;
SELECT DISTINCT country.code FROM country JOIN river ON river.source = country.name JOIN geo_estuary ON river.name = geo_estuary.river AND country.code != geo_estuary.country
Error: Execution failed on sql 'SELECT DISTINCT country.code FROM country JOIN river ON river.source = country.name JOIN geo_estuary ON river.name = geo_estuary.river AND country.code != geo_estuary.country': ORA-00932: inconsistent datatypes: expected UDT got CHAR
SELECT code FROM mondial_country
WHERE code NOT IN (
SELECT p.country FROM (
SELECT name, country
FROM mondial_province
WHERE (name, country) NOT IN (SELECT province, country FROM mondial_geo_mountain)) p);
SELECT country.code FROM country WHERE country.code IN (     SELECT         mountain.country     FROM         mountain     GROUP BY         mountain.country     HAVING         COUNT(DISTINCT mountain.province) = (             SELECT                 COUNT(DISTINCT province)             FROM                 mountain         ) )
Error: Execution failed on sql 'SELECT country.code FROM country WHERE country.code IN (     SELECT         mountain.country     FROM         mountain     GROUP BY         mountain.country     HAVING         COUNT(DISTINCT mountain.province) = (             SELECT                 COUNT(DISTINCT province)             FROM                 mountain         ) )': ORA-00904: "MOUNTAIN"."PROVINCE": invalid identifier
SELECT b.country1, sum(b.length)
FROM (SELECT country1, length FROM mondial_borders
UNION ALL
SELECT country2, length FROM mondial_borders
) b
GROUP BY b.country1;
SELECT country.code, SUM(borders.length) AS total_border_length FROM country JOIN borders ON country.code = borders.country1 OR country.code = borders.country2 GROUP BY country.code
True cols: Index(['COUNTRY1', 'SUM(B.LENGTH)'], dtype='object')
Adj. True cols: Index(['COUNTRY1', 'SUM(B.LENGTH)'], dtype='object')
Predicted cols: Index(['CODE', 'TOTAL_BORDER_LENGTH'], dtype='object')
Adj. Predicted cols: Index(['CODE', 'TOTAL_BORDER_LENGTH'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT DISTINCT c.name, c.code
FROM mondial_country c, mondial_geo_source g
WHERE c.code = g.country;
SELECT country.name, country.code FROM country WHERE country.code IN (SELECT DISTINCT river.source FROM river)
Error: Execution failed on sql 'SELECT country.name, country.code FROM country WHERE country.code IN (SELECT DISTINCT river.source FROM river)': ORA-00932: inconsistent datatypes: expected CHAR got MONDIAL_GPT.GEOCOORD
SELECT c.name, r.area FROM mondial_geo_river gr
INNER JOIN mondial_country c ON c.code = gr.country
INNER JOIN mondial_river r ON r.name = gr.river
WHERE r.name = 'Chatanga'
SELECT river.area, geo_river.country  FROM  river  JOIN  geo_river  ON  river.name = geo_river.river  WHERE  river.name = 'Chatanga River'
True cols: Index(['NAME', 'AREA'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['AREA', 'COUNTRY'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT name FROM mondial_airport WHERE elevation > 3000.0
SELECT *  FROM airport  WHERE elevation > 3000
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index(['NAME'], dtype='object')
Predicted cols: Index(['IATACODE', 'NAME', 'COUNTRY', 'CITY', 'PROVINCE', 'ISLAND', 'LATITUDE',
       'LONGITUDE', 'ELEVATION', 'GMTOFFSET'],
      dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT r.name FROM mondial_religion r INNER JOIN mondial_country c ON c.code = r.country WHERE c.name = 'Mexico'
SELECT name FROM religion WHERE country = (SELECT code FROM country WHERE name = 'Mexico')
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index(['NAME'], dtype='object')
Predicted cols: Index(['NAME'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT name FROM mondial_River WHERE sea IS NULL;
SELECT river.name FROM river LEFT JOIN riverthrough ON river.name = riverthrough.river WHERE riverthrough.river IS NULL
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['NAME'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT c.name, COUNT(b.country2) AS num_neighbors FROM mondial_country c INNER JOIN mondial_borders b ON c.code = b.country1
INNER JOIN mondial_encompasses e ON c.code = e.country
INNER JOIN mondial_continent co ON e.continent = co.name
WHERE co.name = 'Africa' GROUP BY c.name ORDER BY num_neighbors DESC;
SELECT country.name, count(borders.country2) as num_neighbors FROM country JOIN borders ON country.code = borders.country1 JOIN continent ON country.continent = continent.name WHERE continent.name = 'Africa' GROUP BY country.name ORDER BY num_neighbors DESC
Error: Execution failed on sql 'SELECT country.name, count(borders.country2) as num_neighbors FROM country JOIN borders ON country.code = borders.country1 JOIN continent ON country.continent = continent.name WHERE continent.name = 'Africa' GROUP BY country.name ORDER BY num_neighbors DESC': ORA-00904: "COUNTRY"."CONTINENT": invalid identifier
SELECT c.name AS continent, AVG(p.infant_mortality) AS avg_infant_mortality
FROM mondial_continent c
JOIN mondial_encompasses e ON c.name = e.continent
JOIN mondial_population p ON e.country = p.country
GROUP BY c.name;
SELECT T1.name, AVG(T3.infant_mortality)  FROM  continent T1  JOIN country T2 ON T1.name = T2.continent  JOIN population T3 ON T2.code = T3.country  GROUP BY T1.name
Error: Execution failed on sql 'SELECT T1.name, AVG(T3.infant_mortality)  FROM  continent T1  JOIN country T2 ON T1.name = T2.continent  JOIN population T3 ON T2.code = T3.country  GROUP BY T1.name': ORA-00904: "T2"."CONTINENT": invalid identifier
SELECT AVG(p.infant_mortality) AS avg_infant_mortality
FROM mondial_Country c

In [19]:
df_fk = pd.DataFrame(results_fk, columns=['experiment', 'simple', 'medium', 'complex', 'total', 'overall_simple', 'overall_medium', 'overall_complex', 'overall_total','input_tokens', 'output_tokens', 'total_tokens','total_cost', 'total_time'])
df_fk['experiment'] = df_fk['experiment'].apply(get_experiment_name)
df_fk = df_fk.sort_values(by='overall_total', ascending=False)
df_fk

,experiment,simple,medium,complex,total,overall_simple,overall_medium,overall_complex,overall_total,input_tokens,output_tokens,total_tokens,total_cost,total_time
1,Combining DIN+C3 - Mondial - MONDIAL_GPT - GPT...,30,23,17,70,0.9091,0.6970,0.5000,0.70,1137152,401191,1538343,58.19,1:48:36
0,Combining DIN+C3 - Mondial - MONDIAL_GPT - GPT...,27,17,15,59,0.8182,0.5152,0.4412,0.59,1147061,719891,1866952,6.32,1:16:52

In [17]:
df_fk.to_csv(TARGET_PATH_FK)