In [ ]:

from dotenv import load_dotenv
import os
import sys
import json
import pandas as pd
import time
import datetime
load_dotenv()

path = os.path.abspath('')
module_path = os.path.join(path,'..\..')
print(module_path)
if module_path not in sys.path:
    sys.path.append(module_path+"\\functions")


from dataset_utils import DatasetEvaluator

In [2]:
DEFAULT_PATH = "results/"
EXPERIMENT_RESULT_PATH = f"{DEFAULT_PATH}sql_database_sequential_chain_result_files.txt"
EXPERIMENT = "SequentialDatabaseChain"
TARGET_PATH = f"evaluator_results/{EXPERIMENT}_results.csv"
TARGET_PATH_FK = f"evaluator_results/{EXPERIMENT}_foreign_key_results.csv"

Funções úteis

In [3]:
def save_queries(queries, FILE_NAME_PATH):
    data = {"queries":queries}
    with open(FILE_NAME_PATH, "w") as arquivo_json:
        json.dump(data, arquivo_json, indent=4) 

def read_queries(FILE_NAME_PATH):
    with open(FILE_NAME_PATH, encoding="utf-8", errors="ignore") as json_data:
        data = json.load(json_data, strict=False)
    queries = data["queries"]
    return queries

def read_files():
    with open(EXPERIMENT_RESULT_PATH, "r") as f:
        files = f.readlines()
    files = [f"{DEFAULT_PATH}{x.strip()}" for x in files]
    return files


def get_schema(FILE_NAME_PATH):
    if "mondial_gpt" in FILE_NAME_PATH:
        return "mondial_gpt"
    elif "mondial" in FILE_NAME_PATH:
        return "mondial"
    elif "busca360" in FILE_NAME_PATH:
        return "busca360"
    return ""

def get_count_query_type(queries):
    count_types = {}
    for item in queries:
        type = item["type"]
        if type in count_types:
            count_types[type] += 1
        else:
            count_types[type] = 1
    count_types['total'] = len(queries)
    return count_types

def get_dataset_evaluator(FILE_NAME_PATH):
    SCHEMA = get_schema(FILE_NAME_PATH)  
    PREFIX = SCHEMA  
    if SCHEMA == "mondial_gpt":
        PREFIX = "mondial"
        
    print(PREFIX)
    print(SCHEMA)
    dataset_eval = DatasetEvaluator(dataset_file_path=f"../../datasets/{PREFIX}/{PREFIX}_dataset.json",
                                dataset_tables_path=f"../../datasets/{PREFIX}/result_tables/",
                                db_connection_file=f"../../datasets/{SCHEMA}_db_connection.json",
                                dataset_name=SCHEMA)
    return dataset_eval

def get_files_in_folder():
    files = []
    for r, d, f in os.walk(DEFAULT_PATH):
        for file in f:
            if '.json' in file and 'erro' not in file:
                files.append(os.path.join(r, file))
    return sorted(files)

def evaluate_query(queries, dataset_eval, FILE_NAME_PATH):
    result = {'simple': 0, 'medium': 0, 'complex': 0, 'total': 0}

    for q in queries:
        evaluate_result = False
        q['similarity'] = 0
        try:
            if q["query_string"].strip() != "":
                evaluate_result, similarity, column_matching_index = dataset_eval.evaluate_dataset_query(q["query_string"], q["id"], query_type="sql")
                q['column_matching_index'] = column_matching_index
                q['similarity']=similarity
            
        except Exception as e:
            print(str(e))
            
        q['result'] = evaluate_result
        
        if evaluate_result==True:
            result['total'] += 1
            result[q["type"]] += 1
        
    save_queries(queries, FILE_NAME_PATH)   
    return result

def get_file_name(FILE_NAME_PATH):
    parts = FILE_NAME_PATH.split("/")
    last_element = parts[-1]
    file_name = last_element.replace(".json", "")
    return file_name

def get_experiment_name(filename):
    schema = get_schema(filename).upper()
    experiment_name = f"{schema}"
    if "chatgpt4" in filename:
        experiment_name += " - GPT-4"
    elif "chatgpt_" in filename:
        experiment_name += " - GPT-3.5"
    elif "llama" in filename:
        experiment_name += " - LLAMA"

    if "instances" in filename:
        experiment_name += " - Passing Database Instances"
        
                
    if "_fk" in filename:
        experiment_name += " - FK"
    
    experiment_name += f" - {EXPERIMENT}" 
    return experiment_name


def compute_cost(filename):
    queries = read_queries(filename)
    total_costs = 0
    total_tokens = 0
    input_tokens = 0
    output_tokens = 0
    #total_token
    for q in queries:
        total_tokens += q.get('total_tokens', 0)
        total_costs += q.get('total_cost', 0)
        input_tokens += q.get('prompt_tokens', 0)
        output_tokens += q.get('completion_tokens', 0)

    print(total_tokens)
    print(round(total_costs, 2))
    print(input_tokens, output_tokens)
    return total_tokens, round(total_costs, 2), input_tokens, output_tokens

def compute_time(filename):
    queries = read_queries(filename)
    total_time = 0
    for q in queries:
        total_time += q.get('time', 0)
    print(total_time)
    return str(datetime.timedelta(seconds=round(total_time)))

In [4]:
def run(result_files = [], results = [], compute_costs = True):
    
    if result_files == [] :
        result_files = get_files_in_folder()
    else:
        result_files = sorted(result_files)
        
    
    for file in result_files:
        queries = read_queries(file)
        dataset_eval = get_dataset_evaluator(file)
        count_query_type = get_count_query_type(queries)
        result = evaluate_query(queries, dataset_eval, file)
        
        overall_by_type = {}
        for item in result:
            overall_by_type[f"overall_{item}"] = round(result[item] / count_query_type[item], 4)
        
        result['experiment'] = get_file_name(file)
        result = {**result, **overall_by_type}
        
        result['total_tokens'], result['total_cost'], result['average_tokens_by_query'] = 0, 0, 0
        if compute_costs:
            result['total_tokens'], result['total_cost'], result['input_tokens'], result['output_tokens'] = compute_cost(file)
        result['total_time'] = compute_time(file)
        results.append(result)
        time.sleep(5)
    return results

# Validação com os Esquemas com Foreign Keys

In [8]:
results_fk = run([ 'results/11_sql_sequential_queries_chatgpt_mondial_gpt_fk.json',
 'results/12_sql_sequential_queries_chatgpt_mondial_gpt_fk_instances.json', 
 'results/13_sql_sequential_queries_chatgpt4_mondial_gpt_fk.json',
 'results/14_sql_sequential_queries_chatgpt4_mondial_gpt_fk_instances.json'], [])

mondial
mondial_gpt
SELECT max(area) FROM mondial_country where name  = 'Thailand'
SELECT area
FROM country
WHERE name = 'Thailand'
True cols: Index(['MAX(AREA)'], dtype='object')
Adj. True cols: Index(['MAX(AREA)'], dtype='object')
Predicted cols: Index(['AREA'], dtype='object')
Adj. Predicted cols: Index(['AREA'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT name FROM mondial_province where area > 10000
SELECT name, area
FROM province
WHERE area > 10000
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index(['NAME'], dtype='object')
Predicted cols: Index(['NAME', 'AREA'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT mondial_language.name FROM mondial_language INNER JOIN mondial_country ON mondial_language.country = mondial_country.code WHERE mondial_country.name = 'Poland'
SELECT name
FROM language
WHERE country = 'POL'
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['NAME'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT depth FROM mondial_lake where name LIKE '%Lake Kariba%'
SELECT depth
FROM lake
WHERE name = 'Lake Kariba';
True cols: Index(['DEPTH'], dtype='object')
Adj. True cols: Index(['DEPTH'], dtype='object')
Predicted cols: Index(['DEPTH'], dtype='object')
Adj. Predicted cols: Index(['DEPTH'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT count(*) FROM mondial_province p INNER JOIN mondial_country c ON p.country = c.code WHERE c.name = 'Netherlands'
SELECT COUNT(*) FROM province WHERE country = 'NLD'
True cols: Index(['COUNT(*)'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['COUNT(*)'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT r.percentage FROM mondial_religion r INNER JOIN mondial_country c ON r.country = c.code WHERE c.name = 'Thailand' AND r.name LIKE '%Hindu%'
SELECT percentage
FROM religion
WHERE country = 'THA' AND name = 'Hindu';
True cols: Index(['PERCENTAGE'], dtype='object')
Adj. True cols: Index(['PERCENTAGE'], dtype='object')
Predicted cols: Index(['PERCENTAGE'], dtype='object')
Adj. Predicted cols: Index(['PERCENTAGE'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT river.name, COUNT(DISTINCT geo_river.province) FROM river JOIN geo_river ON river.name = geo_river.river GROUP BY river.name
SELECT r.name, COUNT(rt.river) AS num_provinces
FROM river r
LEFT JOIN riverthrough rt ON r.name = rt.river
GROUP BY r.name
True cols: Index(['NAME', 'COUNT(DISTINCTGEO_RIVER.PROVINCE)'], dtype='object')
Adj. True cols: Index(['NAME'], dtype='object')
Predicted cols: Index(['NAME', 'NUM_PROVINCES'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
False: no match found
SELECT c.name FROM mondial_country c
INNER JOIN mondial_politics p ON c.code = p.country
WHERE independence > DATE '1910-08-01' AND independence < DATE '1950-08-01'
SELECT name, code, capital
FROM country
WHERE independence_date BETWEEN TO_DATE('8/1/1910', 'MM/DD/YYYY') AND TO_DATE('8/1/1950', 'MM/DD/YYYY')
Error: Execution failed on sql 'SELECT name, code, capital
FROM country
WHERE independence_date BETWEEN TO_DATE('8/1/1910', 'MM/DD/YYYY') AND TO_DATE('8/1/1950', 'MM/DD/YYYY')': ORA-00904: "INDEPENDENCE_DATE": invalid identifier
SELECT * FROM mondial_city ci INNER JOIN mondial_country c on ci.country = c.code where c.name = 'Cuba'
SELECT name FROM city WHERE country = 'CUB'
True cols: Index(['NAME', 'COUNTRY', 'PROVINCE', 'POPULATION', 'LATITUDE', 'LONGITUDE',
       'ELEVATION', 'META_REPCOL', 'NAME', 'CODE', 'CAPITAL', 'PROVINCE',
       'AREA', 'POPULATION', 'META_REPCOL'],
      dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['NAME'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT capital FROM mondial_country WHERE name = 'Georgia'
SELECT capital
FROM country
WHERE name = 'Georgia'
True cols: Index(['CAPITAL'], dtype='object')
Adj. True cols: Index(['CAPITAL'], dtype='object')
Predicted cols: Index(['CAPITAL'], dtype='object')
Adj. Predicted cols: Index(['CAPITAL'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT count(p.name) FROM mondial_province p INNER JOIN mondial_country c on p.country = c.code where c.name = 'Niger' AND p.area > 1000
SELECT COUNT(*)
FROM province
WHERE country = 'NER' AND area > 1000
True cols: Index(['COUNT(P.NAME)'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['COUNT(*)'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT name FROM mondial_country GROUP BY name ORDER BY max(area) DESC FETCH FIRST 1 ROWS ONLY;
SELECT name, area
FROM country
ORDER BY area DESC
FETCH FIRST 1 ROWS ONLY;
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index(['NAME'], dtype='object')
Predicted cols: Index(['NAME', 'AREA'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT o.province, o.established  FROM mondial_organization o WHERE o.name LIKE '%International Energy Agency%'
SELECT province, established
FROM organization
WHERE name = 'International Energy Agency'
True cols: Index(['PROVINCE', 'ESTABLISHED'], dtype='object')
Adj. True cols: Index(['PROVINCE', 'ESTABLISHED'], dtype='object')
Predicted cols: Index(['PROVINCE', 'ESTABLISHED'], dtype='object')
Adj. Predicted cols: Index(['PROVINCE', 'ESTABLISHED'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT name FROM mondial_mountain WHERE elevation > 1000.0
SELECT mountain
FROM mountain
WHERE elevation > 1000
Error: Execution failed on sql 'SELECT mountain
FROM mountain
WHERE elevation > 1000': ORA-00904: "MOUNTAIN": invalid identifier
SELECT DISTINCT e.* FROM mondial_economy e
INNER JOIN mondial_country c ON e.country = c.code
INNER JOIN mondial_geo_sea gs ON gs.country = c.code
INNER JOIN mondial_sea s ON s.name = gs.sea
WHERE s.name LIKE '%Caribbean Sea%'
SELECT gdp, agriculture, service, industry, inflation, unemployment
FROM economy
JOIN geo_sea ON economy.country = geo_sea.country
WHERE sea = 'Caribbean Sea'
True cols: Index(['COUNTRY', 'GDP', 'AGRICULTURE', 'SERVICE', 'INDUSTRY', 'INFLATION',
       'UNEMPLOYMENT', 'META_REPCOL'],
      dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['GDP', 'AGRICULTURE', 'SERVICE', 'INDUSTRY', 'INFLATION',
       'UNEMPLOYMENT'],
      dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT name FROM mondial_city WHERE longitude BETWEEN 0 AND 6
SELECT name, country, province, longitude
FROM city
WHERE longitude BETWEEN 0 AND 6
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index(['NAME'], dtype='object')
Predicted cols: Index(['NAME', 'COUNTRY', 'PROVINCE', 'LONGITUDE'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT ci.name FROM mondial_city ci
INNER JOIN mondial_country c ON c.code = ci.country
INNER JOIN mondial_population p ON p.country = c.code
WHERE ci.population > 100000 AND ci.elevation > 2500 AND
p.population_growth > 1
SELECT city.name, city.country, city.province, city.population, city.elevation, country.population
FROM city
JOIN country ON city.country = country.code
JOIN countrypops ON country.code = countrypops.country
WHERE city.population > 100000
AND city.elevation > 2500
AND countrypops.population > 1
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['NAME', 'COUNTRY', 'PROVINCE', 'POPULATION', 'ELEVATION', 'POPULATION'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT DISTINCT government FROM mondial_politics
SELECT DISTINCT government
FROM politics
True cols: Index(['GOVERNMENT'], dtype='object')
Adj. True cols: Index(['GOVERNMENT'], dtype='object')
Predicted cols: Index(['GOVERNMENT'], dtype='object')
Adj. Predicted cols: Index(['GOVERNMENT'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT p.name FROM mondial_province p INNER JOIN mondial_country c ON p.country = c.code  WHERE c.name = 'Germany'
SELECT name
FROM province
WHERE country = 'DEU'
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['NAME'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT eg.percentage FROM mondial_ethnicgroup eg INNER JOIN mondial_country c ON c.code = eg.country WHERE c.name = 'Brazil' AND eg.name LIKE '%Mulatto%'
SELECT percentage
FROM ethnicgroup
WHERE country = 'BRA' AND name = 'mulatto'
True cols: Index(['PERCENTAGE'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['PERCENTAGE'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT count(*) FROM mondial_city WHERE population < 1000
SELECT COUNT(*) FROM city WHERE population < 1000
True cols: Index(['COUNT(*)'], dtype='object')
Adj. True cols: Index(['COUNT(*)'], dtype='object')
Predicted cols: Index(['COUNT(*)'], dtype='object')
Adj. Predicted cols: Index(['COUNT(*)'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT avg(a.elevation) FROM mondial_airport a
INNER JOIN mondial_country c ON c.code = a.country
INNER JOIN mondial_encompasses e ON e.country = c.code
INNER JOIN mondial_continent co ON co.name = e.continent
WHERE co.name = 'America'
SELECT AVG(elevation) FROM airport WHERE country = 'USA'
True cols: Index(['AVG(A.ELEVATION)'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['AVG(ELEVATION)'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT COUNT(DISTINCT ec.country) AS number_of_countries
FROM mondial_geo_sea gs
JOIN mondial_encompasses ec ON gs.country = ec.country
WHERE gs.sea = 'Caribbean Sea';
SELECT COUNT(DISTINCT country1)
FROM borders
WHERE country2 IN (SELECT province
                   FROM geo_sea
                   WHERE sea = 'Caribbean Sea')
True cols: Index(['NUMBER_OF_COUNTRIES'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['COUNT(DISTINCTCOUNTRY1)'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT SUM(DISTINCT c.area) AS total_area
FROM mondial_Country c
JOIN mondial_encompasses e ON c.code = e.country
JOIN mondial_geo_sea gs ON e.country = gs.country
WHERE gs.sea = 'Caribbean Sea';
SELECT SUM(c.area)
FROM country c
JOIN borders b ON c.code = b.country1
JOIN geo_sea gs ON b.country2 = gs.country
WHERE gs.sea = 'Caribbean Sea'
True cols: Index(['TOTAL_AREA'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['SUM(C.AREA)'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT c.name AS country_name, SUM(c1.population) AS total_neighbor_population
FROM mondial_Country c
JOIN mondial_Borders b ON c.code = b.country1
JOIN mondial_Country c1 ON b.country2 = c1.code
GROUP BY c.name;
SELECT c.name, SUM(cp.population) AS total_population
FROM country c
JOIN borders b ON c.code = b.country1
JOIN countrypops cp ON b.country2 = cp.country
GROUP BY c.name
ORDER BY total_population DESC
True cols: Index(['COUNTRY_NAME', 'TOTAL_NEIGHBOR_POPULATION'], dtype='object')
Adj. True cols: Index(['COUNTRY_NAME'], dtype='object')
Predicted cols: Index(['NAME', 'TOTAL_POPULATION'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
False: no match found
SELECT mountain FROM mondial_mountainonisland WHERE island LIKE '%Borneo%'
SELECT m.name
FROM mountain m
JOIN mountainonisland moi ON m.name = moi.mountain
JOIN geo_island gi ON moi.island = gi.island
WHERE gi.island = 'Borneo'
True cols: Index(['MOUNTAIN'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['NAME'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT name, population FROM mondial_country ORDER BY area ASC FETCH FIRST 1 ROWS ONLY;
SELECT name, population
FROM country
ORDER BY area ASC
FETCH FIRST 1 ROW ONLY;
True cols: Index(['NAME', 'POPULATION'], dtype='object')
Adj. True cols: Index(['NAME', 'POPULATION'], dtype='object')
Predicted cols: Index(['NAME', 'POPULATION'], dtype='object')
Adj. Predicted cols: Index(['NAME', 'POPULATION'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT DISTINCT s.country
FROM mondial_geo_estuary e, mondial_borders b, mondial_geo_source s
WHERE ((e.country = b.country1 AND s.country = b.country2)
OR (e.country = b.country2 AND s.country = b.country1))
AND e.river = s.river;
SELECT DISTINCT c.code
FROM country c
JOIN geo_river gr ON c.code = gr.country
JOIN geo_estuary ge ON gr.river = ge.river
JOIN borders b ON c.code = b.country1
WHERE b.country2 = ge.country
True cols: Index(['COUNTRY'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['CODE'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT code FROM mondial_country
WHERE code NOT IN (
SELECT p.country FROM (
SELECT name, country
FROM mondial_province
WHERE (name, country) NOT IN (SELECT province, country FROM mondial_geo_mountain)) p);
SELECT DISTINCT country
FROM geo_mountain
GROUP BY country
HAVING COUNT(DISTINCT province) = (SELECT COUNT(DISTINCT province) FROM province)
True cols: Index(['CODE'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['COUNTRY'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT b.country1, sum(b.length)
FROM (SELECT country1, length FROM mondial_borders
UNION ALL
SELECT country2, length FROM mondial_borders
) b
GROUP BY b.country1;
SELECT code, SUM(length) AS total_border_length
FROM borders
GROUP BY code
Error: Execution failed on sql 'SELECT code, SUM(length) AS total_border_length
FROM borders
GROUP BY code': ORA-00904: "CODE": invalid identifier
SELECT DISTINCT c.name, c.code
FROM mondial_country c, mondial_geo_source g
WHERE c.code = g.country;
SELECT name, code
FROM country
WHERE code IN (
    SELECT DISTINCT country
    FROM geo_river
)
True cols: Index(['NAME', 'CODE'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['NAME', 'CODE'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT c.name, r.area FROM mondial_geo_river gr
INNER JOIN mondial_country c ON c.code = gr.country
INNER JOIN mondial_river r ON r.name = gr.river
WHERE r.name = 'Chatanga'
SELECT c.area, c.name
FROM country c
JOIN geo_river gr ON c.code = gr.country
WHERE gr.river = 'Chatanga River'
True cols: Index(['NAME', 'AREA'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['AREA', 'NAME'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT name FROM mondial_airport WHERE elevation > 3000.0
SELECT iatacode, name, elevation
FROM airport
WHERE elevation > 3000
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index(['NAME'], dtype='object')
Predicted cols: Index(['IATACODE', 'NAME', 'ELEVATION'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT r.name FROM mondial_religion r INNER JOIN mondial_country c ON c.code = r.country WHERE c.name = 'Mexico'
SELECT name
FROM religion
WHERE country = 'MEX'
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index(['NAME'], dtype='object')
Predicted cols: Index(['NAME'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT name FROM mondial_River WHERE sea IS NULL;
SELECT name
FROM river
WHERE sea IS NULL
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index(['NAME'], dtype='object')
Predicted cols: Index(['NAME'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT c.name, COUNT(b.country2) AS num_neighbors FROM mondial_country c INNER JOIN mondial_borders b ON c.code = b.country1
INNER JOIN mondial_encompasses e ON c.code = e.country
INNER JOIN mondial_continent co ON e.continent = co.name
WHERE co.name = 'Africa' GROUP BY c.name ORDER BY num_neighbors DESC;
SELECT c.name, COUNT(b.country2) AS num_neighbors
FROM country c
JOIN borders b ON c.code = b.country1
WHERE c.continent = 'Africa'
GROUP BY c.name
ORDER BY num_neighbors DESC
Error: Execution failed on sql 'SELECT c.name, COUNT(b.country2) AS num_neighbors
FROM country c
JOIN borders b ON c.code = b.country1
WHERE c.continent = 'Africa'
GROUP BY c.name
ORDER BY num_neighbors DESC': ORA-00904: "C"."CONTINENT": invalid identifier
SELECT c.name AS continent, AVG(p.infant_mortality) AS avg_infant_mortality
FROM mondial_continent c
JOIN mondial_encompasses e ON c.name = e.continent
JOIN mondial_population p ON e.country = p.country
GROUP BY c.name;
SELECT continent.name, AVG(population.infant_mortality) AS average_infant_mortality
FROM continent
JOIN country ON continent.name = country.continent
JOIN population ON country.code = population.country
GROUP BY continent.name
Error: Execution failed on sql 'SELECT continent.name, AVG(population.infant_mortality) AS average_infant_mortality
FROM continent
JOIN country ON continent.name = country.continent
JOIN population ON country.code = population.country
GROUP BY continent.name': ORA-00904: "COUNTRY"."CONTINENT": invalid identifier
SELECT AVG(p.infant_mortality) AS avg_infant_mortality
FROM mondial_Country c
JOIN mondial_Population p ON c.code = p.country
JOIN mondial_encompasses e ON c.code = e.country
JOIN mondial_Continent ct ON e.continent = ct.name
WHERE ct.name = 'America' AND c.name != 'Brazil';
SELECT AVG(mortality_rate)
FROM country
WHERE continent = 'America'
AND name != 'Brazil'
Error: Execution failed on sql 'SELECT AVG(mortality_rate)
FROM country
WHERE continent = 'America'
AND name != 'Brazil'': ORA-00904: "CONTINENT": invalid identifier
SELECT name FROM mondial_sea WHERE area > 8000 AND depth < 100
SELECT sea
FROM geo_sea
WHERE area > 8000 AND depth < 100
Error: Execution failed on sql 'SELECT sea
FROM geo_sea
WHERE area > 8000 AND depth < 100': ORA-00938: not enough arguments for function
SELECT count(DISTINCT m.name) FROM mondial_mountain m
INNER JOIN mondial_geo_mountain gm ON m.name = gm.mountain
INNER JOIN mondial_country c ON c.code = gm.country
INNER JOIN mondial_encompasses e ON e.country = c.code
INNER JOIN mondial_continent co ON co.name = e.continent
WHERE co.name = 'Asia'
SELECT COUNT(*) FROM geo_mountain WHERE country = 'ASIA'
True cols: Index(['COUNT(DISTINCTM.NAME)'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['COUNT(*)'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT count(DISTINCT c.name) FROM mondial_country c
INNER JOIN mondial_geo_sea gs ON gs.country = c.code
INNER JOIN mondial_sea s ON gs.sea = s.name
WHERE s.name = 'Mediterranean Sea'
SELECT COUNT(DISTINCT country.code)
FROM country
JOIN borders ON country.code = borders.country1 OR country.code = borders.country2
JOIN geo_sea ON country.code = geo_sea.country
WHERE geo_sea.sea = 'Mediterranean Sea'
True cols: Index(['COUNT(DISTINCTC.NAME)'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['COUNT(DISTINCTCOUNTRY.CODE)'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found

In [9]:
df_fk = pd.DataFrame(results_fk, columns=['experiment', 'simple', 'medium', 'complex', 'total', 'overall_simple', 'overall_medium', 'overall_complex', 'overall_total','input_tokens', 'output_tokens', 'total_tokens','total_cost', 'total_time'])
df_fk['experiment'] = df_fk['experiment'].apply(get_experiment_name)
df_fk = df_fk.sort_values(by='overall_total', ascending=False)
df_fk

,experiment,simple,medium,complex,total,overall_simple,overall_medium,overall_complex,overall_total,input_tokens,output_tokens,total_tokens,total_cost,total_time
2,MONDIAL_GPT - GPT-4 - FK - SequentialDatabaseC...,22,22,19,63,0.6667,0.6667,0.5588,0.63,67645,3276,70921,2.23,0:06:58
3,MONDIAL_GPT - GPT-4 - Passing Database Instanc...,22,20,17,59,0.6667,0.6061,0.5000,0.59,80208,3217,83425,2.60,0:07:00
0,MONDIAL_GPT - GPT-3.5 - FK - SequentialDatabas...,22,13,8,43,0.6667,0.3939,0.2353,0.43,63394,2883,66277,0.10,0:23:01
1,MONDIAL_GPT - GPT-3.5 - Passing Database Insta...,22,13,5,40,0.6667,0.3939,0.1471,0.40,73994,2955,76949,0.12,0:02:56

In [10]:
df_fk.to_csv(TARGET_PATH_FK)