In [1]:
#!pip install tiktoken

In [ ]:
from langchain.chat_models import ChatOpenAI
from langchain.schema import AIMessage, HumanMessage, SystemMessage

from dotenv import load_dotenv

from langchain.callbacks import get_openai_callback
import os
import sys
import json
import tiktoken
load_dotenv()


path = os.path.abspath('')
module_path = os.path.join(path,'..\..')
print(module_path)
if module_path not in sys.path:
    sys.path.append(module_path+"\\functions")


from sqldatabase_langchain_utils import SQLDatabaseLangchainUtils

### Função para contar tokens

In [3]:
def num_tokens_from_string(string: str, encoding_name: str = "cl100k_base") -> int:
    encoding = tiktoken.get_encoding(encoding_name)
    num_tokens = len(encoding.encode(string))
    return num_tokens

def utf8len(s):
    return len(s.encode('utf-8'))

from langchain.chat_models import ChatOpenAI
llm = ChatOpenAI(temperature=0)

In [4]:
data = {'basic_prompt':{}, 'openai_demonstration_prompt':{}, 'code_representation_prompt':{}}

## Mondial

In [ ]:

SCHEMA = 'mondial_gpt'
json_file_path = f"../../datasets/{SCHEMA}_db_connection.json"
with open(json_file_path, encoding='utf-8', errors='ignore') as json_data:
    db_connection = json.load(json_data, strict=False)

db = SQLDatabaseLangchainUtils(db_connection=db_connection)
exclusao = [
    f"{SCHEMA}_tmdp",
    f"{SCHEMA}_tmdpmap",
    f"{SCHEMA}_tmds",
    f"{SCHEMA}_tmjmap",
    f"{SCHEMA}_tpv",
    f"{SCHEMA}_tmdc",
    f"{SCHEMA}_tmdcmap",
    f"{SCHEMA}_tmdej",
    f"{SCHEMA}_log_action",
    f"{SCHEMA}_log_error",
    f"{SCHEMA}_favorite_item", 
    f"{SCHEMA}_favorite_query",
    f"{SCHEMA}_favorite_tag",
    f"{SCHEMA}_favorite_tag_item",
    f"{SCHEMA}_favorite_visualization",
    f"{SCHEMA}_dashboard",
    f"{SCHEMA}_history"
]

include_tables = [s for s in db.get_table_names() if s.startswith(SCHEMA) and s not in exclusao]
include_tables
db_mondial = SQLDatabaseLangchainUtils(db_connection=db_connection, include_tables=include_tables)

### Basic Prompt

In [6]:
data['basic_prompt']['mondial_size'] = utf8len(db_mondial.get_schema_basic_prompt().strip())
data['basic_prompt']['mondial_tokens_usage'] = num_tokens_from_string(db_mondial.get_schema_basic_prompt().strip())
print(data['basic_prompt']['mondial_tokens_usage'])
print(llm.get_num_tokens(db_mondial.get_schema_basic_prompt().strip()), "tokens")

c:\Users\rogerrsn\Documents\Tecgraf\Danke-General\gpt-llm-to-keywords\experiments\Analises - Text-to-SQL\..\..\functions\sqldatabase_langchain_utils.py:98: SAWarning: Cannot correctly sort tables; there are unresolvable cycles between tables "lake, river", which is usually caused by mutually dependent foreign key constraints.  Foreign key constraints involving these tables will not be considered; this warning may raise an error in a future release.
  return self.db._metadata.sorted_tables

1787
1787 tokens

In [7]:
print(db_mondial.get_schema_basic_prompt())

Table continent, columns = [*,name,area]
Table country, columns = [*,name,code,capital,province,area,population]
Table desert, columns = [*,name,area,coordinates]
Table island, columns = [*,name,islands,area,elevation,type,coordinates]
Table lake, columns = [*,name,river,area,elevation,depth,height,type,coordinates]
Table mondial_airport, columns = [*,name,iatacode,country,city,province,island,latitude,longitude,elevation,gmtoffset,meta_repcol]
Table mondial_borders, columns = [*,country1,country2,length,meta_repcol]
Table mondial_city, columns = [*,name,country,province,population,latitude,longitude,elevation,meta_repcol]
Table mondial_cityothername, columns = [*,city,country,province,othername,meta_repcol]
Table mondial_citypops, columns = [*,city,country,province,year,population,meta_repcol]
Table mondial_continent, columns = [*,name,area,meta_repcol]
Table mondial_country, columns = [*,name,code,capital,province,area,population,meta_repcol]
Table mondial_countrypops, columns = [*,country,year,population,meta_repcol]
Table mondial_desert, columns = [*,name,area,coordinates,meta_repcol]
Table mondial_economy, columns = [*,country,gdp,agriculture,service,industry,inflation,unemployment,meta_repcol]
Table mondial_encompasses, columns = [*,country,continent,percentage,meta_repcol]
Table mondial_ethnicgroup, columns = [*,country,name,percentage,meta_repcol]
Table mondial_geo_desert, columns = [*,desert,country,province,meta_repcol]
Table mondial_geo_estuary, columns = [*,river,country,province,meta_repcol]
Table mondial_geo_island, columns = [*,island,country,province,meta_repcol]
Table mondial_geo_lake, columns = [*,lake,country,province,meta_repcol]
Table mondial_geo_mountain, columns = [*,mountain,country,province,meta_repcol]
Table mondial_geo_river, columns = [*,river,country,province,meta_repcol]
Table mondial_geo_sea, columns = [*,sea,country,province,meta_repcol]
Table mondial_geo_source, columns = [*,river,country,province,meta_repcol]
Table mondial_island, columns = [*,name,islands,area,elevation,type,coordinates,meta_repcol]
Table mondial_islandin, columns = [*,island,sea,lake,river,meta_repcol]
Table mondial_ismember, columns = [*,country,organization,type,meta_repcol]
Table mondial_lake, columns = [*,name,river,area,elevation,depth,height,type,coordinates,meta_repcol]
Table mondial_language, columns = [*,country,name,percentage,meta_repcol]
Table mondial_located, columns = [*,city,province,country,river,lake,sea,meta_repcol]
Table mondial_locatedon, columns = [*,city,province,country,island,meta_repcol]
Table mondial_mergeswith, columns = [*,sea1,sea2,meta_repcol]
Table mondial_mountain, columns = [*,name,mountains,elevation,type,coordinates,meta_repcol]
Table mondial_mountainonisland, columns = [*,mountain,island,meta_repcol]
Table mondial_organization, columns = [*,abbreviation,name,city,country,province,established,meta_repcol]
Table mondial_politics, columns = [*,country,independence,wasdependent,dependent,government,meta_repcol]
Table mondial_population, columns = [*,country,population_growth,infant_mortality,meta_repcol]
Table mondial_province, columns = [*,name,country,population,area,capital,capprov,meta_repcol]
Table mondial_provinceothername, columns = [*,province,country,othername,meta_repcol]
Table mondial_provpops, columns = [*,province,country,year,population,meta_repcol]
Table mondial_religion, columns = [*,country,name,percentage,meta_repcol]
Table mondial_river, columns = [*,name,river,lake,sea,length,area,source,mountains,sourceelevation,estuary,estuaryelevation,meta_repcol]
Table mondial_riverthrough, columns = [*,river,lake,meta_repcol]
Table mondial_sea, columns = [*,name,area,depth,meta_repcol]
Table mountain, columns = [*,name,mountains,elevation,type,coordinates]
Table river, columns = [*,name,river,lake,sea,length,area,source,mountains,sourceelevation,estuary,estuaryelevation]
Table sea, columns = [*,name,area,depth]
Table teste_fornecedor, columns = [*,idfornecedor,nome,produtofornecido,contato,telefone]
Table teste_funcionario, columns = [*,idfuncionario,nome,cargo,datacontratacao]
Table borders, columns = [*,country1,country2,length]
Table countrylocalname, columns = [*,country,localname]
Table countryothername, columns = [*,country,othername]
Table countrypops, columns = [*,country,year,population]
Table economy, columns = [*,country,gdp,agriculture,service,industry,inflation,unemployment]
Table encompasses, columns = [*,country,continent,percentage]
Table ethnicgroup, columns = [*,country,name,percentage]
Table islandin, columns = [*,island,sea,lake,river]
Table lakeonisland, columns = [*,lake,island]
Table language, columns = [*,country,name,percentage]
Table mergeswith, columns = [*,sea1,sea2]
Table mountainonisland, columns = [*,mountain,island]
Table politics, columns = [*,country,independence,wasdependent,dependent,government]
Table population, columns = [*,country,population_growth,infant_mortality]
Table province, columns = [*,name,country,population,area,capital,capprov]
Table religion, columns = [*,country,name,percentage]
Table riveronisland, columns = [*,river,island]
Table riverthrough, columns = [*,river,lake]
Table teste_cliente, columns = [*,idcliente,nome,email,telefone,idfuncionarioresponsavel,idfornecedorresponsavel]
Table city, columns = [*,name,country,province,population,latitude,longitude,elevation]
Table geo_desert, columns = [*,desert,country,province]
Table geo_estuary, columns = [*,river,country,province]
Table geo_island, columns = [*,island,country,province]
Table geo_lake, columns = [*,lake,country,province]
Table geo_mountain, columns = [*,mountain,country,province]
Table geo_river, columns = [*,river,country,province]
Table geo_sea, columns = [*,sea,country,province]
Table geo_source, columns = [*,river,country,province]
Table provincelocalname, columns = [*,province,country,localname]
Table provinceothername, columns = [*,province,country,othername]
Table provpops, columns = [*,province,country,year,population]
Table airport, columns = [*,iatacode,name,country,city,province,island,latitude,longitude,elevation,gmtoffset]
Table citylocalname, columns = [*,city,country,province,localname]
Table cityothername, columns = [*,city,country,province,othername]
Table citypops, columns = [*,city,country,province,year,population]
Table located, columns = [*,city,province,country,river,lake,sea]
Table locatedon, columns = [*,city,province,country,island]
Table organization, columns = [*,abbreviation,name,city,country,province,established]
Table ismember, columns = [*,country,organization,type]

### OpenAI Demonstration Prompt

In [8]:
data['openai_demonstration_prompt']['mondial_size'] = utf8len(db_mondial.get_schema_openai_prompt().strip())
data['openai_demonstration_prompt']['mondial_tokens_usage'] = num_tokens_from_string(db_mondial.get_schema_openai_prompt().strip())
print(data['openai_demonstration_prompt']['mondial_tokens_usage'])
print(llm.get_num_tokens(db_mondial.get_schema_openai_prompt().strip()), "tokens")

1434
1434 tokens

In [9]:
print(db_mondial.get_schema_openai_prompt())

# continent (name, area)
# country (name, code, capital, province, area, population)
# desert (name, area, coordinates)
# island (name, islands, area, elevation, type, coordinates)
# lake (name, river, area, elevation, depth, height, type, coordinates)
# mondial_airport (name, iatacode, country, city, province, island, latitude, longitude, elevation, gmtoffset, meta_repcol)
# mondial_borders (country1, country2, length, meta_repcol)
# mondial_city (name, country, province, population, latitude, longitude, elevation, meta_repcol)
# mondial_cityothername (city, country, province, othername, meta_repcol)
# mondial_citypops (city, country, province, year, population, meta_repcol)
# mondial_continent (name, area, meta_repcol)
# mondial_country (name, code, capital, province, area, population, meta_repcol)
# mondial_countrypops (country, year, population, meta_repcol)
# mondial_desert (name, area, coordinates, meta_repcol)
# mondial_economy (country, gdp, agriculture, service, industry, inflation, unemployment, meta_repcol)
# mondial_encompasses (country, continent, percentage, meta_repcol)
# mondial_ethnicgroup (country, name, percentage, meta_repcol)
# mondial_geo_desert (desert, country, province, meta_repcol)
# mondial_geo_estuary (river, country, province, meta_repcol)
# mondial_geo_island (island, country, province, meta_repcol)
# mondial_geo_lake (lake, country, province, meta_repcol)
# mondial_geo_mountain (mountain, country, province, meta_repcol)
# mondial_geo_river (river, country, province, meta_repcol)
# mondial_geo_sea (sea, country, province, meta_repcol)
# mondial_geo_source (river, country, province, meta_repcol)
# mondial_island (name, islands, area, elevation, type, coordinates, meta_repcol)
# mondial_islandin (island, sea, lake, river, meta_repcol)
# mondial_ismember (country, organization, type, meta_repcol)
# mondial_lake (name, river, area, elevation, depth, height, type, coordinates, meta_repcol)
# mondial_language (country, name, percentage, meta_repcol)
# mondial_located (city, province, country, river, lake, sea, meta_repcol)
# mondial_locatedon (city, province, country, island, meta_repcol)
# mondial_mergeswith (sea1, sea2, meta_repcol)
# mondial_mountain (name, mountains, elevation, type, coordinates, meta_repcol)
# mondial_mountainonisland (mountain, island, meta_repcol)
# mondial_organization (abbreviation, name, city, country, province, established, meta_repcol)
# mondial_politics (country, independence, wasdependent, dependent, government, meta_repcol)
# mondial_population (country, population_growth, infant_mortality, meta_repcol)
# mondial_province (name, country, population, area, capital, capprov, meta_repcol)
# mondial_provinceothername (province, country, othername, meta_repcol)
# mondial_provpops (province, country, year, population, meta_repcol)
# mondial_religion (country, name, percentage, meta_repcol)
# mondial_river (name, river, lake, sea, length, area, source, mountains, sourceelevation, estuary, estuaryelevation, meta_repcol)
# mondial_riverthrough (river, lake, meta_repcol)
# mondial_sea (name, area, depth, meta_repcol)
# mountain (name, mountains, elevation, type, coordinates)
# river (name, river, lake, sea, length, area, source, mountains, sourceelevation, estuary, estuaryelevation)
# sea (name, area, depth)
# teste_fornecedor (idfornecedor, nome, produtofornecido, contato, telefone)
# teste_funcionario (idfuncionario, nome, cargo, datacontratacao)
# borders (country1, country2, length)
# countrylocalname (country, localname)
# countryothername (country, othername)
# countrypops (country, year, population)
# economy (country, gdp, agriculture, service, industry, inflation, unemployment)
# encompasses (country, continent, percentage)
# ethnicgroup (country, name, percentage)
# islandin (island, sea, lake, river)
# lakeonisland (lake, island)
# language (country, name, percentage)
# mergeswith (sea1, sea2)
# mountainonisland (mountain, island)
# politics (country, independence, wasdependent, dependent, government)
# population (country, population_growth, infant_mortality)
# province (name, country, population, area, capital, capprov)
# religion (country, name, percentage)
# riveronisland (river, island)
# riverthrough (river, lake)
# teste_cliente (idcliente, nome, email, telefone, idfuncionarioresponsavel, idfornecedorresponsavel)
# city (name, country, province, population, latitude, longitude, elevation)
# geo_desert (desert, country, province)
# geo_estuary (river, country, province)
# geo_island (island, country, province)
# geo_lake (lake, country, province)
# geo_mountain (mountain, country, province)
# geo_river (river, country, province)
# geo_sea (sea, country, province)
# geo_source (river, country, province)
# provincelocalname (province, country, localname)
# provinceothername (province, country, othername)
# provpops (province, country, year, population)
# airport (iatacode, name, country, city, province, island, latitude, longitude, elevation, gmtoffset)
# citylocalname (city, country, province, localname)
# cityothername (city, country, province, othername)
# citypops (city, country, province, year, population)
# located (city, province, country, river, lake, sea)
# locatedon (city, province, country, island)
# organization (abbreviation, name, city, country, province, established)
# ismember (country, organization, type)

### Code Representation Prompt

In [10]:
data['code_representation_prompt']['mondial_size'] = utf8len(db_mondial.get_table_info().strip())
data['code_representation_prompt']['mondial_tokens_usage'] = num_tokens_from_string(db_mondial.get_table_info().strip())
print(data['code_representation_prompt']['mondial_tokens_usage'])
print(llm.get_num_tokens(db_mondial.get_table_info().strip()), "tokens")

7489
7489 tokens

c:\Users\rogerrsn\AppData\Local\Programs\Python\Python310\lib\site-packages\langchain\utilities\sql_database.py:307: SAWarning: Cannot correctly sort tables; there are unresolvable cycles between tables "lake, river", which is usually caused by mutually dependent foreign key constraints.  Foreign key constraints involving these tables will not be considered; this warning may raise an error in a future release.
  for tbl in self._metadata.sorted_tables

In [11]:
print(db_mondial.get_table_info())

CREATE TABLE airport (
	iatacode VARCHAR(3 CHAR) NOT NULL,
	name VARCHAR(100 CHAR),
	country VARCHAR(4 CHAR),
	city VARCHAR(50 CHAR),
	province VARCHAR(50 CHAR),
	island VARCHAR(50 CHAR),
	latitude NUMBER,
	longitude NUMBER,
	elevation NUMBER,
	gmtoffset NUMBER,
	CONSTRAINT sys_c00163097 PRIMARY KEY (iatacode),
	CONSTRAINT airport_city_province_fk FOREIGN KEY(city, country, province) REFERENCES city (name, country, province),
	CONSTRAINT airport_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT airport_island_fk FOREIGN KEY(island) REFERENCES island (name),
	CONSTRAINT airport_province_country_fk FOREIGN KEY(province, country) REFERENCES province (name, country),
	CONSTRAINT airplat CHECK ((Latitude >= -90) AND (Latitude <= 90)),
	CONSTRAINT airplon CHECK ((Longitude >= -180) AND (Longitude <= 180))
)


CREATE TABLE borders (
	country1 VARCHAR(4 CHAR) NOT NULL,
	country2 VARCHAR(4 CHAR) NOT NULL,
	length NUMBER,
	CONSTRAINT borderkey PRIMARY KEY (country1, country2),
	CONSTRAINT borders_country1_fk FOREIGN KEY(country1) REFERENCES country (code),
	CONSTRAINT borders_country2_fk FOREIGN KEY(country2) REFERENCES country (code),
	CONSTRAINT sys_c00162792 CHECK (Length > 0)
)


CREATE TABLE city (
	name VARCHAR(50 CHAR) NOT NULL,
	country VARCHAR(4 CHAR) NOT NULL,
	province VARCHAR(50 CHAR) NOT NULL,
	population NUMBER,
	latitude NUMBER,
	longitude NUMBER,
	elevation NUMBER,
	CONSTRAINT citykey PRIMARY KEY (name, country, province),
	CONSTRAINT city_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT city_province_country_fk FOREIGN KEY(province, country) REFERENCES province (name, country),
	CONSTRAINT citylat CHECK ((Latitude >= -90) AND (Latitude <= 90)),
	CONSTRAINT citylon CHECK ((Longitude >= -180) AND (Longitude <= 180)),
	CONSTRAINT citypop CHECK (Population >= 0)
)


CREATE TABLE citylocalname (
	city VARCHAR(50 CHAR) NOT NULL,
	country VARCHAR(4 CHAR) NOT NULL,
	province VARCHAR(50 CHAR) NOT NULL,
	localname VARCHAR(300 CHAR),
	CONSTRAINT citylocalnamekey PRIMARY KEY (country, province, city),
	CONSTRAINT citylocalname_city_province_fk FOREIGN KEY(city, country, province) REFERENCES city (name, country, province),
	CONSTRAINT citylocalname_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT citylocalname_province_country_fk FOREIGN KEY(province, country) REFERENCES province (name, country)
)


CREATE TABLE cityothername (
	city VARCHAR(50 CHAR) NOT NULL,
	country VARCHAR(4 CHAR) NOT NULL,
	province VARCHAR(50 CHAR) NOT NULL,
	othername VARCHAR(50 CHAR) NOT NULL,
	CONSTRAINT cityothernamekey PRIMARY KEY (country, province, city, othername),
	CONSTRAINT cityothername_city_province_fk FOREIGN KEY(city, country, province) REFERENCES city (name, country, province),
	CONSTRAINT cityothername_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT cityothername_province_country_fk FOREIGN KEY(province, country) REFERENCES province (name, country)
)


CREATE TABLE citypops (
	city VARCHAR(50 CHAR) NOT NULL,
	country VARCHAR(4 CHAR) NOT NULL,
	province VARCHAR(50 CHAR) NOT NULL,
	year NUMBER NOT NULL,
	population NUMBER,
	CONSTRAINT citypopkey PRIMARY KEY (country, province, city, year),
	CONSTRAINT citypops_city_province_fk FOREIGN KEY(city, country, province) REFERENCES city (name, country, province),
	CONSTRAINT citypops_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT citypops_province_country_fk FOREIGN KEY(province, country) REFERENCES province (name, country),
	CONSTRAINT citypopspop CHECK (Population >= 0),
	CONSTRAINT citypopsyear CHECK (Year >= 0)
)


CREATE TABLE continent (
	name VARCHAR(20 CHAR) NOT NULL,
	area NUMBER(10, 0),
	CONSTRAINT continentkey PRIMARY KEY (name)
)


CREATE TABLE country (
	name VARCHAR(50 CHAR) NOT NULL,
	code VARCHAR(4 CHAR) NOT NULL,
	capital VARCHAR(50 CHAR),
	province VARCHAR(50 CHAR),
	area NUMBER,
	population NUMBER,
	CONSTRAINT countrykey PRIMARY KEY (code),
	CONSTRAINT countryarea CHECK (Area >= 0),
	CONSTRAINT countrypop CHECK (Population >= 0)
)


CREATE TABLE countrylocalname (
	country VARCHAR(4 CHAR) NOT NULL,
	localname VARCHAR(300 CHAR),
	CONSTRAINT countrylocalnamekey PRIMARY KEY (country),
	CONSTRAINT countrylocalname_country_fk FOREIGN KEY(country) REFERENCES country (code)
)


CREATE TABLE countryothername (
	country VARCHAR(4 CHAR) NOT NULL,
	othername VARCHAR(50 CHAR) NOT NULL,
	CONSTRAINT countryothernamekey PRIMARY KEY (country, othername),
	CONSTRAINT countryothername_country_fk FOREIGN KEY(country) REFERENCES country (code)
)


CREATE TABLE countrypops (
	country VARCHAR(4 CHAR) NOT NULL,
	year NUMBER NOT NULL,
	population NUMBER,
	CONSTRAINT countrypopskey PRIMARY KEY (country, year),
	CONSTRAINT countrypops_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT countrypopspop CHECK (Population >= 0),
	CONSTRAINT countrypopsyear CHECK (Year >= 0)
)


CREATE TABLE desert (
	name VARCHAR(50 CHAR) NOT NULL,
	area NUMBER,
	CONSTRAINT desertkey PRIMARY KEY (name),
	CONSTRAINT descoord CHECK ((Coordinates.Latitude >= -90) AND
            (Coordinates.Latitude <= 90) AND
            (Coordinates.Longitude > -180) AND
            (Coordinates.Longitude <= 180)),
	CONSTRAINT descoord CHECK ((Coordinates.Latitude >= -90) AND
            (Coordinates.Latitude <= 90) AND
            (Coordinates.Longitude > -180) AND
            (Coordinates.Longitude <= 180))
)


CREATE TABLE economy (
	country VARCHAR(4 CHAR) NOT NULL,
	gdp NUMBER,
	agriculture NUMBER,
	service NUMBER,
	industry NUMBER,
	inflation NUMBER,
	unemployment NUMBER,
	CONSTRAINT economykey PRIMARY KEY (country),
	CONSTRAINT economy_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT economygdp CHECK (GDP >= 0)
)


CREATE TABLE encompasses (
	country VARCHAR(4 CHAR) NOT NULL,
	continent VARCHAR(20 CHAR) NOT NULL,
	percentage NUMBER,
	CONSTRAINT encompasseskey PRIMARY KEY (country, continent),
	CONSTRAINT encompasses_continent_fk FOREIGN KEY(continent) REFERENCES continent (name),
	CONSTRAINT encompasses_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT sys_c00162796 CHECK ((Percentage > 0) AND (Percentage <= 100))
)


CREATE TABLE ethnicgroup (
	country VARCHAR(4 CHAR) NOT NULL,
	name VARCHAR(50 CHAR) NOT NULL,
	percentage NUMBER,
	CONSTRAINT ethnickey PRIMARY KEY (name, country),
	CONSTRAINT ethnic_group_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT ethnicpercent CHECK ((Percentage > 0) AND (Percentage <= 100))
)


CREATE TABLE geo_desert (
	desert VARCHAR(50 CHAR) NOT NULL,
	country VARCHAR(4 CHAR) NOT NULL,
	province VARCHAR(50 CHAR) NOT NULL,
	CONSTRAINT gdesertkey PRIMARY KEY (province, country, desert),
	CONSTRAINT geo_desert_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT geo_desert_desert_fk FOREIGN KEY(desert) REFERENCES desert (name),
	CONSTRAINT geo_desert_province_country_fk FOREIGN KEY(province, country) REFERENCES province (name, country)
)


CREATE TABLE geo_estuary (
	river VARCHAR(50 CHAR) NOT NULL,
	country VARCHAR(4 CHAR) NOT NULL,
	province VARCHAR(50 CHAR) NOT NULL,
	CONSTRAINT gestuarykey PRIMARY KEY (province, country, river),
	CONSTRAINT geo_estuary_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT geo_estuary_province_country_fk FOREIGN KEY(province, country) REFERENCES province (name, country),
	CONSTRAINT geo_estuary_river_fk FOREIGN KEY(river) REFERENCES river (name)
)


CREATE TABLE geo_island (
	island VARCHAR(50 CHAR) NOT NULL,
	country VARCHAR(4 CHAR) NOT NULL,
	province VARCHAR(50 CHAR) NOT NULL,
	CONSTRAINT gislandkey PRIMARY KEY (province, country, island),
	CONSTRAINT geo_island_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT geo_island_island_fk FOREIGN KEY(island) REFERENCES island (name),
	CONSTRAINT geo_island_province_country_fk FOREIGN KEY(province, country) REFERENCES province (name, country)
)


CREATE TABLE geo_lake (
	lake VARCHAR(50 CHAR) NOT NULL,
	country VARCHAR(4 CHAR) NOT NULL,
	province VARCHAR(50 CHAR) NOT NULL,
	CONSTRAINT glakekey PRIMARY KEY (province, country, lake),
	CONSTRAINT geo_lake_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT geo_lake_lake_fk FOREIGN KEY(lake) REFERENCES lake (name),
	CONSTRAINT geo_lake_province_country_fk FOREIGN KEY(province, country) REFERENCES province (name, country)
)


CREATE TABLE geo_mountain (
	mountain VARCHAR(50 CHAR) NOT NULL,
	country VARCHAR(4 CHAR) NOT NULL,
	province VARCHAR(50 CHAR) NOT NULL,
	CONSTRAINT gmountainkey PRIMARY KEY (province, country, mountain),
	CONSTRAINT geo_mountain_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT geo_mountain_mountain_fk FOREIGN KEY(mountain) REFERENCES mountain (name),
	CONSTRAINT geo_mountain_province_country_fk FOREIGN KEY(province, country) REFERENCES province (name, country)
)


CREATE TABLE geo_river (
	river VARCHAR(50 CHAR) NOT NULL,
	country VARCHAR(4 CHAR) NOT NULL,
	province VARCHAR(50 CHAR) NOT NULL,
	CONSTRAINT griverkey PRIMARY KEY (province, country, river),
	CONSTRAINT geo_river_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT geo_river_province_country_fk FOREIGN KEY(province, country) REFERENCES province (name, country),
	CONSTRAINT geo_river_river_fk FOREIGN KEY(river) REFERENCES river (name)
)


CREATE TABLE geo_sea (
	sea VARCHAR(50 CHAR) NOT NULL,
	country VARCHAR(4 CHAR) NOT NULL,
	province VARCHAR(50 CHAR) NOT NULL,
	CONSTRAINT gseakey PRIMARY KEY (province, country, sea),
	CONSTRAINT geo_sea_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT geo_sea_province_country_fk FOREIGN KEY(province, country) REFERENCES province (name, country),
	CONSTRAINT geo_sea_sea_fk FOREIGN KEY(sea) REFERENCES sea (name)
)


CREATE TABLE geo_source (
	river VARCHAR(50 CHAR) NOT NULL,
	country VARCHAR(4 CHAR) NOT NULL,
	province VARCHAR(50 CHAR) NOT NULL,
	CONSTRAINT gsourcekey PRIMARY KEY (province, country, river),
	CONSTRAINT geo_source_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT geo_source_province_country_fk FOREIGN KEY(province, country) REFERENCES province (name, country),
	CONSTRAINT geo_source_river_fk FOREIGN KEY(river) REFERENCES river (name)
)


CREATE TABLE island (
	name VARCHAR(50 CHAR) NOT NULL,
	islands VARCHAR(50 CHAR),
	area NUMBER,
	elevation NUMBER,
	type VARCHAR(15 CHAR),
	CONSTRAINT islandkey PRIMARY KEY (name),
	CONSTRAINT islandar CHECK (Area >= 0),
	CONSTRAINT islandcoord CHECK ((Coordinates.Latitude >= -90) AND
            (Coordinates.Latitude <= 90) AND
            (Coordinates.Longitude > -180) AND
            (Coordinates.Longitude <= 180)),
	CONSTRAINT islandcoord CHECK ((Coordinates.Latitude >= -90) AND
            (Coordinates.Latitude <= 90) AND
            (Coordinates.Longitude > -180) AND
            (Coordinates.Longitude <= 180))
)


CREATE TABLE islandin (
	island VARCHAR(50 CHAR),
	sea VARCHAR(50 CHAR),
	lake VARCHAR(50 CHAR),
	river VARCHAR(50 CHAR),
	CONSTRAINT islandin_island_fk FOREIGN KEY(island) REFERENCES island (name),
	CONSTRAINT islandin_lake_fk FOREIGN KEY(lake) REFERENCES lake (name),
	CONSTRAINT islandin_river_fk FOREIGN KEY(river) REFERENCES river (name),
	CONSTRAINT islandin_sea_fk FOREIGN KEY(sea) REFERENCES sea (name)
)


CREATE TABLE ismember (
	country VARCHAR(4 CHAR) NOT NULL,
	organization VARCHAR(12 CHAR) NOT NULL,
	type VARCHAR(60 CHAR) DEFAULT 'member',
	CONSTRAINT memberkey PRIMARY KEY (country, organization),
	CONSTRAINT ismember_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT ismember_organization_fk FOREIGN KEY(organization) REFERENCES organization (abbreviation)
)


CREATE TABLE lake (
	name VARCHAR(50 CHAR) NOT NULL,
	river VARCHAR(50 CHAR),
	area NUMBER,
	elevation NUMBER,
	depth NUMBER,
	height NUMBER,
	type VARCHAR(12 CHAR),
	CONSTRAINT lakekey PRIMARY KEY (name),
	CONSTRAINT lake_river_fk FOREIGN KEY(river) REFERENCES river (name),
	CONSTRAINT damheight CHECK (Height > 0),
	CONSTRAINT lakear CHECK (Area >= 0),
	CONSTRAINT lakecoord CHECK ((Coordinates.Latitude >= -90) AND
            (Coordinates.Latitude <= 90) AND
            (Coordinates.Longitude > -180) AND
            (Coordinates.Longitude <= 180)),
	CONSTRAINT lakecoord CHECK ((Coordinates.Latitude >= -90) AND
            (Coordinates.Latitude <= 90) AND
            (Coordinates.Longitude > -180) AND
            (Coordinates.Longitude <= 180)),
	CONSTRAINT lakedpth CHECK (Depth >= 0)
)


CREATE TABLE lakeonisland (
	lake VARCHAR(50 CHAR) NOT NULL,
	island VARCHAR(50 CHAR) NOT NULL,
	CONSTRAINT lakeislkey PRIMARY KEY (lake, island),
	CONSTRAINT lakeonisland_island_fk FOREIGN KEY(island) REFERENCES island (name),
	CONSTRAINT lakeonisland_lake_fk FOREIGN KEY(lake) REFERENCES lake (name)
)


CREATE TABLE language (
	country VARCHAR(4 CHAR) NOT NULL,
	name VARCHAR(50 CHAR) NOT NULL,
	percentage NUMBER,
	CONSTRAINT languagekey PRIMARY KEY (name, country),
	CONSTRAINT language_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT languagepercent CHECK ((Percentage > 0) AND (Percentage <= 100))
)


CREATE TABLE located (
	city VARCHAR(50 CHAR),
	province VARCHAR(50 CHAR),
	country VARCHAR(4 CHAR),
	river VARCHAR(50 CHAR),
	lake VARCHAR(50 CHAR),
	sea VARCHAR(50 CHAR),
	CONSTRAINT located_city_province_fk FOREIGN KEY(city, country, province) REFERENCES city (name, country, province),
	CONSTRAINT located_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT located_lake_fk FOREIGN KEY(lake) REFERENCES lake (name),
	CONSTRAINT located_province_country_fk FOREIGN KEY(province, country) REFERENCES province (name, country),
	CONSTRAINT located_river_fk FOREIGN KEY(river) REFERENCES river (name),
	CONSTRAINT located_sea_fk FOREIGN KEY(sea) REFERENCES sea (name)
)


CREATE TABLE locatedon (
	city VARCHAR(50 CHAR) NOT NULL,
	province VARCHAR(50 CHAR) NOT NULL,
	country VARCHAR(4 CHAR) NOT NULL,
	island VARCHAR(50 CHAR) NOT NULL,
	CONSTRAINT locatedonkey PRIMARY KEY (city, province, country, island),
	CONSTRAINT locatedon_city_province_fk FOREIGN KEY(city, country, province) REFERENCES city (name, country, province),
	CONSTRAINT locatedon_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT locatedon_island_fk FOREIGN KEY(island) REFERENCES island (name),
	CONSTRAINT locatedon_province_country_fk FOREIGN KEY(province, country) REFERENCES province (name, country)
)


CREATE TABLE mergeswith (
	sea1 VARCHAR(50 CHAR) NOT NULL,
	sea2 VARCHAR(50 CHAR) NOT NULL,
	CONSTRAINT mergeswithkey PRIMARY KEY (sea1, sea2),
	CONSTRAINT mergeswith_sea1_fk FOREIGN KEY(sea1) REFERENCES sea (name),
	CONSTRAINT mergeswith_sea2_fk FOREIGN KEY(sea2) REFERENCES sea (name)
)


CREATE TABLE mondial_airport (
	name VARCHAR(100 CHAR),
	iatacode VARCHAR(3 CHAR),
	country VARCHAR(4 CHAR),
	city VARCHAR(50 CHAR),
	province VARCHAR(50 CHAR),
	island VARCHAR(50 CHAR),
	latitude NUMBER,
	longitude NUMBER,
	elevation NUMBER,
	gmtoffset NUMBER,
	meta_repcol VARCHAR(4000 CHAR)
)


CREATE TABLE mondial_borders (
	country1 VARCHAR(4 CHAR),
	country2 VARCHAR(4 CHAR),
	length NUMBER,
	meta_repcol VARCHAR(4000 CHAR)
)


CREATE TABLE mondial_city (
	name VARCHAR(50 CHAR),
	country VARCHAR(4 CHAR),
	province VARCHAR(50 CHAR),
	population NUMBER,
	latitude NUMBER,
	longitude NUMBER,
	elevation NUMBER,
	meta_repcol VARCHAR(4000 CHAR)
)


CREATE TABLE mondial_cityothername (
	city VARCHAR(50 CHAR),
	country VARCHAR(4 CHAR),
	province VARCHAR(50 CHAR),
	othername VARCHAR(50 CHAR),
	meta_repcol VARCHAR(4000 CHAR)
)


CREATE TABLE mondial_citypops (
	city VARCHAR(50 CHAR),
	country VARCHAR(4 CHAR),
	province VARCHAR(50 CHAR),
	year NUMBER,
	population NUMBER,
	meta_repcol VARCHAR(4000 CHAR)
)


CREATE TABLE mondial_continent (
	name VARCHAR(20 CHAR),
	area NUMBER(10, 0),
	meta_repcol VARCHAR(4000 CHAR)
)


CREATE TABLE mondial_country (
	name VARCHAR(50 CHAR),
	code VARCHAR(4 CHAR),
	capital VARCHAR(50 CHAR),
	province VARCHAR(50 CHAR),
	area NUMBER,
	population NUMBER,
	meta_repcol VARCHAR(4000 CHAR)
)


CREATE TABLE mondial_countrypops (
	country VARCHAR(4 CHAR),
	year NUMBER,
	population NUMBER,
	meta_repcol VARCHAR(4000 CHAR)
)


CREATE TABLE mondial_desert (
	name VARCHAR(50 CHAR),
	area NUMBER,
	meta_repcol VARCHAR(4000 CHAR)
)


CREATE TABLE mondial_economy (
	country VARCHAR(4 CHAR),
	gdp NUMBER,
	agriculture NUMBER,
	service NUMBER,
	industry NUMBER,
	inflation NUMBER,
	unemployment NUMBER,
	meta_repcol VARCHAR(4000 CHAR)
)


CREATE TABLE mondial_encompasses (
	country VARCHAR(4 CHAR),
	continent VARCHAR(20 CHAR),
	percentage NUMBER,
	meta_repcol VARCHAR(4000 CHAR)
)


CREATE TABLE mondial_ethnicgroup (
	country VARCHAR(4 CHAR),
	name VARCHAR(50 CHAR),
	percentage NUMBER,
	meta_repcol VARCHAR(200 CHAR)
)


CREATE TABLE mondial_geo_desert (
	desert VARCHAR(50 CHAR),
	country VARCHAR(4 CHAR),
	province VARCHAR(50 CHAR),
	meta_repcol VARCHAR(4000 CHAR)
)


CREATE TABLE mondial_geo_estuary (
	river VARCHAR(50 CHAR),
	country VARCHAR(4 CHAR),
	province VARCHAR(50 CHAR),
	meta_repcol VARCHAR(4000 CHAR)
)


CREATE TABLE mondial_geo_island (
	island VARCHAR(50 CHAR),
	country VARCHAR(4 CHAR),
	province VARCHAR(50 CHAR),
	meta_repcol VARCHAR(4000 CHAR)
)


CREATE TABLE mondial_geo_lake (
	lake VARCHAR(50 CHAR),
	country VARCHAR(4 CHAR),
	province VARCHAR(50 CHAR),
	meta_repcol VARCHAR(4000 CHAR)
)


CREATE TABLE mondial_geo_mountain (
	mountain VARCHAR(50 CHAR),
	country VARCHAR(4 CHAR),
	province VARCHAR(50 CHAR),
	meta_repcol VARCHAR(4000 CHAR)
)


CREATE TABLE mondial_geo_river (
	river VARCHAR(50 CHAR),
	country VARCHAR(4 CHAR),
	province VARCHAR(50 CHAR),
	meta_repcol VARCHAR(4000 CHAR)
)


CREATE TABLE mondial_geo_sea (
	sea VARCHAR(50 CHAR),
	country VARCHAR(4 CHAR),
	province VARCHAR(50 CHAR),
	meta_repcol VARCHAR(4000 CHAR)
)


CREATE TABLE mondial_geo_source (
	river VARCHAR(50 CHAR),
	country VARCHAR(4 CHAR),
	province VARCHAR(50 CHAR),
	meta_repcol VARCHAR(4000 CHAR)
)


CREATE TABLE mondial_island (
	name VARCHAR(50 CHAR),
	islands VARCHAR(50 CHAR),
	area NUMBER,
	elevation NUMBER,
	type VARCHAR(10 CHAR),
	meta_repcol VARCHAR(4000 CHAR)
)


CREATE TABLE mondial_islandin (
	island VARCHAR(50 CHAR),
	sea VARCHAR(50 CHAR),
	lake VARCHAR(50 CHAR),
	river VARCHAR(50 CHAR),
	meta_repcol VARCHAR(4000 CHAR)
)


CREATE TABLE mondial_ismember (
	country VARCHAR(4 CHAR),
	organization VARCHAR(12 CHAR),
	type VARCHAR(60 CHAR),
	meta_repcol VARCHAR(4000 CHAR)
)


CREATE TABLE mondial_lake (
	name VARCHAR(50 CHAR),
	river VARCHAR(50 CHAR),
	area NUMBER,
	elevation NUMBER,
	depth NUMBER,
	height NUMBER,
	type VARCHAR(12 CHAR),
	meta_repcol VARCHAR(4000 CHAR)
)


CREATE TABLE mondial_language (
	country VARCHAR(4 CHAR),
	name VARCHAR(50 CHAR),
	percentage NUMBER,
	meta_repcol VARCHAR(4000 CHAR)
)


CREATE TABLE mondial_located (
	city VARCHAR(50 CHAR),
	province VARCHAR(50 CHAR),
	country VARCHAR(4 CHAR),
	river VARCHAR(50 CHAR),
	lake VARCHAR(50 CHAR),
	sea VARCHAR(50 CHAR),
	meta_repcol VARCHAR(4000 CHAR)
)


CREATE TABLE mondial_locatedon (
	city VARCHAR(50 CHAR),
	province VARCHAR(50 CHAR),
	country VARCHAR(4 CHAR),
	island VARCHAR(50 CHAR),
	meta_repcol VARCHAR(4000 CHAR)
)


CREATE TABLE mondial_mergeswith (
	sea1 VARCHAR(50 CHAR),
	sea2 VARCHAR(50 CHAR),
	meta_repcol VARCHAR(4000 CHAR)
)


CREATE TABLE mondial_mountain (
	name VARCHAR(50 CHAR),
	mountains VARCHAR(50 CHAR),
	elevation NUMBER,
	type VARCHAR(10 CHAR),
	meta_repcol VARCHAR(4000 CHAR)
)


CREATE TABLE mondial_mountainonisland (
	mountain VARCHAR(50 CHAR),
	island VARCHAR(50 CHAR),
	meta_repcol VARCHAR(4000 CHAR)
)


CREATE TABLE mondial_organization (
	abbreviation VARCHAR(12 CHAR),
	name VARCHAR(100 CHAR),
	city VARCHAR(50 CHAR),
	country VARCHAR(4 CHAR),
	province VARCHAR(50 CHAR),
	established DATE,
	meta_repcol VARCHAR(4000 CHAR)
)


CREATE TABLE mondial_politics (
	country VARCHAR(4 CHAR),
	independence DATE,
	wasdependent VARCHAR(50 CHAR),
	dependent VARCHAR(4 CHAR),
	government VARCHAR(120 CHAR),

### Basic Prompt

### Resultados

In [12]:
data

{'basic_prompt': {'mondial_size': 6576, 'mondial_tokens_usage': 1787},
 'openai_demonstration_prompt': {'mondial_size': 5382,
  'mondial_tokens_usage': 1434},
 'code_representation_prompt': {'mondial_size': 29394,
  'mondial_tokens_usage': 7489}}

In [13]:
import pandas as pd

df = pd.DataFrame(data)

In [14]:

df

,basic_prompt,openai_demonstration_prompt,code_representation_prompt
mondial_size,6576,5382,29394
mondial_tokens_usage,1787,1434,7489

In [15]:
df.index
df.rename(index={'mondial_size': 'Mondial - Size (bytes)', 'mondial_tokens_usage':'Mondial - Tokens Usage'
                 }, inplace=True)

In [16]:
df

,basic_prompt,openai_demonstration_prompt,code_representation_prompt
Mondial - Size (bytes),6576,5382,29394
Mondial - Tokens Usage,1787,1434,7489

In [17]:
filename = 'Análise da Representação dos Prompts.csv'
dir = 'results/'
df.to_csv(dir+filename)