In [ ]:

from dotenv import load_dotenv
import os
import sys
import json
import pandas as pd
import time
import datetime
load_dotenv()

path = os.path.abspath('')
module_path = os.path.join(path,'..\..')
print(module_path)
if module_path not in sys.path:
    sys.path.append(module_path+"\\functions")


from dataset_utils import DatasetEvaluator

In [2]:
def save_queries(queries, FILE_NAME_PATH):
    data = {"queries":queries}
    with open(FILE_NAME_PATH, "w") as arquivo_json:
        json.dump(data, arquivo_json, indent=4) 

def read_queries(FILE_NAME_PATH):
    with open(FILE_NAME_PATH, encoding="utf-8", errors="ignore") as json_data:
        data = json.load(json_data, strict=False)
    queries = data["queries"]
    return queries

def get_schema(FILE_NAME_PATH):
    if "mondial_gpt" in FILE_NAME_PATH:
        return "mondial_gpt"
    elif "mondial" in FILE_NAME_PATH:
        return "mondial"
    return ""

def get_dataset_evaluator(FILE_NAME_PATH):
    SCHEMA = get_schema(FILE_NAME_PATH)  
    PREFIX = SCHEMA  
    if SCHEMA == "mondial_gpt":
        PREFIX = "mondial"
    print(PREFIX)
    print(SCHEMA)
    dataset_eval = DatasetEvaluator(dataset_file_path=f"../../datasets/{PREFIX}/{PREFIX}_dataset.json",
                                dataset_tables_path=f"../../datasets/{PREFIX}/result_tables/",
                                db_connection_file=f"../../datasets/{SCHEMA}_db_connection.json",
                                dataset_name=SCHEMA)
    return dataset_eval

In [3]:
path = "results/sql_coder_mondial.json"

In [4]:
dval = get_dataset_evaluator(path)

mondial
mondial

In [5]:
dval.dataset

[{'id': '1',
  'type': 'simple',
  'number_of_results': '1',
  'number_of_joins': '0',
  'number_of_filters': '0',
  'number_of_aggregations': '0',
  'question': 'What is the area of Thailand?',
  'query': "SELECT max(area) FROM mondial_country where name  = 'Thailand'",
  'keywords': '',
  'answer': [{'uri': '/results_table/1.csv'}]},
 {'id': '2',
  'type': 'simple',
  'number_of_results': '1056',
  'number_of_joins': '0',
  'number_of_filters': '1',
  'number_of_aggregations': '0',
  'question': 'What are the provinces with an area greater than 10000?',
  'query': 'SELECT name FROM mondial_province where area > 10000',
  'keywords': '',
  'answer': [{'uri': '/results_table/2.csv'}]},
 {'id': '3',
  'type': 'medium',
  'number_of_results': '1',
  'number_of_joins': '1',
  'number_of_filters': '1',
  'number_of_aggregations': '0',
  'question': 'What are the languages spoken in Poland?',
  'query': "SELECT mondial_language.name FROM mondial_language INNER JOIN mondial_country ON mondial_language.country = mondial_country.code WHERE mondial_country.name = 'Poland'",
  'keywords': '',
  'answer': [{'uri': '/results_table/3.csv'}]},
 {'id': '4',
  'type': 'simple',
  'number_of_results': '1',
  'number_of_joins': '0',
  'number_of_filters': '1',
  'number_of_aggregations': '0',
  'question': 'How deep is Lake Kariba?',
  'query': "SELECT depth FROM mondial_lake where name LIKE '%Lake Kariba%'",
  'keywords': '',
  'answer': [{'uri': '/results_table/4.csv'}]},
 {'id': '5',
  'type': 'complex',
  'number_of_results': '1',
  'number_of_joins': '1',
  'number_of_filters': '1',
  'number_of_aggregations': '1',
  'question': 'What is the total of provinces of Netherlands?',
  'query': "SELECT count(*) FROM mondial_province p INNER JOIN mondial_country c ON p.country = c.code WHERE c.name = 'Netherlands'",
  'keywords': '',
  'answer': [{'uri': '/results_table/5.csv'}]},
 {'id': '6',
  'type': 'complex',
  'number_of_results': '1',
  'number_of_joins': '0',
  'number_of_filters': '2',
  'number_of_aggregations': '1',
  'question': 'What is the percentage of religious people are hindu in thailand?',
  'query': "SELECT r.percentage FROM mondial_religion r INNER JOIN mondial_country c ON r.country = c.code WHERE c.name = 'Thailand' AND r.name LIKE '%Hindu%'",
  'keywords': '',
  'answer': [{'uri': '/results_table/6.csv'}]},
 {'id': '7',
  'type': 'medium',
  'number_of_results': '137',
  'number_of_joins': '2',
  'number_of_filters': '0',
  'number_of_aggregations': '1',
  'question': 'List the number of provinces each river flows through.',
  'query': 'SELECT river.name, COUNT(DISTINCT geo_river.province) FROM river JOIN geo_river ON river.name = geo_river.river GROUP BY river.name',
  'keywords': '',
  'answer': [{'uri': '/results_table/7.csv'}]},
 {'id': '8',
  'type': 'complex',
  'number_of_results': '32',
  'number_of_joins': '1',
  'number_of_filters': '2',
  'number_of_aggregations': '0',
  'question': 'Find all countries that became independent between 8/1/1910 and 8/1/1950.',
  'query': "SELECT c.name FROM mondial_country c \nINNER JOIN mondial_politics p ON c.code = p.country \nWHERE independence > DATE '1910-08-01' AND independence < DATE '1950-08-01'",
  'keywords': '',
  'answer': [{'uri': '/results_table/8.csv'}]},
 {'id': '9',
  'type': 'medium',
  'number_of_results': '17',
  'number_of_joins': '1',
  'number_of_filters': '1',
  'number_of_aggregations': '0',
  'question': 'What are the cities of Cuba?',
  'query': "SELECT * FROM mondial_city ci INNER JOIN mondial_country c on ci.country = c.code where c.name = 'Cuba'",
  'keywords': '',
  'answer': [{'uri': '/results_table/9.csv'}]},
 {'id': '10',
  'type': 'medium',
  'number_of_results': '1',
  'number_of_joins': '0',
  'number_of_filters': '1',
  'number_of_aggregations': '0',
  'question': 'What is the capital of Georgia?',
  'query': "SELECT capital FROM mondial_country WHERE name = 'Georgia'",
  'keywords': '',
  'answer': [{'uri': '/results_table/10.csv'}]},
 {'id': '11',
  'type': 'complex',
  'number_of_results': '1',
  'number_of_joins': '1',
  'number_of_filters': '2',
  'number_of_aggregations': '1',
  'question': 'How many provinces have areas greater than 1000 in Niger?',
  'query': "SELECT count(p.name) FROM mondial_province p INNER JOIN mondial_country c on p.country = c.code where c.name = 'Niger' AND p.area > 1000",
  'keywords': '',
  'answer': [{'uri': '/results_table/11.csv'}]},
 {'id': '12',
  'type': 'medium',
  'number_of_results': '1',
  'number_of_joins': '0',
  'number_of_filters': '0',
  'number_of_aggregations': '1',
  'question': 'Tell me about the country with the area largest.',
  'query': 'SELECT name FROM mondial_country GROUP BY name ORDER BY max(area) DESC FETCH FIRST 1 ROWS ONLY;',
  'keywords': '',
  'answer': [{'uri': '/results_table/12.csv'}]},
 {'id': '13',
  'type': 'medium',
  'number_of_results': '1',
  'number_of_joins': '0',
  'number_of_filters': '1',
  'number_of_aggregations': '0',
  'question': 'What is the host province and year of establishment of the organization "International Energy Agency"?',
  'query': "SELECT o.province, o.established  FROM mondial_organization o WHERE o.name LIKE '%International Energy Agency%'",
  'keywords': '',
  'answer': [{'uri': '/results_table/13.csv'}]},
 {'id': '14',
  'type': 'medium',
  'number_of_results': '561',
  'number_of_joins': '0',
  'number_of_filters': '1',
  'number_of_aggregations': '0',
  'question': 'Find the name of all mountains whose elevation is higher than 1000.',
  'query': 'SELECT name FROM mondial_mountain WHERE elevation > 1000.0',
  'keywords': '',
  'answer': [{'uri': '/results_table/14.csv'}]},
 {'id': '15',
  'type': 'medium',
  'number_of_results': '33',
  'number_of_joins': '3',
  'number_of_filters': '1',
  'number_of_aggregations': '0',
  'question': 'Tell me the economy of the Caribbean Sea.',
  'query': "SELECT DISTINCT e.* FROM mondial_economy e \nINNER JOIN mondial_country c ON e.country = c.code\nINNER JOIN mondial_geo_sea gs ON gs.country = c.code\nINNER JOIN mondial_sea s ON s.name = gs.sea\nWHERE s.name LIKE '%Caribbean Sea%'",
  'keywords': '',
  'answer': [{'uri': '/results_table/15.csv'}]},
 {'id': '16',
  'type': 'simple',
  'number_of_results': '142',
  'number_of_joins': '0',
  'number_of_filters': '2',
  'number_of_aggregations': '0',
  'question': 'Show the cities with longitude between 0 and 6.',
  'query': 'SELECT name FROM mondial_city WHERE longitude BETWEEN 0 AND 6',
  'keywords': '',
  'answer': [{'uri': '/results_table/16.csv'}]},
 {'id': '17',
  'type': 'complex',
  'number_of_results': '14',
  'number_of_joins': '2',
  'number_of_filters': '3',
  'number_of_aggregations': '0',
  'question': 'Select cities whose population is greater than 100000, altitude greater than 2500, and the country you belong to has population growth greater than 1.',
  'query': 'SELECT ci.name FROM mondial_city ci\nINNER JOIN mondial_country c ON c.code = ci.country\nINNER JOIN mondial_population p ON p.country = c.code \nWHERE ci.population > 100000 AND ci.elevation > 2500 AND \np.population_growth > 1',
  'keywords': '',
  'answer': [{'uri': '/results_table/17.csv'}]},
 {'id': '18',
  'type': 'simple',
  'number_of_results': '81',
  'number_of_joins': '0',
  'number_of_filters': '0',
  'number_of_aggregations': '0',
  'question': 'Show all the different types of government.',
  'query': 'SELECT DISTINCT government FROM mondial_politics',
  'keywords': '',
  'answer': [{'uri': '/results_table/18.csv'}]},
 {'id': '19',
  'type': 'medium',
  'number_of_results': '16',
  'number_of_joins': '1',
  'number_of_filters': '1',
  'number_of_aggregations': '0',
  'question': 'List all provinces in Germany',
  'query': "SELECT p.name FROM mondial_province p INNER JOIN mondial_country c ON p.country = c.code  WHERE c.name = 'Germany'",
  'keywords': '',
  'answer': [{'uri': '/results_table/19.csv'}]},
 {'id': '20',
  'type': 'complex',
  'number_of_results': '1',
  'number_of_joins': '1',
  'number_of_filters': '2',
  'number_of_aggregations': '0',
  'question': 'What is the percentage of mulatto ethnicity in Brazil?',
  'query': "SELECT eg.percentage FROM mondial_ethnicgroup eg INNER JOIN mondial_country c ON c.code = eg.country WHERE c.name = 'Brazil' AND eg.name LIKE '%Mulatto%'",
  'keywords': '',
  'answer': [{'uri': '/results_table/20.csv'}]},
 {'id': '21',
  'type': 'simple',
  'number_of_results': '1',
  'number_of_joins': '0',
  'number_of_filters': '1',
  'number_of_aggregations': '1',
  'question': 'How many cities have populations less than 1000?',
  'query': 'SELECT count(*) FROM mondial_city WHERE population < 1000',
  'keywords': '',
  'answer': [{'uri': '/results_table/21.csv'}]},
 {'id': '22',
  'type': 'complex',
  'number_of_results': '1',
  'number_of_joins': '3',
  'number_of_filters': '1',
  'number_of_aggregations': '1',
  'question': 'What is the average elevation of airports in America?',
  'query': "SELECT avg(a.elevation) FROM mondial_airport a\nINNER JOIN mondial_country c ON c.code = a.country \nINNER JOIN mondial_encompasses e ON e.country = c.code\nINNER JOIN mondial_continent co ON co.name = e.continent\nWHERE co.name = 'America'",
  'keywords': '',
  'answer': [{'uri': '/results_table/22.csv'}]},
 {'id': '23',
  'type': 'medium',
  'number_of_results': '1',
  'number_of_joins': '1',
  'number_of_filters': '1',
  'number_of_aggregations': '1',
  'question': 'How many countries are adjacent to (or ecompassed by) the Caribbean Sea?',
  'query': "SELECT COUNT(DISTINCT ec.country) AS number_of_countries\nFROM mondial_geo_sea gs\nJOIN mondial_encompasses ec ON gs.country = ec.country\nWHERE gs.sea = 'Caribbean Sea';",
  'keywords': '',
  'answer': [{'uri': '/results_table/23.csv'}]},
 {'id': '24',
  'type': 'complex',
  'number_of_results': '1',
  'number_of_joins': '2',
  'number_of_filters': '1',
  'number_of_aggregations': '1',
  'question': 'How much area do the countries that are adjacent to (or encompassed by) the Caribbean Sea cover in total?',
  'query': "SELECT SUM(DISTINCT c.area) AS total_area\nFROM mondial_Country c\nJOIN mondial_encompasses e ON c.code = e.country\nJOIN mondial_geo_sea gs ON e.country = gs.country\nWHERE gs.sea = 'Caribbean Sea';",
  'keywords': '',
  'answer': [{'uri': '/results_table/24.csv'}]},
 {'id': '25',
  'type': 'medium',
  'number_of_results': '119',
  'number_of_joins': '2',
  'number_of_filters': '0',
  'number_of_aggregations': '1',
  'question': 'For all countries, give the sum of the population of all its neighbors',
  'query': 'SELECT c.name AS country_name, SUM(c1.population) AS total_neighbor_population\nFROM mondial_Country c\nJOIN mondial_Borders b ON c.code = b.country1\nJOIN mondial_Country c1 ON b.country2 = c1.code\nGROUP BY c.name;',
  'keywords': '',
  'answer': [{'uri': '/results_table/25.csv'}]},
 {'id': '26',
  'type': 'simple',
  'number_of_results': '7',
  'number_of_joins': '0',
  'number_of_filters': '1',
  'number_of_aggregations': '0',
  'question': 'What mountains are on the island of Borneo?',
  'query': "SELECT mountain FROM mondial_mountainonisland WHERE island LIKE '%Borneo%'",
  'keywords': '',
  'answer': [{'uri': '/results_table/26.csv'}]},
 {'id': '27',
  'type': 'simple',
  'number_of_results': '1',
  'number_of_joins': '0',
  'number_of_filters': '0',
  'number_of_aggregations': '0',
  'question': 'Provide the name and total population of the country with the smallest area.',
  'query': 'SELECT name, population FROM mondial_country ORDER BY area ASC FETCH FIRST 1 ROWS ONLY;',
  'keywords': '',
  'answer': [{'uri': '/results_table/27.csv'}]},
 {'id': '28',
  'type': 'complex',
  'number_of_results': '56',
  'number_of_joins': '0',
  'number_of_filters': '5',
  'number_of_aggregations': '0',
  'question': 'The codes of all countries for which at least one river that originates in this country has its estuary in a neighboring country.',
  'query': 'SELECT DISTINCT s.country\nFROM mondial_geo_estuary e, mondial_borders b, mondial_geo_source s\nWHERE ((e.country = b.country1 AND s.country = b.country2)\nOR (e.country = b.country2 AND s.country = b.country1))\nAND e.river = s.river;',
  'keywords': '',
  'answer': [{'uri': '/results_table/28.csv'}]},
 {'id': '29',
  'type': 'complex',
  'number_of_results': '84',
  'number_of_joins': '0',
  'number_of_filters': '2',
  'number_of_aggregations': '0',
  'question': 'The codes of all countries where at least one mountain is located in each of their provinces',
  'query': 'SELECT code FROM mondial_country\nWHERE code NOT IN (\nSELECT p.country FROM (\nSELECT name, country\nFROM mondial_province\nWHERE (name, country) NOT IN (SELECT province, country FROM mondial_geo_mountain)) p);',
  'keywords': '',
  'answer': [{'uri': '/results_table/29.csv'}]},
 {'id': '30',
  'type': 'complex',
  'number_of_results': '167',
  'number_of_joins': '0',
  'number_of_filters': '2',
  'number_of_aggregations': '1',
  'question': 'The code and total border lengths of all countries with at least one border.',
  'query': 'SELECT b.country1, sum(b.length)\nFROM (SELECT country1, length FROM mondial_borders\nUNION ALL\nSELECT country2, length FROM mondial_borders\n) b\nGROUP BY b.country1;',
  'keywords': '',
  'answer': [{'uri': '/results_table/30.csv'}]},
 {'id': '31',
  'type': 'medium',
  'number_of_results': '90',
  'number_of_joins': '1',
  'number_of_filters': '1',
  'number_of_aggregations': '0',
  'question': 'The names and codes of all countries in which at least one river originates.',
  'query': 'SELECT DISTINCT c.name, c.code\nFROM mondial_country c, mondial_geo_source g\nWHERE c.code = g.country;',
  'keywords': '',
  'answer': [{'uri': '/results_table/31.csv'}]},
 {'id': '32',
  'type': 'simple',
  'number_of_results': '1',
  'number_of_joins': '2',
  'number_of_filters': '1',
  'number_of_aggregations': '0',
  'question': 'What is the area and country of the Chatanga River?',
  'query': "SELECT c.name, r.area FROM mondial_geo_river gr\nINNER JOIN mondial_country c ON c.code = gr.country \nINNER JOIN mondial_river r ON r.name = gr.river\nWHERE r.name = 'Chatanga'",
  'keywords': '',
  'answer': [{'uri': '/results_table/32.csv'}]},
 {'id': '33',
  'type': 'simple',
  'number_of_results': '5',
  'number_of_joins': '0',
  'number_of_filters': '1',
  'number_of_aggregations': '0',
  'question': 'Show the Airports with elevation more than 3000',
  'query': 'SELECT name FROM mondial_airport WHERE elevation > 3000.0',
  'keywords': '',
  'answer': [{'uri': '/results_table/33.csv'}]},
 {'id': '34',
  'type': 'medium',
  'number_of_results': '3',
  'number_of_joins': '0',
  'number_of_filters': '1',
  'number_of_aggregations': '1',
  'question': 'What are the religions practiced in Mexico?',
  'query': "SELECT r.name FROM mondial_religion r INNER JOIN mondial_country c ON c.code = r.country WHERE c.name = 'Mexico'",
  'keywords': '',
  'answer': [{'uri': '/results_table/34.csv'}]},
 {'id': '35',
  'type': 'medium',
  'number_of_results': '267',
  'number_of_joins': '0',
  'number_of_filters': '1',
  'number_of_aggregations': '0',
  'question': 'Show all rivers that do not flow into the sea.',
  'query': 'SELECT name FROM mondial_River WHERE sea IS NULL;',
  'keywords': '',
  'answer': [{'uri': '/results_table/35.csv'}]},
 {'id': '36',
  'type': 'complex',
  'number_of_results': '39',
  'number_of_joins': '3',
  'number_of_filters': '1',
  'number_of_aggregations': '1',
  'question': 'List African countries by number of neighbors.',
  'query': "SELECT c.name, COUNT(b.country2) AS num_neighbors FROM mondial_country c INNER JOIN mondial_borders b ON c.code = b.country1 \nINNER JOIN mondial_encompasses e ON c.code = e.country \nINNER JOIN mondial_continent co ON e.continent = co.name \nWHERE co.name = 'Africa' GROUP BY c.name ORDER BY num_neighbors DESC;",
  'keywords': '',
  'answer': [{'uri': '/results_table/36.csv'}]},
 {'id': '37',
  'type': 'simple',
  'number_of_results': '5',
  'number_of_joins': '2',
  'number_of_filters': '0',
  'number_of_aggregations': '1',
  'question': 'What is the average infant mortality rate for each continent?',
  'query': 'SELECT c.name AS continent, AVG(p.infant_mortality) AS avg_infant_mortality\nFROM mondial_continent c\nJOIN mondial_encompasses e ON c.name = e.continent\nJOIN mondial_population p ON e.country = p.country\nGROUP BY c.name;',
  'keywords': '',
  'answer': [{'uri': '/results_table/37.csv'}]},
 {'id': '38',
  'type': 'complex',
  'number_of_results': '1',
  'number_of_joins': '3',
  'number_of_filters': '2',
  'number_of_aggregations': '1',
  'question': 'What is the average mortality rate of the countries in America without considering Brazil?',
  'query': "SELECT AVG(p.infant_mortality) AS avg_infant_mortality\nFROM mondial_Country c\nJOIN mondial_Population p ON c.code = p.country\nJOIN mondial_encompasses e ON c.code = e.country\nJOIN mondial_Continent ct ON e.continent = ct.name\nWHERE ct.name = 'America' AND c.name != 'Brazil';",
  'keywords': '',
  'answer': [{'uri': '/results_table/38.csv'}]},
 {'id': '39',
  'type': 'simple',
  'number_of_results': '2',
  'number_of_joins': '0',
  'number_of_filters': '2',
  'number_of_aggregations': '0',
  'question': 'List seas with area greater than 8000 and depth less than 100.',
  'query': 'SELECT name FROM mondial_sea WHERE area > 8000 AND depth < 100',
  'keywords': '',
  'answer': [{'uri': '/results_table/39.csv'}]},
 {'id': '40',
  'type': 'complex',
  'number_of_results': '1',
  'number_of_joins': '4',
  'number_of_filters': '1',
  'number_of_aggregations': '1',
  'question': 'How many mountains are there in Asia?',
  'query': "SELECT count(DISTINCT m.name) FROM mondial_mountain m\nINNER JOIN mondial_geo_mountain gm ON m.name = gm.mountain \nINNER JOIN mondial_country c ON c.code = gm.country \nINNER JOIN mondial_encompasses e ON e.country = c.code\nINNER JOIN mondial_continent co ON co.name = e.continent\nWHERE co.name = 'Asia'",
  'keywords': '',
  'answer': [{'uri': '/results_table/40.csv'}]},
 {'id': '41',
  'type': 'complex',
  'number_of_results': '8',
  'number_of_joins': '3',
  'number_of_filters': '1',
  'number_of_aggregations': '0',
  'question': 'How many countries that are close to the Mediterranean Sea?',
  'query': "SELECT count(DISTINCT c.name) FROM mondial_country c\nINNER JOIN mondial_geo_sea gs ON gs.country = c.code\nINNER JOIN mondial_sea s ON gs.sea = s.name \nWHERE s.name = 'Mediterranean Sea'",
  'keywords': '',
  'answer': [{'uri': '/results_table/41.csv'}]},
 {'id': '42',
  'type': 'simple',
  'number_of_results': '81',
  'number_of_joins': '0',
  'number_of_filters': '0',
  'number_of_aggregations': '1',
  'question': 'Show the total for each type of government.',
  'query': 'SELECT government, count(government) FROM mondial_politics GROUP BY government',
  'keywords': '',
  'answer': [{'uri': '/results_table/42.csv'}]},
 {'id': '43',
  'type': 'simple',
  'number_of_results': '1',
  'number_of_joins': '1',
  'number_of_filters': '0',
  'number_of_aggregations': '0',
  'question': 'Which province has the largest desert in the world?',
  'query': 'SELECT province FROM mondial_geo_desert gd \nINNER JOIN mondial_desert d ON gd.desert = d.name ORDER BY d.area DESC FETCH FIRST 1 ROWS ONLY;',
  'keywords': '',
  'answer': [{'uri': '/results_table/43.csv'}]},
 {'id': '44',
  'type': 'simple',
  'number_of_results': '1',
  'number_of_joins': '0',
  'number_of_filters': '0',
  'number_of_aggregations': '0',
  'question': 'What is the largest desert in the world?',
  'query': 'SELECT name FROM mondial_desert ORDER BY area DESC FETCH FIRST 1 ROWS ONLY;',
  'keywords': '',
  'answer': [{'uri': '/results_table/44.csv'}]},
 {'id': '45',
  'type': 'complex',
  'number_of_results': '5',
  'number_of_joins': '3',
  'number_of_filters': '0',
  'number_of_aggregations': '1',
  'question': 'List, for all continents, the amount of deserts on each.',

In [6]:
queries = read_queries(path)
queries

[{'question': 'What is the area of Thailand?',
  'tables': ['mondial_country'],
  'ddl': 'CREATE TABLE "MONDIAL_GPT"."MONDIAL_COUNTRY" \n   (\t"NAME" VARCHAR2(50 BYTE), \n\t"CODE" VARCHAR2(4 BYTE), \n\t"CAPITAL" VARCHAR2(50 BYTE), \n\t"PROVINCE" VARCHAR2(50 BYTE), \n\t"AREA" NUMBER, \n\t"POPULATION" NUMBER, \n\t"META_REPCOL" VARCHAR2(4000 BYTE)\n   ) SEGMENT CREATION IMMEDIATE \n  PCTFREE 10 PCTUSED 40 INITRANS 1 MAXTRANS 255 \n NOCOMPRESS LOGGING\n  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645\n  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1\n  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)\n  TABLESPACE "MONDIAL_GPT" ;',
  'ddl_postgres': 'CREATE TABLE "MONDIAL_GPT"."MONDIAL_COUNTRY" \n   ("NAME" VARCHAR(50), \n\t"CODE" VARCHAR(4), \n\t"CAPITAL" VARCHAR(50), \n\t"PROVINCE" VARCHAR(50), \n\t"AREA" NUMERIC, \n\t"POPULATION" NUMERIC, \n\t"META_REPCOL" VARCHAR(4000)\n   );',
  'sql_coder': "\nSELECT MONDIAL_COUNTRY.AREA\nFROM MONDIAL_COUNTRY\nWHERE MONDIAL_COUNTRY.NAME ilike '%Thailand%'",
  'sql_coder_oracle': "SELECT MONDIAL_COUNTRY.AREA\nFROM MONDIAL_COUNTRY\nWHERE UPPER(MONDIAL_COUNTRY.NAME) LIKE UPPER('%Thailand%')"},
 {'question': 'What are the provinces with an area greater than 10000?',
  'tables': ['mondial_province'],
  'ddl': 'CREATE TABLE "MONDIAL_GPT"."MONDIAL_PROVINCE" \n   (\t"NAME" VARCHAR2(50 BYTE), \n\t"COUNTRY" VARCHAR2(4 BYTE), \n\t"POPULATION" NUMBER, \n\t"AREA" NUMBER, \n\t"CAPITAL" VARCHAR2(50 BYTE), \n\t"CAPPROV" VARCHAR2(50 BYTE), \n\t"META_REPCOL" VARCHAR2(4000 BYTE)\n   ) SEGMENT CREATION IMMEDIATE \n  PCTFREE 10 PCTUSED 40 INITRANS 1 MAXTRANS 255 \n NOCOMPRESS LOGGING\n  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645\n  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1\n  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)\n  TABLESPACE "MONDIAL_GPT" ;',
  'ddl_postgres': 'CREATE TABLE "MONDIAL_GPT"."MONDIAL_PROVINCE" \n   (\t"NAME" VARCHAR(50), \n\t"COUNTRY" VARCHAR(4), \n\t"POPULATION" NUMERIC, \n\t"AREA" NUMERIC, \n\t"CAPITAL" VARCHAR(50), \n\t"CAPPROV" VARCHAR(50), \n\t"META_REPCOL" VARCHAR(4000)\n   );',
  'sql_coder': '\nSELECT SUM(AREA) AS total_area\nFROM MONDIAL_GPT.MONDIAL_PROVINCE\nWHERE "AREA" > \'10000\'',
  'sql_coder_oracle': 'SELECT SUM(AREA) AS total_area\nFROM MONDIAL_GPT.MONDIAL_PROVINCE\nWHERE AREA > 10000'},
 {'question': 'What are the languages spoken in Poland?',
  'tables': ['mondial_language', 'mondial_country'],
  'ddl': 'CREATE TABLE "MONDIAL_GPT"."MONDIAL_LANGUAGE" \n   (\t"COUNTRY" VARCHAR2(4 BYTE), \n\t"NAME" VARCHAR2(50 BYTE), \n\t"PERCENTAGE" NUMBER, \n\t"META_REPCOL" VARCHAR2(4000 BYTE)\n   ) SEGMENT CREATION IMMEDIATE \n  PCTFREE 10 PCTUSED 40 INITRANS 1 MAXTRANS 255 \n NOCOMPRESS LOGGING\n  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645\n  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1\n  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)\n  TABLESPACE "MONDIAL_GPT" ;CREATE TABLE "MONDIAL_GPT"."MONDIAL_COUNTRY" \n   (\t"NAME" VARCHAR2(50 BYTE), \n\t"CODE" VARCHAR2(4 BYTE), \n\t"CAPITAL" VARCHAR2(50 BYTE), \n\t"PROVINCE" VARCHAR2(50 BYTE), \n\t"AREA" NUMBER, \n\t"POPULATION" NUMBER, \n\t"META_REPCOL" VARCHAR2(4000 BYTE)\n   ) SEGMENT CREATION IMMEDIATE \n  PCTFREE 10 PCTUSED 40 INITRANS 1 MAXTRANS 255 \n NOCOMPRESS LOGGING\n  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645\n  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1\n  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)\n  TABLESPACE "MONDIAL_GPT" ;',
  'ddl_postgres': 'CREATE TABLE "mondial_gpt"."mondial_language" \n(\t"country" VARCHAR(4), \n\t"name" VARCHAR(50), \n\t"percentage" NUMERIC, \n\t"meta_repcol" VARCHAR(4000)\n);\n\nCREATE TABLE "mondial_gpt"."mondial_country" \n(\t"name" VARCHAR(50), \n\t"code" VARCHAR(4), \n\t"capital" VARCHAR(50), \n\t"province" VARCHAR(50), \n\t"area" NUMERIC, \n\t"population" NUMERIC, \n\t"meta_repcol" VARCHAR(4000)\n);\n',
  'sql_coder': "\nSELECT name\nFROM mondial_gpt.mondial_country\nWHERE name ilike '%Poland%'",
  'sql_coder_oracle': "SELECT name\nFROM mondial_gpt.mondial_country\nWHERE UPPER(name) LIKE '%POLAND%'"},
 {'question': 'How deep is Lake Kariba?',
  'tables': ['mondial_lake'],
  'ddl': 'CREATE TABLE "MONDIAL_GPT"."MONDIAL_LAKE" \n   (\t"NAME" VARCHAR2(50 BYTE), \n\t"RIVER" VARCHAR2(50 BYTE), \n\t"AREA" NUMBER, \n\t"ELEVATION" NUMBER, \n\t"DEPTH" NUMBER, \n\t"HEIGHT" NUMBER, \n\t"TYPE" VARCHAR2(12 BYTE), \n\t"COORDINATES" "MONDIAL_GPT"."GEOCOORD" , \n\t"META_REPCOL" VARCHAR2(4000 BYTE)\n   ) SEGMENT CREATION IMMEDIATE \n  PCTFREE 10 PCTUSED 40 INITRANS 1 MAXTRANS 255 \n NOCOMPRESS LOGGING\n  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645\n  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1\n  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)\n  TABLESPACE "MONDIAL_GPT" ;',
  'ddl_postgres': 'CREATE TABLE "MONDIAL_GPT"."MONDIAL_LAKE" \n(\n    "NAME" VARCHAR(50),\n    "RIVER" VARCHAR(50),\n    "AREA" NUMERIC,\n    "ELEVATION" NUMERIC,\n    "DEPTH" NUMERIC,\n    "HEIGHT" NUMERIC,\n    "TYPE" VARCHAR(12),\n    "COORDINATES" "MONDIAL_GPT"."GEOCOORD",\n    "META_REPCOL" VARCHAR(4000)\n);',
  'sql_coder': '\nSELECT "DEPTH"\nFROM "MONDIAL_GPT"."MONDIAL_LAKE"\nWHERE "NAME" ILIKE \'%Lake%Kariba%\'',
  'sql_coder_oracle': 'SELECT "DEPTH"\nFROM "MONDIAL_GPT"."MONDIAL_LAKE"\nWHERE LOWER("NAME") LIKE \'%lake%kariba%\''},
 {'question': 'What is the total of provinces of Netherlands?',
  'tables': ['mondial_province', 'mondial_country'],
  'ddl': 'CREATE TABLE "MONDIAL_GPT"."MONDIAL_PROVINCE" \n   (\t"NAME" VARCHAR2(50 BYTE), \n\t"COUNTRY" VARCHAR2(4 BYTE), \n\t"POPULATION" NUMBER, \n\t"AREA" NUMBER, \n\t"CAPITAL" VARCHAR2(50 BYTE), \n\t"CAPPROV" VARCHAR2(50 BYTE), \n\t"META_REPCOL" VARCHAR2(4000 BYTE)\n   ) SEGMENT CREATION IMMEDIATE \n  PCTFREE 10 PCTUSED 40 INITRANS 1 MAXTRANS 255 \n NOCOMPRESS LOGGING\n  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645\n  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1\n  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)\n  TABLESPACE "MONDIAL_GPT" ;CREATE TABLE "MONDIAL_GPT"."MONDIAL_COUNTRY" \n   (\t"NAME" VARCHAR2(50 BYTE), \n\t"CODE" VARCHAR2(4 BYTE), \n\t"CAPITAL" VARCHAR2(50 BYTE), \n\t"PROVINCE" VARCHAR2(50 BYTE), \n\t"AREA" NUMBER, \n\t"POPULATION" NUMBER, \n\t"META_REPCOL" VARCHAR2(4000 BYTE)\n   ) SEGMENT CREATION IMMEDIATE \n  PCTFREE 10 PCTUSED 40 INITRANS 1 MAXTRANS 255 \n NOCOMPRESS LOGGING\n  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645\n  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1\n  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)\n  TABLESPACE "MONDIAL_GPT" ;',
  'ddl_postgres': 'CREATE TABLE "MONDIAL_GPT"."MONDIAL_PROVINCE" \n   (\t"NAME" VARCHAR(50), \n\t"COUNTRY" VARCHAR(4), \n\t"POPULATION" NUMERIC, \n\t"AREA" NUMERIC, \n\t"CAPITAL" VARCHAR(50), \n\t"CAPPROV" VARCHAR(50), \n\t"META_REPCOL" VARCHAR(4000)\n   );\n\n\nCREATE TABLE "MONDIAL_GPT"."MONDIAL_COUNTRY" \n   (\t"NAME" VARCHAR(50), \n\t"CODE" VARCHAR(4), \n\t"CAPITAL" VARCHAR(50), \n\t"PROVINCE" VARCHAR(50), \n\t"AREA" NUMERIC,  \n\t"POPULATION" NUMERIC,\n\t"META_REPCOL" VARCHAR(400)\n   );',
  'sql_coder': '\nSELECT COUNT(*) AS total_provinces\nFROM MONDIAL_GPT.MONDIAL_PROVINCE\nWHERE "COUNTRY" = \'NL\';',
  'sql_coder_oracle': "SELECT COUNT(*) AS total_provinces\nFROM MONDIAL_GPT.MONDIAL_PROVINCE\nWHERE COUNTRY = 'NL';"},
 {'question': 'What is the percentage of religious people are hindu in thailand?',
  'tables': ['mondial_religion', 'mondial_country'],
  'ddl': 'CREATE TABLE "MONDIAL_GPT"."MONDIAL_RELIGION" \n   (\t"COUNTRY" VARCHAR2(4 BYTE), \n\t"NAME" VARCHAR2(50 BYTE), \n\t"PERCENTAGE" NUMBER, \n\t"META_REPCOL" VARCHAR2(4000 BYTE)\n   ) SEGMENT CREATION IMMEDIATE \n  PCTFREE 10 PCTUSED 40 INITRANS 1 MAXTRANS 255 \n NOCOMPRESS LOGGING\n  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645\n  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1\n  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)\n  TABLESPACE "MONDIAL_GPT" ;CREATE TABLE "MONDIAL_GPT"."MONDIAL_COUNTRY" \n   (\t"NAME" VARCHAR2(50 BYTE), \n\t"CODE" VARCHAR2(4 BYTE), \n\t"CAPITAL" VARCHAR2(50 BYTE), \n\t"PROVINCE" VARCHAR2(50 BYTE), \n\t"AREA" NUMBER, \n\t"POPULATION" NUMBER, \n\t"META_REPCOL" VARCHAR2(4000 BYTE)\n   ) SEGMENT CREATION IMMEDIATE \n  PCTFREE 10 PCTUSED 40 INITRANS 1 MAXTRANS 255 \n NOCOMPRESS LOGGING\n  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645\n  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1\n  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)\n  TABLESPACE "MONDIAL_GPT" ;',
  'ddl_postgres': 'CREATE TABLE "MONDIAL_GPT"."MONDIAL_RELIGION"\n(\n  "COUNTRY" VARCHAR(4),\n  "NAME" VARCHAR(50),\n  "PERCENTAGE" NUMERIC,\n  "META_REPCOL" VARCHAR(4000)\n);\n\nCREATE TABLE "MONDIAL_GPT"."MONDIAL_COUNTRY"\n(\n  "NAME" VARCHAR(50),\n  "CODE" VARCHAR(4),\n  "CAPITAL" VARCHAR(50),\n  "PROVINCE" VARCHAR(50),\n  "AREA" NUMERIC,\n  "POPULATION" NUMERIC,\n  "META_REPCOL" VARCHAR(4000)\n);',
  'sql_coder': "\nSELECT MONDIAL_RELIGION.PERCENTAGE\nFROM MONDIAL_RELIGION\nWHERE MONDIAL_RELIGION.COUNTRY = 'THA'\n  AND MONDIAL_RELIGION.NAME = 'Hindu';",
  'sql_coder_oracle': "SELECT MONDIAL_RELIGION.PERCENTAGE\nFROM MONDIAL_RELIGION\nWHERE MONDIAL_RELIGION.COUNTRY = 'THA'\n  AND MONDIAL_RELIGION.NAME = 'Hindu';"},
 {'question': 'List the number of provinces each river flows through.',
  'tables': ['river', 'geo_river'],
  'ddl': 'CREATE TABLE "MONDIAL_GPT"."RIVER" \n   (\t"NAME" VARCHAR2(50 BYTE), \n\t"RIVER" VARCHAR2(50 BYTE), \n\t"LAKE" VARCHAR2(50 BYTE), \n\t"SEA" VARCHAR2(50 BYTE), \n\t"LENGTH" NUMBER, \n\t"AREA" NUMBER, \n\t"SOURCE" "MONDIAL_GPT"."GEOCOORD" , \n\t"MOUNTAINS" VARCHAR2(50 BYTE), \n\t"SOURCEELEVATION" NUMBER, \n\t"ESTUARY" "MONDIAL_GPT"."GEOCOORD" , \n\t"ESTUARYELEVATION" NUMBER\n   ) SEGMENT CREATION IMMEDIATE \n  PCTFREE 10 PCTUSED 40 INITRANS 1 MAXTRANS 255 \n NOCOMPRESS LOGGING\n  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645\n  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1\n  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)\n  TABLESPACE "MONDIAL_GPT" ;CREATE TABLE "MONDIAL_GPT"."GEO_RIVER" \n   (\t"RIVER" VARCHAR2(50 BYTE), \n\t"COUNTRY" VARCHAR2(4 BYTE), \n\t"PROVINCE" VARCHAR2(50 BYTE)\n   ) SEGMENT CREATION IMMEDIATE \n  PCTFREE 10 PCTUSED 40 INITRANS 1 MAXTRANS 255 \n NOCOMPRESS LOGGING\n  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645\n  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1\n  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)\n  TABLESPACE "MONDIAL_GPT" ;',
  'ddl_postgres': 'CREATE TABLE "MONDIAL_GPT"."RIVER" \n   (\t"NAME" VARCHAR(50), \n\t"RIVER" VARCHAR(50), \n\t"LAKE" VARCHAR(50), \n\t"SEA" VARCHAR(50), \n\t"LENGTH" NUMERIC, \n\t"AREA" NUMERIC, \n\t"SOURCE" "MONDIAL_GPT"."GEOCOORD", \n\t"MOUNTAINS" VARCHAR(50), \n\t"SOURCEELEVATION" NUMERIC, \n\t"ESTUARY" "MONDIAL_GPT"."GEOCOORD", \n\t"ESTUARYELEVATION" NUMERIC\n   );\n\nCREATE TABLE "MONDIAL_GPT"."GEO_RIVER" \n   (\t"RIVER" VARCHAR(50), \n\t"COUNTRY" VARCHAR(4), \n\t"PROVINCE" VARCHAR(50)\n   );',
  'sql_coder': '\nSELECT river,\n       COUNT(province) AS number_of_provinces\nFROM geo_river\nGROUP BY river;',
  'sql_coder_oracle': 'SELECT river,\n       COUNT(province) AS number_of_provinces\nFROM geo_river\nGROUP BY river;'},
 {'question': 'Find all countries that became independent between 8/1/1910 and 8/1/1950.',
  'tables': ['mondial_country', 'mondial_politics'],
  'ddl': 'CREATE TABLE "MONDIAL_GPT"."MONDIAL_COUNTRY" \n   (\t"NAME" VARCHAR2(50 BYTE), \n\t"CODE" VARCHAR2(4 BYTE), \n\t"CAPITAL" VARCHAR2(50 BYTE), \n\t"PROVINCE" VARCHAR2(50 BYTE), \n\t"AREA" NUMBER, \n\t"POPULATION" NUMBER, \n\t"META_REPCOL" VARCHAR2(4000 BYTE)\n   ) SEGMENT CREATION IMMEDIATE \n  PCTFREE 10 PCTUSED 40 INITRANS 1 MAXTRANS 255 \n NOCOMPRESS LOGGING\n  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645\n  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1\n  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)\n  TABLESPACE "MONDIAL_GPT" ;CREATE TABLE "MONDIAL_GPT"."MONDIAL_POLITICS" \n   (\t"COUNTRY" VARCHAR2(4 BYTE), \n\t"INDEPENDENCE" DATE, \n\t"WASDEPENDENT" VARCHAR2(50 BYTE), \n\t"DEPENDENT" VARCHAR2(4 BYTE), \n\t"GOVERNMENT" VARCHAR2(120 BYTE), \n\t"META_REPCOL" VARCHAR2(4000 BYTE)\n   ) SEGMENT CREATION IMMEDIATE \n  PCTFREE 10 PCTUSED 40 INITRANS 1 MAXTRANS 255 \n NOCOMPRESS LOGGING\n  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645\n  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1\n  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)\n  TABLESPACE "MONDIAL_GPT" ;',
  'ddl_postgres': 'CREATE TABLE mondial_gpt.mondial_country\n(\n    name VARCHAR(50),\n    code VARCHAR(4),\n    capital VARCHAR(50),\n    province VARCHAR(50),\n    area NUMERIC,\n    population NUMERIC,\n    meta_repcol VARCHAR(4000)\n);\n\nCREATE TABLE mondial_gpt.mondial_politics\n(\n    country VARCHAR(4),\n    independence DATE,\n    wasdependent VARCHAR(50),\n    dependent VARCHAR(4),\n    government VARCHAR(120),\n    meta_repcol VARCHAR(4000)\n);',
  'sql_coder': "\nSELECT name\nFROM mondial_gpt.mondial_country\nWHERE independence BETWEEN '1910-08-01' AND '1950-08-01'\nORDER BY name NULLS LAST;",
  'sql_coder_oracle': "SELECT name\nFROM mondial_gpt.mondial_country\nWHERE independence BETWEEN TO_DATE('1910-08-01', 'YYYY-MM-DD') AND TO_DATE('1950-08-01', 'YYYY-MM-DD')\nORDER BY name NULLS LAST;"},
 {'question': 'What are the cities of Cuba?',
  'tables': ['mondial_city', 'mondial_country'],
  'ddl': 'CREATE TABLE "MONDIAL_GPT"."MONDIAL_CITY" \n   (\t"NAME" VARCHAR2(50 BYTE), \n\t"COUNTRY" VARCHAR2(4 BYTE), \n\t"PROVINCE" VARCHAR2(50 BYTE), \n\t"POPULATION" NUMBER, \n\t"LATITUDE" NUMBER, \n\t"LONGITUDE" NUMBER, \n\t"ELEVATION" NUMBER, \n\t"META_REPCOL" VARCHAR2(4000 BYTE)\n   ) SEGMENT CREATION IMMEDIATE \n  PCTFREE 10 PCTUSED 40 INITRANS 1 MAXTRANS 255 \n NOCOMPRESS LOGGING\n  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645\n  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1\n  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)\n  TABLESPACE "MONDIAL_GPT" ;CREATE TABLE "MONDIAL_GPT"."MONDIAL_COUNTRY" \n   (\t"NAME" VARCHAR2(50 BYTE), \n\t"CODE" VARCHAR2(4 BYTE), \n\t"CAPITAL" VARCHAR2(50 BYTE), \n\t"PROVINCE" VARCHAR2(50 BYTE), \n\t"AREA" NUMBER, \n\t"POPULATION" NUMBER, \n\t"META_REPCOL" VARCHAR2(4000 BYTE)\n   ) SEGMENT CREATION IMMEDIATE \n  PCTFREE 10 PCTUSED 40 INITRANS 1 MAXTRANS 255 \n NOCOMPRESS LOGGING\n  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645\n  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1\n  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)\n  TABLESPACE "MONDIAL_GPT" ;',
  'ddl_postgres': 'CREATE TABLE "MONDIAL_GPT"."MONDIAL_CITY" \n   (\t"NAME" VARCHAR(50), \n\t"COUNTRY" VARCHAR(4), \n\t"PROVINCE" VARCHAR(50), \n\t"POPULATION" NUMERIC, \n\t"LATITUDE" NUMERIC, \n\t"LONGITUDE" NUMERIC, \n\t"ELEVATION" NUMERIC, \n\t"META_REPCOL" VARCHAR(4000)\n   );\n\nCREATE TABLE "MONDIAL_GPT"."MONDIAL_COUNTRY" \n   (\t"NAME" VARCHAR(50), \n\t"CODE" VARCHAR(4), \n\t"CAPITAL" VARCHAR(50), \n\t"PROVINCE" VARCHAR(50), \n\t"AREA" NUMERIC, \n\t"POPULATION" NUMERIC,\n\t"META_REPCOL" VARCHAR(4000)\n   );',
  'sql_coder': '\nSELECT "MONDIAL_GPT"."MONDIAL_CITY"."NAME"\nFROM "MONDIAL_GPT"."MONDIAL_CITY"\nWHERE "MONDIAL_GPT"."MONDIAL_CITY"."COUNTRY" = \'Cuba\'',
  'sql_coder_oracle': 'SELECT "MONDIAL_GPT"."MONDIAL_CITY"."NAME"\nFROM "MONDIAL_GPT"."MONDIAL_CITY"\nWHERE "MONDIAL_GPT"."MONDIAL_CITY"."COUNTRY" = \'Cuba\''},
 {'question': 'What is the capital of Georgia?',
  'tables': ['mondial_country'],
  'ddl': 'CREATE TABLE "MONDIAL_GPT"."MONDIAL_COUNTRY" \n   (\t"NAME" VARCHAR2(50 BYTE), \n\t"CODE" VARCHAR2(4 BYTE), \n\t"CAPITAL" VARCHAR2(50 BYTE), \n\t"PROVINCE" VARCHAR2(50 BYTE), \n\t"AREA" NUMBER, \n\t"POPULATION" NUMBER, \n\t"META_REPCOL" VARCHAR2(4000 BYTE)\n   ) SEGMENT CREATION IMMEDIATE \n  PCTFREE 10 PCTUSED 40 INITRANS 1 MAXTRANS 255 \n NOCOMPRESS LOGGING\n  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645\n  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1\n  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)\n  TABLESPACE "MONDIAL_GPT" ;',
  'ddl_postgres': 'CREATE TABLE "MONDIAL_GPT"."MONDIAL_COUNTRY" \n   (\t"NAME" VARCHAR(50), \n\t"CODE" VARCHAR(4), \n\t"CAPITAL" VARCHAR(50), \n\t"PROVINCE" VARCHAR(50), \n\t"AREA" NUMERIC, \n\t"POPULATION" NUMERIC, \n\t"META_REPCOL" VARCHAR(4000)\n   ) TABLESPACE "MONDIAL_GPT" ;',
  'sql_coder': '\nSELECT CAPITAL\nFROM MONDIAL_GPT.MONDIAL_COUNTRY\nWHERE "NAME" ILIKE \'%Georgia%\'',
  'sql_coder_oracle': 'SELECT CAPITAL\nFROM MONDIAL_GPT.MONDIAL_COUNTRY\nWHERE UPPER("NAME") LIKE \'%GEORGIA%\''},
 {'question': 'How many provinces have areas greater than 1000 in Niger?',
  'tables': ['mondial_province', 'mondial_country'],
  'ddl': 'CREATE TABLE "MONDIAL_GPT"."MONDIAL_PROVINCE" \n   (\t"NAME" VARCHAR2(50 BYTE), \n\t"COUNTRY" VARCHAR2(4 BYTE), \n\t"POPULATION" NUMBER, \n\t"AREA" NUMBER, \n\t"CAPITAL" VARCHAR2(50 BYTE), \n\t"CAPPROV" VARCHAR2(50 BYTE), \n\t"META_REPCOL" VARCHAR2(4000 BYTE)\n   ) SEGMENT CREATION IMMEDIATE \n  PCTFREE 10 PCTUSED 40 INITRANS 1 MAXTRANS 255 \n NOCOMPRESS LOGGING\n  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645\n  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1\n  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)\n  TABLESPACE "MONDIAL_GPT" ;CREATE TABLE "MONDIAL_GPT"."MONDIAL_COUNTRY" \n   (\t"NAME" VARCHAR2(50 BYTE), \n\t"CODE" VARCHAR2(4 BYTE), \n\t"CAPITAL" VARCHAR2(50 BYTE), \n\t"PROVINCE" VARCHAR2(50 BYTE), \n\t"AREA" NUMBER, \n\t"POPULATION" NUMBER, \n\t"META_REPCOL" VARCHAR2(4000 BYTE)\n   ) SEGMENT CREATION IMMEDIATE \n  PCTFREE 10 PCTUSED 40 INITRANS 1 MAXTRANS 255 \n NOCOMPRESS LOGGING\n  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645\n  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1\n  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)\n  TABLESPACE "MONDIAL_GPT" ;',
  'ddl_postgres': 'CREATE TABLE "MONDIAL_GPT"."MONDIAL_PROVINCE" \n   ("NAME" VARCHAR(50), \n\t"COUNTRY" VARCHAR(4), \n\t"POPULATION" NUMERIC, \n\t"AREA" NUMERIC, \n\t"CAPITAL" VARCHAR(50), \n\t"CAPPROV" VARCHAR(50), \n\t"META_REPCOL" VARCHAR(4000)\n   );\n\nCREATE TABLE "MONDIAL_GPT"."MONDIAL_COUNTRY" \n   ("NAME" VARCHAR(50), \n\t"CODE" VARCHAR(4), \n\t"CAPITAL" VARCHAR(50), \n\t"PROVINCE" VARCHAR(50), \n\t"AREA" NUMERIC, \n\t"POPULATION" NUMERIC, \n\t"META_REPCOL" VARCHAR(4000)\n   );',
  'sql_coder': '\nSELECT COUNT(*)\nFROM MONDIAL_GPT.MONDIAL_PROVINCE\nWHERE "AREA" > \'1000\'\n  AND "COUNTRY" = \'NG\'',
  'sql_coder_oracle': "SELECT COUNT(*)\nFROM MONDIAL_GPT.MONDIAL_PROVINCE\nWHERE AREA > 1000\n  AND COUNTRY = 'NG'"},
 {'question': 'Tell me about the country with the area largest.',
  'tables': ['mondial_country'],
  'ddl': 'CREATE TABLE "MONDIAL_GPT"."MONDIAL_COUNTRY" \n   (\t"NAME" VARCHAR2(50 BYTE), \n\t"CODE" VARCHAR2(4 BYTE), \n\t"CAPITAL" VARCHAR2(50 BYTE), \n\t"PROVINCE" VARCHAR2(50 BYTE), \n\t"AREA" NUMBER, \n\t"POPULATION" NUMBER, \n\t"META_REPCOL" VARCHAR2(4000 BYTE)\n   ) SEGMENT CREATION IMMEDIATE \n  PCTFREE 10 PCTUSED 40 INITRANS 1 MAXTRANS 255 \n NOCOMPRESS LOGGING\n  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645\n  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1\n  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)\n  TABLESPACE "MONDIAL_GPT" ;',
  'ddl_postgres': 'CREATE TABLE "MONDIAL_GPT"."MONDIAL_COUNTRY" \n(\t\n    "NAME" VARCHAR(50), \n\t"CODE" VARCHAR(4), \n\t"CAPITAL" VARCHAR(50), \n\t"PROVINCE" VARCHAR(50), \n\t"AREA" NUMERIC, \n\t"POPULATION" NUMERIC, \n\t"META_REPCOL" VARCHAR(4000)\n) TABLESPACE "MONDIAL_GPT";',
  'sql_coder': '\nSELECT MAX(AREA)\nFROM MONDIAL_GPT.MONDIAL_COUNTRY\nWHERE "NAME" ILIKE \'%Thailand%\'',

In [7]:
i = 0
new_queries = []
for q in queries:
    data =  dval.dataset[i]
    nq = {"id" : data["id"], "question": data["question"], "query_string": q["sql_coder_oracle"], "type": data["type"]}
    new_queries.append(nq)   
    i+=1

In [8]:
new_queries

[{'id': '1',
  'question': 'What is the area of Thailand?',
  'query_string': "SELECT MONDIAL_COUNTRY.AREA\nFROM MONDIAL_COUNTRY\nWHERE UPPER(MONDIAL_COUNTRY.NAME) LIKE UPPER('%Thailand%')",
  'type': 'simple'},
 {'id': '2',
  'question': 'What are the provinces with an area greater than 10000?',
  'query_string': 'SELECT SUM(AREA) AS total_area\nFROM MONDIAL_GPT.MONDIAL_PROVINCE\nWHERE AREA > 10000',
  'type': 'simple'},
 {'id': '3',
  'question': 'What are the languages spoken in Poland?',
  'query_string': "SELECT name\nFROM mondial_gpt.mondial_country\nWHERE UPPER(name) LIKE '%POLAND%'",
  'type': 'medium'},
 {'id': '4',
  'question': 'How deep is Lake Kariba?',
  'query_string': 'SELECT "DEPTH"\nFROM "MONDIAL_GPT"."MONDIAL_LAKE"\nWHERE LOWER("NAME") LIKE \'%lake%kariba%\'',
  'type': 'simple'},
 {'id': '5',
  'question': 'What is the total of provinces of Netherlands?',
  'query_string': "SELECT COUNT(*) AS total_provinces\nFROM MONDIAL_GPT.MONDIAL_PROVINCE\nWHERE COUNTRY = 'NL';",
  'type': 'complex'},
 {'id': '6',
  'question': 'What is the percentage of religious people are hindu in thailand?',
  'query_string': "SELECT MONDIAL_RELIGION.PERCENTAGE\nFROM MONDIAL_RELIGION\nWHERE MONDIAL_RELIGION.COUNTRY = 'THA'\n  AND MONDIAL_RELIGION.NAME = 'Hindu';",
  'type': 'complex'},
 {'id': '7',
  'question': 'List the number of provinces each river flows through.',
  'query_string': 'SELECT river,\n       COUNT(province) AS number_of_provinces\nFROM geo_river\nGROUP BY river;',
  'type': 'medium'},
 {'id': '8',
  'question': 'Find all countries that became independent between 8/1/1910 and 8/1/1950.',
  'query_string': "SELECT name\nFROM mondial_gpt.mondial_country\nWHERE independence BETWEEN TO_DATE('1910-08-01', 'YYYY-MM-DD') AND TO_DATE('1950-08-01', 'YYYY-MM-DD')\nORDER BY name NULLS LAST;",
  'type': 'complex'},
 {'id': '9',
  'question': 'What are the cities of Cuba?',
  'query_string': 'SELECT "MONDIAL_GPT"."MONDIAL_CITY"."NAME"\nFROM "MONDIAL_GPT"."MONDIAL_CITY"\nWHERE "MONDIAL_GPT"."MONDIAL_CITY"."COUNTRY" = \'Cuba\'',
  'type': 'medium'},
 {'id': '10',
  'question': 'What is the capital of Georgia?',
  'query_string': 'SELECT CAPITAL\nFROM MONDIAL_GPT.MONDIAL_COUNTRY\nWHERE UPPER("NAME") LIKE \'%GEORGIA%\'',
  'type': 'medium'},
 {'id': '11',
  'question': 'How many provinces have areas greater than 1000 in Niger?',
  'query_string': "SELECT COUNT(*)\nFROM MONDIAL_GPT.MONDIAL_PROVINCE\nWHERE AREA > 1000\n  AND COUNTRY = 'NG'",
  'type': 'complex'},
 {'id': '12',
  'question': 'Tell me about the country with the area largest.',
  'query_string': 'SELECT MAX(AREA)\nFROM MONDIAL_GPT.MONDIAL_COUNTRY\nWHERE UPPER("NAME") LIKE UPPER(\'%Thailand%\')',
  'type': 'medium'},
 {'id': '13',
  'question': 'What is the host province and year of establishment of the organization "International Energy Agency"?',
  'query_string': "SELECT MONDIAL_ORGANIZATION.PROVINCE,\n       EXTRACT(YEAR FROM MONDIAL_ORGANIZATION.ESTABLISHED) AS YEAR_ESTABLISHED\nFROM MONDIAL_ORGANIZATION\nWHERE MONDIAL_ORGANIZATION.NAME = 'International Energy Agency';",
  'type': 'medium'},
 {'id': '14',
  'question': 'Find the name of all mountains whose elevation is higher than 1000.',
  'query_string': 'SELECT name\nFROM MONDIAL_GPT.MONDIAL_MOUNTAIN\nWHERE elevation > 1000;',
  'type': 'medium'},
 {'id': '15',
  'question': 'Tell me the economy of the Caribbean Sea.',
  'query_string': "SELECT MONDIAL_ECONOMY.GDP\nFROM MONDIAL_ECONOMY\nINNER JOIN MONDIAL_GEO_SEA ON MONDIAL_ECONOMY.COUNTRY = MONDIAL_GEO_SEA.COUNTRY\nWHERE MONDIAL_GEO_SEA.SEA = 'Caribbean Sea'",
  'type': 'medium'},
 {'id': '16',
  'question': 'Show the cities with longitude between 0 and 6.',
  'query_string': 'SELECT "NAME"\nFROM "MONDIAL_GPT"."MONDIAL_CITY"\nWHERE "LONGITUDE" BETWEEN 0 AND 6;',
  'type': 'simple'},
 {'id': '17',
  'question': 'Select cities whose population is greater than 100000, altitude greater than 2500, and the country you belong to has population growth greater than 1.',
  'query_string': 'SELECT MONDIAL_CITY.NAME\nFROM MONDIAL_CITY\nINNER JOIN MONDIAL_COUNTRY ON MONDIAL_CITY.COUNTRY = MONDIAL_COUNTRY.CODE\nINNER JOIN MONDIAL_POPULATION ON MONDIAL_COUNTRY.CODE = MONDIAL_POPULATION.COUNTRY\nWHERE MONDIAL_CITY.POPULATION > 100000\n  AND MONDIAL_CITY.ELEVATION > 2500\n  AND MONDIAL_POPULATION.POPULATION_GROWTH > 1;',
  'type': 'complex'},
 {'id': '18',
  'question': 'Show all the different types of government.',
  'query_string': "SELECT DISTINCT MONDIAL_POLITICS.GOVERNMENT\nFROM MONDIAL_POLITICS\nWHERE MONDIAL_POLITICS.COUNTRY = 'THA'\nORDER BY CASE WHEN MONDIAL_POLITICS.GOVERNMENT IS NULL THEN 1 ELSE 0 END, MONDIAL_POLITICS.GOVERNMENT;",
  'type': 'simple'},
 {'id': '19',
  'question': 'List all provinces in Germany',
  'query_string': "SELECT MONDIAL_GPT.MONDIAL_PROVINCE.name\nFROM MONDIAL_GPT.MONDIAL_PROVINCE\nWHERE MONDIAL_GPT.MONDIAL_PROVINCE.country = 'Germany'\nORDER BY CASE WHEN MONDIAL_GPT.MONDIAL_PROVINCE.name IS NULL THEN 1 ELSE 0 END, MONDIAL_GPT.MONDIAL_PROVINCE.name;",
  'type': 'medium'},
 {'id': '20',
  'question': 'What is the percentage of mulatto ethnicity in Brazil?',
  'query_string': "SELECT MONDIAL_ETHNICGROUP.PERCENTAGE\nFROM MONDIAL_ETHNICGROUP\nWHERE MONDIAL_ETHNICGROUP.COUNTRY = 'BR'\n  AND UPPER(MONDIAL_ETHNICGROUP.NAME) LIKE UPPER('%mulatto%')",
  'type': 'complex'},
 {'id': '21',
  'question': 'How many cities have populations less than 1000?',
  'query_string': 'SELECT COUNT(*)\nFROM MONDIAL_CITY\nWHERE POPULATION < 1000;',
  'type': 'simple'},
 {'id': '22',
  'question': 'What is the average elevation of airports in America?',
  'query_string': 'SELECT AVG("ELEVATION") AS average_elevation\nFROM "MONDIAL_AIRPORT"\nWHERE UPPER("COUNTRY") LIKE \'%AMERICA%\';',
  'type': 'complex'},
 {'id': '23',
  'question': 'How many countries are adjacent to (or ecompassed by) the Caribbean Sea?',
  'query_string': "SELECT COUNT(DISTINCT MONDIAL_GEO_SEA.COUNTRY) AS adjacent_countries\nFROM MONDIAL_GEO_SEA\nWHERE MONDIAL_GEO_SEA.SEA = 'Caribbean Sea';",
  'type': 'medium'},
 {'id': '24',
  'question': 'How much area do the countries that are adjacent to (or encompassed by) the Caribbean Sea cover in total?',
  'query_string': "SELECT MONDIAL_COUNTRY.name, SUM(MONDIAL_COUNTRY.population) AS total_population FROM MONDIAL_COUNTRY JOIN MONDIAL_GEO_SEA ON MONDIAL_COUNTRY.code = MONDIAL_GEO_SEA.country WHERE MONDIAL_GEO_SEA.sea = 'Caribbean Sea' GROUP BY MONDIAL_COUNTRY.name ORDER BY total_population DESC NULLS LAST;\n",
  'type': 'complex'},
 {'id': '25',
  'question': 'For all countries, give the sum of the population of all its neighbors',
  'query_string': 'SELECT MONDIAL_COUNTRY.name, SUM(MONDIAL_COUNTRY.population) AS total_population FROM MONDIAL_COUNTRY JOIN MONDIAL_BORDERS ON (MONDIAL_COUNTRY.code = MONDIAL_BORDERS.country1 OR MONDIAL_COUNTRY.code = MONDIAL_BORDERS.country2) GROUP BY MONDIAL_COUNTRY.name ORDER BY total_population DESC NULLS LAST;',
  'type': 'medium'},
 {'id': '26',
  'question': 'What mountains are on the island of Borneo?',
  'query_string': "SELECT MONDIAL_GPT.MONDIAL_MOUNTAINONISLAND.MOUNTAIN\nFROM MONDIAL_GPT.MONDIAL_MOUNTAINONISLAND\nWHERE MONDIAL_GPT.MONDIAL_MOUNTAINONISLAND.ISLAND = 'Borneo'\nORDER BY CASE WHEN MONDIAL_GPT.MONDIAL_MOUNTAINONISLAND.MOUNTAIN IS NULL THEN 1 ELSE 0 END, MONDIAL_GPT.MONDIAL_MOUNTAINONISLAND.MOUNTAIN;",
  'type': 'simple'},
 {'id': '27',
  'question': 'Provide the name and total population of the country with the smallest area.',
  'query_string': "SELECT name, population \nFROM MONDIAL_COUNTRY \nWHERE LOWER(name) LIKE LOWER('%Thailand%') \nORDER BY NVL(area,0) ASC \nFETCH FIRST 1 ROWS ONLY;",
  'type': 'simple'},
 {'id': '28',
  'question': 'The codes of all countries for which at least one river that originates in this country has its estuary in a neighboring country.',
  'query_string': "SELECT e.COUNTRY\nFROM MONDIAL_GEO_ESTUARY e\nWHERE e.RIVER IN\n    (SELECT r.RIVER\n     FROM MONDIAL_GEO_RIVER r\n     WHERE r.COUNTRY = 'THA');",
  'type': 'complex'},
 {'id': '29',
  'question': 'The codes of all countries where at least one mountain is located in each of their provinces',
  'query_string': 'SELECT MONDIAL_COUNTRY.CODE\nFROM MONDIAL_COUNTRY\nJOIN MONDIAL_GEO_MOUNTAIN ON MONDIAL_COUNTRY.CODE = MONDIAL_GEO_MOUNTAIN.COUNTRY\nGROUP BY MONDIAL_COUNTRY.CODE;',
  'type': 'complex'},
 {'id': '30',
  'question': 'The code and total border lengths of all countries with at least one border.',
  'query_string': 'SELECT MONDIAL_BORDERS.COUNTRY1, \n       SUM(MONDIAL_BORDERS.LENGTH) AS total_border_length\nFROM MONDIAL_BORDERS\nGROUP BY MONDIAL_BORDERS.COUNTRY1\nHAVING COUNT(MONDIAL_BORDERS.COUNTRY1) >= 1;',
  'type': 'complex'},
 {'id': '31',
  'question': 'The names and codes of all countries in which at least one river originates.',
  'query_string': 'SELECT "MONDIAL_GPT"."MONDIAL_COUNTRY"."NAME",\n       "MONDIAL_GPT"."MONDIAL_COUNTRY"."CODE"\nFROM "MONDIAL_GPT"."MONDIAL_COUNTRY"\nWHERE UPPER("MONDIAL_GPT"."MONDIAL_COUNTRY"."NAME") LIKE UPPER(\'%Thailand%\')',
  'type': 'medium'},
 {'id': '32',
  'question': 'What is the area and country of the Chatanga River?',
  'query_string': 'SELECT "AREA"\nFROM "MONDIAL_GPT"."MONDIAL_COUNTRY"\nWHERE UPPER("NAME") LIKE UPPER(\'%Thailand%\')',
  'type': 'simple'},
 {'id': '33',
  'question': 'Show the Airports with elevation more than 3000',
  'query_string': 'SELECT COUNT(*)\nFROM MONDIAL_GPT.MONDIAL_AIRPORT\nWHERE ELEVATION > 3000',
  'type': 'simple'},
 {'id': '34',
  'question': 'What are the religions practiced in Mexico?',
  'query_string': "SELECT MONDIAL_GPT.MONDIAL_RELIGION.NAME\nFROM MONDIAL_GPT.MONDIAL_RELIGION\nWHERE MONDIAL_GPT.MONDIAL_RELIGION.COUNTRY = 'MEX'",
  'type': 'medium'},
 {'id': '35',
  'question': 'Show all rivers that do not flow into the sea.',
  'query_string': 'SELECT "NAME"\nFROM "MONDIAL_GPT"."MONDIAL_RIVER"\nWHERE "SEA" IS NULL;',
  'type': 'medium'},
 {'id': '36',
  'question': 'List African countries by number of neighbors.',
  'query_string': "SELECT MONDIAL_COUNTRY.name, \n       COUNT(DISTINCT MONDIAL_BORDERS.country2) AS neighbor_count \nFROM MONDIAL_COUNTRY \nJOIN MONDIAL_BORDERS ON MONDIAL_COUNTRY.code = MONDIAL_BORDERS.country1 \nWHERE MONDIAL_COUNTRY.continent = 'Africa' \nGROUP BY MONDIAL_COUNTRY.name \nORDER BY CASE WHEN neighbor_count IS NULL THEN 1 ELSE 0 END, neighbor_count DESC;",
  'type': 'complex'},
 {'id': '37',
  'question': 'What is the average infant mortality rate for each continent?',
  'query_string': 'SELECT MONDIAL_GPT.MONDIAL_CONTINENT.name,\n       AVG(MONDIAL_GPT.MONDIAL_POPULATION.infant_mortality) AS average_infant_mortality\nFROM MONDIAL_GPT.MONDIAL_CONTINENT\nJOIN MONDIAL_GPT.MONDIAL_ENCOMPASSES ON MONDIAL_GPT.MONDIAL_CONTINENT.name = MONDIAL_GPT.MONDIAL_ENCOMPASSES.continent\nJOIN MONDIAL_GPT.MONDIAL_POPULATION ON MONDIAL_GPT.MONDIAL_ENCOMPASSES.country = MONDIAL_GPT.MONDIAL_POPULATION.country\nGROUP BY MONDIAL_GPT.MONDIAL_CONTINENT.name\nORDER BY AVG(MONDIAL_GPT.MONDIAL_POPULATION.infant_mortality) DESC NULLS LAST;',
  'type': 'simple'},
 {'id': '38',
  'question': 'What is the average mortality rate of the countries in America without considering Brazil?',
  'query_string': "SELECT AVG(MONDIAL_POPULATION.INFANT_MORTALITY) AS average_mortality_rate\nFROM MONDIAL_COUNTRY\nJOIN MONDIAL_ENCOMPASSES ON MONDIAL_COUNTRY.CODE = MONDIAL_ENCOMPASSES.COUNTRY\nWHERE MONDIAL_COUNTRY.CONTINENT = 'America'\n  AND MONDIAL_COUNTRY.NAME<> 'Brazil';",
  'type': 'complex'},
 {'id': '39',
  'question': 'List seas with area greater than 8000 and depth less than 100.',
  'query_string': 'SELECT "AREA"\nFROM "MONDIAL_GPT"."MONDIAL_SEA"\nWHERE "AREA" > 8000\n  AND "DEPTH" < 100',
  'type': 'simple'},
 {'id': '40',
  'question': 'How many mountains are there in Asia?',
  'query_string': "SELECT COUNT(*)\nFROM mondial_geo_mountain\nWHERE country = 'AS';",
  'type': 'complex'},
 {'id': '41',
  'question': 'How many countries that are close to the Mediterranean Sea?',
  'query_string': "SELECT COUNT(DISTINCT MONDIAL_COUNTRY.COUNTRY) AS number_of_countries\nFROM MONDIAL_COUNTRY\nINNER JOIN MONDIAL_GEO_SEA ON MONDIAL_COUNTRY.COUNTRY = MONDIAL_GEO_SEA.COUNTRY\nWHERE MONDIAL_GEO_SEA.SEA = 'Mediterranean Sea';",
  'type': 'complex'},
 {'id': '42',
  'question': 'Show the total for each type of government.',
  'query_string': "SELECT MONDIAL_POLITICS.GOVERNMENT,\n       COUNT(*) AS COUNT\nFROM MONDIAL_POLITICS\nWHERE MONDIAL_POLITICS.COUNTRY = 'THA'\nGROUP BY MONDIAL_POLITICS.GOVERNMENT\nORDER BY COUNT(*) DESC;",
  'type': 'simple'},
 {'id': '43',
  'question': 'Which province has the largest desert in the world?',
  'query_string': "SELECT MONDIAL_GEO_DESERT.PROVINCE\nFROM MONDIAL_GEO_DESERT\nWHERE MONDIAL_GEO_DESERT.DESERT = 'Desert'\nORDER BY DECODE(MONDIAL_GEO_DESERT.AREA, NULL, 1, 0), MONDIAL_GEO_DESERT.AREA DESC\nFETCH FIRST 1 ROWS ONLY;",
  'type': 'simple'},
 {'id': '44',
  'question': 'What is the largest desert in the world?',
  'query_string': 'SELECT MAX(AREA)\nFROM MONDIAL_GPT.MONDIAL_DESERT;',
  'type': 'simple'},
 {'id': '45',
  'question': 'List, for all continents, the amount of deserts on each.',
  'query_string': 'SELECT mgd.continent,\n       COUNT(mgd.desert) AS "NUMBER_OF_DESERTS"\nFROM mondial_geo_desert mgd\nGROUP BY mgd.continent;',
  'type': 'complex'},
 {'id': '46',
  'question': 'What are the neighboring seas of the Banda Sea?',
  'query_string': 'SELECT "SEA2"\nFROM "MONDIAL_GPT"."MERGESWITH"\nWHERE UPPER("SEA1") LIKE UPPER(\'%Banda%Sea%\')',
  'type': 'medium'},
 {'id': '47',
  'question': 'List all the capitals of European countries.',
  'query_string': "SELECT MONDIAL_COUNTRY.CAPITAL\nFROM MONDIAL_COUNTRY\nWHERE MONDIAL_COUNTRY.CONTINENT = 'Europe'\nORDER BY CASE WHEN MONDIAL_COUNTRY.CAPITAL IS NULL THEN 1 ELSE 0 END, MONDIAL_COUNTRY.CAPITAL;",
  'type': 'medium'},
 {'id': '48',
  'question': 'What percentage of people speak French in Andorra?',
  'query_string': "SELECT MONDIAL_LANGUAGE.PERCENTAGE\nFROM MONDIAL_LANGUAGE\nWHERE MONDIAL_LANGUAGE.COUNTRY = 'AD'\n  AND MONDIAL_LANGUAGE.NAME = 'French'",
  'type': 'complex'},
 {'id': '49',
  'question': 'Which rivers are longer than 1000 kilometers?',
  'query_string': 'SELECT "RIVER"\nFROM "MONDIAL_GPT"."MONDIAL_RIVER"\nWHERE "LENGTH" > 1000',
  'type': 'complex'},
 {'id': '50',
  'question': 'Which country had the lowest population growth?',
  'query_string': 'SELECT MONDIAL_COUNTRY.name\nFROM MONDIAL_COUNTRY\nJOIN MONDIAL_POPULATION ON MONDIAL_COUNTRY.code = MONDIAL_POPULATION.country\nORDER BY NVL(MONDIAL_POPULATION.population_growth, -9999999) ASC\nFETCH FIRST 1 ROWS ONLY;',
  'type': 'simple'},
 {'id': '51',
  'question': 'List the name of capital cities for which we do not have data about the city in located',
  'query_string': 'SELECT MONDIAL_COUNTRY.CAPITAL\nFROM MONDIAL_COUNTRY\nLEFT JOIN MONDIAL_LOCATED ON MONDIAL_COUNTRY.CAPITAL = MONDIAL_LOCATED.CITY\nWHERE MONDIAL_LOCATED.CITY IS NULL;',
  'type': 'complex'},
 {'id': '52',
  'question': 'What is the capital of the provice Andalucía?',
  'query_string': 'SELECT CAPITAL\nFROM MONDIAL_GPT.MONDIAL_PROVINCE\nWHERE UPPER("NAME") LIKE UPPER(\'%Andalucía%\')',
  'type': 'simple'},
 {'id': '53',
  'question': 'What is the abbreviation for the organization whose name is "General Confederation of Trade Unions"?',
  'query_string': 'SELECT ABBREVIATION\nFROM MONDIAL_GPT.MONDIAL_ORGANIZATION\nWHERE UPPER("NAME") LIKE UPPER(\'%General%Confederation%of%Trade%Unions%\')',
  'type': 'simple'},
 {'id': '54',
  'question': 'In which city is the organization with the abbreviation "UPU" ?',
  'query_string': "SELECT MONDIAL_ORGANIZATION.CITY\nFROM MONDIAL_ORGANIZATION\nWHERE MONDIAL_ORGANIZATION.ABBREVIATION = 'UPU'",
  'type': 'simple'},
 {'id': '55',
  'question': 'List the names of countries which are members of only one organization',
  'query_string': 'SELECT MONDIAL_COUNTRY.name\nFROM MONDIAL_COUNTRY\nJOIN MONDIAL_ISMEMBER ON MONDIAL_COUNTRY.code = MONDIAL_ISMEMBER.country\nGROUP BY MONDIAL_COUNTRY.name\nHAVING COUNT(DISTINCT MONDIAL_ISMEMBER.organization) = 1;',
  'type': 'complex'},
 {'id': '56',
  'question': 'List the name of countries which are not a member of NATO.',
  'query_string': "SELECT MONDIAL_COUNTRY.name\nFROM MONDIAL_COUNTRY\nWHERE MONDIAL_COUNTRY.name NOT IN\n    (SELECT MONDIAL_ISMEMBER.COUNTRY\n     FROM MONDIAL_ISMEMBER\n     WHERE MONDIAL_ISMEMBER.ORGANIZATION = 'NATO');",
  'type': 'complex'},
 {'id': '57',
  'question': 'List the name of countries which are a member of NATO.',
  'query_string': "SELECT MONDIAL_COUNTRY.name\nFROM MONDIAL_COUNTRY\nJOIN MONDIAL_ISMEMBER ON MONDIAL_COUNTRY.code = MONDIAL_ISMEMBER.country\nWHERE MONDIAL_ISMEMBER.organization = 'NATO'\nORDER BY CASE WHEN MONDIAL_COUNTRY.name IS NULL THEN 1 ELSE 0 END, MONDIAL_COUNTRY.name;",
  'type': 'medium'},
 {'id': '58',
  'question': 'List the rivers with length less than 50',
  'query_string': 'SELECT "NAME"\nFROM "MONDIAL_GPT"."MONDIAL_RIVER"\nWHERE "LENGTH" < 50',
  'type': 'simple'},
 {'id': '59',
  'question': 'What are the area, elevation and type of lakes in country Italy?',
  'query_string': 'SELECT "LAKE",\n       "COUNTRY",\n       "PROVINCE",\n       "META_REPCOL"\nFROM "MONDIAL_GPT"."MONDIAL_GEO_LAKE"\nWHERE UPPER("COUNTRY") LIKE \'%ITALY%\'',
  'type': 'simple'},
 {'id': '60',
  'question': 'List the names of capital cities which are the base for organizations in alphabetical order',
  'query_string': "SELECT MONDIAL_COUNTRY.CAPITAL\nFROM MONDIAL_COUNTRY\nWHERE MONDIAL_COUNTRY.COUNTRY = 'THA'\nORDER BY MONDIAL_COUNTRY.CAPITAL ASC;",
  'type': 'complex'},
 {'id': '61',
  'question': 'List the name of organizations that do not have countries with an area smaller than 4000 and of the member type',
  'query_string': 'SELECT "mondial_gpt"."mondial_organization"."name"\nFROM "mondial_gpt"."mondial_organization"\nJOIN "mondial_gpt"."mondial_ismember" ON "mondial_gpt"."mondial_organization"."name" = "mondial_gpt"."mondial_ismember"."organization"\nJOIN "mondial_gpt"."mondial_country" ON "mondial_gpt"."mondial_ismember"."country" = "mondial_gpt"."mondial_country"."code"\nWHERE "mondial_gpt"."mondial_country"."area" < 4000\n  AND UPPER("mondial_gpt"."mondial_ismember"."type") LIKE UPPER(\'%member%\')\nORDER BY "mondial_gpt"."mondial_organization"."name" NULLS LAST;',
  'type': 'complex'},
 {'id': '62',
  'question': 'List the name of organizations that do not have countries with  an area greater than 10000 and population smaller than 3000 and of the member type',
  'query_string': "SELECT MONDIAL_ORGANIZATION.NAME\nFROM MONDIAL_ORGANIZATION\nJOIN MONDIAL_ISMEMBER ON MONDIAL_ORGANIZATION.ORGANIZATION = MONDIAL_ISMEMBER.ORGANIZATION\nJOIN MONDIAL_COUNTRY ON MONDIAL_ISMEMBER.COUNTRY = MONDIAL_COUNTRY.CODE\nWHERE MONDIAL_COUNTRY.AREA > 10000\n  AND MONDIAL_COUNTRY.POPULATION < 3000\n  AND MONDIAL_ISMEMBER.TYPE ='member'\nORDER BY NULLIF(MONDIAL_ORGANIZATION.NAME, MONDIAL_ORGANIZATION.NAME) DESC, MONDIAL_ORGANIZATION.NAME;",
  'type': 'complex'},
 {'id': '63',
  'question': 'Show the inflation rate sorted of countries that are washed by the Arabian Sea',
  'query_string': "SELECT MONDIAL_ECONOMY.COUNTRY,\n       MONDIAL_ECONOMY.INFLATION\nFROM MONDIAL_ECONOMY\nJOIN MONDIAL_GEO_SEA ON MONDIAL_ECONOMY.COUNTRY = MONDIAL_GEO_SEA.COUNTRY\nWHERE MONDIAL_GEO_SEA.SEA = 'Arabian Sea'\nORDER BY CASE WHEN MONDIAL_ECONOMY.INFLATION IS NULL THEN 1 ELSE 0 END, MONDIAL_ECONOMY.INFLATION DESC;",
  'type': 'complex'},
 {'id': '64',
  'question': 'List all the capitals of the countries that belong to the continent Africa?',
  'query_string': "SELECT MONDIAL_COUNTRY.CAPITAL\nFROM MONDIAL_COUNTRY\nJOIN MONDIAL_ENCOMPASSES ON MONDIAL_COUNTRY.CODE = MONDIAL_ENCOMPASSES.COUNTRY\nWHERE MONDIAL_ENCOMPASSES.CONTINENT = 'Africa'",
  'type': 'medium'},
 {'id': '65',
  'question': 'Show the inflation rate of the countries bathed by the Arabian Sea and there is no inflation with null value',

In [9]:
save_queries(new_queries, "results/1_sql_coder_mondial_gpt.json")