# Experimentos com o Mondial-Foreign Key utilizando o SQLAgent passando instâncias como exemplos - no GPT 3.5

In [ ]:

from langchain.sql_database import SQLDatabase
from langchain.chat_models import ChatOpenAI
from urllib.parse import quote  

from custom_sql_toolkit.custom_sql_database_toolkit import CustomSQLDatabaseToolkit
from custom_sql_toolkit.prompt import (
    CUSTOM_SQL_PREFIX,
    CUSTOM_FORMAT_INSTRUCTIONS,    
)
from langchain.callbacks import get_openai_callback
from langchain.agents import create_sql_agent

from langchain.agents.agent_types import AgentType

from dotenv import load_dotenv
import os
import sys
import json
import time

load_dotenv()

path = os.path.abspath('')
module_path = os.path.join(path,'..\..')
print(module_path)
if module_path not in sys.path:
    sys.path.append(module_path+"\\functions")

from sqldatabase_langchain_utils import SQLDatabaseLangchainUtils

# Schema

In [2]:
SCHEMA = 'mondial_gpt'
PREFIX = 'mondial'
FILE_NAME_RESULT = f"results/8_sql_agent_chatgpt_{SCHEMA}_fk_instances.json"
NUMBER_OF_INSTANCES = 2

Funções para salavar e ler as consultas geradas

In [3]:
def save_queries(queries):
    data = {"queries":queries}
    with open(FILE_NAME_RESULT, "w") as arquivo_json:
        json.dump(data, arquivo_json, indent=4) 

def read_queries():
    with open(FILE_NAME_RESULT, encoding='utf-8', errors='ignore') as json_data:
        data = json.load(json_data, strict=False)
    queries = data["queries"]
    return queries

## Conexão

In [ ]:
json_file_path = f"../../datasets/{SCHEMA}_db_connection.json"
with open(json_file_path, encoding='utf-8', errors='ignore') as json_data:
    db_connection = json.load(json_data, strict=False)

db_connection

### Utilizando o SQLDatabase para pegar todas as informações do database

In [5]:
db = SQLDatabaseLangchainUtils(db_connection=db_connection)

exclusao = [
    f"{SCHEMA}_tmdp",
    f"{SCHEMA}_tmdpmap",
    f"{SCHEMA}_tmds",
    f"{SCHEMA}_tmjmap",
    f"{SCHEMA}_tpv",
    f"{SCHEMA}_tmdc",
    f"{SCHEMA}_tmdcmap",
    f"{SCHEMA}_tmdej",
    f"{SCHEMA}_log_action",
    f"{SCHEMA}_log_error",
    f"{SCHEMA}_favorite_item", 
    f"{SCHEMA}_favorite_query",
    f"{SCHEMA}_favorite_tag",
    f"{SCHEMA}_favorite_tag_item",
    f"{SCHEMA}_favorite_visualization",
    f"{SCHEMA}_dashboard",
    f"{SCHEMA}_history",
    "teste_cliente",
    "teste_fornecedor",
    "teste_funcionario"
]

include_tables = [s for s in db.get_table_names() if not s.startswith(PREFIX) and s not in exclusao]
db = SQLDatabaseLangchainUtils(db_connection=db_connection, include_tables=include_tables, samples=NUMBER_OF_INSTANCES)
db.get_table_names()

c:\Users\rogerrsn\AppData\Local\Programs\Python\Python310\lib\site-packages\langchain\utilities\sql_database.py:112: SAWarning: Did not recognize type 'GEOCOORD' of column 'coordinates'
  self._metadata.reflect(
c:\Users\rogerrsn\AppData\Local\Programs\Python\Python310\lib\site-packages\langchain\utilities\sql_database.py:112: SAWarning: Did not recognize type 'GEOCOORD' of column 'source'
  self._metadata.reflect(
c:\Users\rogerrsn\AppData\Local\Programs\Python\Python310\lib\site-packages\langchain\utilities\sql_database.py:112: SAWarning: Did not recognize type 'GEOCOORD' of column 'estuary'
  self._metadata.reflect(

['airport',
 'borders',
 'city',
 'citylocalname',
 'cityothername',
 'citypops',
 'continent',
 'country',
 'countrylocalname',
 'countryothername',
 'countrypops',
 'desert',
 'economy',
 'encompasses',
 'ethnicgroup',
 'geo_desert',
 'geo_estuary',
 'geo_island',
 'geo_lake',
 'geo_mountain',
 'geo_river',
 'geo_sea',
 'geo_source',
 'island',
 'islandin',
 'ismember',
 'lake',
 'lakeonisland',
 'language',
 'located',
 'locatedon',
 'mergeswith',
 'mountain',
 'mountainonisland',
 'organization',
 'politics',
 'population',
 'province',
 'provincelocalname',
 'provinceothername',
 'provpops',
 'religion',
 'river',
 'riveronisland',
 'riverthrough',
 'sea']

In [6]:
len(db.get_table_names())

46

In [7]:
cusmom_agent_prefix_prompt = CUSTOM_SQL_PREFIX
custom_format_instructions = CUSTOM_FORMAT_INSTRUCTIONS

In [8]:
print(custom_format_instructions)

Use the following format:

Question: the input question you must answer
Thought: you should always think about what to do
Action: the action to take, should be one of [{tool_names}]
Action Input: the input to the action
Observation: the result of the action
... (this Thought/Action/Action Input/Observation can repeat N times)
Thought: I now know the SQL QUERY generated
Final Answer: the SQL QUERY generated

## Criando o Chain para gerar SQL

In [9]:
llm=ChatOpenAI(temperature=0, model_name="gpt-3.5-turbo", verbose=True)
toolkit = CustomSQLDatabaseToolkit(db=db.db, llm=llm)

agent_executor = create_sql_agent(
    llm=llm,
    toolkit=toolkit,
    prefix=cusmom_agent_prefix_prompt,
    format_instructions=custom_format_instructions,
    verbose=True,
    agent_type=AgentType.ZERO_SHOT_REACT_DESCRIPTION,
)

In [10]:
with get_openai_callback() as cb:
    sql_query = agent_executor({"input":"What is the area of Thailand?"})
    print(cb.total_tokens)
    print(cb.prompt_tokens)
    print(cb.completion_tokens)
    print(cb.total_cost)
print(sql_query['output'])

> Entering new AgentExecutor chain...

Action: sql_db_list_tables
Action Input: ""
Observation: airport, borders, city, citylocalname, cityothername, citypops, continent, country, countrylocalname, countryothername, countrypops, desert, economy, encompasses, ethnicgroup, geo_desert, geo_estuary, geo_island, geo_lake, geo_mountain, geo_river, geo_sea, geo_source, island, islandin, ismember, lake, lakeonisland, language, located, locatedon, mergeswith, mountain, mountainonisland, organization, politics, population, province, provincelocalname, provinceothername, provpops, religion, river, riveronisland, riverthrough, sea
Thought:I should query the schema of the country table to see if it contains information about the area of Thailand.
Action: sql_db_schema
Action Input: "country"

c:\Users\rogerrsn\AppData\Local\Programs\Python\Python310\lib\site-packages\langchain\utilities\sql_database.py:307: SAWarning: Cannot correctly sort tables; there are unresolvable cycles between tables "lake, river", which is usually caused by mutually dependent foreign key constraints.  Foreign key constraints involving these tables will not be considered; this warning may raise an error in a future release.
  for tbl in self._metadata.sorted_tables

Observation:
CREATE TABLE country (
	name VARCHAR(50 CHAR) NOT NULL,
	code VARCHAR(4 CHAR) NOT NULL,
	capital VARCHAR(50 CHAR),
	province VARCHAR(50 CHAR),
	area NUMBER,
	population NUMBER,
	CONSTRAINT countrykey PRIMARY KEY (code),
	CONSTRAINT countryarea CHECK (Area >= 0),
	CONSTRAINT countrypop CHECK (Population >= 0)
)

/*
2 rows from country table:
name	code	capital	province	area	population
Albania	AL	Tirana	Albania	28750.0	2821977.0
Greece	GR	Athina	Attikis	131940.0	10816286.0
*/
Thought:The country table contains the area column, which is relevant to the question. I can now construct the SQL query to retrieve the area of Thailand.
Action: custom_sql_db_query
Action Input: "SELECT area FROM country WHERE name = 'Thailand'"
Observation: SELECT area FROM country WHERE name = 'Thailand'
Thought:I now know the SQL QUERY generated.
Final Answer: SELECT area FROM country WHERE name = 'Thailand'

> Finished chain.
3108
2991
117
0.004720500000000001
SELECT area FROM country WHERE name = 'Thailand'

Total tokens: **3140**<br>
Prompt tokens: **2995**<br>
completion tokens: **145**<br>
Total cost: **0.0047825**<br>

## Preparando as consultas em linguagem natural para rodar no LLM

In [11]:

json_file_path = f"../../datasets/{PREFIX}/queries_{PREFIX}.json"
with open(json_file_path, encoding='utf-8', errors='ignore') as json_data:
    queries = json.load(json_data, strict=False)
queries = queries['queries']
queries

[{'id': '1',
  'question': 'What is the area of Thailand?',
  'query_string': '',
  'type': 'simple'},
 {'id': '2',
  'question': 'What are the provinces with an area greater than 10000?',
  'query_string': '',
  'type': 'simple'},
 {'id': '3',
  'question': 'What are the languages spoken in Poland?',
  'query_string': '',
  'type': 'medium'},
 {'id': '4',
  'question': 'How deep is Lake Kariba?',
  'query_string': '',
  'type': 'simple'},
 {'id': '5',
  'question': 'What is the total of provinces of Netherlands?',
  'query_string': '',
  'type': 'complex'},
 {'id': '6',
  'question': 'What is the percentage of religious people are hindu in thailand?',
  'query_string': '',
  'type': 'complex'},
 {'id': '7',
  'question': 'List the number of provinces each river flows through.',
  'query_string': '',
  'type': 'medium'},
 {'id': '8',
  'question': 'Find all countries that became independent between 8/1/1910 and 8/1/1950.',
  'query_string': '',
  'type': 'complex'},
 {'id': '9',
  'question': 'What are the cities of Cuba?',
  'query_string': '',
  'type': 'medium'},
 {'id': '10',
  'question': 'What is the capital of Georgia?',
  'query_string': '',
  'type': 'medium'},
 {'id': '11',
  'question': 'How many provinces have areas greater than 1000 in Niger?',
  'query_string': '',
  'type': 'complex'},
 {'id': '12',
  'question': 'Tell me about the country with the area largest.',
  'query_string': '',
  'type': 'medium'},
 {'id': '13',
  'question': 'What is the host province and year of establishment of the organization "International Energy Agency"?',
  'query_string': '',
  'type': 'medium'},
 {'id': '14',
  'question': 'Find the name of all mountains whose elevation is higher than 1000.',
  'query_string': '',
  'type': 'medium'},
 {'id': '15',
  'question': 'Tell me the economy of the Caribbean Sea.',
  'query_string': '',
  'type': 'medium'},
 {'id': '16',
  'question': 'Show the cities with longitude between 0 and 6.',
  'query_string': '',
  'type': 'simple'},
 {'id': '17',
  'question': 'Select cities whose population is greater than 100000, altitude greater than 2500, and the country you belong to has population growth greater than 1.',
  'query_string': '',
  'type': 'complex'},
 {'id': '18',
  'question': 'Show all the different types of government.',
  'query_string': '',
  'type': 'simple'},
 {'id': '19',
  'question': 'List all provinces in Germany',
  'query_string': '',
  'type': 'medium'},
 {'id': '20',
  'question': 'What is the percentage of mulatto ethnicity in Brazil?',
  'query_string': '',
  'type': 'complex'},
 {'id': '21',
  'question': 'How many cities have populations less than 1000?',
  'query_string': '',
  'type': 'simple'},
 {'id': '22',
  'question': 'What is the average elevation of airports in America?',
  'query_string': '',
  'type': 'complex'},
 {'id': '23',
  'question': 'How many countries are adjacent to (or ecompassed by) the Caribbean Sea?',
  'query_string': '',
  'type': 'medium'},
 {'id': '24',
  'question': 'How much area do the countries that are adjacent to (or encompassed by) the Caribbean Sea cover in total?',
  'query_string': '',
  'type': 'complex'},
 {'id': '25',
  'question': 'For all countries, give the sum of the population of all its neighbors',
  'query_string': '',
  'type': 'medium'},
 {'id': '26',
  'question': 'What mountains are on the island of Borneo?',
  'query_string': '',
  'type': 'simple'},
 {'id': '27',
  'question': 'Provide the name and total population of the country with the smallest area.',
  'query_string': '',
  'type': 'simple'},
 {'id': '28',
  'question': 'The codes of all countries for which at least one river that originates in this country has its estuary in a neighboring country.',
  'query_string': '',
  'type': 'complex'},
 {'id': '29',
  'question': 'The codes of all countries where at least one mountain is located in each of their provinces',
  'query_string': '',
  'type': 'complex'},
 {'id': '30',
  'question': 'The code and total border lengths of all countries with at least one border.',
  'query_string': '',
  'type': 'complex'},
 {'id': '31',
  'question': 'The names and codes of all countries in which at least one river originates.',
  'query_string': '',
  'type': 'medium'},
 {'id': '32',
  'question': 'What is the area and country of the Chatanga River?',
  'query_string': '',
  'type': 'simple'},
 {'id': '33',
  'question': 'Show the Airports with elevation more than 3000',
  'query_string': '',
  'type': 'simple'},
 {'id': '34',
  'question': 'What are the religions practiced in Mexico?',
  'query_string': '',
  'type': 'medium'},
 {'id': '35',
  'question': 'Show all rivers that do not flow into the sea.',
  'query_string': '',
  'type': 'medium'},
 {'id': '36',
  'question': 'List African countries by number of neighbors.',
  'query_string': '',
  'type': 'complex'},
 {'id': '37',
  'question': 'What is the average infant mortality rate for each continent?',
  'query_string': '',
  'type': 'simple'},
 {'id': '38',
  'question': 'What is the average mortality rate of the countries in America without considering Brazil?',
  'query_string': '',
  'type': 'complex'},
 {'id': '39',
  'question': 'List seas with area greater than 8000 and depth less than 100.',
  'query_string': '',
  'type': 'simple'},
 {'id': '40',
  'question': 'How many mountains are there in Asia?',
  'query_string': '',
  'type': 'complex'},
 {'id': '41',
  'question': 'How many countries that are close to the Mediterranean Sea?',
  'query_string': '',
  'type': 'complex'},
 {'id': '42',
  'question': 'Show the total for each type of government.',
  'query_string': '',
  'type': 'simple'},
 {'id': '43',
  'question': 'Which province has the largest desert in the world?',
  'query_string': '',
  'type': 'simple'},
 {'id': '44',
  'question': 'What is the largest desert in the world?',
  'query_string': '',
  'type': 'simple'},
 {'id': '45',
  'question': 'List, for all continents, the amount of deserts on each.',
  'query_string': '',
  'type': 'complex'},
 {'id': '46',
  'question': 'What are the neighboring seas of the Banda Sea?',
  'query_string': '',
  'type': 'medium'},
 {'id': '47',
  'question': 'List all the capitals of European countries.',
  'query_string': '',
  'type': 'medium'},
 {'id': '48',
  'question': 'What percentage of people speak French in Andorra?',
  'query_string': '',
  'type': 'complex'},
 {'id': '49',
  'question': 'Which rivers are longer than 1000 kilometers?',
  'query_string': '',
  'type': 'complex'},
 {'id': '50',
  'question': 'Which country had the lowest population growth?',
  'query_string': '',
  'type': 'simple'},
 {'id': '51',
  'question': 'List the name of capital cities for which we do not have data about the city in located',
  'query_string': '',
  'type': 'complex'},
 {'id': '52',
  'question': 'What is the capital of the provice Andalucía?',
  'query_string': '',
  'type': 'simple'},
 {'id': '53',
  'question': 'What is the abbreviation for the organization whose name is "General Confederation of Trade Unions"?',
  'query_string': '',
  'type': 'simple'},
 {'id': '54',
  'question': 'In which city is the organization with the abbreviation "UPU" ?',
  'query_string': '',
  'type': 'simple'},
 {'id': '55',
  'question': 'List the names of countries which are members of only one organization',
  'query_string': '',
  'type': 'complex'},
 {'id': '56',
  'question': 'List the name of countries which are not a member of NATO.',
  'query_string': '',
  'type': 'complex'},
 {'id': '57',
  'question': 'List the name of countries which are a member of NATO.',
  'query_string': '',
  'type': 'medium'},
 {'id': '58',
  'question': 'List the rivers with length less than 50',
  'query_string': '',
  'type': 'simple'},
 {'id': '59',
  'question': 'What are the area, elevation and type of lakes in country Italy?',
  'query_string': '',
  'type': 'simple'},
 {'id': '60',
  'question': ' List the names of capital cities which are the base for organizations in alphabetical order',
  'query_string': '',
  'type': 'complex'},
 {'id': '61',
  'question': 'List the name of organizations that do not have countries with an area smaller than 4000 and of the member type',
  'query_string': '',
  'type': 'complex'},
 {'id': '62',
  'question': 'List the name of organizations that do not have countries with  an area greater than 10000 and population smaller than 3000 and of the member type',
  'query_string': '',
  'type': 'complex'},
 {'id': '63',
  'question': 'Show the inflation rate of countries that are washed by the Arabian Sea',
  'query_string': '',
  'type': 'complex'},
 {'id': '64',
  'question': 'List all the capitals of the countries that belong to the continent Africa?',
  'query_string': '',
  'type': 'medium'},
 {'id': '65',
  'question': 'Show the inflation rate of the countries bathed by the Arabian Sea and there is no inflation with null value',
  'query_string': '',
  'type': 'complex'},
 {'id': '66',
  'question': 'How many countries are in Africa?',
  'query_string': '',
  'type': 'complex'},
 {'id': '67',
  'question': 'List the name of countries that are not members of NATO and UNESCO',
  'query_string': '',
  'type': 'complex'},
 {'id': '68',
  'question': 'What is the area of the continent Europe?',
  'query_string': '',
  'type': 'simple'},
 {'id': '69',
  'question': 'What is the area of continent America?',
  'query_string': '',
  'type': 'simple'},
 {'id': '70',
  'question': 'What is the area of continent Asia?',
  'query_string': '',
  'type': 'simple'},
 {'id': '71',
  'question': 'What is the area of Africa?',
  'query_string': '',
  'type': 'simple'},
 {'id': '72',
  'question': 'How many countries are in America?',
  'query_string': '',
  'type': 'complex'},
 {'id': '73',
  'question': 'What area is the largest continent?',
  'query_string': '',
  'type': 'medium'},
 {'id': '74',
  'question': 'List the countries that belong to the continent with the largest area',
  'query_string': '',
  'type': 'complex'},
 {'id': '75',
  'question': 'List the countries that belong to the continent with the largest area and whose language is English',
  'query_string': '',
  'type': 'complex'},
 {'id': '76',
  'question': 'List the names of cities, along with the name of their country for cities with a population greater than 5 million.  Display the results in descending order by population.',
  'query_string': '',
  'type': 'medium'},
 {'id': '77',
  'question': 'Show the name of the deserts in the province of Algeria',
  'query_string': '',
  'type': 'simple'},
 {'id': '78',
  'question': 'Show the name and area of the deserts in the province of California',
  'query_string': '',
  'type': 'simple'},
 {'id': '79',
  'question': 'List the country names and percentage of use of language where  French are used as languages.',
  'query_string': '',
  'type': 'simple'},
 {'id': '80',
  'question': 'What are the cities where �Portuguese� is spoken?',
  'query_string': '',
  'type': 'medium'},
 {'id': '81',
  'question': 'What is the total area of the provinces in Canada?',
  'query_string': '',
  'type': 'complex'},
 {'id': '82',
  'question': 'What is the length of the Tigres River?',
  'query_string': '',
  'type': 'simple'},
 {'id': '83',
  'question': 'List the Airports with elevation more than 1000',
  'query_string': '',
  'type': 'medium'},
 {'id': '84',
  'question': 'List airports in the United States with an elevation below 200 feet',
  'query_string': '',
  'type': 'complex'},
 {'id': '85',
  'question': 'What are the mountains with altitudes above 8000 meters?',
  'query_string': '',
  'type': 'medium'},
 {'id': '86',
  'question': 'What are the 3 airports with the largest name?',
  'query_string': '',
  'type': 'simple'},
 {'id': '87',
  'question': 'List lakes with an area of less than 5000 square kilometers.',
  'query_string': '',
  'type': 'medium'},
 {'id': '88',
  'question': 'What is the total area of the seas with a depth greater than 1000 meters?',
  'query_string': '',
  'type': 'medium'},
 {'id': '89',
  'question': 'Find the countries whose name starts with the letter "B" and have a population greater than 10 million',
  'query_string': '',
  'type': 'complex'},
 {'id': '90',
  'question': 'List cities with another name in Brazil',
  'query_string': '',
  'type': 'medium'},
 {'id': '91',
  'question': 'List all cities that are at a latitude greater than 45 degrees.',
  'query_string': '',
  'type': 'medium'},
 {'id': '92',
  'question': 'Show the number of cities with another name in countries with an area greater than 30000',
  'query_string': '',
  'type': 'medium'},
 {'id': '93',
  'question': 'Show the deserts with area greater than 10000',
  'query_string': '',
  'type': 'simple'},
 {'id': '94',
  'question': 'List the islands that belong to a lake with an elevation greater than 100',
  'query_string': '',
  'type': 'simple'},
 {'id': '95',
  'question': 'List all mountains located on islands with an area greater than 100,000 square kilometers',
  'query_string': '',
  'type': 'medium'},
 {'id': '96',
  'question': 'List the countries and the sum of their provincial areas.',
  'query_string': '',
  'type': 'simple'},
 {'id': '97',
  'question': 'Show the name of the countries, the average elevation and sum of the population of their cities',
  'query_string': '',
  'type': 'medium'},
 {'id': '98',
  'question': "What was Germany's inflation?",
  'query_string': '',
  'type': 'medium'},
 {'id': '99',
  'question': 'What type of government is Iran?',
  'query_string': '',
  'type': 'medium'},
 {'id': '100',
  'question': "What is the percentage of industries in relation to Japan's economy?",
  'query_string': '',
  'type': 'medium'}]

# Rodando as consultas no LLM para gerar SQL

In [12]:

# A cada X consultas, vai ser gerado um delay de 10s para evitar o bloqueio da API.
number_of_queries_to_delay = 2
count = 0
errors = []
pos = 0
for instance in queries:
    if count == number_of_queries_to_delay:
        count = 0
        time.sleep(10)
    try:
        with get_openai_callback() as cb:
            start_time = time.time()
            response = agent_executor({"input":instance["question"]})  
            end_time = time.time()
            sql_query = response['output']
            if "Agent stopped" in sql_query:
                errors.append(pos)
            else:
                instance["query_string"] = sql_query
                instance['total_tokens'] = cb.total_tokens
                instance['prompt_tokens'] = cb.prompt_tokens
                instance['completion_tokens'] = cb.completion_tokens
                instance['total_cost'] = cb.total_cost  
                instance['time'] = end_time - start_time
                print(instance['id'], instance['question'], instance["query_string"], instance['time'], instance['total_cost'])
                save_queries(queries)
    except:
        errors.append(pos)
    count += 1
    pos+=1
queries

> Entering new AgentExecutor chain...
Action: sql_db_list_tables
Action Input: ""
Observation: airport, borders, city, citylocalname, cityothername, citypops, continent, country, countrylocalname, countryothername, countrypops, desert, economy, encompasses, ethnicgroup, geo_desert, geo_estuary, geo_island, geo_lake, geo_mountain, geo_river, geo_sea, geo_source, island, islandin, ismember, lake, lakeonisland, language, located, locatedon, mergeswith, mountain, mountainonisland, organization, politics, population, province, provincelocalname, provinceothername, provpops, religion, river, riveronisland, riverthrough, sea
Thought:I should query the schema of the country table to see if it contains information about the area of Thailand.
Action: sql_db_schema
Action Input: "country"
Observation:
CREATE TABLE country (
	name VARCHAR(50 CHAR) NOT NULL,
	code VARCHAR(4 CHAR) NOT NULL,
	capital VARCHAR(50 CHAR),
	province VARCHAR(50 CHAR),
	area NUMBER,
	population NUMBER,
	CONSTRAINT countrykey PRIMARY KEY (code),
	CONSTRAINT countryarea CHECK (Area >= 0),
	CONSTRAINT countrypop CHECK (Population >= 0)
)

/*
2 rows from country table:
name	code	capital	province	area	population
Albania	AL	Tirana	Albania	28750.0	2821977.0
Greece	GR	Athina	Attikis	131940.0	10816286.0
*/
Thought:

c:\Users\rogerrsn\AppData\Local\Programs\Python\Python310\lib\site-packages\langchain\utilities\sql_database.py:307: SAWarning: Cannot correctly sort tables; there are unresolvable cycles between tables "lake, river", which is usually caused by mutually dependent foreign key constraints.  Foreign key constraints involving these tables will not be considered; this warning may raise an error in a future release.
  for tbl in self._metadata.sorted_tables

The country table contains the area column, which is relevant to the question. I can now construct the SQL query to retrieve the area of Thailand.
Action: custom_sql_db_query
Action Input: "SELECT area FROM country WHERE name = 'Thailand'"
Observation: SELECT area FROM country WHERE name = 'Thailand'
Thought:I now know the SQL QUERY generated.
Final Answer: SELECT area FROM country WHERE name = 'Thailand'

> Finished chain.


> Entering new AgentExecutor chain...
Action: sql_db_list_tables
Action Input: ""
Observation: airport, borders, city, citylocalname, cityothername, citypops, continent, country, countrylocalname, countryothername, countrypops, desert, economy, encompasses, ethnicgroup, geo_desert, geo_estuary, geo_island, geo_lake, geo_mountain, geo_river, geo_sea, geo_source, island, islandin, ismember, lake, lakeonisland, language, located, locatedon, mergeswith, mountain, mountainonisland, organization, politics, population, province, provincelocalname, provinceothername, provpops, religion, river, riveronisland, riverthrough, sea
Thought:I should query the schema of the province table to see what columns are available.
Action: sql_db_schema
Action Input: "province"
Observation:
CREATE TABLE province (
	name VARCHAR(50 CHAR) NOT NULL,
	country VARCHAR(4 CHAR) NOT NULL,
	population NUMBER,
	area NUMBER,
	capital VARCHAR(50 CHAR),
	capprov VARCHAR(50 CHAR),
	CONSTRAINT prkey PRIMARY KEY (name, country),
	CONSTRAINT province_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT prar CHECK (Area >= 0),
	CONSTRAINT prpop CHECK (Population >= 0)
)

/*
2 rows from province table:
name	country	population	area	capital	capprov
Astana	KAZ	814401.0	710.0	Astana	Astana
Albania	AL	2821977.0	28750.0	Tirana	Albania
*/
Thought:I can use the "province" table to find the provinces with an area greater than 10000.
Action: custom_sql_db_query
Action Input: "SELECT name FROM province WHERE area > 10000"
Observation: SELECT name FROM province WHERE area > 10000
Thought:I now know the SQL QUERY generated.
Final Answer: SELECT name FROM province WHERE area > 10000

> Finished chain.


> Entering new AgentExecutor chain...
Action: sql_db_list_tables
Action Input: ""
Observation: airport, borders, city, citylocalname, cityothername, citypops, continent, country, countrylocalname, countryothername, countrypops, desert, economy, encompasses, ethnicgroup, geo_desert, geo_estuary, geo_island, geo_lake, geo_mountain, geo_river, geo_sea, geo_source, island, islandin, ismember, lake, lakeonisland, language, located, locatedon, mergeswith, mountain, mountainonisland, organization, politics, population, province, provincelocalname, provinceothername, provpops, religion, river, riveronisland, riverthrough, sea
Thought:

:

In [18]:
errors

[7]

Se existir erros

In [19]:

# A cada X consultas, vai ser gerado um delay de 10s para evitar o bloqueio da API.
number_of_queries_to_delay = 15
count = 0

for pos in errors:
    instance = queries[pos]
    if count == number_of_queries_to_delay:
        count = 0
        time.sleep(10)

    with get_openai_callback() as cb:
        start_time = time.time()
        response = agent_executor({"input":instance["question"]})  
        end_time = time.time()
        sql_query = response['output']
        instance["query_string"] = sql_query
        instance['total_tokens'] = cb.total_tokens
        instance['prompt_tokens'] = cb.prompt_tokens
        instance['completion_tokens'] = cb.completion_tokens
        instance['total_cost'] = cb.total_cost  
        instance['time'] = end_time - start_time
        print(instance['id'], instance['question'], instance["query_string"], instance['time'], instance['total_cost'])
    save_queries(queries)
    queries[pos] = instance
    count += 1
queries

> Entering new AgentExecutor chain...
Action: sql_db_list_tables
Action Input: ""
Observation: mondial_airport, mondial_borders, mondial_city, mondial_cityothername, mondial_citypops, mondial_continent, mondial_country, mondial_countrypops, mondial_desert, mondial_economy, mondial_encompasses, mondial_ethnicgroup, mondial_geo_desert, mondial_geo_estuary, mondial_geo_island, mondial_geo_lake, mondial_geo_mountain, mondial_geo_river, mondial_geo_sea, mondial_geo_source, mondial_island, mondial_islandin, mondial_ismember, mondial_lake, mondial_language, mondial_located, mondial_locatedon, mondial_mergeswith, mondial_mountain, mondial_mountainonisland, mondial_organization, mondial_politics, mondial_population, mondial_province, mondial_provinceothername, mondial_provpops, mondial_religion, mondial_river, mondial_riverthrough, mondial_sea
Thought:I should query the schema of the mondial_country table to see if it contains information about the independence dates of countries.
Action: sql_db_schema
Action Input: "mondial_country"
Observation:
CREATE TABLE mondial_country (
	name VARCHAR(50 CHAR),
	code VARCHAR(4 CHAR),
	capital VARCHAR(50 CHAR),
	province VARCHAR(50 CHAR),
	area NUMBER,
	population NUMBER,
	meta_repcol VARCHAR(4000 CHAR)
)
Thought:The mondial_country table does not have specific columns for independence dates. I should check if there are any other tables that might contain this information.
Action: sql_db_list_tables
Action Input: ""
Observation: mondial_airport, mondial_borders, mondial_city, mondial_cityothername, mondial_citypops, mondial_continent, mondial_country, mondial_countrypops, mondial_desert, mondial_economy, mondial_encompasses, mondial_ethnicgroup, mondial_geo_desert, mondial_geo_estuary, mondial_geo_island, mondial_geo_lake, mondial_geo_mountain, mondial_geo_river, mondial_geo_sea, mondial_geo_source, mondial_island, mondial_islandin, mondial_ismember, mondial_lake, mondial_language, mondial_located, mondial_locatedon, mondial_mergeswith, mondial_mountain, mondial_mountainonisland, mondial_organization, mondial_politics, mondial_population, mondial_province, mondial_provinceothername, mondial_provpops, mondial_religion, mondial_river, mondial_riverthrough, mondial_sea
Thought:I should query the schema of the mondial_countrypops table to see if it contains information about the independence dates of countries.
Action: sql_db_schema
Action Input: "mondial_countrypops"
Observation:
CREATE TABLE mondial_countrypops (
	country VARCHAR(4 CHAR),
	year NUMBER,
	population NUMBER,
	meta_repcol VARCHAR(4000 CHAR)
)
Thought:The mondial_countrypops table does not have specific columns for independence dates either. I should check if there are any other tables that might contain this information.
Action: sql_db_list_tables
Action Input: ""
Observation: mondial_airport, mondial_borders, mondial_city, mondial_cityothername, mondial_citypops, mondial_continent, mondial_country, mondial_countrypops, mondial_desert, mondial_economy, mondial_encompasses, mondial_ethnicgroup, mondial_geo_desert, mondial_geo_estuary, mondial_geo_island, mondial_geo_lake, mondial_geo_mountain, mondial_geo_river, mondial_geo_sea, mondial_geo_source, mondial_island, mondial_islandin, mondial_ismember, mondial_lake, mondial_language, mondial_located, mondial_locatedon, mondial_mergeswith, mondial_mountain, mondial_mountainonisland, mondial_organization, mondial_politics, mondial_population, mondial_province, mondial_provinceothername, mondial_provpops, mondial_religion, mondial_river, mondial_riverthrough, mondial_sea
Thought:I should query the schema of the mondial_country table again to see if there are any other columns that might contain information about independence dates.
Action: sql_db_schema
Action Input: "mondial_country"
Observation:
CREATE TABLE mondial_country (
	name VARCHAR(50 CHAR),
	code VARCHAR(4 CHAR),
	capital VARCHAR(50 CHAR),
	province VARCHAR(50 CHAR),
	area NUMBER,
	population NUMBER,
	meta_repcol VARCHAR(4000 CHAR)
)
Thought:The mondial_country table does not have any columns specifically for independence dates. I should try querying the mondial_country table using a different approach.
Action: custom_sql_db_query
Action Input: "SELECT * FROM mondial_country WHERE meta_repcol LIKE '%independent%'"
Observation: SELECT * FROM mondial_country WHERE meta_repcol LIKE '%independent%'
Thought:I now know the SQL QUERY generated.
Final Answer: SELECT * FROM mondial_country WHERE meta_repcol LIKE '%independent%'

> Finished chain.

[{'id': '1',
  'question': 'What is the area of Thailand?',
  'query_string': "SELECT area FROM mondial_country WHERE name = 'Thailand'",
  'type': 'simple',
  'total_tokens': 3187,
  'prompt_tokens': 3054,
  'completion_tokens': 133,
  'total_cost': 0.004847000000000001},
 {'id': '2',
  'question': 'What are the provinces with an area greater than 10000?',
  'query_string': 'SELECT name FROM mondial_province WHERE area > 10000',
  'type': 'simple',
  'total_tokens': 2234,
  'prompt_tokens': 2143,
  'completion_tokens': 91,
  'total_cost': 0.0033965},
 {'id': '3',
  'question': 'What are the languages spoken in Poland?',
  'query_string': "SELECT name FROM mondial_language WHERE country = 'POL'",
  'type': 'medium',
  'total_tokens': 3105,
  'prompt_tokens': 2992,
  'completion_tokens': 113,
  'total_cost': 0.004714},
 {'id': '4',
  'question': 'How deep is Lake Kariba?',
  'query_string': "SELECT * FROM mondial_lake WHERE name = 'Lake Kariba'",
  'type': 'simple',
  'total_tokens': 3254,
  'prompt_tokens': 3097,
  'completion_tokens': 157,
  'total_cost': 0.0049595},
 {'id': '5',
  'question': 'What is the total of provinces of Netherlands?',
  'query_string': "SELECT SUM(population) FROM mondial_province WHERE country = 'NLD'",
  'type': 'medium',
  'total_tokens': 3173,
  'prompt_tokens': 3051,
  'completion_tokens': 122,
  'total_cost': 0.0048205},
 {'id': '6',
  'question': 'What is the percentage of religious people are hindu in thailand?',
  'query_string': "SELECT percentage FROM mondial_religion WHERE country = 'THA' AND name = 'Hindu'",
  'type': 'medium',
  'total_tokens': 3180,
  'prompt_tokens': 3045,
  'completion_tokens': 135,
  'total_cost': 0.004837500000000001},
 {'id': '7',
  'question': 'List the number of provinces each river flows through.',
  'query_string': 'SELECT r.name, COUNT(DISTINCT p.name) AS num_provinces FROM mondial_river r JOIN mondial_riverthrough rt ON r.name = rt.river JOIN mondial_province p ON rt.lake = p.name GROUP BY r.name ORDER BY num_provinces DESC',
  'type': 'complex',
  'total_tokens': 7269,
  'prompt_tokens': 6886,
  'completion_tokens': 383,
  'total_cost': 0.011094999999999999},
 {'id': '8',
  'question': 'Find all countries that became independent between 8/1/1910 and 8/1/1950.',
  'query_string': "SELECT * FROM mondial_country WHERE meta_repcol LIKE '%independent%'",
  'type': 'medium',
  'total_tokens': 9579,
  'prompt_tokens': 9275,
  'completion_tokens': 304,
  'total_cost': 0.014520500000000002},
 {'id': '9',
  'question': 'What are the cities of Cuba?',
  'query_string': "SELECT name FROM mondial_city WHERE country = 'CUB'",
  'type': 'medium',
  'total_tokens': 3146,
  'prompt_tokens': 3033,
  'completion_tokens': 113,
  'total_cost': 0.0047755},
 {'id': '10',
  'question': 'What is the capital of Georgia?',
  'query_string': "SELECT name FROM mondial_city WHERE country = 'GE' ORDER BY population DESC",
  'type': 'simple',
  'total_tokens': 4326,
  'prompt_tokens': 4146,
  'completion_tokens': 180,
  'total_cost': 0.006579},
 {'id': '11',
  'question': 'How many provinces have areas greater than 1000 in Niger?',
  'query_string': "SELECT COUNT(*) FROM mondial_province WHERE country = 'NER' AND area > 1000",
  'type': 'medium',
  'total_tokens': 3202,
  'prompt_tokens': 3073,
  'completion_tokens': 129,
  'total_cost': 0.0048675},
 {'id': '12',
  'question': 'Tell me about the country with the area largest.',
  'query_string': 'SELECT name FROM mondial_country ORDER BY area DESC FETCH FIRST ROW ONLY',
  'type': 'medium',
  'total_tokens': 4302,
  'prompt_tokens': 4130,
  'completion_tokens': 172,
  'total_cost': 0.006539},
 {'id': '13',
  'question': 'What is the host province and year of establishment of the organization "International Energy Agency"?',
  'query_string': "SELECT province, established FROM mondial_organization WHERE name = 'International Energy Agency'",
  'type': 'simple',
  'total_tokens': 3214,
  'prompt_tokens': 3094,
  'completion_tokens': 120,
  'total_cost': 0.004881},
 {'id': '14',
  'question': 'Find the name of all mountains whose elevation is higher than 1000.',
  'query_string': 'SELECT name FROM mondial_mountain WHERE elevation > 1000',
  'type': 'simple',
  'total_tokens': 3181,
  'prompt_tokens': 3057,
  'completion_tokens': 124,
  'total_cost': 0.0048335},
 {'id': '15',
  'question': 'Tell me the economy of the Caribbean Sea.',
  'query_string': "SELECT country, gdp, agriculture, service, industry FROM mondial_economy WHERE country = 'Caribbean Sea'",
  'type': 'complex',
  'total_tokens': 3239,
  'prompt_tokens': 3083,
  'completion_tokens': 156,
  'total_cost': 0.0049365},
 {'id': '16',
  'question': 'Shows me cities with longitude between 0 and 6.',
  'query_string': 'SELECT * FROM mondial_city WHERE longitude BETWEEN 0 AND 6;',
  'type': 'simple',
  'total_tokens': 2222,
  'prompt_tokens': 2140,
  'completion_tokens': 82,
  'total_cost': 0.003374},
 {'id': '17',
  'question': 'Select cities whose population is greater than 100000, altitude greater than 2500, and the country you belong to has population growth greater than 1.',
  'query_string': "SELECT c.name, c.population, c.elevation, cp1.population - cp2.population AS population_growth\nFROM mondial_city c\nJOIN mondial_country co ON c.country = co.code\nJOIN mondial_countrypops cp1 ON co.code = cp1.country\nJOIN mondial_countrypops cp2 ON co.code = cp2.country\nWHERE c.population > 100000\nAND c.elevation > 2500\nAND co.name = 'My Country'\nAND cp1.year = 2020\nAND cp2.year = 2010",
  'type': 'complex',
  'total_tokens': 8375,
  'prompt_tokens': 7795,
  'completion_tokens': 580,
  'total_cost': 0.0128525},
 {'id': '18',
  'question': 'Show all the different types of government.',
  'query_string': 'SELECT DISTINCT meta_repcol FROM mondial_country',
  'type': 'simple',
  'total_tokens': 3133,
  'prompt_tokens': 3029,
  'completion_tokens': 104,
  'total_cost': 0.0047515000000000005},
 {'id': '19',
  'question': 'List all provinces in Germany',
  'query_string': "SELECT name FROM mondial_province WHERE country = 'DEU'",
  'type': 'medium',
  'total_tokens': 3141,
  'prompt_tokens': 3029,
  'completion_tokens': 112,
  'total_cost': 0.004767500000000001},
 {'id': '20',
  'question': 'What is the percentage of mulatto ethnicity in Brazil?',
  'query_string': "SELECT percentage FROM mondial_ethnicgroup WHERE country = 'BRA' AND name = 'mulatto'",
  'type': 'medium',
  'total_tokens': 3207,
  'prompt_tokens': 3055,
  'completion_tokens': 152,
  'total_cost': 0.0048865},
 {'id': '21',
  'question': 'How many cities have populations less than 1000?',
  'query_string': 'SELECT COUNT(*) FROM mondial_city WHERE population < 1000',
  'type': 'simple',
  'total_tokens': 3170,
  'prompt_tokens': 3056,
  'completion_tokens': 114,
  'total_cost': 0.004812},
 {'id': '22',
  'question': 'What is the average elevation of airports in America?',
  'query_string': "SELECT AVG(elevation) FROM mondial_airport WHERE country = 'USA'",
  'type': 'complex',
  'total_tokens': 3279,
  'prompt_tokens': 3142,
  'completion_tokens': 137,
  'total_cost': 0.004987},
 {'id': '23',
  'question': 'How many countries are adjacent to (or ecompassed by) the the Caribbean Sea?',
  'query_string': "SELECT DISTINCT country1 FROM mondial_borders WHERE country2 = 'CAR'",
  'type': 'medium',
  'total_tokens': 3202,
  'prompt_tokens': 3069,
  'completion_tokens': 133,
  'total_cost': 0.0048695000000000006},
 {'id': '24',
  'question': 'How much area do the countries that are adjacent to (or encompassed by) the Caribbean Sea cover in total?',
  'query_string': "SELECT SUM(area) FROM mondial_country WHERE code IN (SELECT country1 FROM mondial_borders WHERE country2 IN (SELECT code FROM mondial_country WHERE name LIKE '%Caribbean Sea%'))",
  'type': 'complex',
  'total_tokens': 3350,
  'prompt_tokens': 3168,
  'completion_tokens': 182,
  'total_cost': 0.005116000000000001},
 {'id': '25',
  'question': 'For all countries, give the sum of the population of all its neighbors',
  'query_string': 'SELECT c.name, SUM(c2.population) AS total_population\nFROM mondial_country c\nJOIN mondial_borders b ON c.code = b.country1\nJOIN mondial_country c2 ON b.country2 = c2.code\nGROUP BY c.name',
  'type': 'complex',
  'total_tokens': 4484,
  'prompt_tokens': 4218,
  'completion_tokens': 266,
  'total_cost': 0.0068590000000000005},
 {'id': '26',
  'question': 'What mountains are on the island of Borneo?',
  'query_string': "SELECT mountain FROM mondial_geo_mountain WHERE province = 'Borneo'",
  'type': 'simple',
  'total_tokens': 3155,
  'prompt_tokens': 3032,
  'completion_tokens': 123,
  'total_cost': 0.004794},
 {'id': '27',
  'question': 'Provide the name and total population of the country with the smallest area.',
  'query_string': 'SELECT name, population FROM mondial_country ORDER BY area ASC FETCH FIRST 1 ROW ONLY',
  'type': 'simple',
  'total_tokens': 4363,
  'prompt_tokens': 4178,
  'completion_tokens': 185,
  'total_cost': 0.0066370000000000005},
 {'id': '28',
  'question': 'The codes of all countries for which at least one river that originates in this country has its estuary in a neighboring country.',
  'query_string': 'SELECT DISTINCT c.code FROM mondial_country c JOIN mondial_river r ON c.code = r.river WHERE r.estuaryelevation > 0',
  'type': 'complex',
  'total_tokens': 3518,
  'prompt_tokens': 3339,
  'completion_tokens': 179,
  'total_cost': 0.0053665},
 {'id': '29',
  'question': 'The codes of all countries where at least one mountain is located in each of their provinces',
  'query_string': 'SELECT DISTINCT c.code\nFROM mondial_country c\nJOIN mondial_province p ON c.code = p.country\nJOIN mondial_mountain m ON p.name = m.mountains\nGROUP BY c.code\nHAVING COUNT(DISTINCT p.name) = (SELECT COUNT(DISTINCT name) FROM mondial_province)',
  'type': 'complex',
  'total_tokens': 6608,
  'prompt_tokens': 6152,
  'completion_tokens': 456,
  'total_cost': 0.01014},
 {'id': '30',
  'question': 'The code and total border lengths of all countries with at least one border.',
  'query_string': 'SELECT name, code FROM mondial_country',
  'type': 'complex',
  'total_tokens': 3177,
  'prompt_tokens': 3065,
  'completion_tokens': 112,
  'total_cost': 0.0048215},
 {'id': '31',
  'question': 'The names and codes of all countries in which at least one river originates.',
  'query_string': 'SELECT DISTINCT name, river FROM mondial_river',
  'type': 'medium',
  'total_tokens': 3260,
  'prompt_tokens': 3120,
  'completion_tokens': 140,
  'total_cost': 0.00496},
 {'id': '32',
  'question': 'What is the area and country of the Chatanga River?',
  'query_string': 'Agent stopped due to iteration limit or time limit.',
  'type': 'complex',
  'total_tokens': 22717,
  'prompt_tokens': 22000,
  'completion_tokens': 717,
  'total_cost': 0.034434},
 {'id': '33',
  'question': 'Shows me Airports with elevation more than 3000',
  'query_string': 'SELECT name, elevation FROM mondial_airport WHERE elevation > 3000 ORDER BY elevation DESC',
  'type': 'simple',
  'total_tokens': 3276,
  'prompt_tokens': 3140,
  'completion_tokens': 136,
  'total_cost': 0.004982},
 {'id': '34',
  'question': 'What are the religions practiced in Mexico?',
  'query_string': "SELECT name FROM mondial_religion WHERE country = 'MEX'",
  'type': 'medium',
  'total_tokens': 2198,
  'prompt_tokens': 2107,
  'completion_tokens': 91,
  'total_cost': 0.0033425},
 {'id': '35',
  'question': 'Show all rivers that do not flow into the sea.',
  'query_string': 'SELECT name FROM mondial_river WHERE sea IS NULL',
  'type': 'simple',
  'total_tokens': 3220,
  'prompt_tokens': 3100,
  'completion_tokens': 120,
  'total_cost': 0.00489},
 {'id': '36',
  'question': 'List African countries by number of neighbors.',
  'query_string': 'Agent stopped due to iteration limit or time limit.',
  'type': 'complex',
  'total_tokens': 22415,
  'prompt_tokens': 21652,
  'completion_tokens': 763,
  'total_cost': 0.034004},
 {'id': '37',
  'question': 'What is the average infant mortality rate for each continent?',
  'query_string': 'Agent stopped due to iteration limit or time limit.',
  'type': 'complex',
  'total_tokens': 23642,
  'prompt_tokens': 22712,
  'completion_tokens': 930,
  'total_cost': 0.035928},
 {'id': '38',
  'question': 'What is the average mortality rate of the countries in America without considering Brazil?',
  'query_string': "SELECT AVG(meta_repcol) FROM mondial_country WHERE name != 'Brazil' AND name IN (SELECT name FROM mondial_continent WHERE name = 'America')",
  'type': 'complex',
  'total_tokens': 7161,
  'prompt_tokens': 6811,
  'completion_tokens': 350,
  'total_cost': 0.0109165},
 {'id': '39',
  'question': 'List seas with area greater than 8000 and depth less than 100.',
  'query_string': 'SELECT name FROM mondial_sea WHERE area > 8000 AND depth < 100 ORDER BY name',
  'type': 'simple',
  'total_tokens': 3163,
  'prompt_tokens': 3034,
  'completion_tokens': 129,
  'total_cost': 0.004809000000000001},
 {'id': '40',
  'question': 'How many mountains are there in Asia?',
  'query_string': "SELECT COUNT(*) FROM mondial_geo_mountain WHERE country = 'AS'",
  'type': 'complex',
  'total_tokens': 3119,
  'prompt_tokens': 3006,
  'completion_tokens': 113,
  'total_cost': 0.0047350000000000005},
 {'id': '41',
  'question': 'What are the countries that are close to the Mediterranean Sea?',
  'query_string': "SELECT name FROM mondial_country WHERE code IN (SELECT country FROM mondial_geo_sea WHERE sea = 'Mediterranean Sea')",
  'type': 'complex',
  'total_tokens': 3424,
  'prompt_tokens': 3233,
  'completion_tokens': 191,
  'total_cost': 0.0052315},
 {'id': '42',
  'question': 'Show the total for each type of government.',
  'query_string': 'SELECT meta_repcol, SUM(population) AS total_population FROM mondial_country GROUP BY meta_repcol',
  'type': 'medium',
  'total_tokens': 3208,
  'prompt_tokens': 3068,
  'completion_tokens': 140,
  'total_cost': 0.004882},
 {'id': '43',
  'question': 'Which province has the largest desert in the world?',
  'query_string': 'SELECT name, area FROM mondial_desert ORDER BY area DESC',
  'type': 'medium',
  'total_tokens': 4228,
  'prompt_tokens': 4059,
  'completion_tokens': 169,
  'total_cost': 0.0064265},
 {'id': '44',
  'question': 'What is the largest desert in the world?',
  'query_string': 'SELECT name FROM mondial_desert ORDER BY area DESC LIMIT 1',
  'type': 'simple',
  'total_tokens': 2184,
  'prompt_tokens': 2099,
  'completion_tokens': 85,
  'total_cost': 0.0033185000000000003},
 {'id': '45',
  'question': 'List, for all continents, the amount of deserts on each.',
  'query_string': 'SELECT mondial_continent.name, COUNT(mondial_desert.name) AS desert_count FROM mondial_desert JOIN mondial_continent ON mondial_desert.name = mondial_continent.name GROUP BY mondial_continent.name',
  'type': 'complex',
  'total_tokens': 5952,
  'prompt_tokens': 5591,
  'completion_tokens': 361,
  'total_cost': 0.0091085},
 {'id': '46',
  'question': 'What are the neighboring seas of the Banda Sea?',
  'query_string': "SELECT country2 FROM mondial_borders WHERE country1 = 'BAND'",
  'type': 'simple',
  'total_tokens': 4260,
  'prompt_tokens': 4074,
  'completion_tokens': 186,
  'total_cost': 0.006483},
 {'id': '47',
  'question': 'List all the capitals of European countries.',
  'query_string': 'SELECT country, name FROM mondial_city WHERE country IN (SELECT code FROM mondial_country)',
  'type': 'complex',
  'total_tokens': 10073,
  'prompt_tokens': 9675,
  'completion_tokens': 398,
  'total_cost': 0.015308500000000001},
 {'id': '48',
  'question': 'What percentage of people speak French in Andorra?',
  'query_string': "SELECT percentage FROM mondial_language WHERE country = 'AND' AND name = 'French'",
  'type': 'medium',
  'total_tokens': 3162,
  'prompt_tokens': 3027,
  'completion_tokens': 135,
  'total_cost': 0.0048105000000000005},
 {'id': '49',
  'question': 'Which rivers are longer than 1000 kilometers?',
  'query_string': 'SELECT name FROM mondial_river WHERE length > 1000',
  'type': 'simple',
  'total_tokens': 3227,
  'prompt_tokens': 3104,
  'completion_tokens': 123,
  'total_cost': 0.004902},
 {'id': '50',
  'question': 'Which country had the lowest population growth?',
  'query_string': 'SELECT name, population FROM mondial_country ORDER BY population ASC',
  'type': 'medium',
  'total_tokens': 4265,
  'prompt_tokens': 4108,
  'completion_tokens': 157,
  'total_cost': 0.006476000000000001}]

#### Fixing queries

In [12]:

to_fix = [40,59,62,72,85,99]
for pos in to_fix:
    instance = queries[pos]
    q = read_queries()
    try:
        with get_openai_callback() as cb:
            start_time = time.time()
            response = agent_executor({"input":instance["question"]})  
            end_time = time.time()
            sql_query = response['output']
            if "Agent stopped" in sql_query:
                print("Agent stopped" + str(pos))
            else:
                instance["query_string"] = sql_query
                instance['total_tokens'] = cb.total_tokens
                instance['prompt_tokens'] = cb.prompt_tokens
                instance['completion_tokens'] = cb.completion_tokens
                instance['total_cost'] = cb.total_cost  
                instance['time'] = end_time - start_time
                print(instance['id'], instance['question'], instance["query_string"], instance['time'], instance['total_cost'])
                q[pos] = instance
                save_queries(q)
    except:
        print("Agent error" + str(pos))

> Entering new AgentExecutor chain...
Action: sql_db_list_tables
Action Input: ""
Observation: airport, borders, city, citylocalname, cityothername, citypops, continent, country, countrylocalname, countryothername, countrypops, desert, economy, encompasses, ethnicgroup, geo_desert, geo_estuary, geo_island, geo_lake, geo_mountain, geo_river, geo_sea, geo_source, island, islandin, ismember, lake, lakeonisland, language, located, locatedon, mergeswith, mountain, mountainonisland, organization, politics, population, province, provincelocalname, provinceothername, provpops, religion, river, riveronisland, riverthrough, sea
Thought:I should query the schema of the "country" table to see what columns are available.
Action: sql_db_schema
Action Input: "country"
Observation:
CREATE TABLE country (
	name VARCHAR(50 CHAR) NOT NULL,
	code VARCHAR(4 CHAR) NOT NULL,
	capital VARCHAR(50 CHAR),
	province VARCHAR(50 CHAR),
	area NUMBER,
	population NUMBER,
	CONSTRAINT countrykey PRIMARY KEY (code),
	CONSTRAINT countryarea CHECK (Area >= 0),
	CONSTRAINT countrypop CHECK (Population >= 0)
)

/*
2 rows from country table:
name	code	capital	province	area	population
Albania	AL	Tirana	Albania	28750.0	2821977.0
Greece	GR	Athina	Attikis	131940.0	10816286.0
*/
Thought:I can use the "country" table to find the countries close to the Mediterranean Sea. I will query the "country" table for the relevant columns.
Action: custom_sql_db_query
Action Input: "SELECT name FROM country"
Observation: SELECT name FROM country
Thought:I have the SQL query to retrieve the names of the countries from the "country" table. Now I need to find a way to filter the countries that are close to the Mediterranean Sea.
Action: sql_db_schema
Action Input: "borders"
Observation:
CREATE TABLE borders (
	country1 VARCHAR(4 CHAR) NOT NULL,
	country2 VARCHAR(4 CHAR) NOT NULL,
	length NUMBER,
	CONSTRAINT borderkey PRIMARY KEY (country1, country2),
	CONSTRAINT borders_country1_fk FOREIGN KEY(country1) REFERENCES country (code),
	CONSTRAINT borders_country2_fk FOREIGN KEY(country2) REFERENCES country (code),
	CONSTRAINT sys_c00162792 CHECK (Length > 0)
)

/*
2 rows from borders table:
country1	country2	length
AL	GR	282.0
AL	MK	151.0
*/
Thought:I can use the "borders" table to find the countries that are close to the Mediterranean Sea. I will join the "country" table with the "borders" table to filter the countries that have a border with a country that has a coastline on the Mediterranean Sea.
Action: custom_sql_db_query
Action Input: "SELECT c.name FROM country c JOIN borders b ON c.code = b.country1 WHERE b.country2 IN (SELECT code FROM country WHERE province = 'Mediterranean Sea')"
Observation: SELECT c.name FROM country c JOIN borders b ON c.code = b.country1 WHERE b.country2 IN (SELECT code FROM country WHERE province = 'Mediterranean Sea')
Thought:I have the SQL query to retrieve the names of the countries that are close to the Mediterranean Sea. Now I need to order the results by a relevant column to return the most interesting examples.
Action: sql_db_schema
Action Input: "country"
Observation:
CREATE TABLE country (
	name VARCHAR(50 CHAR) NOT NULL,
	code VARCHAR(4 CHAR) NOT NULL,
	capital VARCHAR(50 CHAR),
	province VARCHAR(50 CHAR),
	area NUMBER,
	population NUMBER,
	CONSTRAINT countrykey PRIMARY KEY (code),
	CONSTRAINT countryarea CHECK (Area >= 0),
	CONSTRAINT countrypop CHECK (Population >= 0)
)

/*
2 rows from country table:
name	code	capital	province	area	population
Albania	AL	Tirana	Albania	28750.0	2821977.0
Greece	GR	Athina	Attikis	131940.0	10816286.0
*/
Thought:I can order the results by the "population" column to return the countries with the largest populations first.
Action: custom_sql_db_query
Action Input: "SELECT c.name FROM country c JOIN borders b ON c.code = b.country1 WHERE b.country2 IN (SELECT code FROM country WHERE province = 'Mediterranean Sea') ORDER BY c.population DESC"
Observation: SELECT c.name FROM country c JOIN borders b ON c.code = b.country1 WHERE b.country2 IN (SELECT code FROM country WHERE province = 'Mediterranean Sea') ORDER BY c.population DESC
Thought:I now know the SQL QUERY generated.

Final Answer: SELECT c.name FROM country c JOIN borders b ON c.code = b.country1 WHERE b.country2 IN (SELECT code FROM country WHERE province = 'Mediterranean Sea') ORDER BY c.population DESC

> Finished chain.
41 How many countries that are close to the Mediterranean Sea? SELECT c.name FROM country c JOIN borders b ON c.code = b.country1 WHERE b.country2 IN (SELECT code FROM country WHERE province = 'Mediterranean Sea') ORDER BY c.population DESC 13.640709400177002 0.013429000000000003


> Entering new AgentExecutor chain...
Action: sql_db_list_tables
Action Input: ""
Observation: airport, borders, city, citylocalname, cityothername, citypops, continent, country, countrylocalname, countryothername, countrypops, desert, economy, encompasses, ethnicgroup, geo_desert, geo_estuary, geo_island, geo_lake, geo_mountain, geo_river, geo_sea, geo_source, island, islandin, ismember, lake, lakeonisland, language, located, locatedon, mergeswith, mountain, mountainonisland, organization, politics, population, province, provincelocalname, provinceothername, provpops, religion, river, riveronisland, riverthrough, sea
Thought:I should query the schema of the relevant tables to see which tables contain information about capital cities and organizations.
Action: sql_db_schema
Action Input: "city, organization"
Observation:
CREATE TABLE city (
	name VARCHAR(50 CHAR) NOT NULL,
	country VARCHAR(4 CHAR) NOT NULL,
	province VARCHAR(50 CHAR) NOT NULL,
	population NUMBER,
	latitude NUMBER,
	longitude NUMBER,
	elevation NUMBER,
	CONSTRAINT citykey PRIMARY KEY (name, country, province),
	CONSTRAINT city_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT city_province_country_fk FOREIGN KEY(province, country) REFERENCES province (name, country),
	CONSTRAINT citylat CHECK ((Latitude >= -90) AND (Latitude <= 90)),
	CONSTRAINT citylon CHECK ((Longitude >= -180) AND (Longitude <= 180)),
	CONSTRAINT citypop CHECK (Population >= 0)
)

/*
2 rows from city table:
name	country	province	population	latitude	longitude	elevation
Chimki	R	Moskovskaya	207425.0	55.9	37.45	180.0
Odincovo	R	Moskovskaya	138930.0	55.67	37.27	190.0
*/


CREATE TABLE organization (
	abbreviation VARCHAR(12 CHAR) NOT NULL,
	name VARCHAR(100 CHAR) NOT NULL,
	city VARCHAR(50 CHAR),
	country VARCHAR(4 CHAR),
	province VARCHAR(50 CHAR),
	established DATE,
	CONSTRAINT orgkey PRIMARY KEY (abbreviation),
	CONSTRAINT organization_city_province_fk FOREIGN KEY(city, country, province) REFERENCES city (name, country, province),
	CONSTRAINT organization_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT organization_province_country_fk FOREIGN KEY(province, country) REFERENCES province (name, country)
)

/*
2 rows from organization table:
abbreviation	name	city	country	province	established
AfDB	African Development Bank Group	Abidjan	CI	Abidjan	1964-09-09 00:00:00
AU	African Union	Addis Ababa	ETH	Addis Ababa	1963-05-25 00:00:00
*/
Thought:I can see that the relevant tables are "city" and "organization". I need to join these tables on the city name, country, and province columns to get the names of capital cities that are the base for organizations. I should also order the results alphabetically by city name.
Action: custom_sql_db_query
Action Input:
SELECT city.name
FROM city
JOIN organization ON city.name = organization.city AND city.country = organization.country AND city.province = organization.province
ORDER BY city.name ASC
Observation: SELECT city.name
FROM city
JOIN organization ON city.name = organization.city AND city.country = organization.country AND city.province = organization.province
ORDER BY city.name ASC
Thought:I now know the SQL QUERY generated.

Final Answer:
SELECT city.name
FROM city
JOIN organization ON city.name = organization.city AND city.country = organization.country AND city.province = organization.province
ORDER BY city.name ASC

> Finished chain.
60  List the names of capital cities which are the base for organizations in alphabetical order SELECT city.name
FROM city
JOIN organization ON city.name = organization.city AND city.country = organization.country AND city.province = organization.province
ORDER BY city.name ASC 6.063061714172363 0.0059395


> Entering new AgentExecutor chain...
Action: sql_db_list_tables
Action Input: ""
Observation: airport, borders, city, citylocalname, cityothername, citypops, continent, country, countrylocalname, countryothername, countrypops, desert, economy, encompasses, ethnicgroup, geo_desert, geo_estuary, geo_island, geo_lake, geo_mountain, geo_river, geo_sea, geo_source, island, islandin, ismember, lake, lakeonisland, language, located, locatedon, mergeswith, mountain, mountainonisland, organization, politics, population, province, provincelocalname, provinceothername, provpops, religion, river, riveronisland, riverthrough, sea
Thought:I should query the schema of the country table to see if it contains the relevant columns for the inflation rate.
Action: sql_db_schema
Action Input: "country"
Observation:
CREATE TABLE country (
	name VARCHAR(50 CHAR) NOT NULL,
	code VARCHAR(4 CHAR) NOT NULL,
	capital VARCHAR(50 CHAR),
	province VARCHAR(50 CHAR),
	area NUMBER,
	population NUMBER,
	CONSTRAINT countrykey PRIMARY KEY (code),
	CONSTRAINT countryarea CHECK (Area >= 0),
	CONSTRAINT countrypop CHECK (Population >= 0)
)

/*
2 rows from country table:
name	code	capital	province	area	population
Albania	AL	Tirana	Albania	28750.0	2821977.0
Greece	GR	Athina	Attikis	131940.0	10816286.0
*/
Thought:The country table does not contain the inflation rate column. I should check if there is another table that contains this information.
Action: sql_db_list_tables
Action Input: ""
Observation: airport, borders, city, citylocalname, cityothername, citypops, continent, country, countrylocalname, countryothername, countrypops, desert, economy, encompasses, ethnicgroup, geo_desert, geo_estuary, geo_island, geo_lake, geo_mountain, geo_river, geo_sea, geo_source, island, islandin, ismember, lake, lakeonisland, language, located, locatedon, mergeswith, mountain, mountainonisland, organization, politics, population, province, provincelocalname, provinceothername, provpops, religion, river, riveronisland, riverthrough, sea
Thought:I should query the schema of the economy table to see if it contains the inflation rate column.
Action: sql_db_schema
Action Input: "economy"
Observation:
CREATE TABLE economy (
	country VARCHAR(4 CHAR) NOT NULL,
	gdp NUMBER,
	agriculture NUMBER,
	service NUMBER,
	industry NUMBER,
	inflation NUMBER,
	unemployment NUMBER,
	CONSTRAINT economykey PRIMARY KEY (country),
	CONSTRAINT economy_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT economygdp CHECK (GDP >= 0)
)

/*
2 rows from economy table:
country	gdp	agriculture	service	industry	inflation	unemployment
AL	12800.0	19.5	68.5	12.0	1.7	16.9
GR	243300.0	3.5	80.5	16.0	-0.8	27.9
*/
Thought:The economy table contains the inflation rate column. I can use this table to get the inflation rate of countries.
Action: custom_sql_db_query
Action Input: "SELECT country, inflation FROM economy"
Observation: SELECT country, inflation FROM economy
Thought:I now know the SQL QUERY generated.
Final Answer: SELECT country, inflation FROM economy

> Finished chain.
63 Show the inflation rate of countries that are washed by the Arabian Sea SELECT country, inflation FROM economy 6.532244682312012 0.008879000000000001


> Entering new AgentExecutor chain...
Action: sql_db_list_tables
Action Input: ""
Observation: airport, borders, city, citylocalname, cityothername, citypops, continent, country, countrylocalname, countryothername, countrypops, desert, economy, encompasses, ethnicgroup, geo_desert, geo_estuary, geo_island, geo_lake, geo_mountain, geo_river, geo_sea, geo_source, island, islandin, ismember, lake, lakeonisland, language, located, locatedon, mergeswith, mountain, mountainonisland, organization, politics, population, province, provincelocalname, provinceothername, provpops, religion, river, riveronisland, riverthrough, sea
Thought:I should query the schema of the continent table to see what columns are available.
Action: sql_db_schema
Action Input: "continent"
Observation:
CREATE TABLE continent (
	name VARCHAR(20 CHAR) NOT NULL,
	area NUMBER(10, 0),
	CONSTRAINT continentkey PRIMARY KEY (name)
)

/*
2 rows from continent table:
name	area
Europe	9938000
Asia	44579000
*/
Thought:I can use the "area" column from the continent table to determine the largest continent.
Action: custom_sql_db_query
Action Input: "SELECT name FROM continent ORDER BY area DESC LIMIT 1"
Observation: Error: (oracledb.exceptions.DatabaseError) ORA-00933: SQL command not properly ended
[SQL: SELECT name FROM continent ORDER BY area DESC LIMIT 1]
(Background on this error at: https://sqlalche.me/e/20/4xp6)
Thought:The query syntax is incorrect. I should remove the "LIMIT 1" clause and try again.
Action: custom_sql_db_query
Action Input: "SELECT name FROM continent ORDER BY area DESC"
Observation: SELECT name FROM continent ORDER BY area DESC
Thought:I now know the SQL QUERY generated.
Final Answer: SELECT name FROM continent ORDER BY area DESC

> Finished chain.
73 What area is the largest continent? SELECT name FROM continent ORDER BY area DESC 5.42700982093811 0.005897000000000001


> Entering new AgentExecutor chain...
Action: sql_db_list_tables
Action Input: ""
Observation: airport, borders, city, citylocalname, cityothername, citypops, continent, country, countrylocalname, countryothername, countrypops, desert, economy, encompasses, ethnicgroup, geo_desert, geo_estuary, geo_island, geo_lake, geo_mountain, geo_river, geo_sea, geo_source, island, islandin, ismember, lake, lakeonisland, language, located, locatedon, mergeswith, mountain, mountainonisland, organization, politics, population, province, provincelocalname, provinceothername, provpops, religion, river, riveronisland, riverthrough, sea
Thought:I should query the schema of the airport table to see what columns are available.
Action: sql_db_schema
Action Input: "airport"
Observation:
CREATE TABLE airport (
	iatacode VARCHAR(3 CHAR) NOT NULL,
	name VARCHAR(100 CHAR),
	country VARCHAR(4 CHAR),
	city VARCHAR(50 CHAR),
	province VARCHAR(50 CHAR),
	island VARCHAR(50 CHAR),
	latitude NUMBER,
	longitude NUMBER,
	elevation NUMBER,
	gmtoffset NUMBER,
	CONSTRAINT sys_c00163097 PRIMARY KEY (iatacode),
	CONSTRAINT airport_city_province_fk FOREIGN KEY(city, country, province) REFERENCES city (name, country, province),
	CONSTRAINT airport_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT airport_island_fk FOREIGN KEY(island) REFERENCES island (name),
	CONSTRAINT airport_province_country_fk FOREIGN KEY(province, country) REFERENCES province (name, country),
	CONSTRAINT airplat CHECK ((Latitude >= -90) AND (Latitude <= 90)),
	CONSTRAINT airplon CHECK ((Longitude >= -180) AND (Longitude <= 180))
)

/*
2 rows from airport table:
iatacode	name	country	city	province	island	latitude	longitude	elevation	gmtoffset
CNF	Tancredo Neves Intl	BR	Belo Horizonte	Minas Gerais	None	-19.63375	-43.968856	828.0	-3.0
SLZ	Marechal Cunha Machado Intl	BR	São Luís	Maranhão	None	-2.585361	-44.234139	54.0	-3.0
*/
Thought:I can use the airport table to find the 3 airports with the largest name by ordering the results by the length of the name column in descending order and limiting the results to 3.
Action: custom_sql_db_query
Action Input: "SELECT name FROM airport ORDER BY LENGTH(name) DESC LIMIT 3"
Observation: Error: (oracledb.exceptions.DatabaseError) ORA-00933: SQL command not properly ended
[SQL: SELECT name FROM airport ORDER BY LENGTH(name) DESC LIMIT 3]
(Background on this error at: https://sqlalche.me/e/20/4xp6)
Thought:The query syntax is incorrect. I should remove the "LIMIT 3" clause and use the correct syntax for limiting the number of rows returned.
Action: custom_sql_db_query
Action Input: "SELECT name FROM airport ORDER BY LENGTH(name) DESC FETCH FIRST 3 ROWS ONLY"
Observation: SELECT name FROM airport ORDER BY LENGTH(name) DESC FETCH FIRST 3 ROWS ONLY
Thought:I now know the SQL QUERY generated.

Final Answer: SELECT name FROM airport ORDER BY LENGTH(name) DESC FETCH FIRST 3 ROWS ONLY

> Finished chain.
86 What are the 3 airports with the largest name? SELECT name FROM airport ORDER BY LENGTH(name) DESC FETCH FIRST 3 ROWS ONLY 5.920343399047852 0.007386


> Entering new AgentExecutor chain...
Action: sql_db_list_tables
Action Input: ""
Observation: airport, borders, city, citylocalname, cityothername, citypops, continent, country, countrylocalname, countryothername, countrypops, desert, economy, encompasses, ethnicgroup, geo_desert, geo_estuary, geo_island, geo_lake, geo_mountain, geo_river, geo_sea, geo_source, island, islandin, ismember, lake, lakeonisland, language, located, locatedon, mergeswith, mountain, mountainonisland, organization, politics, population, province, provincelocalname, provinceothername, provpops, religion, river, riveronisland, riverthrough, sea
Thought:I should query the schema of the "economy" table to see what columns are available.
Action: sql_db_schema
Action Input: "economy"
Observation:
CREATE TABLE economy (
	country VARCHAR(4 CHAR) NOT NULL,
	gdp NUMBER,
	agriculture NUMBER,
	service NUMBER,
	industry NUMBER,
	inflation NUMBER,
	unemployment NUMBER,
	CONSTRAINT economykey PRIMARY KEY (country),
	CONSTRAINT economy_country_fk FOREIGN KEY(country) REFERENCES country (code),
	CONSTRAINT economygdp CHECK (GDP >= 0)
)

/*
2 rows from economy table:
country	gdp	agriculture	service	industry	inflation	unemployment
AL	12800.0	19.5	68.5	12.0	1.7	16.9
GR	243300.0	3.5	80.5	16.0	-0.8	27.9
*/
Thought:I can use the "industry" column from the "economy" table to calculate the percentage of industries in relation to Japan's economy.
Action: custom_sql_db_query
Action Input: "SELECT industry FROM economy WHERE country = 'JP'"
Observation: SELECT industry FROM economy WHERE country = 'JP'
Thought:I now know the SQL QUERY generated.
Final Answer: SELECT industry FROM economy WHERE country = 'JP'

> Finished chain.
100 What is the percentage of industries in relation to Japan's economy? SELECT industry FROM economy WHERE country = 'JP' 3.636382818222046 0.004777