# Experimento: C3 - Mondial - Foreign Key - GPT 4

In [ ]:

from langchain.chat_models import ChatOpenAI
from urllib.parse import quote  

from dotenv import load_dotenv
import time
import os
import sys
import json
load_dotenv()

from c3_clear_prompting import generate_clear_prompting
from c3_calibration_with_hints import generate_calibration_with_hints
from c3_generate_sql import generate_sql

experiment_path = '..\..'
path = os.path.abspath('')
module_path = os.path.join(path, experiment_path)
print(module_path)
if module_path not in sys.path:
    sys.path.append(module_path+"\\functions")


from dataset_utils import DatasetEvaluator
from sqldatabase_langchain_utils import SQLDatabaseLangchainUtils

In [12]:
SCHEMA = 'mondial_gpt'
PREFIX = 'mondial'
FILE_NAME_RESULT = f"results/6_c3_queries_chatgpt4_{SCHEMA}_fk.json"

In [13]:
def save_queries(queries):
    data = {"queries":queries}
    with open(FILE_NAME_RESULT, "w") as arquivo_json:
        json.dump(data, arquivo_json, indent=4) 
        
def read_queries():
    with open(FILE_NAME_RESULT, encoding='utf-8', errors='ignore') as json_data:
        data = json.load(json_data, strict=False)
    queries = data["queries"]
    return queries

## Conexão com o banco

In [ ]:
json_file_path = f"{experiment_path}/datasets/{SCHEMA}_db_connection.json"
with open(json_file_path, encoding='utf-8', errors='ignore') as json_data:
    db_connection = json.load(json_data, strict=False)
db_connection

In [15]:
db = SQLDatabaseLangchainUtils(db_connection=db_connection)

exclusao = [
    f"{SCHEMA}_tmdp",
    f"{SCHEMA}_tmdpmap",
    f"{SCHEMA}_tmds",
    f"{SCHEMA}_tmjmap",
    f"{SCHEMA}_tpv",
    f"{SCHEMA}_tmdc",
    f"{SCHEMA}_tmdcmap",
    f"{SCHEMA}_tmdej",
    f"{SCHEMA}_log_action",
    f"{SCHEMA}_log_error",
    f"{SCHEMA}_favorite_item", 
    f"{SCHEMA}_favorite_query",
    f"{SCHEMA}_favorite_tag",
    f"{SCHEMA}_favorite_tag_item",
    f"{SCHEMA}_favorite_visualization",
    f"{SCHEMA}_dashboard",
    f"{SCHEMA}_history",
    "teste_cliente",
    "teste_fornecedor",
    "teste_funcionario"
]

include_tables = [s for s in db.get_table_names() if not s.startswith(PREFIX) and s not in exclusao]
db = SQLDatabaseLangchainUtils(db_connection=db_connection, include_tables=include_tables)
db.get_table_names()

['airport',
 'borders',
 'city',
 'citylocalname',
 'cityothername',
 'citypops',
 'continent',
 'country',
 'countrylocalname',
 'countryothername',
 'countrypops',
 'desert',
 'economy',
 'encompasses',
 'ethnicgroup',
 'geo_desert',
 'geo_estuary',
 'geo_island',
 'geo_lake',
 'geo_mountain',
 'geo_river',
 'geo_sea',
 'geo_source',
 'island',
 'islandin',
 'ismember',
 'lake',
 'lakeonisland',
 'language',
 'located',
 'locatedon',
 'mergeswith',
 'mountain',
 'mountainonisland',
 'organization',
 'politics',
 'population',
 'province',
 'provincelocalname',
 'provinceothername',
 'provpops',
 'religion',
 'river',
 'riveronisland',
 'riverthrough',
 'sea']

## C3 - Function

In [16]:
def run_c3(question, db, model='gpt-4', add_fk = True, callback=None):
    llm = ChatOpenAI(model_name = model, temperature=0.7, n=10)
    clear_prompting = generate_clear_prompting(question, db, llm, add_fk=add_fk, callback=callback)
    messages = generate_calibration_with_hints(clear_prompting)
    llm = ChatOpenAI(model_name = model, n=20)
    sql = generate_sql(messages, llm, db, question, callback=callback)
    return sql

## Preparando as consultas

In [17]:

json_file_path = f"../../datasets/{PREFIX}/queries_{PREFIX}.json"
with open(json_file_path, encoding='utf-8', errors='ignore') as json_data:
    queries = json.load(json_data, strict=False)
queries = queries['queries']
queries

[{'id': '1',
  'question': 'What is the area of Thailand?',
  'query_string': '',
  'type': 'simple'},
 {'id': '2',
  'question': 'What are the provinces with an area greater than 10000?',
  'query_string': '',
  'type': 'simple'},
 {'id': '3',
  'question': 'What are the languages spoken in Poland?',
  'query_string': '',
  'type': 'medium'},
 {'id': '4',
  'question': 'How deep is Lake Kariba?',
  'query_string': '',
  'type': 'simple'},
 {'id': '5',
  'question': 'What is the total of provinces of Netherlands?',
  'query_string': '',
  'type': 'complex'},
 {'id': '6',
  'question': 'What is the percentage of religious people are hindu in thailand?',
  'query_string': '',
  'type': 'complex'},
 {'id': '7',
  'question': 'List the number of provinces each river flows through.',
  'query_string': '',
  'type': 'medium'},
 {'id': '8',
  'question': 'Find all countries that became independent between 8/1/1910 and 8/1/1950.',
  'query_string': '',
  'type': 'complex'},
 {'id': '9',
  'question': 'What are the cities of Cuba?',
  'query_string': '',
  'type': 'medium'},
 {'id': '10',
  'question': 'What is the capital of Georgia?',
  'query_string': '',
  'type': 'medium'},
 {'id': '11',
  'question': 'How many provinces have areas greater than 1000 in Niger?',
  'query_string': '',
  'type': 'complex'},
 {'id': '12',
  'question': 'Tell me about the country with the area largest.',
  'query_string': '',
  'type': 'medium'},
 {'id': '13',
  'question': 'What is the host province and year of establishment of the organization "International Energy Agency"?',
  'query_string': '',
  'type': 'medium'},
 {'id': '14',
  'question': 'Find the name of all mountains whose elevation is higher than 1000.',
  'query_string': '',
  'type': 'medium'},
 {'id': '15',
  'question': 'Tell me the economy of the Caribbean Sea.',
  'query_string': '',
  'type': 'medium'},
 {'id': '16',
  'question': 'Show the cities with longitude between 0 and 6.',
  'query_string': '',
  'type': 'simple'},
 {'id': '17',
  'question': 'Select cities whose population is greater than 100000, altitude greater than 2500, and the country you belong to has population growth greater than 1.',
  'query_string': '',
  'type': 'complex'},
 {'id': '18',
  'question': 'Show all the different types of government.',
  'query_string': '',
  'type': 'simple'},
 {'id': '19',
  'question': 'List all provinces in Germany',
  'query_string': '',
  'type': 'medium'},
 {'id': '20',
  'question': 'What is the percentage of mulatto ethnicity in Brazil?',
  'query_string': '',
  'type': 'complex'},
 {'id': '21',
  'question': 'How many cities have populations less than 1000?',
  'query_string': '',
  'type': 'simple'},
 {'id': '22',
  'question': 'What is the average elevation of airports in America?',
  'query_string': '',
  'type': 'complex'},
 {'id': '23',
  'question': 'How many countries are adjacent to (or ecompassed by) the Caribbean Sea?',
  'query_string': '',
  'type': 'medium'},
 {'id': '24',
  'question': 'How much area do the countries that are adjacent to (or encompassed by) the Caribbean Sea cover in total?',
  'query_string': '',
  'type': 'complex'},
 {'id': '25',
  'question': 'For all countries, give the sum of the population of all its neighbors',
  'query_string': '',
  'type': 'medium'},
 {'id': '26',
  'question': 'What mountains are on the island of Borneo?',
  'query_string': '',
  'type': 'simple'},
 {'id': '27',
  'question': 'Provide the name and total population of the country with the smallest area.',
  'query_string': '',
  'type': 'simple'},
 {'id': '28',
  'question': 'The codes of all countries for which at least one river that originates in this country has its estuary in a neighboring country.',
  'query_string': '',
  'type': 'complex'},
 {'id': '29',
  'question': 'The codes of all countries where at least one mountain is located in each of their provinces',
  'query_string': '',
  'type': 'complex'},
 {'id': '30',
  'question': 'The code and total border lengths of all countries with at least one border.',
  'query_string': '',
  'type': 'complex'},
 {'id': '31',
  'question': 'The names and codes of all countries in which at least one river originates.',
  'query_string': '',
  'type': 'medium'},
 {'id': '32',
  'question': 'What is the area and country of the Chatanga River?',
  'query_string': '',
  'type': 'simple'},
 {'id': '33',
  'question': 'Show the Airports with elevation more than 3000',
  'query_string': '',
  'type': 'simple'},
 {'id': '34',
  'question': 'What are the religions practiced in Mexico?',
  'query_string': '',
  'type': 'medium'},
 {'id': '35',
  'question': 'Show all rivers that do not flow into the sea.',
  'query_string': '',
  'type': 'medium'},
 {'id': '36',
  'question': 'List African countries by number of neighbors.',
  'query_string': '',
  'type': 'complex'},
 {'id': '37',
  'question': 'What is the average infant mortality rate for each continent?',
  'query_string': '',
  'type': 'simple'},
 {'id': '38',
  'question': 'What is the average mortality rate of the countries in America without considering Brazil?',
  'query_string': '',
  'type': 'complex'},
 {'id': '39',
  'question': 'List seas with area greater than 8000 and depth less than 100.',
  'query_string': '',
  'type': 'simple'},
 {'id': '40',
  'question': 'How many mountains are there in Asia?',
  'query_string': '',
  'type': 'complex'},
 {'id': '41',
  'question': 'How many countries that are close to the Mediterranean Sea?',
  'query_string': '',
  'type': 'complex'},
 {'id': '42',
  'question': 'Show the total for each type of government.',
  'query_string': '',
  'type': 'simple'},
 {'id': '43',
  'question': 'Which province has the largest desert in the world?',
  'query_string': '',
  'type': 'simple'},
 {'id': '44',
  'question': 'What is the largest desert in the world?',
  'query_string': '',
  'type': 'simple'},
 {'id': '45',
  'question': 'List, for all continents, the amount of deserts on each.',
  'query_string': '',
  'type': 'complex'},
 {'id': '46',
  'question': 'What are the neighboring seas of the Banda Sea?',
  'query_string': '',
  'type': 'medium'},
 {'id': '47',
  'question': 'List all the capitals of European countries.',
  'query_string': '',
  'type': 'medium'},
 {'id': '48',
  'question': 'What percentage of people speak French in Andorra?',
  'query_string': '',
  'type': 'complex'},
 {'id': '49',
  'question': 'Which rivers are longer than 1000 kilometers?',
  'query_string': '',
  'type': 'complex'},
 {'id': '50',
  'question': 'Which country had the lowest population growth?',
  'query_string': '',
  'type': 'simple'},
 {'id': '51',
  'question': 'List the name of capital cities for which we do not have data about the city in located',
  'query_string': '',
  'type': 'complex'},
 {'id': '52',
  'question': 'What is the capital of the provice Andaluc�a?',
  'query_string': '',
  'type': 'simple'},
 {'id': '53',
  'question': 'What is the abbreviation for the organization whose name is "General Confederation of Trade Unions"?',
  'query_string': '',
  'type': 'simple'},
 {'id': '54',
  'question': 'In which city is the organization with the abbreviation "UPU" ?',
  'query_string': '',
  'type': 'simple'},
 {'id': '55',
  'question': 'List the names of countries which are members of only one organization',
  'query_string': '',
  'type': 'complex'},
 {'id': '56',
  'question': 'List the name of countries which are not a member of NATO.',
  'query_string': '',
  'type': 'complex'},
 {'id': '57',
  'question': 'List the name of countries which are a member of NATO.',
  'query_string': '',
  'type': 'medium'},
 {'id': '58',
  'question': 'List the rivers with length less than 50',
  'query_string': '',
  'type': 'simple'},
 {'id': '59',
  'question': 'What are the area, elevation and type of lakes in country Italy?',
  'query_string': '',
  'type': 'simple'},
 {'id': '60',
  'question': ' List the names of capital cities which are the base for organizations in alphabetical order',
  'query_string': '',
  'type': 'complex'},
 {'id': '61',
  'question': 'List the name of organizations that do not have countries with an area smaller than 4000 and of the member type',
  'query_string': '',
  'type': 'complex'},
 {'id': '62',
  'question': 'List the name of organizations that do not have countries with  an area greater than 10000 and population smaller than 3000 and of the member type',
  'query_string': '',
  'type': 'complex'},
 {'id': '63',
  'question': 'Show the inflation rate of countries that are washed by the Arabian Sea',
  'query_string': '',
  'type': 'complex'},
 {'id': '64',
  'question': 'List all the capitals of the countries that belong to the continent Africa?',
  'query_string': '',
  'type': 'medium'},
 {'id': '65',
  'question': 'Show the inflation rate of the countries bathed by the Arabian Sea and there is no inflation with null value',
  'query_string': '',
  'type': 'complex'},
 {'id': '66',
  'question': 'How many countries are in Africa?',
  'query_string': '',
  'type': 'complex'},
 {'id': '67',
  'question': 'List the name of countries that are not members of NATO and UNESCO',
  'query_string': '',
  'type': 'complex'},
 {'id': '68',
  'question': 'What is the area of the continent Europe?',
  'query_string': '',
  'type': 'simple'},
 {'id': '69',
  'question': 'What is the area of continent America?',
  'query_string': '',
  'type': 'simple'},
 {'id': '70',
  'question': 'What is the area of continent Asia?',
  'query_string': '',
  'type': 'simple'},
 {'id': '71',
  'question': 'What is the area of Africa?',
  'query_string': '',
  'type': 'simple'},
 {'id': '72',
  'question': 'How many countries are in America?',
  'query_string': '',
  'type': 'complex'},
 {'id': '73',
  'question': 'What area is the largest continent?',
  'query_string': '',
  'type': 'medium'},
 {'id': '74',
  'question': 'List the countries that belong to the continent with the largest area',
  'query_string': '',
  'type': 'complex'},
 {'id': '75',
  'question': 'List the countries that belong to the continent with the largest area and whose language is English',
  'query_string': '',
  'type': 'complex'},
 {'id': '76',
  'question': 'List the names of cities, along with the name of their country for cities with a population greater than 5 million.  Display the results in descending order by population.',
  'query_string': '',
  'type': 'medium'},
 {'id': '77',
  'question': 'Show the name of the deserts in the province of Algeria',
  'query_string': '',
  'type': 'simple'},
 {'id': '78',
  'question': 'Show the name and area of the deserts in the province of California',
  'query_string': '',
  'type': 'simple'},
 {'id': '79',
  'question': 'List the country names and percentage of use of language where  French are used as languages.',
  'query_string': '',
  'type': 'simple'},
 {'id': '80',
  'question': 'What are the cities where �Portuguese� is spoken?',
  'query_string': '',
  'type': 'medium'},
 {'id': '81',
  'question': 'What is the total area of the provinces in Canada?',
  'query_string': '',
  'type': 'complex'},
 {'id': '82',
  'question': 'What is the length of the Tigres River?',
  'query_string': '',
  'type': 'simple'},
 {'id': '83',
  'question': 'List the Airports with elevation more than 1000',
  'query_string': '',
  'type': 'medium'},
 {'id': '84',
  'question': 'List airports in the United States with an elevation below 200 feet',
  'query_string': '',
  'type': 'complex'},
 {'id': '85',
  'question': 'What are the mountains with altitudes above 8000 meters?',
  'query_string': '',
  'type': 'medium'},
 {'id': '86',
  'question': 'What are the 3 airports with the largest name?',
  'query_string': '',
  'type': 'simple'},
 {'id': '87',
  'question': 'List lakes with an area of less than 5000 square kilometers.',
  'query_string': '',
  'type': 'medium'},
 {'id': '88',
  'question': 'What is the total area of the seas with a depth greater than 1000 meters?',
  'query_string': '',
  'type': 'medium'},
 {'id': '89',
  'question': 'Find the countries whose name starts with the letter "B" and have a population greater than 10 million',
  'query_string': '',
  'type': 'complex'},
 {'id': '90',
  'question': 'List cities with another name in Brazil',
  'query_string': '',
  'type': 'medium'},
 {'id': '91',
  'question': 'List all cities that are at a latitude greater than 45 degrees.',
  'query_string': '',
  'type': 'medium'},
 {'id': '92',
  'question': 'Show the number of cities with another name in countries with an area greater than 30000',
  'query_string': '',
  'type': 'medium'},
 {'id': '93',
  'question': 'Show the deserts with area greater than 10000',
  'query_string': '',
  'type': 'simple'},
 {'id': '94',
  'question': 'List the islands that belong to a lake with an elevation greater than 100',
  'query_string': '',
  'type': 'simple'},
 {'id': '95',
  'question': 'List all mountains located on islands with an area greater than 100,000 square kilometers',
  'query_string': '',
  'type': 'medium'},
 {'id': '96',
  'question': 'List the countries and the sum of their provincial areas.',
  'query_string': '',
  'type': 'simple'},
 {'id': '97',
  'question': 'Show the name of the countries, the average elevation and sum of the population of their cities',
  'query_string': '',
  'type': 'medium'},
 {'id': '98',
  'question': "What was Germany's inflation?",
  'query_string': '',
  'type': 'medium'},
 {'id': '99',
  'question': 'What type of government is Iran?',
  'query_string': '',
  'type': 'medium'},
 {'id': '100',
  'question': "What is the percentage of industries in relation to Japan's economy?",
  'query_string': '',
  'type': 'medium'}]

## Tracking token usage

In [18]:
track_token = [] 
def tracking_token(cb =None, reset = False):
    global track_token
    track_token.append(cb)
    if reset:
        track_token = []

In [19]:

def convert_to_dict_tracking_token():
    token_usage = {}
    for e in track_token:
        for key in e.keys():
            token_usage[key] = {}
            token_usage[key]['total_tokens'] = e[key].total_tokens
            token_usage[key]['total_cost'] = e[key].total_cost
            token_usage[key]['prompt_tokens'] = e[key].prompt_tokens
            token_usage[key]['completion_tokens'] = e[key].completion_tokens 
    return token_usage

## Executando o método

In [12]:
start_time = time.time()  
tracking_token(reset=True)
errors = []
query_index = -1
for instance in queries:
    query_index +=1
    try:
        start_time = time.time()
        sql = run_c3(instance["question"], db, callback=tracking_token)
        end_time = time.time()
        instance["query_string"] = sql
        instance["token_usage"] = convert_to_dict_tracking_token()
        instance['time'] = end_time - start_time
        save_queries(queries)
        print(instance['id'], instance['question'], instance["query_string"], instance['time'])
        print("-----")
    except:
        print("Error")
        errors.append(query_index)
        pass
    finally:
        tracking_token(reset=True)


end_time = time.time()

c:\Users\rogerrsn\Documents\Tecgraf\Danke-General\gpt-llm-to-keywords\experiments\C3\..\..\functions\sqldatabase_langchain_utils.py:98: SAWarning: Cannot correctly sort tables; there are unresolvable cycles between tables "lake, river", which is usually caused by mutually dependent foreign key constraints.  Foreign key constraints involving these tables will not be considered; this warning may raise an error in a future release.
  return self.db._metadata.sorted_tables

Column recall attempt: 1
1 What is the area of Thailand? SELECT area FROM country WHERE name = 'Thailand'; 78.29437732696533
-----
Column recall attempt: 1
2 What are the provinces with an area greater than 10000? SELECT name FROM province WHERE area > 10000; 59.322205781936646
-----
Column recall attempt: 1
3 What are the languages spoken in Poland? SELECT name FROM language WHERE country = (SELECT code FROM country WHERE name = 'Poland'); 51.87317085266113
-----
Column recall attempt: 1
4 How deep is Lake Kariba? SELECT depth FROM lake WHERE name = 'Lake Kariba'; 48.967124462127686
-----
Column recall attempt: 1
5 What is the total of provinces of Netherlands? SELECT COUNT(name) FROM province WHERE country = (SELECT code FROM country WHERE name = 'Netherlands') 46.253724575042725
-----
Column recall attempt: 1
6 What is the percentage of religious people are hindu in thailand? SELECT percentage FROM religion WHERE name = 'hindu' AND country = 'thailand'; 53.08298087120056
-----
Column recall attempt: 1
7 List the number of provinces each river flows through. SELECT river.name, COUNT(DISTINCT geo_river.province) FROM river JOIN geo_river ON river.name = geo_river.river GROUP BY river.name; 22.908665418624878
-----
Column recall attempt: 1
8 Find all countries that became independent between 8/1/1910 and 8/1/1950. SELECT code FROM politics WHERE independence BETWEEN TO_DATE('1910-08-01', 'YYYY-MM-DD') AND TO_DATE('1950-08-01', 'YYYY-MM-DD'); 88.28309726715088
-----
Column recall attempt: 1
9 What are the cities of Cuba? SELECT name FROM city WHERE country = 'Cuba'; 85.84468579292297
-----
Column recall attempt: 1
10 What is the capital of Georgia? SELECT capital FROM country WHERE name = 'Georgia'; 49.10822129249573
-----
Column recall attempt: 1
11 How many provinces have areas greater than 1000 in Niger? SELECT COUNT(name) FROM province WHERE area > 1000 AND country = (SELECT code FROM country WHERE name = 'Niger') 31.36201763153076
-----
Column recall attempt: 1
12 Tell me about the country with the area largest. SELECT name, area FROM country ORDER BY area DESC FETCH FIRST 1 ROWS ONLY; 57.89198279380798
-----
Column recall attempt: 1
13 What is the host province and year of establishment of the organization "International Energy Agency"? SELECT province, established FROM organization WHERE name = 'International Energy Agency'; 36.966440200805664
-----
Column recall attempt: 1
14 Find the name of all mountains whose elevation is higher than 1000. SELECT name FROM mountain WHERE elevation > 1000; 32.615808725357056
-----
Column recall attempt: 1
15 Tell me the economy of the Caribbean Sea. SELECT economy.gdp, economy.agriculture, economy.service FROM economy JOIN geo_sea ON economy.country = geo_sea.country JOIN sea ON geo_sea.sea = sea.name WHERE sea.name = 'Caribbean Sea'; 53.83040809631348
-----
Column recall attempt: 1
16 Show the cities with longitude between 0 and 6. SELECT name FROM city WHERE longitude BETWEEN 0 AND 6; 88.92651104927063
-----
Column recall attempt: 1
17 Select cities whose population is greater than 100000, altitude greater than 2500, and the country you belong to has population growth greater than 1. SELECT city.name FROM city JOIN country ON city.country = country.code JOIN population ON population.country = country.code WHERE city.population > 100000 AND city.elevation > 2500 AND population.population_growth > 1; 43.41336488723755
-----
Column recall attempt: 1
18 Show all the different types of government. SELECT DISTINCT government FROM politics; 36.76029706001282
-----
Column recall attempt: 1
19 List all provinces in Germany SELECT name FROM province WHERE country = (SELECT code FROM country WHERE name = 'Germany'); 49.708964586257935
-----
Column recall attempt: 1
20 What is the percentage of mulatto ethnicity in Brazil? SELECT percentage FROM ethnicgroup WHERE country = 'BR' AND name = 'Mulatto'; 35.854623317718506
-----
Column recall attempt: 1
21 How many cities have populations less than 1000? SELECT COUNT(*) FROM city WHERE population < 1000; 34.461575508117676
-----
Column recall attempt: 1
22 What is the average elevation of airports in America? SELECT AVG(elevation) FROM airport JOIN encompasses ON airport.country = encompasses.country JOIN continent ON encompasses.continent = continent.name WHERE continent.name = 'America'; 39.452062368392944
-----
Column recall attempt: 1
23 How many countries are adjacent to (or ecompassed by) the Caribbean Sea? SELECT COUNT(DISTINCT country) FROM borders WHERE country1 IN (SELECT country FROM sea WHERE name = 'Caribbean Sea') OR country2 IN (SELECT country FROM sea WHERE name = 'Caribbean Sea'); 33.93182373046875
-----
Column recall attempt: 1
24 How much area do the countries that are adjacent to (or encompassed by) the Caribbean Sea cover in total? SELECT SUM(area) FROM country WHERE code IN (SELECT country1 FROM borders WHERE country2 IN (SELECT code FROM country WHERE name = 'Caribbean Sea') UNION SELECT country2 FROM borders WHERE country1 IN (SELECT code FROM country WHERE name = 'Caribbean Sea')) 30.868998527526855
-----
Column recall attempt: 1
25 For all countries, give the sum of the population of all its neighbors SELECT country.name, SUM(countrypops.population) AS total_population FROM country JOIN borders ON country.code = borders.country1 JOIN countrypops ON borders.country2 = countrypops.country GROUP BY country.name; 73.19268465042114
-----
Column recall attempt: 1
26 What mountains are on the island of Borneo? SELECT mountain FROM mountainonisland WHERE island = 'Borneo'; 40.26307654380798
-----
Column recall attempt: 1
27 Provide the name and total population of the country with the smallest area. SELECT name, population FROM country ORDER BY area ASC FETCH FIRST 1 ROWS ONLY; 43.2772376537323
-----
Column recall attempt: 1
28 The codes of all countries for which at least one river that originates in this country has its estuary in a neighboring country. SELECT DISTINCT country.code FROM country JOIN geo_source ON country.code = geo_source.country JOIN river ON geo_source.river = river.name JOIN borders ON country.code = borders.country1 WHERE river.estuary = borders.country2; 77.89387726783752
-----
Column recall attempt: 1
29 The codes of all countries where at least one mountain is located in each of their provinces SELECT code FROM country WHERE NOT EXISTS ( SELECT 1 FROM province WHERE province.country = country.code MINUS SELECT geo_mountain.country FROM geo_mountain WHERE geo_mountain.country = country.code ); 47.95012044906616
-----
Column recall attempt: 1
30 The code and total border lengths of all countries with at least one border. SELECT code, SUM(length) AS total_border_length FROM ( SELECT country1 AS code, length FROM borders UNION ALL SELECT country2 AS code, length FROM borders ) GROUP BY code HAVING COUNT(*) >= 1; 64.70061111450195
-----
Column recall attempt: 1
31 The names and codes of all countries in which at least one river originates. SELECT DISTINCT country.name, country.code FROM country JOIN geo_source ON country.code = geo_source.country; 40.83999586105347
-----
Column recall attempt: 1
32 What is the area and country of the Chatanga River? SELECT area, country FROM geo_river JOIN river ON geo_river.river = river.name WHERE river.name = 'Chatanga River'; 48.551069498062134
-----
Column recall attempt: 1
33 Show the Airports with elevation more than 3000 SELECT name FROM airport WHERE elevation > 3000; 33.772103786468506
-----
Column recall attempt: 1
34 What are the religions practiced in Mexico? SELECT name FROM religion WHERE country = (SELECT code FROM country WHERE name = 'Mexico') 43.20181965827942
-----
Column recall attempt: 1
35 Show all rivers that do not flow into the sea. SELECT river.name FROM river WHERE sea IS NULL; 45.59018564224243
-----
Column recall attempt: 1
36 List African countries by number of neighbors. SELECT country.name FROM country JOIN borders ON country.code = borders.country1 JOIN encompasses ON country.code = encompasses.country WHERE encompasses.continent = 'Africa' GROUP BY country.name ORDER BY COUNT(borders.country2) DESC; 60.87255525588989
-----
Column recall attempt: 1
37 What is the average infant mortality rate for each continent? SELECT continent.name, AVG(population.infant_mortality) FROM continent JOIN encompasses ON continent.name = encompasses.continent JOIN population ON encompasses.country = population.country GROUP BY continent.name; 60.150298833847046
-----
Column recall attempt: 1
38 What is the average mortality rate of the countries in America without considering Brazil? SELECT AVG(population.infant_mortality) FROM population JOIN country ON population.country = country.code JOIN encompasses ON country.code = encompasses.country WHERE encompasses.continent = 'America' AND country.name != 'Brazil'; 41.18267607688904
-----
Column recall attempt: 1
39 List seas with area greater than 8000 and depth less than 100. SELECT name FROM sea WHERE area > 8000 AND depth < 100; 42.91842699050903
-----
Column recall attempt: 1
40 How many mountains are there in Asia? SELECT COUNT(DISTINCT mountain) FROM geo_mountain JOIN encompasses ON geo_mountain.country = encompasses.country JOIN continent ON encompasses.continent = continent.name WHERE continent.name = 'Asia'; 114.18051648139954
-----
Column recall attempt: 1
41 What are the countries that are close to the Mediterranean Sea? SELECT DISTINCT country FROM geo_sea WHERE sea = 'Mediterranean Sea'; 57.516005754470825
-----
Column recall attempt: 1
42 Show the total for each type of government. SELECT government, COUNT(*) FROM politics GROUP BY government; 65.69657874107361
-----
Column recall attempt: 1
43 Which province has the largest desert in the world? SELECT province.name FROM province JOIN geo_desert ON province.name = geo_desert.province JOIN desert ON geo_desert.desert = desert.name ORDER BY desert.area DESC FETCH FIRST 1 ROWS ONLY; 30.003881216049194
-----
Column recall attempt: 1
44 What is the largest desert in the world? SELECT name FROM desert ORDER BY area DESC FETCH FIRST 1 ROWS ONLY; 40.03365182876587
-----
Column recall attempt: 1
45 List, for all continents, the amount of deserts on each. SELECT continent.name, COUNT(distinct desert.name) FROM continent JOIN province ON continent.name = province.country JOIN geo_desert ON province.name = geo_desert.province JOIN desert ON geo_desert.desert = desert.name GROUP BY continent.name; 37.20639944076538
-----
Column recall attempt: 1
46 What are the neighboring seas of the Banda Sea? SELECT sea2 FROM mergeswith WHERE sea1 = 'Banda Sea' UNION SELECT sea1 FROM mergeswith WHERE sea2 = 'Banda Sea'; 39.97524547576904
-----
list error column recall
Column recall attempt: 1
Column recall attempt: 2
47 List all the capitals of European countries. SELECT capital FROM country WHERE code IN ( SELECT country FROM encompasses WHERE continent = 'Europe' ); 109.97083759307861
-----
Column recall attempt: 1
48 What percentage of people speak French in Andorra? SELECT percentage FROM language WHERE country = (SELECT code FROM country WHERE name = 'Andorra') AND name = 'French'; 25.743757963180542
-----
Column recall attempt: 1
49 Which rivers are longer than 1000 kilometers? SELECT name FROM river WHERE length > 1000; 34.53959798812866
-----
Column recall attempt: 1
50 Which country had the lowest population growth? SELECT country FROM population ORDER BY population_growth ASC FETCH FIRST 1 ROWS ONLY; 27.414763927459717
-----
Column recall attempt: 1
51 List the name of capital cities for which we do not have data about the city in located SELECT capital FROM country MINUS SELECT city FROM located; 37.44550013542175
-----
Column recall attempt: 1
52 What is the capital of the provice Andaluc�a? SELECT capital FROM province WHERE name = 'Andalucía'; 32.09177017211914
-----
Column recall attempt: 1
53 What is the abbreviation for the organization whose name is "General Confederation of Trade Unions"? SELECT abbreviation FROM organization WHERE name = 'General Confederation of Trade Unions'; 51.53701066970825
-----
Column recall attempt: 1
54 In which city is the organization with the abbreviation "UPU" ? SELECT city FROM organization WHERE abbreviation = 'UPU'; 40.27856993675232
-----
Column recall attempt: 1
55 List the names of countries which are members of only one organization SELECT country.name FROM country WHERE country.code IN ( SELECT ismember.country FROM ismember GROUP BY ismember.country HAVING COUNT(DISTINCT ismember.organization) = 1 ) 44.802772760391235
-----
Column recall attempt: 1
56 List the name of countries which are not a member of NATO. SELECT name FROM country WHERE code NOT IN (SELECT country FROM ismember WHERE organization = 'NATO'); 37.061858892440796
-----
Column recall attempt: 1
57 List the name of countries which are a member of NATO. SELECT name FROM country WHERE code IN (SELECT country FROM ismember WHERE organization = 'NATO'); 47.76562762260437
-----
Column recall attempt: 1
58 List the rivers with length less than 50 SELECT name FROM river WHERE length < 50; 39.004899740219116
-----
Column recall attempt: 1
59 What are the area, elevation and type of lakes in country Italy? SELECT lake.area, lake.elevation, lake.type FROM lake JOIN geo_lake ON geo_lake.lake = lake.name JOIN country ON geo_lake.country = country.name WHERE country.name = 'Italy'; 53.52990531921387
-----
Column recall attempt: 1
60 List the names of capital cities which are the base for organizations SELECT DISTINCT city.name FROM city INNER JOIN organization ON city.name = organization.city WHERE city.name IN (SELECT capital FROM country);  61.270498275756836
-----
Column recall attempt: 1
61 List the name of organizations that do not have countries with an area smaller than 4000 and of the member type SELECT organization.name FROM organization WHERE abbreviation NOT IN ( SELECT organization FROM ismember INNER JOIN country ON ismember.country = country.code WHERE area < 4000 AND type = 'member' ) 44.36891460418701
-----
Column recall attempt: 1
62 List the name of organizations that do not have countries with  an area greater than 10000 and population smaller than 3000 and of the member type SELECT DISTINCT o.name FROM organization o WHERE o.abbreviation NOT IN ( SELECT i.organization FROM ismember i JOIN country c ON i.country = c.code WHERE c.area > 10000 AND c.population < 3000 AND i.type = 'member' ) 57.687878370285034
-----
Column recall attempt: 1
63 Show the inflation rate of countries that are washed by the Arabian Sea SELECT inflation FROM economy WHERE country IN ( SELECT country FROM geo_sea WHERE sea = 'Arabian Sea' ) 37.589587688446045
-----
Column recall attempt: 1
64 List all the capitals of the countries that belong to the continent Africa? SELECT capital FROM country WHERE code IN ( SELECT country FROM encompasses WHERE continent = 'Africa' ); 29.303181171417236
-----
Column recall attempt: 1
65 Show the inflation rate of the countries bathed by the Arabian Sea and there is no inflation with null value SELECT country FROM economy WHERE country IN (SELECT country FROM geo_sea WHERE sea = 'Arabian Sea') AND inflation IS NOT NULL; 38.46890592575073
-----
Column recall attempt: 1
66 How many countries are in Africa? SELECT COUNT(DISTINCT country) FROM encompasses WHERE continent = 'Africa'; 44.19426703453064
-----
Column recall attempt: 1
67 List the name of countries that are not members of NATO and UNESCO SELECT name FROM country WHERE code NOT IN (SELECT country FROM ismember WHERE organization = 'NATO') INTERSECT SELECT name FROM country WHERE code NOT IN (SELECT country FROM ismember WHERE organization = 'UNESCO'); 31.250513553619385
-----
Column recall attempt: 1
68 What is the area of the continent Europe? SELECT area FROM continent WHERE name = 'Europe'; 35.13495182991028
-----
Column recall attempt: 1
69 What is the area of continent America? SELECT area FROM continent WHERE name = 'America'; 44.975531578063965
-----
list error
Column recall attempt: 1
70 What is the area of continent Asia? SELECT area FROM continent WHERE name = 'Asia'; 59.6445198059082
-----
Column recall attempt: 1
71 What is the area of Africa? SELECT area FROM continent WHERE name = 'Africa'; 35.62387037277222
-----
Column recall attempt: 1
72 How many countries are in America? SELECT COUNT(DISTINCT country.code) FROM country JOIN encompasses ON country.code = encompasses.country WHERE encompasses.continent = 'America'; 55.540136098861694
-----
Column recall attempt: 1
73 Which continent has the largest area? SELECT name FROM continent ORDER BY area DESC FETCH FIRST 1 ROWS ONLY; 81.7570230960846
-----
Column recall attempt: 1
74 List the countries that belong to the continent with the largest area SELECT country.name FROM country JOIN encompasses ON country.code = encompasses.country JOIN continent ON encompasses.continent = continent.name WHERE continent.area = (SELECT MAX(area) FROM continent); 42.66651225090027
-----
Column recall attempt: 1
75 List the countries that belong to the continent with the largest area and whose language is English SELECT country.name FROM country JOIN encompasses ON country.code = encompasses.country JOIN continent ON encompasses.continent = continent.name JOIN language ON country.code = language.country WHERE language.name = 'English' AND continent.name = (SELECT name FROM continent ORDER BY area DESC FETCH FIRST 1 ROWS ONLY) 44.12657284736633
-----
Column recall attempt: 1
76 List the names of cities, along with the name of their country for cities with a population greater than 5 million.  Display the results in descending order by population. SELECT city.name, city.country FROM city WHERE city.population > 5000000 ORDER BY city.population DESC; 33.44885516166687
-----
Column recall attempt: 1
77 Show the name of the deserts in the province of Algeria SELECT name FROM desert WHERE name IN ( SELECT desert FROM geo_desert WHERE province IN ( SELECT name FROM province WHERE country = ( SELECT code FROM country WHERE name = 'Algeria' ) ) ); 36.247390031814575
-----
Column recall attempt: 1
78 Show the name and area of the deserts in the province of California SELECT desert.name, desert.area FROM desert JOIN geo_desert ON desert.name = geo_desert.desert JOIN province ON geo_desert.province = province.name WHERE province.name = 'California'; 29.139198780059814
-----
Column recall attempt: 1
79 List the country names and percentage of use of language where  French are used as languages. SELECT country.name, language.percentage FROM country JOIN language ON country.code = language.country WHERE language.name = 'French'; 41.868228912353516
-----
Column recall attempt: 1
80 What are the cities where �Portuguese� is spoken? SELECT city.name FROM city JOIN language ON city.country = language.country WHERE language.name = 'Portuguese'; 28.89493227005005
-----
Column recall attempt: 1
81 What is the total area of the provinces in Canada? SELECT SUM(area) FROM province WHERE country = (SELECT code FROM country WHERE name = 'Canada'); 41.033878803253174
-----
Column recall attempt: 1
82 What is the length of the Tigres River? SELECT length FROM river WHERE name = 'Tigres River'; 49.71488046646118
-----
Column recall attempt: 1
83 List the Airports with elevation more than 1000 SELECT name FROM airport WHERE elevation > 1000; 20.275726079940796
-----
Column recall attempt: 1
84 List airports in the United States with an elevation below 200 feet SELECT name FROM airport WHERE country = 'United States' AND elevation < 200; 28.560051441192627
-----
Column recall attempt: 1
85 What are the mountains with altitudes above 8000 meters? SELECT name FROM mountain WHERE elevation > 8000; 28.506810426712036
-----
Column recall attempt: 1
86 What are the 3 airports with the shortest name? SELECT name FROM airport ORDER BY LENGTH(name) ASC FETCH FIRST 3 ROWS ONLY; 19.021464109420776
-----
Column recall attempt: 1

In [11]:
queries

[{'id': '1',
  'question': 'What is the area of Thailand?',
  'query_string': "SELECT area FROM mondial_country WHERE name = 'Thailand';",
  'type': 'simple',
  'token_usage': {'table_recall': {'total_tokens': 2974,
    'total_cost': 0.15081,
    'prompt_tokens': 921,
    'completion_tokens': 2053},
   'column_recall': {'total_tokens': 3592,
    'total_cost': 0.20727,
    'prompt_tokens': 275,
    'completion_tokens': 3317},
   'sql_generation': {'total_tokens': 771,
    'total_cost': 0.03033,
    'prompt_tokens': 531,
    'completion_tokens': 240}}},
 {'id': '2',
  'question': 'What are the provinces with an area greater than 10000?',
  'query_string': 'SELECT name FROM mondial_province WHERE area > 10000;',
  'type': 'simple',
  'token_usage': {'table_recall': {'total_tokens': 2496,
    'total_cost': 0.12194999999999999,
    'prompt_tokens': 927,
    'completion_tokens': 1569},
   'column_recall': {'total_tokens': 2478,
    'total_cost': 0.1422,
    'prompt_tokens': 216,
    'completion_tokens': 2262},
   'sql_generation': {'total_tokens': 744,
    'total_cost': 0.029759999999999998,
    'prompt_tokens': 496,
    'completion_tokens': 248}}},
 {'id': '3',
  'question': 'What are the languages spoken in Poland?',
  'query_string': "SELECT name FROM mondial_language WHERE country = 'Poland';",
  'type': 'medium',
  'token_usage': {'table_recall': {'total_tokens': 2619,
    'total_cost': 0.12947999999999998,
    'prompt_tokens': 922,
    'completion_tokens': 1697},
   'column_recall': {'total_tokens': 3803,
    'total_cost': 0.2199,
    'prompt_tokens': 276,
    'completion_tokens': 3527},
   'sql_generation': {'total_tokens': 786,
    'total_cost': 0.030959999999999998,
    'prompt_tokens': 540,
    'completion_tokens': 246}}},
 {'id': '4',
  'question': 'How deep is Lake Kariba?',
  'query_string': "SELECT depth FROM mondial_lake WHERE name = 'Lake Kariba';",
  'type': 'simple',
  'token_usage': {'table_recall': {'total_tokens': 3354,
    'total_cost': 0.17361,
    'prompt_tokens': 921,
    'completion_tokens': 2433},
   'column_recall': {'total_tokens': 2881,
    'total_cost': 0.16422,
    'prompt_tokens': 288,
    'completion_tokens': 2593},
   'sql_generation': {'total_tokens': 818,
    'total_cost': 0.032940000000000004,
    'prompt_tokens': 538,
    'completion_tokens': 280}}},
 {'id': '5',
  'question': 'What is the total of provinces of Netherlands?',
  'query_string': "SELECT COUNT(name) FROM mondial_province WHERE country = 'Netherlands';",
  'type': 'medium',
  'token_usage': {'table_recall': {'total_tokens': 2822,
    'total_cost': 0.14163,
    'prompt_tokens': 923,
    'completion_tokens': 1899},
   'column_recall': {'total_tokens': 2756,
    'total_cost': 0.15837,
    'prompt_tokens': 233,
    'completion_tokens': 2523},
   'sql_generation': {'total_tokens': 801,
    'total_cost': 0.032909999999999995,
    'prompt_tokens': 505,
    'completion_tokens': 296}}},
 {'id': '6',
  'question': 'What is the percentage of religious people are hindu in thailand?',
  'query_string': "SELECT percentage FROM mondial_religion WHERE country = 'Thailand' AND name = 'Hindu';",
  'type': 'medium',
  'token_usage': {'table_recall': {'total_tokens': 3402,
    'total_cost': 0.17628000000000002,
    'prompt_tokens': 928,
    'completion_tokens': 2474},
   'column_recall': {'total_tokens': 3509,
    'total_cost': 0.2022,
    'prompt_tokens': 278,
    'completion_tokens': 3231},
   'sql_generation': {'total_tokens': 1004,
    'total_cost': 0.044039999999999996,
    'prompt_tokens': 540,
    'completion_tokens': 464}}},
 {'id': '7',
  'question': 'List the number of provinces each river flows through.',
  'query_string': 'SELECT river, COUNT(DISTINCT province) FROM mondial_geo_river GROUP BY river;',
  'type': 'complex',
  'token_usage': {'table_recall': {'total_tokens': 1916,
    'total_cost': 0.08724,
    'prompt_tokens': 924,
    'completion_tokens': 992},
   'column_recall': {'total_tokens': 3861,
    'total_cost': 0.22430999999999998,
    'prompt_tokens': 245,
    'completion_tokens': 3616},
   'sql_generation': {'total_tokens': 934,
    'total_cost': 0.04065,
    'prompt_tokens': 513,
    'completion_tokens': 421}}},
 {'id': '8',
  'question': 'Find all countries that became independent between 8/1/1910 and 8/1/1950.',
  'query_string': "SELECT name FROM mondial_country JOIN mondial_politics ON mondial_country.code = mondial_politics.country WHERE independence BETWEEN TO_DATE('1910-08-01', 'YYYY-MM-DD') AND TO_DATE('1950-08-01', 'YYYY-MM-DD');",
  'type': 'medium',
  'token_usage': {'table_recall': {'total_tokens': 1067,
    'total_cost': 0.03591,
    'prompt_tokens': 937,
    'completion_tokens': 130},
   'column_recall': {'total_tokens': 3171,
    'total_cost': 0.18291,
    'prompt_tokens': 245,
    'completion_tokens': 2926},
   'sql_generation': {'total_tokens': 1551,
    'total_cost': 0.07743,
    'prompt_tokens': 521,
    'completion_tokens': 1030}}},
 {'id': '9',
  'question': 'What are the cities of Cuba?',
  'query_string': "SELECT name FROM mondial_city WHERE country = 'Cuba';",
  'type': 'medium',
  'token_usage': {'table_recall': {'total_tokens': 4445,
    'total_cost': 0.23907,
    'prompt_tokens': 921,
    'completion_tokens': 3524},
   'column_recall': {'total_tokens': 4067,
    'total_cost': 0.23582999999999998,
    'prompt_tokens': 273,
    'completion_tokens': 3794},
   'sql_generation': {'total_tokens': 777,
    'total_cost': 0.03051,
    'prompt_tokens': 537,
    'completion_tokens': 240}}},
 {'id': '10',
  'question': 'What is the capital of Georgia?',
  'query_string': "SELECT capital FROM mondial_country WHERE name = 'Georgia';",
  'type': 'simple',
  'token_usage': {'table_recall': {'total_tokens': 3580,
    'total_cost': 0.18717,
    'prompt_tokens': 921,
    'completion_tokens': 2659},
   'column_recall': {'total_tokens': 3692,
    'total_cost': 0.21330000000000002,
    'prompt_tokens': 274,
    'completion_tokens': 3418},
   'sql_generation': {'total_tokens': 754,
    'total_cost': 0.02922,
    'prompt_tokens': 534,
    'completion_tokens': 220}}},
 {'id': '11',
  'question': 'How many provinces have areas greater than 1000 in Niger?',
  'query_string': "SELECT COUNT(name) FROM mondial_province WHERE area > 1000 AND country = 'Niger';",
  'type': 'medium',
  'token_usage': {'table_recall': {'total_tokens': 3352,
    'total_cost': 0.17331,
    'prompt_tokens': 927,
    'completion_tokens': 2425},
   'column_recall': {'total_tokens': 2719,
    'total_cost': 0.15603,
    'prompt_tokens': 237,
    'completion_tokens': 2482},
   'sql_generation': {'total_tokens': 973,
    'total_cost': 0.043109999999999996,
    'prompt_tokens': 509,
    'completion_tokens': 464}}},
 {'id': '12',
  'question': 'Tell me about the country with the area largest.',
  'query_string': 'SELECT name, area FROM mondial_country ORDER BY area DESC FETCH FIRST 1 ROWS ONLY;',
  'type': 'medium',
  'token_usage': {'table_recall': {'total_tokens': 3403,
    'total_cost': 0.17646,
    'prompt_tokens': 924,
    'completion_tokens': 2479},
   'column_recall': {'total_tokens': 3575,
    'total_cost': 0.20648999999999998,
    'prompt_tokens': 267,
    'completion_tokens': 3308},
   'sql_generation': {'total_tokens': 940,
    'total_cost': 0.04017,
    'prompt_tokens': 541,
    'completion_tokens': 399}}},
 {'id': '13',
  'question': 'What is the host province and year of establishment of the organization "International Energy Agency"?',
  'query_string': "SELECT province, established FROM mondial_organization WHERE name = 'International Energy Agency';",
  'type': 'simple',
  'token_usage': {'table_recall': {'total_tokens': 2003,
    'total_cost': 0.09222,
    'prompt_tokens': 932,
    'completion_tokens': 1071},
   'column_recall': {'total_tokens': 3011,
    'total_cost': 0.1734,
    'prompt_tokens': 242,
    'completion_tokens': 2769},
   'sql_generation': {'total_tokens': 891,
    'total_cost': 0.03804,
    'prompt_tokens': 514,
    'completion_tokens': 377}}},
 {'id': '14',
  'question': 'Find the name of all mountains whose elevation is higher than 1000.',
  'query_string': 'SELECT name FROM mondial_mountain WHERE elevation > 1000;',
  'type': 'simple',
  'token_usage': {'table_recall': {'total_tokens': 2870,
    'total_cost': 0.14432999999999999,
    'prompt_tokens': 929,
    'completion_tokens': 1941},
   'column_recall': {'total_tokens': 3423,
    'total_cost': 0.19788,
    'prompt_tokens': 250,
    'completion_tokens': 3173},
   'sql_generation': {'total_tokens': 845,
    'total_cost': 0.03468,
    'prompt_tokens': 534,
    'completion_tokens': 311}}},
 {'id': '15',
  'question': 'Tell me the economy of the Caribbean Sea.',
  'query_string': "SELECT e.gdp FROM mondial_economy e JOIN mondial_geo_sea gs ON e.country = gs.country WHERE gs.sea = 'Caribbean Sea';",
  'type': 'complex',
  'token_usage': {'table_recall': {'total_tokens': 2417,
    'total_cost': 0.11732999999999999,
    'prompt_tokens': 923,
    'completion_tokens': 1494},
   'column_recall': {'total_tokens': 4004,
    'total_cost': 0.2322,
    'prompt_tokens': 268,
    'completion_tokens': 3736},
   'sql_generation': {'total_tokens': 1488,
    'total_cost': 0.07307999999999999,
    'prompt_tokens': 540,
    'completion_tokens': 948}}},
 {'id': '16',
  'question': 'Shows me cities with longitude between 0 and 6.',
  'query_string': 'SELECT name FROM mondial_city WHERE longitude BETWEEN 0 AND 6;',
  'type': 'simple',
  'token_usage': {'table_recall': {'total_tokens': 2426,
    'total_cost': 0.11778,
    'prompt_tokens': 926,
    'completion_tokens': 1500},
   'column_recall': {'total_tokens': 3427,
    'total_cost': 0.19691999999999998,
    'prompt_tokens': 290,
    'completion_tokens': 3137},
   'sql_generation': {'total_tokens': 832,
    'total_cost': 0.0336,
    'prompt_tokens': 544,
    'completion_tokens': 288}}},
 {'id': '17',
  'question': 'Select cities whose population is greater than 100000, altitude greater than 2500, and the country you belong to has population growth greater than 1.',
  'query_string': 'SELECT city.name FROM mondial_city city JOIN mondial_country country ON city.country = country.code JOIN mondial_population population ON country.code = population.country WHERE city.population > 100000 AND city.elevation > 2500 AND population.population_growth > 1;',
  'type': 'complex',
  'token_usage': {'table_recall': {'total_tokens': 2992,
    'total_cost': 0.15113999999999997,
    'prompt_tokens': 946,
    'completion_tokens': 2046},
   'column_recall': {'total_tokens': 3720,
    'total_cost': 0.21498,
    'prompt_tokens': 274,
    'completion_tokens': 3446},
   'sql_generation': {'total_tokens': 1766,
    'total_cost': 0.08951999999999999,
    'prompt_tokens': 548,
    'completion_tokens': 1218}}},
 {'id': '18',
  'question': 'Show all the different types of government.',
  'query_string': 'SELECT DISTINCT government FROM mondial_politics;',
  'type': 'simple',
  'token_usage': {'table_recall': {'total_tokens': 3182,
    'total_cost': 0.16325999999999996,
    'prompt_tokens': 922,
    'completion_tokens': 2260},
   'column_recall': {'total_tokens': 2728,
    'total_cost': 0.15516,
    'prompt_tokens': 284,
    'completion_tokens': 2444},
   'sql_generation': {'total_tokens': 733,
    'total_cost': 0.02778,
    'prompt_tokens': 540,
    'completion_tokens': 193}}},
 {'id': '19',
  'question': 'List all provinces in Germany',
  'query_string': "SELECT name FROM mondial_province WHERE country = 'Germany';",
  'type': 'medium',
  'token_usage': {'table_recall': {'total_tokens': 3266,
    'total_cost': 0.16836,
    'prompt_tokens': 920,
    'completion_tokens': 2346},
   'column_recall': {'total_tokens': 2920,
    'total_cost': 0.16829999999999998,
    'prompt_tokens': 230,
    'completion_tokens': 2690},
   'sql_generation': {'total_tokens': 728,
    'total_cost': 0.02862,
    'prompt_tokens': 502,
    'completion_tokens': 226}}},
 {'id': '20',
  'question': 'What is the percentage of mulatto ethnicity in Brazil?',
  'query_string': "SELECT percentage FROM mondial_ethnicgroup WHERE country = 'Brazil' AND name = 'Mulatto';",
  'type': 'medium',
  'token_usage': {'table_recall': {'total_tokens': 3070,
    'total_cost': 0.15645,
    'prompt_tokens': 925,
    'completion_tokens': 2145},
   'column_recall': {'total_tokens': 3354,
    'total_cost': 0.19280999999999998,
    'prompt_tokens': 281,
    'completion_tokens': 3073},
   'sql_generation': {'total_tokens': 948,
    'total_cost': 0.04053,
    'prompt_tokens': 545,
    'completion_tokens': 403}}},
 {'id': '21',
  'question': 'How many cities have populations less than 1000?',
  'query_string': 'SELECT COUNT(*) FROM mondial_city WHERE population < 1000;',
  'type': 'simple',
  'token_usage': {'table_recall': {'total_tokens': 3246,
    'total_cost': 0.16701,
    'prompt_tokens': 925,
    'completion_tokens': 2321},
   'column_recall': {'total_tokens': 3194,
    'total_cost': 0.18306,
    'prompt_tokens': 286,
    'completion_tokens': 2908},
   'sql_generation': {'total_tokens': 807,
    'total_cost': 0.032100000000000004,
    'prompt_tokens': 544,
    'completion_tokens': 263}}},
 {'id': '22',
  'question': 'What is the average elevation of airports in America?',
  'query_string': "SELECT AVG(elevation) FROM mondial_airport WHERE country IN ( SELECT code FROM mondial_country WHERE code IN ( SELECT country FROM mondial_encompasses WHERE continent = 'America' ) );",
  'type': 'complex',
  'token_usage': {'table_recall': {'total_tokens': 1997,
    'total_cost': 0.09209999999999999,
    'prompt_tokens': 924,
    'completion_tokens': 1073},
   'column_recall': {'total_tokens': 3825,
    'total_cost': 0.22122,
    'prompt_tokens': 276,
    'completion_tokens': 3549},
   'sql_generation': {'total_tokens': 1397,
    'total_cost': 0.06752999999999999,
    'prompt_tokens': 543,
    'completion_tokens': 854}}},
 {'id': '23',
  'question': 'How many countries are adjacent to (or ecompassed by) the the Caribbean Sea?',
  'query_string': "SELECT COUNT(DISTINCT country) FROM mondial_geo_sea WHERE sea = 'Caribbean Sea';",
  'type': 'medium',
  'token_usage': {'table_recall': {'total_tokens': 3018,
    'total_cost': 0.15312,
    'prompt_tokens': 932,
    'completion_tokens': 2086},
   'column_recall': {'total_tokens': 3483,
    'total_cost': 0.20142,
    'prompt_tokens': 252,
    'completion_tokens': 3231},
   'sql_generation': {'total_tokens': 969,
    'total_cost': 0.041999999999999996,
    'prompt_tokens': 538,
    'completion_tokens': 431}}},
 {'id': '24',
  'question': 'How much area do the countries that are adjacent to (or encompassed by) the Caribbean Sea cover in total?',
  'query_string': "SELECT SUM(area) FROM mondial_country WHERE code IN (SELECT DISTINCT country FROM mondial_geo_sea WHERE sea = 'Caribbean Sea')",
  'type': 'complex',
  'token_usage': {'table_recall': {'total_tokens': 2048,
    'total_cost': 0.09477,
    'prompt_tokens': 937,
    'completion_tokens': 1111},
   'column_recall': {'total_tokens': 4473,
    'total_cost': 0.2601,
    'prompt_tokens': 276,
    'completion_tokens': 4197},
   'sql_generation': {'total_tokens': 1782,
    'total_cost': 0.09012,
    'prompt_tokens': 560,
    'completion_tokens': 1222}}},
 {'id': '25',
  'question': 'For all countries, give the sum of the population of all its neighbors',
  'query_string': 'SELECT country1 AS country, SUM(population) AS total_population FROM mondial_borders mb JOIN mondial_country mc ON mb.country2 = mc.name GROUP BY country1;',
  'type': 'complex',
  'token_usage': {'table_recall': {'total_tokens': 2137,
    'total_cost': 0.10035,
    'prompt_tokens': 929,
    'completion_tokens': 1208},
   'column_recall': {'total_tokens': 4190,
    'total_cost': 0.24380999999999997,
    'prompt_tokens': 253,
    'completion_tokens': 3937},
   'sql_generation': {'total_tokens': 1579,
    'total_cost': 0.07857,
    'prompt_tokens': 539,
    'completion_tokens': 1040}}},
 {'id': '26',
  'question': 'What mountains are on the island of Borneo?',
  'query_string': "SELECT mountain FROM mondial_mountainonisland WHERE island = 'Borneo';",
  'type': 'simple',
  'token_usage': {'table_recall': {'total_tokens': 2587,
    'total_cost': 0.12747,
    'prompt_tokens': 925,
    'completion_tokens': 1662},
   'column_recall': {'total_tokens': 3632,
    'total_cost': 0.21042,
    'prompt_tokens': 250,
    'completion_tokens': 3382},
   'sql_generation': {'total_tokens': 918,
    'total_cost': 0.03906,
    'prompt_tokens': 534,
    'completion_tokens': 384}}},
 {'id': '27',
  'question': 'Provide the name and total population of the country with the smallest area.',
  'query_string': 'SELECT name, population FROM mondial_country WHERE area = (SELECT MIN(area) FROM mondial_country);',
  'type': 'simple',
  'token_usage': {'table_recall': {'total_tokens': 2855,
    'total_cost': 0.14346,
    'prompt_tokens': 928,
    'completion_tokens': 1927},
   'column_recall': {'total_tokens': 3038,
    'total_cost': 0.17525999999999997,
    'prompt_tokens': 234,
    'completion_tokens': 2804},
   'sql_generation': {'total_tokens': 989,
    'total_cost': 0.0438,
    'prompt_tokens': 518,
    'completion_tokens': 471}}},
 {'id': '28',
  'question': 'The codes of all countries for which at least one river that originates in this country has its estuary in a neighboring country.',
  'query_string': 'SELECT DISTINCT country FROM mondial_geo_river WHERE river IN ( SELECT river FROM mondial_river WHERE source IN ( SELECT river FROM mondial_geo_river WHERE country IN ( SELECT country1 FROM mondial_borders WHERE country2 = estuary ) ) );',
  'type': 'complex',
  'token_usage': {'table_recall': {'total_tokens': 2316,
    'total_cost': 0.11079,
    'prompt_tokens': 939,
    'completion_tokens': 1377},
   'column_recall': {'total_tokens': 4093,
    'total_cost': 0.23661,
    'prompt_tokens': 299,
    'completion_tokens': 3794},
   'sql_generation': {'total_tokens': 1988,
    'total_cost': 0.10229999999999999,
    'prompt_tokens': 566,
    'completion_tokens': 1422}}},
 {'id': '29',
  'question': 'The codes of all countries where at least one mountain is located in each of their provinces',
  'query_string': 'SELECT DISTINCT c.code FROM mondial_country c WHERE NOT EXISTS ( SELECT p.name FROM mondial_province p WHERE p.country = c.code MINUS SELECT m.province FROM mondial_geo_mountain m WHERE m.country = c.code )',
  'type': 'complex',
  'token_usage': {'table_recall': {'total_tokens': 1809,
    'total_cost': 0.08058,
    'prompt_tokens': 932,
    'completion_tokens': 877},
   'column_recall': {'total_tokens': 3769,
    'total_cost': 0.21833999999999998,
    'prompt_tokens': 260,
    'completion_tokens': 3509},
   'sql_generation': {'total_tokens': 1808,
    'total_cost': 0.09255,
    'prompt_tokens': 531,
    'completion_tokens': 1277}}},
 {'id': '30',
  'question': 'The code and total border lengths of all countries with at least one border.',
  'query_string': 'SELECT code, SUM(length) as total_border_length FROM mondial_borders GROUP BY code HAVING COUNT(country2) >= 1;',
  'type': 'complex',
  'token_usage': {'table_recall': {'total_tokens': 2349,
    'total_cost': 0.11307,
    'prompt_tokens': 929,
    'completion_tokens': 1420},
   'column_recall': {'total_tokens': 3192,
    'total_cost': 0.1845,
    'prompt_tokens': 234,
    'completion_tokens': 2958},
   'sql_generation': {'total_tokens': 1253,
    'total_cost': 0.059699999999999996,
    'prompt_tokens': 516,
    'completion_tokens': 737}}},
 {'id': '31',
  'question': 'The names and codes of all countries in which at least one river originates.',
  'query_string': 'SELECT DISTINCT mondial_country.name, mondial_country.code FROM mondial_country JOIN mondial_geo_source ON mondial_country.code = mondial_geo_source.country WHERE mondial_geo_source.river IS NOT NULL;',
  'type': 'medium',
  'token_usage': {'table_recall': {'total_tokens': 3225,
    'total_cost': 0.16563,
    'prompt_tokens': 929,
    'completion_tokens': 2296},

#### Fixing query

In [ ]:
pos = 40
instance = queries[pos]
q = read_queries()
start_time = time.time()
sql = run_c3(instance["question"], db, callback=tracking_token)
end_time = time.time()
instance["query_string"] = sql
instance["token_usage"] = convert_to_dict_tracking_token()
instance['time'] = end_time - start_time
q[pos] = instance
save_queries(q)
print(instance['id'], instance['question'], instance["query_string"], instance['time'])

In [20]:
to_fix = [59,62,72,85,99]
for pos in to_fix:
    instance = queries[pos]
    q = read_queries()
    start_time = time.time()
    sql = run_c3(instance["question"], db, callback=tracking_token)
    end_time = time.time()
    instance["query_string"] = sql
    instance["token_usage"] = convert_to_dict_tracking_token()
    instance['time'] = end_time - start_time
    q[pos] = instance
    save_queries(q)
    print(instance['id'], instance['question'], instance["query_string"], instance['time'])

Column recall attempt: 1
60  List the names of capital cities which are the base for organizations in alphabetical order SELECT DISTINCT city.name FROM city, organization WHERE city.name = organization.city AND city.name = country.capital ORDER BY city.name; 55.844616174697876
Column recall attempt: 1
63 Show the inflation rate of countries that are washed by the Arabian Sea SELECT inflation FROM economy WHERE country IN (SELECT country FROM geo_sea WHERE sea = 'Arabian Sea') 78.05257797241211
Column recall attempt: 1
73 What area is the largest continent? SELECT MAX(area) FROM continent; 44.964357137680054
Column recall attempt: 1
86 What are the 3 airports with the largest name? SELECT name FROM airport ORDER BY LENGTH(name) DESC FETCH FIRST 3 ROWS ONLY; 29.203540802001953
Column recall attempt: 1
100 What is the percentage of industries in relation to Japan's economy? SELECT SELECT COUNT(DISTINCT industry) / (SELECT COUNT(*) FROM economy WHERE country = 'JPN') AS percentage FROM economy WHERE country = 'JPN'; 47.31272006034851

## Teste de um consulta no GPT-4

In [10]:
question = 'What is the area of Thailand?'

In [11]:
sql = run_c3(question, db, callback=tracking_token)

<function tracking_token at 0x0000011FA4666EF0>

In [12]:
print(sql)
print(track_token)

SELECT area FROM mondial_country WHERE name = 'Thailand';
[{'table_recall': Tokens Used: 3099
	Prompt Tokens: 829
	Completion Tokens: 2270
Successful Requests: 1
Total Cost (USD): $0.16107}, {'column_recall': Tokens Used: 3019
	Prompt Tokens: 268
	Completion Tokens: 2751
Successful Requests: 1
Total Cost (USD): $0.17309999999999998}, {'sql_gneration': Tokens Used: 771
	Prompt Tokens: 531
	Completion Tokens: 240
Successful Requests: 1
Total Cost (USD): $0.03033}]

In [13]:
tracking_token(reset=True)

In [7]:

model = 'gpt-4'
llm = ChatOpenAI(model_name = model, temperature=0.7, n=10)
clear_prompting = generate_clear_prompting(question, db, llm, add_fk=True)
print(clear_prompting)

### Complete oracle SQL query only and with no explanation, and do not select extra columns that are not explicitly requested in the query.
### Sqlite SQL tables, with their properties:
#
# mondial_city (name, country, province, population)
# mondial_continent (name, area, meta_repcol)
# mondial_country (name, area, code, capital)
# mondial_province (name, country, population, area)

#
### What is the area of Thailand?
SELECT

In [9]:
messages = generate_calibration_with_hints(clear_prompting)
messages

[[SystemMessage(content="\n                You are now an excellent SQL writer, first I'll give you some tips and examples, and I need you to \n                remember the tips, and do not make same mistakes\n                ", additional_kwargs={}),
  HumanMessage(content="\n            Tips 1:\n            Question: Which A has most number of B?\n            Gold SQL: select A from B group by A order by count (*) desc fetch first 1 rows only;\n            Notice that the Gold SQL doesn't select COUNT(*) because the question only wants to know the A and\n            the number should be only used in ORDER BY clause, there are many questions asks in this way, and I\n            need you to remember this in the the following questions.        \n            ", additional_kwargs={}, example=False),
  AIMessage(content="\n                Thank you for the tip! I'll keep in mind that when the question only asks for a certain field, I should not\n                include the COUNT(*) in the SELECT statement, but instead use it in the ORDER BY clause to sort the\n                results based on the count of that field.   \n            ", additional_kwargs={}, example=False),
  HumanMessage(content='\n            Tips 2:\n            Don\'t use "IN", "OR", "LEFT JOIN" as it might cause extra results, use "INTERSECT" or "EXCEPT"\n            instead, and remember to use "DISTINCT" or "FETCH FIRST" when necessary.\n            For example,\n            Question: Who are the A who have been nominated for both B award and C award?\n            Gold SQL should be: select A from X where award = \'B\' intersect select A from X where award = \'C\';\n            ', additional_kwargs={}, example=False),
  AIMessage(content='\n            Thank you for the tip! I\'ll remember to use "INTERSECT" or "EXCEPT" instead of "IN", "NOT IN", or\n            "LEFT JOIN" when I want to find records that match or don\'t match across two tables. Additionally, I\'ll\n            make sure to use "DISTINCT" or "FETCH FIRST" when necessary to avoid repetitive results or limit the number\n            of results returned.\n            ', additional_kwargs={}, example=False),
  HumanMessage(content='\n### Complete oracle SQL query only and with no explanation, and do not select extra columns that are not explicitly requested in the query. \n### Sqlite SQL tables, with their properties: \n#\n# mondial_city (name, country, province, population)\n# mondial_continent (name, area, meta_repcol)\n# mondial_country (name, area, code, capital)\n# mondial_province (name, country, population, area)\n\n#\n### What is the area of Thailand?\nSELECT', additional_kwargs={}, example=False)]]

In [10]:
llm = ChatOpenAI(model_name = model, n=20)
sql = generate_sql(messages, llm, db, question)

In [11]:
sql

"SELECT area FROM mondial_country WHERE name = 'Thailand';"