# Validacao dos Resultados - C3

In [ ]:

from dotenv import load_dotenv
import os
import sys
import json
import pandas as pd
import time
import datetime
load_dotenv()

experiment_path = '..\..'

path = os.path.abspath('')
module_path = os.path.join(path, experiment_path)
print(module_path)
if module_path not in sys.path:
    sys.path.append(module_path+"\\functions")


from dataset_utils import DatasetEvaluator

In [9]:
DEFAULT_PATH = "results/"
EXPERIMENT = "C3"
TARGET_PATH = f"evaluator_results/{EXPERIMENT}_results.csv"
TARGET_PATH_FK = f"evaluator_results/{EXPERIMENT}_foreign_key_results.csv"

Funções úteis

In [10]:
def save_queries(queries, FILE_NAME_PATH):
    data = {"queries":queries}
    with open(FILE_NAME_PATH, "w") as arquivo_json:
        json.dump(data, arquivo_json, indent=4) 

def read_queries(FILE_NAME_PATH):
    with open(FILE_NAME_PATH, encoding="utf-8", errors="ignore") as json_data:
        data = json.load(json_data, strict=False)
    queries = data["queries"]
    return queries

def get_schema(FILE_NAME_PATH):
    if "mondial_gpt" in FILE_NAME_PATH:
        return "mondial_gpt"
    elif "mondial" in FILE_NAME_PATH:
        return "mondial"
    return ""

def get_count_query_type(queries):
    count_types = {}
    for item in queries:
        type = item["type"]
        if type in count_types:
            count_types[type] += 1
        else:
            count_types[type] = 1
    count_types['total'] = len(queries)
    return count_types

def get_dataset_evaluator(FILE_NAME_PATH):
    SCHEMA = get_schema(FILE_NAME_PATH)  
    PREFIX = SCHEMA  
    if SCHEMA == "mondial_gpt":
        PREFIX = "mondial"
    print(PREFIX)
    print(SCHEMA)
    dataset_eval = DatasetEvaluator(dataset_file_path=f"../../datasets/{PREFIX}/{PREFIX}_dataset.json",
                                dataset_tables_path=f"../../datasets/{PREFIX}/result_tables/",
                                db_connection_file=f"../../datasets/{SCHEMA}_db_connection.json",
                                dataset_name=SCHEMA)
    return dataset_eval

def get_files_in_folder():
    files = []
    for r, d, f in os.walk(DEFAULT_PATH):
        for file in f:
            if '.json' in file and 'erro' not in file:
                files.append(os.path.join(r, file))
    return sorted(files)

def evaluate_query(queries, dataset_eval, FILE_NAME_PATH):
    result = {'simple': 0, 'medium': 0, 'complex': 0, 'total': 0}

    for q in queries:
        evaluate_result = False
        q['similarity'] = 0
        try:
            if q["query_string"].strip() != "":
                evaluate_result, similarity, column_matching_index = dataset_eval.evaluate_dataset_query(q["query_string"], q["id"], query_type="sql")
                q['column_matching_index'] = column_matching_index
                q['similarity']=similarity
            
        except Exception as e:
            print(str(e))
            
        q['result'] = evaluate_result
        
        if evaluate_result==True:
            result['total'] += 1
            result[q["type"]] += 1
        
    save_queries(queries, FILE_NAME_PATH)   
    return result

def get_file_name(FILE_NAME_PATH):
    parts = FILE_NAME_PATH.split("/")
    last_element = parts[-1]
    file_name = last_element.replace(".json", "")
    return file_name

def get_experiment_name(filename):
    schema = get_schema(filename).upper()
    experiment_name = f"{EXPERIMENT} - {schema}"
    if "chatgpt4" in filename:
        experiment_name += " - GPT-4"
    elif "chatgpt_" in filename:
        experiment_name += " - GPT-3.5"
    elif "llama" in filename:
        experiment_name += " - LLAMA"
    
    if "turbo" in filename:
        experiment_name += " - Turbo"
        
    if "instances" in filename:
        experiment_name += " - Passing Database Rows"
    elif "code_representation" in filename:
        experiment_name += " - Code Representation"
    if "_fk" in filename:
        experiment_name += " - FK"       
    return experiment_name

def compute_cost(filename):
    queries = read_queries(filename)
    total_costs = 0
    total_tokens = 0
    input_tokens = 0
    output_tokens = 0
    #total_token
    for q in queries:
        data = q.get('token_usage', None)
        if data is not None:
            for key, track_token in data.items():
                total_tokens += track_token.get('total_tokens', 0)
                total_costs += track_token.get('total_cost', 0)
                input_tokens += track_token.get('prompt_tokens', 0)
                output_tokens += track_token.get('completion_tokens', 0)
    print(total_tokens)
    print(round(total_costs, 2))

    return total_tokens, round(total_costs, 2), input_tokens, output_tokens

def compute_cost_specific(filename, specific_trackin):
    queries = read_queries(filename)
    specific_info = 0
    for q in queries:
        data = q.get('token_usage', None)
        if data is not None:
            for key, track_token in data.items():
                specific_info += track_token.get(specific_trackin, 0)
    return specific_info

def compute_time(filename):
    queries = read_queries(filename)
    total_time = 0
    for q in queries:
        total_time += q.get('time', 0)
    print(total_time)
    return str(datetime.timedelta(seconds=round(total_time)))

In [11]:
def run(result_files = [], results = [], compute_costs = True):
    
    if result_files == [] :
        result_files = get_files_in_folder()
    else:
        result_files = sorted(result_files)
        
    
    for file in result_files:
        queries = read_queries(file)
        dataset_eval = get_dataset_evaluator(file)
        count_query_type = get_count_query_type(queries)
        result = evaluate_query(queries, dataset_eval, file)
        
        overall_by_type = {}
        for item in result:
            overall_by_type[f"overall_{item}"] = round(result[item] / count_query_type[item], 4)
        
        result['experiment'] = get_file_name(file)
        result = {**result, **overall_by_type}
        
        result['total_tokens'], result['total_cost'], result['average_tokens_by_query'] = 0, 0, 0
        if compute_costs:
            result['total_tokens'], result['total_cost'], result['input_tokens'], result['output_tokens'] = compute_cost(file)
        result['total_time'] = compute_time(file)
        results.append(result)
        time.sleep(5)
    return results

In [12]:
compute_cost('results/2_c3_queries_chatgpt4_mondial.json')

673382
35.3

(673382, 35.3, 170133, 503249)

In [13]:
compute_cost_specific('results/2_c3_queries_chatgpt4_mondial.json', 'prompt_tokens')

170133

In [14]:
compute_cost_specific('results/2_c3_queries_chatgpt4_mondial.json', 'completion_tokens')

503249

# Validação com os Esquemas com Foreign Keys

In [21]:
results_fk = run([
 'results/5_c3_queries_chatgpt_mondial_gpt_fk.json', 'results/6_c3_queries_chatgpt4_mondial_gpt_fk.json'], [])

mondial
mondial_gpt
SELECT max(area) FROM mondial_country where name  = 'Thailand'
SELECT country.area FROM country WHERE country.name = 'Thailand';
True cols: Index(['MAX(AREA)'], dtype='object')
Adj. True cols: Index(['MAX(AREA)'], dtype='object')
Predicted cols: Index(['AREA'], dtype='object')
Adj. Predicted cols: Index(['AREA'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT name FROM mondial_province where area > 10000
SELECT province.name FROM province WHERE province.area > 10000;
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index(['NAME'], dtype='object')
Predicted cols: Index(['NAME'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT mondial_language.name FROM mondial_language INNER JOIN mondial_country ON mondial_language.country = mondial_country.code WHERE mondial_country.name = 'Poland'
SELECT name FROM language WHERE country = 'PL';
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index(['NAME'], dtype='object')
Predicted cols: Index(['NAME'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT depth FROM mondial_lake where name LIKE '%Lake Kariba%'
SELECT depth FROM lake WHERE name = 'Lake Kariba';
True cols: Index(['DEPTH'], dtype='object')
Adj. True cols: Index(['DEPTH'], dtype='object')
Predicted cols: Index(['DEPTH'], dtype='object')
Adj. Predicted cols: Index(['DEPTH'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT count(*) FROM mondial_province p INNER JOIN mondial_country c ON p.country = c.code WHERE c.name = 'Netherlands'
SELECT COUNT(*) FROM province WHERE country = 'Netherlands';
True cols: Index(['COUNT(*)'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['COUNT(*)'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT r.percentage FROM mondial_religion r INNER JOIN mondial_country c ON r.country = c.code WHERE c.name = 'Thailand' AND r.name LIKE '%Hindu%'
SELECT ROUND(percentage, 2) AS hindu_percentage FROM religion WHERE country = 'THA' AND name = 'Hindu';
True cols: Index(['PERCENTAGE'], dtype='object')
Adj. True cols: Index(['PERCENTAGE'], dtype='object')
Predicted cols: Index(['HINDU_PERCENTAGE'], dtype='object')
Adj. Predicted cols: Index(['HINDU_PERCENTAGE'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT river.name, COUNT(DISTINCT geo_river.province) FROM river JOIN geo_river ON river.name = geo_river.river GROUP BY river.name
SELECT river.name, COUNT(DISTINCT province.name) AS num_provinces FROM river JOIN province ON river.name = province.name GROUP BY river.name;
True cols: Index(['NAME', 'COUNT(DISTINCTGEO_RIVER.PROVINCE)'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['NAME', 'NUM_PROVINCES'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT c.name FROM mondial_country c
INNER JOIN mondial_politics p ON c.code = p.country
WHERE independence > DATE '1910-08-01' AND independence < DATE '1950-08-01'
SELECT country FROM politics WHERE independence >= '8/1/1910' AND independence <= '8/1/1950';
Error: Execution failed on sql 'SELECT country FROM politics WHERE independence >= '8/1/1910' AND independence <= '8/1/1950'': ORA-01843: not a valid month
SELECT * FROM mondial_city ci INNER JOIN mondial_country c on ci.country = c.code where c.name = 'Cuba'
SELECT city.name FROM city WHERE city.country = 'Cuba';
True cols: Index(['NAME', 'COUNTRY', 'PROVINCE', 'POPULATION', 'LATITUDE', 'LONGITUDE',
       'ELEVATION', 'META_REPCOL', 'NAME', 'CODE', 'CAPITAL', 'PROVINCE',
       'AREA', 'POPULATION', 'META_REPCOL'],
      dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['NAME'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT capital FROM mondial_country WHERE name = 'Georgia'
SELECT capital FROM country WHERE name = 'Georgia';
True cols: Index(['CAPITAL'], dtype='object')
Adj. True cols: Index(['CAPITAL'], dtype='object')
Predicted cols: Index(['CAPITAL'], dtype='object')
Adj. Predicted cols: Index(['CAPITAL'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT count(p.name) FROM mondial_province p INNER JOIN mondial_country c on p.country = c.code where c.name = 'Niger' AND p.area > 1000
SELECT COUNT(*) FROM province WHERE country IN (SELECT code FROM country WHERE name = 'Niger') AND area > 1000;
True cols: Index(['COUNT(P.NAME)'], dtype='object')
Adj. True cols: Index(['COUNT(P.NAME)'], dtype='object')
Predicted cols: Index(['COUNT(*)'], dtype='object')
Adj. Predicted cols: Index(['COUNT(*)'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT name FROM mondial_country GROUP BY name ORDER BY max(area) DESC FETCH FIRST 1 ROWS ONLY;
SELECT name, area FROM country ORDER BY area DESC FETCH FIRST 1 ROWS ONLY;
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index(['NAME'], dtype='object')
Predicted cols: Index(['NAME', 'AREA'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT o.province, o.established  FROM mondial_organization o WHERE o.name LIKE '%International Energy Agency%'
SELECT province.name, organization.year_establishment FROM organization JOIN province ON organization.province = province.name WHERE organization.name = 'International Energy Agency';
Error: Execution failed on sql 'SELECT province.name, organization.year_establishment FROM organization JOIN province ON organization.province = province.name WHERE organization.name = 'International Energy Agency'': ORA-00904: "ORGANIZATION"."YEAR_ESTABLISHMENT": invalid identifier
SELECT name FROM mondial_mountain WHERE elevation > 1000.0
SELECT name FROM mountain WHERE elevation > 1000;
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index(['NAME'], dtype='object')
Predicted cols: Index(['NAME'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT DISTINCT e.* FROM mondial_economy e
INNER JOIN mondial_country c ON e.country = c.code
INNER JOIN mondial_geo_sea gs ON gs.country = c.code
INNER JOIN mondial_sea s ON s.name = gs.sea
WHERE s.name LIKE '%Caribbean Sea%'
SELECT economy.gdp FROM economy JOIN sea ON economy.country = sea.name WHERE sea.name = 'Caribbean Sea';
True cols: Index(['COUNTRY', 'GDP', 'AGRICULTURE', 'SERVICE', 'INDUSTRY', 'INFLATION',
       'UNEMPLOYMENT', 'META_REPCOL'],
      dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['GDP'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT name FROM mondial_city WHERE longitude BETWEEN 0 AND 6
SELECT city.name FROM city WHERE city.longitude BETWEEN 0 AND 6;
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index(['NAME'], dtype='object')
Predicted cols: Index(['NAME'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT ci.name FROM mondial_city ci
INNER JOIN mondial_country c ON c.code = ci.country
INNER JOIN mondial_population p ON p.country = c.code
WHERE ci.population > 100000 AND ci.elevation > 2500 AND
p.population_growth > 1
SELECT city.name FROM city JOIN country ON city.country = country.code JOIN population ON population.country = country.code WHERE city.population > 100000 AND city.elevation > 2500 AND population.population_growth > 1;
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index(['NAME'], dtype='object')
Predicted cols: Index(['NAME'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT DISTINCT government FROM mondial_politics
SELECT DISTINCT government FROM politics;
True cols: Index(['GOVERNMENT'], dtype='object')
Adj. True cols: Index(['GOVERNMENT'], dtype='object')
Predicted cols: Index(['GOVERNMENT'], dtype='object')
Adj. Predicted cols: Index(['GOVERNMENT'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT p.name FROM mondial_province p INNER JOIN mondial_country c ON p.country = c.code  WHERE c.name = 'Germany'
SELECT province.name FROM province JOIN country ON province.country = country.code WHERE country.name = 'Germany';
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index(['NAME'], dtype='object')
Predicted cols: Index(['NAME'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT eg.percentage FROM mondial_ethnicgroup eg INNER JOIN mondial_country c ON c.code = eg.country WHERE c.name = 'Brazil' AND eg.name LIKE '%Mulatto%'
SELECT ethnicgroup.percentage FROM ethnicgroup JOIN country ON ethnicgroup.country = country.code WHERE country.name = 'Brazil' AND ethnicgroup.name = 'mulatto';
True cols: Index(['PERCENTAGE'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['PERCENTAGE'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT count(*) FROM mondial_city WHERE population < 1000
SELECT COUNT(*) FROM city WHERE population < 1000;
True cols: Index(['COUNT(*)'], dtype='object')
Adj. True cols: Index(['COUNT(*)'], dtype='object')
Predicted cols: Index(['COUNT(*)'], dtype='object')
Adj. Predicted cols: Index(['COUNT(*)'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT avg(a.elevation) FROM mondial_airport a
INNER JOIN mondial_country c ON c.code = a.country
INNER JOIN mondial_encompasses e ON e.country = c.code
INNER JOIN mondial_continent co ON co.name = e.continent
WHERE co.name = 'America'
SELECT AVG(elevation) FROM airport WHERE country = 'America';
True cols: Index(['AVG(A.ELEVATION)'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['AVG(ELEVATION)'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT COUNT(DISTINCT ec.country) AS number_of_countries
FROM mondial_geo_sea gs
JOIN mondial_encompasses ec ON gs.country = ec.country
WHERE gs.sea = 'Caribbean Sea';
SELECT COUNT(DISTINCT country) FROM borders WHERE country1 IN ( SELECT code FROM country WHERE province = 'Caribbean Sea' ) OR country2 IN ( SELECT code FROM country WHERE province = 'Caribbean Sea' ) OR country IN ( SELECT country FROM encompasses WHERE continent = 'Caribbean Sea' );
Error: Execution failed on sql 'SELECT COUNT(DISTINCT country) FROM borders WHERE country1 IN ( SELECT code FROM country WHERE province = 'Caribbean Sea' ) OR country2 IN ( SELECT code FROM country WHERE province = 'Caribbean Sea' ) OR country IN ( SELECT country FROM encompasses WHERE continent = 'Caribbean Sea' )': ORA-00904: "COUNTRY": invalid identifier
SELECT SUM(DISTINCT c.area) AS total_area
FROM mondial_Country c
JOIN mondial_encompasses e ON c.code = e.country
JOIN mondial_geo_sea gs ON e.country = gs.country
WHERE gs.sea = 'Caribbean Sea';
SELECT SUM(country.area) FROM country JOIN borders ON borders.country1 = country.code JOIN sea ON sea.name = 'Caribbean Sea' WHERE borders.country2 = country.code OR country.code IN ( SELECT encompasses.country FROM encompasses JOIN continent ON encompasses.continent = continent.name WHERE continent.name = 'Caribbean' )
True cols: Index(['TOTAL_AREA'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['SUM(COUNTRY.AREA)'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT c.name AS country_name, SUM(c1.population) AS total_neighbor_population
FROM mondial_Country c
JOIN mondial_Borders b ON c.code = b.country1
JOIN mondial_Country c1 ON b.country2 = c1.code
GROUP BY c.name;
SELECT SUM(c.population) FROM country c JOIN borders b ON b.country1 = c.code OR b.country2 = c.code;
True cols: Index(['COUNTRY_NAME', 'TOTAL_NEIGHBOR_POPULATION'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['SUM(C.POPULATION)'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT mountain FROM mondial_mountainonisland WHERE island LIKE '%Borneo%'
SELECT mountain.name FROM mountainonisland JOIN mountain ON mountainonisland.mountain = mountain.name JOIN island ON mountainonisland.island = island.name WHERE island.name = 'Borneo';
True cols: Index(['MOUNTAIN'], dtype='object')
Adj. True cols: Index(['MOUNTAIN'], dtype='object')
Predicted cols: Index(['NAME'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT name, population FROM mondial_country ORDER BY area ASC FETCH FIRST 1 ROWS ONLY;
SELECT country.name, country.population FROM country WHERE country.area = (SELECT MIN(area) FROM country);
True cols: Index(['NAME', 'POPULATION'], dtype='object')
Adj. True cols: Index(['NAME', 'POPULATION'], dtype='object')
Predicted cols: Index(['NAME', 'POPULATION'], dtype='object')
Adj. Predicted cols: Index(['NAME', 'POPULATION'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT DISTINCT s.country
FROM mondial_geo_estuary e, mondial_borders b, mondial_geo_source s
WHERE ((e.country = b.country1 AND s.country = b.country2)
OR (e.country = b.country2 AND s.country = b.country1))
AND e.river = s.river;
SELECT country.code FROM country JOIN river ON river.lake = country.name JOIN geo_estuary ON geo_estuary.river = river.name JOIN borders ON borders.country1 = country.code WHERE geo_estuary.country != borders.country2;
True cols: Index(['COUNTRY'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['CODE'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT code FROM mondial_country
WHERE code NOT IN (
SELECT p.country FROM (
SELECT name, country
FROM mondial_province
WHERE (name, country) NOT IN (SELECT province, country FROM mondial_geo_mountain)) p);
SELECT country.code FROM country WHERE EXISTS ( SELECT 1 FROM province WHERE province.country = country.code AND EXISTS ( SELECT 1 FROM mountain WHERE mountain.mountains = province.name ) GROUP BY province.country HAVING COUNT(DISTINCT province.name) = ( SELECT COUNT(DISTINCT province.name) FROM province WHERE province.country = country.code ) );
True cols: Index(['CODE'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['CODE'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT b.country1, sum(b.length)
FROM (SELECT country1, length FROM mondial_borders
UNION ALL
SELECT country2, length FROM mondial_borders
) b
GROUP BY b.country1;
SELECT country.code, SUM(borders.length) as total_border_length FROM country JOIN borders ON country.code = borders.country1 OR country.code = borders.country2 GROUP BY country.code;
True cols: Index(['COUNTRY1', 'SUM(B.LENGTH)'], dtype='object')
Adj. True cols: Index(['COUNTRY1', 'SUM(B.LENGTH)'], dtype='object')
Predicted cols: Index(['CODE', 'TOTAL_BORDER_LENGTH'], dtype='object')
Adj. Predicted cols: Index(['CODE', 'TOTAL_BORDER_LENGTH'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT DISTINCT c.name, c.code
FROM mondial_country c, mondial_geo_source g
WHERE c.code = g.country;
SELECT country.code, country.name FROM country JOIN river ON country.code = river.source;
Error: Execution failed on sql 'SELECT country.code, country.name FROM country JOIN river ON country.code = river.source': ORA-00932: inconsistent datatypes: expected CHAR got MONDIAL_GPT.GEOCOORD
SELECT c.name, r.area FROM mondial_geo_river gr
INNER JOIN mondial_country c ON c.code = gr.country
INNER JOIN mondial_river r ON r.name = gr.river
WHERE r.name = 'Chatanga'
SELECT area, country FROM river WHERE name = 'Chatanga River';
Error: Execution failed on sql 'SELECT area, country FROM river WHERE name = 'Chatanga River'': ORA-00904: "COUNTRY": invalid identifier
SELECT name FROM mondial_airport WHERE elevation > 3000.0
SELECT airport.name FROM airport WHERE airport.elevation > 3000;
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index(['NAME'], dtype='object')
Predicted cols: Index(['NAME'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT r.name FROM mondial_religion r INNER JOIN mondial_country c ON c.code = r.country WHERE c.name = 'Mexico'
SELECT religion.name FROM religion INNER JOIN country ON religion.country = country.code WHERE country.name = 'Mexico';
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index(['NAME'], dtype='object')
Predicted cols: Index(['NAME'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT name FROM mondial_River WHERE sea IS NULL;
SELECT river.name FROM river WHERE river.sea IS NULL;
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index(['NAME'], dtype='object')
Predicted cols: Index(['NAME'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT c.name, COUNT(b.country2) AS num_neighbors FROM mondial_country c INNER JOIN mondial_borders b ON c.code = b.country1
INNER JOIN mondial_encompasses e ON c.code = e.country
INNER JOIN mondial_continent co ON e.continent = co.name
WHERE co.name = 'Africa' GROUP BY c.name ORDER BY num_neighbors DESC;
SELECT country.name, COUNT(borders.country2) as num_neighbors FROM country JOIN borders ON borders.country1 = country.code WHERE country.continent = 'Africa' GROUP BY country.name ORDER BY num_neighbors DESC;
Error: Execution failed on sql 'SELECT country.name, COUNT(borders.country2) as num_neighbors FROM country JOIN borders ON borders.country1 = country.code WHERE country.continent = 'Africa' GROUP BY country.name ORDER BY num_neighbors DESC': ORA-00904: "COUNTRY"."CONTINENT": invalid identifier
SELECT c.name AS continent, AVG(p.infant_mortality) AS avg_infant_mortality
FROM mondial_continent c
JOIN mondial_encompasses e ON c.name = e.continent
JOIN mondial_population p ON e.country = p.country
GROUP BY c.name;
SELECT continent, AVG(infant_mortality) FROM population JOIN country ON population.country = country.code JOIN continent ON country.continent = continent.name GROUP BY continent;
Error: Execution failed on sql 'SELECT continent, AVG(infant_mortality) FROM population JOIN country ON population.country = country.code JOIN continent ON country.continent = continent.name GROUP BY continent': ORA-00904: "COUNTRY"."CONTINENT": invalid identifier
SELECT AVG(p.infant_mortality) AS avg_infant_mortality
FROM mondial_Country c
JOIN mondial_Population p ON c.code = p.country
JOIN mondial_encompasses e ON c.code = e.country
JOIN mondial_Continent ct ON e.continent = ct.name
WHERE ct.name = 'America' AND c.name != 'Brazil';
SELECT AVG(infant_mortality) FROM population WHERE country IN ( SELECT code FROM country WHERE continent = 'America' AND name != 'Brazil' );
Error: Execution failed on sql 'SELECT AVG(infant_mortality) FROM population WHERE country IN ( SELECT code FROM country WHERE continent = 'America' AND name != 'Brazil' )': ORA-00904: "CONTINENT": invalid identifier
SELECT name FROM mondial_sea WHERE area > 8000 AND depth < 100
SELECT name FROM sea WHERE area > 8000 AND depth < 100;
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index(['NAME'], dtype='object')
Predicted cols: Index(['NAME'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')

In [22]:
df_fk = pd.DataFrame(results_fk, columns=['experiment', 'simple', 'medium', 'complex', 'total', 'overall_simple', 'overall_medium', 'overall_complex', 'overall_total','input_tokens', 'output_tokens', 'total_tokens','total_cost', 'total_time'])
df_fk['experiment'] = df_fk['experiment'].apply(get_experiment_name)
df_fk = df_fk.sort_values(by='overall_total', ascending=False)
df_fk

,experiment,simple,medium,complex,total,overall_simple,overall_medium,overall_complex,overall_total,input_tokens,output_tokens,total_tokens,total_cost,total_time
1,C3 - MONDIAL_GPT - GPT-4 - FK,29,25,24,78,0.8788,0.7576,0.7059,0.78,153705,426937,580642,30.23,1:20:06
0,C3 - MONDIAL_GPT - GPT-3.5 - FK,26,16,13,55,0.7879,0.4848,0.3824,0.55,175298,754619,929917,1.77,1:09:27

In [23]:
df_fk.to_csv(TARGET_PATH_FK)